[2016-05-11 09:42] #875 closed

[2016-05-11 09:44] tonioo commented on #874
@luanfonceca By the way, this issue is related to the installer, not to modoboa. Could you please move it to the right repository ? (https://github.com/modoboa/modoboa-installer)

[2016-05-11 09:44] #874 closed

[2016-05-11 14:15] tonioo opened #876 "A new alias is created when an account is renamed"
Each time an account with a mailbox is renamed, a new alias is created.

[2016-05-11 14:16] #876 closed

[2016-05-11 19:17] padred123 opened #877 "Unable to login after install"
Core_users table is empty

`Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 353, in execute_from_command_line
    utility.execute()
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/management/__init__.py", lin

[2016-05-11 20:00] tonioo commented on #877
@padred123 Have you tried recently ?

[2016-05-11 22:47] padred123 commented on #877
Yes right before I posted this I did a `git clone https://github.com/modoboa/modoboa-installer` and reran the installation. My Ubuntu 14.04 isn't fresh so maybe something is throwing it off but all of the dependencies appeared to install correctly.

[2016-05-12 21:56] almereyda commented on #877
Yes, you have to upgrade your dependencies as described in https://github.com/modoboa/modoboa-installer/issues/39, if that helps.

[2016-05-13 00:22] padred123 commented on #877
@almereyda Worked like charm! Thx!

[2016-05-13 00:22] #877 closed

[2016-05-13 15:03] almereyda opened #878 "Distribution list and account forwards are messed up"
There is a bug in relation to distribution lists which are indirectly created via a user profile's forward section:

* A user creates forwards and follows the comma-separated email address list convention.
The result are mangled arrays which make postfix break in several ways:
[debug.txt](https://github.com/tonioo/modoboa/files/263495/debug.txt)
[code]
These also show weird in both interfaces afte

[2016-05-13 15:34] tonioo commented on #878
Thanks for the report but I think this bug already existed before transition to 1.9

[2016-05-14 09:12] almereyda commented on #878
I have changed the description of the issue above.

[2016-05-16 14:29] joubertredrat opened #879 "[Feature suggestion] dnsbl check on api and web interface"
Hi guys,

I think that is good idea to have a option for you see your ip or fqdn status on principal dnsbl into modoboa. Then administrator can see your ip or fqdn status without go to external sites.

What you think?

[2016-05-16 18:25] pavinjosdev opened #880 "Modoboa webmail can't delete mail with attachments"
Deleting email with attachments in Modoboa webmail does not work. The email still remains in the inbox folder and the response is [object Object].

[2016-05-17 08:13] tonioo commented on #880
Could you please move this issue in the appropriate repository (https://github.com/modoboa/modoboa-webmail/). Then, set DEBUG to True inside settings.py and open a javascript console, you should see the real error message.
Thank you

[2016-05-17 08:13] #880 closed

[2016-05-17 08:14] tonioo commented on #879
Hi, it could be a useful feature indeed but do you know if dnsbl providers also provide an API we could use ?

[2016-05-17 11:12] almereyda commented on #612
The incompatible senders are sometimes even quite popular. See https://wiki.hetzner.de/index.php/Mailserver_Greylisting/en

[2016-05-17 11:14] almereyda commented on #575
Is this discussion still about `policyd`, else it could be renamed or closed.
People seem to like Modoboa for using `postscreen` instead: https://twitter.com/TwizzyDizzy/status/732204315511783425

[2016-05-19 10:30] benfante opened #881 "Autoreply showing swagger problem in log"
Hi,
when an e-mail is relayed through autoreply I see following message in the log (and the autoreply doesn't work, of course). Any Idea? I'm running Modoboa 1.5.3, with Postfix autoreply plugin 1.1.6.

`May 19 10:03:45 mail postfix/pipe[3323]: 282432069B9: to=<email@mydomain@autoreply.mydomain>, orig_to=<email@mydomain>, relay=autoreply, delay=5.3, delays=0.13/0.03/0/5.1, dsn=5.3.0, status=bounce

[2016-05-19 17:06] pirogoeth commented on #824
@hadifarnoud If you need to support multiple users through webmail, I'm not sure that Mailpile is quite capable enough yet to do this. They won't have full/stable multi-account support until their 1.0 milestone. If single user works in your situation, then it's perfect, especially considering the baked in PGP/GPG features. From what I can tell, it's not too bad to get running -- just clone the rep

[2016-05-20 08:34] tonioo commented on #881
It looks like your virtual environment is not fully functional because it tries to locate the missing requirement inside the default python installation (/usr/lib/python2.7).
I suggest you recreate your virtualenv.

[2016-05-25 11:02] rmontagud opened #882 "Webmail: Internal error with spanish locale"
Hi,

During my tests I see "Internal error" messages when I click on empty folders (such as drafts) but only with the Spanish locale (tried English and Italian)

I'm not afraid of sending a patch but I'd like to now which files should I edit to update Spanish locale

[2016-05-25 12:33] tonioo commented on #882
Hi, thanks for reporting this but this is not the appropriate repository.
Could you please move your issue to https://github.com/modoboa/modoboa-webmail ?

[2016-05-25 14:26] rmontagud commented on #882
Moved

[2016-05-25 14:26] #882 closed

[2016-05-28 14:19] hadifarnoud commented on #824
my setups is multi-user. I guess I need to add RTL to existing webmail that comes with Modoboa. Will submit a PR soon.

I think others might like a tutorial though if you know how to do this.

[2016-05-28 18:45] pirogoeth commented on #824
@hadifarnoud I'll look in to doing that after Mailpile has proper multi-user support :)

[2016-06-02 13:34] tonioo commented on #881
@benfante ping

[2016-06-02 13:35] tonioo opened #883 "Domain detail page"
Add a new detail page for every domain which will act as a dashboard displaying various information such as:
* Statistics
* Administrator list
* Resources usage
* External information

[2016-06-02 21:32] cptMikky opened #884 "KeyError exception when altering user via API"
When I try to alter an account via API using API key of a SuperAdmin user (the id=1 user in fact), I get this error:
[code]

With this stack trace:
[code]

Debian Jessie latest, barebone. Modoba installed in a virutalenv using pip install method.

Curl command used to make the api call:
`curl -ik -X POST -H "Authorization: Token XXX" -d username=root -d language=cs https://<my_domain>api/v1/accoun

[2016-06-05 16:12] cptMikky opened #885 "webmail: internal error when user's language is not English"
When a user changes his lang to non-english (Czech - cs in my case), webmail gives a small "Internal error" (in Czech) bubble on top of the page without any further explanation even with Debug enabled. Server logs (uwsgi logs) only give the request URL and a mention about a 500 error, nothing specific. I was unable to produce any logs or messages beyond this and I only came up with the relation to

[2016-06-06 10:31] benfante commented on #881
Hi,
sorry for the late.

I spent some hours trying to solve this problem, but...no results. The error is still there.

I recreated the virtual environment environment and also reinstalled modoboa, but nothing changed.

I also installed the package django-rest-swagger in the root environment, and still nothing changed.

Can I try anything else?

[2016-06-06 14:16] tonioo commented on #885
@cptMikky Since the webmail mostly use async requests to update the page, errors are not showed unless you open a javascript console.

[2016-06-06 14:17] tonioo commented on #884
@cptMikky Thanks for the feedback.

I realize I did not implement the PATCH method properly. It is provided by default (django rest framework) and I should have disabled it.

[2016-06-06 14:20] tonioo commented on #856
This issue was moved to modoboa/modoboa-installer#50

[2016-06-06 14:20] #856 closed

[2016-06-06 16:36] cptMikky commented on #884
How does one alter an existing account via API then? Or am I missing something?

[2016-06-06 17:16] cptMikky commented on #885
Now I see this in js console:

    jquery.min.js:5 GET https://<mydomain>/webmail/?action=listmailbox&mbox=Sent&reset_page=true&_=1234567890123 500 (Internal Server Error)
    send	@	jquery.min.js:5
    ajax	@	jquery.min.js:5
    check	@	history.js:272
    i	@	jquery.min.js:3

Same for all folders. I was able to create a new folder, it even appears in the folder list but I still can't switch to it

[2016-06-07 05:02] benfante commented on #881
Sorry, I was updating the wrong virtual environment. Now it's ok.

Thank you for your support.

[2016-06-07 05:02] #881 closed

[2016-06-07 06:38] tonioo commented on #885
Are you sure you're looking at the right tab ? What tool do you use ? With DEBUG = True, you should see a complete python stacktrace.

[2016-06-07 06:41] tonioo commented on #884
You can use the PUT method.

[2016-06-07 10:26] cptMikky commented on #885
What tab are you referring to? I do have DEBUG = True. I use Chromium's integrated JS console. The screen looks like this: https://oc.ghoul.cz/index.php/s/Lzf8FcaBzyra3jO

[2016-06-07 11:23] benfante commented on #855
I would add:

- Set auto-reply

[2016-06-07 12:27] tonioo commented on #885
Is it the console launched when you hit the F12 key ?
Could you try to display server response instead of the javascript error please ?

[2016-06-07 12:44] cptMikky commented on #885
Of course, my mistake, I thought you wanted the javascript errors.

Server response is http://pastebin.com/AtwXYfJ1

[2016-06-07 12:46] tonioo commented on #885
Ok, so it corresponds to the issue I fixed yesterday.
https://github.com/modoboa/modoboa-webmail/issues/37

[2016-06-08 08:45] #885 closed

[2016-06-08 09:41] #878 closed

[2016-06-08 14:24] almereyda commented on #878
Thanks for closing this. Will try it out and give feedback as quickly as possible.

[2016-06-08 19:43] pierreozoux commented on #821
As we are already linked here, I can also show my work to have various containers to tackle the mail hosting issue:
 - https://github.com/indiehosters/email

I'm currently using vimbadmin, quiete hapoy with it, but as @almereyda said, I want to have ldap integration, and looks like you are providing it.

We'll meet with @almereyda in July, and if I decide to go for modoboa, then I'll spend time to

[2016-06-09 00:03] blendi-93 opened #889 "python manage.py migrate cant migrate limits"
hello its me again :( sry,

i have another modoboa instance broken, its no real issue from ur code but mby u can help me.

someone upped modoboa to version 1.5.3 and i get internal errors now as i try to access users, i tried python manage.py migrate and got:

    Operations to perform:
      Apply all migrations: authtoken, core, limits, lib, sessions, admin, modoboa_postfix_autoreply, auth, site

[2016-06-09 07:38] tonioo commented on #821
@pierreozoux Thank you for sharing your experience here, really appreciated.

[2016-06-09 07:45] tonioo commented on #889
You need to clean the limits_limit table. Remove all entries with a name starting with 'relay_domain'.

[2016-06-09 07:46] blendi-93 commented on #889
its not only relay_domain so i have to clean them all and it shuld work?

thx i'll try it tonight

On 09.06.2016 07:45, Antoine Nguyen wrote:

[2016-06-09 07:48] tonioo commented on #889
If you remove the relay_domain entries, then the migration will work as expected. You can also remove all entries but you'll lost existing limits...

[2016-06-09 13:22] #879 closed

[2016-06-09 14:29] #493 closed

[2016-06-09 14:33] #843 closed

[2016-06-09 14:34] #883 closed

[2016-06-09 14:41] tonioo commented on #663
@piwats The API has been completed and now allows operations on accounts. Since I don't know Horde, I'm not going to develop such a connector but maybe Horde's team would be interested to do it. I suggest you move the issue to Horde's repository :)

[2016-06-09 14:41] #663 closed

[2016-06-09 14:42] tonioo commented on #782
This issue was moved to modoboa/modoboa-amavis#35

[2016-06-09 14:42] #782 closed

[2016-06-10 01:10] blendi-93 commented on #889
thx solved 50%.

for the other 50% i had to change "/usr/local/lib/python2.7/dist-packages/modoboa_amavis/modo_extension.py" line 45

replaced some code:

    #domalias_pattern = "@{0}".format(domalias.name) <= replaced with next line
    domalias_pattern = "@{0}".format(domalias.name.encode('utf-8'))

anyway thx for ur support and great software.

[2016-06-10 01:10] #889 closed

[2016-06-13 14:46] tonioo opened #890 "Anonymous per-instance statistics"
Send to Modoboa public API counters about domains, mailboxes and aliases (the ones already displayed in the admin panel. This behaviour must be enabled of disabled through online parameters.

[2016-06-13 14:50] tonioo opened #891 "Display RSS feed from modoboa's official blog"
Display the RSS feed containing latest news from Modoboa's official blog somewhere, maybe a new dashboard ?
Feature must be activated/deactivated from global settings.

[2016-06-13 15:56] cptMikky opened #892 "dedicated, password change-only page"
It would be great to have a URL dedicated to password changes/resets only, mostly for scenarios where Modoboa serves as a configuration and management backend and users don't interface with Modoboa directly.

A (preferably skinable) simple web page with a simple form: login, old password, new password, repeat password and perhaps a reset password button sending new password to secondary e-mail (do

[2016-06-20 07:07] #890 closed

[2016-06-29 09:17] tonioo opened #894 "Account and alias detail views"
Add detail views (dashboard like) for accounts and aliases.

[2016-07-08 07:13] #894 closed

[2016-07-08 07:13] #884 closed

[2016-07-18 13:54] qskousen opened #898 "Generated secret key causes unicode_escape error"
With commit https://github.com/tonioo/modoboa/issues/769 you started generating a default secret key, which is great. However, when trying to load this key from the database, it can cause an error if they key has a \ in it. For instance, my key has a \ on the end and trying to start uwsgi results in this error being thrown:

[code]

How can I safely regenerate this key without invalidating the cur

[2016-07-18 14:23] romainreuillon opened #899 "100% cpu on logout"
Dear Devs,

I got a 100% CPU usage of uwgi on modoboa logout (as soon as I click on the logout link uwsgi gets to 100%): ``` 4729 modoboa   20   0  301960  89708  14144 R  99,7  2,2   0:08.70 uwsgi```

Any idea where it could come from ?

I am using the modoboa version: 1.5.3 and ldap authentication backend.

Romain

[2016-07-18 14:29] romainreuillon commented on #899
I forgot to tell that the 100% uwsgi process never ends...

[2016-07-18 14:50] tonioo commented on #899
Looks like there is an infinite loop somewhere... Have you tried using a local account ? (ie non LDAP)

[2016-07-18 15:04] romainreuillon commented on #899
I just tested it and it works fine with non-ldap users (admin and a test user).

[2016-07-19 10:15] tonioo commented on #898
I think the best would be to limit the character set used to generate this key. FYI, this key is only used to encrypt passwords into user sessions so you can change it, you'll just have to disconnect/connect once again.

[2016-07-21 07:14] #522 closed

[2016-07-24 12:45] Sebastian-420 opened #901 "Use Let's encrypt certificates"
Maybe use Lets encrypt ssl certificates?

[2016-07-26 20:13] tonioo commented on #901
Duplicates https://github.com/modoboa/modoboa-installer/issues/50.

[2016-07-26 20:13] #901 closed

[2016-07-27 10:58] baptcottey opened #902 "Sieve filters doesn't work"
Hi,

On my modoboa siever filetrs don't work, i get 500 Internal Error.
I turned on Debug and i get this error on this URL /sfilters/Filtre/?_=1469616090572
[code]

[2016-07-28 18:47] almereyda opened #903 "Default admin account name"
@pierreozoux suggested that an `admin` user, or named alike alas `root`, `administrator`, as default only invites for brute force attacks to those well known aliases.

How would a sane default look here?

[2016-07-28 20:11] almereyda commented on #891
That's actually a good idea and resembles what ISPConfig does.

[2016-07-29 06:14] tonioo commented on #903
Maybe by adding a new option to the deploy command to let people change the default username ?

[2016-07-29 06:18] tonioo commented on #902
Hi,
could you please move this issue to the appropriate repository: https://github.com/modoboa/modoboa-sievefilters ?
Thank you.

[2016-07-29 07:13] baptcottey commented on #902
Done https://github.com/modoboa/modoboa-sievefilters/issues/11

[2016-07-29 07:13] #902 closed

[2016-07-30 18:45] almereyda commented on #903
Yes, that sounds reasonable for production deployments.

On 29 July 2016 at 08:14, Antoine Nguyen <notifications@github.com> wrote:

[2016-08-15 14:24] Bkamau opened #904 "sitestatics"
Hi, is this an issue or its ok ? one can access sitestatic files under the url hostname/sitestatic.

[2016-08-15 17:30] nrotschafer opened #905 "Unable to Reset Admin Password"
I have not been able to determine a way to reset the admin password.  Is this possible?

[2016-08-25 21:56] adeel opened #906 "Authentication failed"
I just installed Modoboa on Debian 8.  Everything appeared to go smoothly, I signed in and created a new domain and a user on that domain.  After logging into the webmail for that user, I got a blank page with the following error message in a red box:

    Error: ['[AUTHENTICATIONFAILED] Authentication failed.']

Here is a paste of `/var/log/mail.log`: https://gist.github.com/adeel/1127c8d9bd8e129

[2016-08-26 10:23] tonioo commented on #906
Have you installed modoboa manually or using the installer ?

[2016-08-26 10:24] adeel commented on #906
I used the installer.

On Friday, 26 August 2016, Antoine Nguyen <notifications@github.com> wrote:

[2016-08-26 10:26] tonioo commented on #905
There is no shortcut for that but if you know a bit of python, you can run this:
[code]
(don't forget to load your virtual env if you use one) and then:
[code]

[2016-08-26 10:27] tonioo commented on #904
Yes, it is normal.

[2016-08-26 10:27] #904 closed

[2016-08-26 12:10] ogg1980 commented on #899
I have the same problem. Not using LDAP.

SimpleUsers results in 100% cpu usage by a uwsgi process and they never get logged out.
Also DomainAdmins.

SuperAdmins can log in / out just fine without any cpu spikes.

Modoboa version 1.5.3.

[2016-08-29 09:13] tonioo commented on #899
The issue reported by @ogg1980 was due to a wrong filesystem configuration. (emails were not stored into the location used by dovecot)
@romainreuillon Could you try to logout with such a user and check mail logs to see if there is anything interesting inside?

[2016-08-29 09:18] romainreuillon commented on #899
Great ! Next time I plan to work on this is at the end of September. I'll give it a try then.

[2016-08-29 14:48] hardikvala commented on #899
Hi is this bounty still open.
I think I can help you on this

[2016-08-29 14:54] tonioo commented on #899
@hardikvala Thank you but the bounty is closed.

@romainreuillon I close the issue for now (required by bountysource). Do not hesitate to reopen it when you'll do your tests.

[2016-08-29 14:54] #899 closed

[2016-08-30 06:31] #898 closed

[2016-08-30 06:35] tonioo commented on #802
@carragom @kokel Should we allow this feature to administrators only? I guess it is dangerous to let simple users edit such a list...

[2016-08-30 06:37] tonioo commented on #906
What is the user you're connected with? What's is role? Does it have a regular mailbox?

[2016-08-30 06:38] tonioo commented on #905
@nrotschafer Did it help you?

[2016-08-30 06:39] tonioo commented on #824
I close this issue since it is more an installer request. Feel free to reopen it in the appropriate repository.

[2016-08-30 06:39] #824 closed

[2016-08-31 01:35] carragom commented on #802
Yeah I think it would be a good idea to restrict this to admins only.

[2016-09-01 08:44] #783 closed

[2016-09-01 09:34] adeel commented on #906
Ok, I believe I found the problem.  I was creating the user with the username "adeel".  When I create it with "adeel@mydomain.com", it works fine.

[2016-09-01 09:34] #906 closed

[2016-09-03 23:21] ogg1980 commented on #629
Meanwhile you can use nginx [sub_filter module](http://nginx.org/en/docs/http/ngx_http_sub_module.html) to get around this.

I use the following to inject custom CSS and add some tags on the login page (if you wan't multiple sub_filter per location, you need nginx 1.9.4 or later. Earlier versions are limited to one per location block.):

[code]

If you use Apache, they have [mod_substitute](https:

[2016-09-08 21:18] kokel commented on #802
Ohai, sorry for late answer. +1 for administratively editing.

[2016-09-09 14:39] #891 closed

[2016-09-09 14:40] tonioo commented on #517
A simple dashboard has been added but it is not customizable atm.

[2016-09-09 14:40] #517 closed

[2016-09-12 14:41] #802 closed

[2016-09-12 14:42] #903 closed

[2016-09-13 08:35] gawel opened #911 "Add a CONTRIBUTING.rst"
This is **usefull** for new contributors. See https://github.com/blog/1184-contributing-guidelines

[2016-09-16 14:16] #911 closed

[2016-09-16 16:26] thiesschneider commented on #821
any news on this? i am very interested in this!

[2016-09-16 20:47] pierreozoux commented on #821
So, we evaluated modoboa, and we though it would write ldap, but it is just read only. So our guess with @almereyda is to develop our own solution. Sorry.

[2016-09-17 08:09] hadifarnoud commented on #821
@pierreozoux hopefully you share that?

[2016-09-18 16:30] karimelc opened #920 "manage.py modo check_mx gives ValueError for one domain"
Hi,

I'm getting a ValueError for one of my domains when running manage.py modo check_mx. I can't see any difference bwtween the MX reord of this domain compared to all other domains. This is the output from the manage.py modo check_mx command:

Traceback (most recent call last):
  File "/opt/modoboa_home/manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/l

[2016-09-19 03:49] dugite-code opened #921 "DNSBL report incorrect"
Just upgraded to 1.6.0 from 1.5.1

added new crontab entries then manually ran `/srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py modo check_mx` as vmail with no errors. All DNSBL show as listed, my manual checks (where possible) show no listings. using dnsbl.info only dnsbl-3.uceprotect.net shows listed due to my server being a digital ocean droplet (minor issue).

I am unsure how to de

[2016-09-19 05:52] karimelc commented on #920
I found the problem, I had two MX entries for the domain where it bombs out. I'll just close this issue.

[2016-09-19 05:52] #920 closed

[2016-09-19 07:18] tonioo commented on #921
Could you paste some screenshots please ?

[2016-09-19 08:03] gawel opened #922 "aliases broken"
After migrating to 1.6, the admin_alias.expire_at values is NULL but the query contained in sql-aliases.cf require a date:

[code]

Did I missed a step ? If not you should also take care of NULL values in the query.

[2016-09-19 08:57] dugite-code commented on #922
I can also confirm this behavior. Aliases without an expiry date don't work and results in:

[code]

Current work around is just adding a really far away date like `2020-12-25 16:52:41`

[2016-09-19 09:00] tonioo commented on #922
Yes, this is a SQL query issue. You can fix it like this (sql-aliases.cf):
[code]

[2016-09-19 09:00] tonioo commented on #922
I'll post a fix soon.

[2016-09-19 09:12] #922 closed

[2016-09-22 02:18] dugite-code commented on #921
Is this what you're after? It's every DNSBL provider from the `constants.py` file.
![domains](https://cloud.githubusercontent.com/assets/12742064/18734841/ce7df99c-80aa-11e6-852a-c2458da8ba67.png)

[2016-09-22 07:58] tonioo opened #924 "Resellers role permissions"
Role's permissions are not enough because it is possible using this role to execute actions reserved to super administrators:
* A reseller can change its own limits
* A reseller can update the list of domain he has access to

[2016-09-26 15:53] tkosars opened #926 "Missing reference to sql-sender-login-mailboxes-extra.cf restricts using extra user sender addresses"
I have a special account for relaying messages using various email addresses. Added the required Sender addresses but I kept getting the following error in mail.log:

`553 5.7.1 <example.adress@domain.com>: Sender address rejected: not owned by user specialaccount@modoboa-host;`

Started lurking in /etc/postfix folder and found out that modoba already has a mapping for this case, but there is no r

[2016-09-26 18:51] tonioo commented on #926
You're right, I forgot to mention in the documentation and in the upgrade procedure. I'll fix it asap. Thanks for the feedback!

[2016-09-27 14:50] tonioo commented on #564
@rominf I still don't understand why you needed to create this role. Any command executed through manage.py uses the credentials configured in the settings.py file. What is/was the name of the user you configured ?

[2016-09-27 15:49] rominf commented on #564
Thank you for answer, @tonioo. That was 2 years ago, I don't remember the details. I think this issue is irrelevant.

[2016-09-27 15:49] #564 closed

[2016-09-27 17:00] tonioo commented on #564
Sorry for the delay and thanks for your answer ;)

[2016-09-30 10:04] #924 closed

[2016-09-30 13:28] tonioo commented on #921
Have you checked that the MX record found by Modoboa is the right one ?

[2016-09-30 14:34] tonioo commented on #851
Finally, I think using the ORM to output queries is not possible:
http://stackoverflow.com/questions/8112554/printing-django-queryset-sql-with

[2016-09-30 19:31] #851 closed

[2016-09-30 19:40] #501 closed

[2016-10-03 01:23] dugite-code commented on #921
MX record is correct with correct IP address. I also have reverse DNS lookup working.

* Only thing I've added to my blank Ubuntu install is UFW but the default behavior for outgoing traffic is allow

[2016-10-03 13:35] #488 closed

[2016-10-03 23:01] henne- commented on #921
I can confirm this behaviour on a fresh installation of Ubuntu 16.04 without ufw.

[2016-10-03 23:05] henne- opened #931 "Cronjob"
When trying to run the cronjobs as documented on http://modoboa.readthedocs.io/en/latest/getting_started/upgrade.html, they fail with

`Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 8, in <module>
    from django.core.management import execute_from_command_line
ImportError: No module named django.core.management`

When using`/srv/modoboa/env/bin/python /srv/modo

[2016-10-04 09:02] tonioo commented on #921
Guys, would be easier to debug if one of you could give me a domain name that fails. Do not hesitate to send me a private message.

[2016-10-04 10:11] henne- commented on #921
Try smells.sexy :)

[2016-10-04 14:49] gawel opened #933 "Error while creating an account: "dictionary changed size during iteration""
Got this error (don't have more context, I'm not the end user)

[code]

I guess this can be improve by using:
 ```for name, value in list(cleaned_data.items()): ``` here:
https://github.com/tonioo/modoboa/blob/master/modoboa/admin/forms/account.py#L295

Also ```.iteritems()``` do not exist in python3

[2016-10-04 16:12] tonioo commented on #933
I don't understand the difference between your stacktrace talking about line 282 and you talking about line 295...
What version are you using ?

[2016-10-04 16:40] gawel commented on #933
I'm using the latest stable release https://github.com/tonioo/modoboa/blob/1.6.0/modoboa/admin/forms/account.py#L282

[2016-10-04 17:10] tonioo commented on #933
Ok. How can I reproduce this issue ? What kind of user are you created ? What is your python version ?
(atm, I fail to reproduce it)

[2016-10-04 17:22] tonioo commented on #921
Thank you. I'm sorry but I fail to reproduce your issue... I see your domain as not blacklisted. Where is your server ? Is there any DNS limitation or something similar which could cause this ?

[2016-10-04 17:23] gawel commented on #933
"don't have more context, I'm not the end user"

I only had the traceback in error mails. Don't have any other clue. But it means it's happening. I got ~6 mails before the customer finally succeeded to create the account.

We are using python 2.7.9. Django 1.9.9

Here are (almost) the data sent:

[code]

Nothing weird here...

[2016-10-04 17:32] henne- commented on #921
Not that i'm aware of it..

When I manually try to query the ip, it shows the following

[code]

Which is fine, if i'm not mistaking... I will have a look at the code tonight..

[2016-10-05 12:17] #933 closed

[2016-10-05 12:19] tonioo commented on #921
Yes, it is fine. Which user runs the management command ?

[2016-10-05 12:23] tonioo commented on #921
@dugite-code Have you tried to run the command as root ?

[2016-10-05 15:38] henne- commented on #921
Found the error!
I had set a DNS Search Domain in my /etc/resolv.conf.
socket.gethostbyname always returned the IP address of my Webserver. The Searchdomain also is the hostname of my Webserver, so it seems, when socket.gethostbyname cannot resolve the Hostname, it takes the IP of the searchdomain.

Removing the Searchdomain fixed this.

[2016-10-06 01:49] dugite-code commented on #921
@tonioo just gave it a shot running as root with no change

@henne- Unfortunately I don't have a dns search domain defined.

[2016-10-06 12:47] #931 closed

[2016-10-09 08:47] awein commented on #921
This issue is caused by a missing domain entry in the `resolv.conf` file. An empty value might still cause issues in case your hostname is a subdomain (like mail.example.com).

@tonioo I suggest to append a `.` at the end of the hostname (which will force the name to be the full DNS name instead of a relative one)
(e.g. `bl.spamcop.net.` instead of `bl.spamcop.net`)

The workaround until then is t

[2016-10-10 01:45] dugite-code commented on #921
I can confirm adding `domain .` to my `/etc/resolv.conf` fixed this issue for me. Thanks @awein

[2016-10-10 01:49] dugite-code commented on #921
Incidentally dnsbl.njabl.org show's listed but according to [dnsbl.info](http://www.dnsbl.info/dnsbl-njabl-org.php) and [vamsoft.com](http://vamsoft.com/support/docs/knowledge-base/njabl-shutdown) njabl.org has been shutdown and should probably be removed.

[2016-10-10 01:51] csmk commented on #921
Just my 2 cents.

Are you guys using some public DNS resolver? Because many DNSBL services are known to block or limit the queries from such resolvers.

I use my own DNS resolver (Unbound), so I only have `nameserver 127.0.0.1` in resolv.conf file. And everything is fine here with many domains.

[2016-10-10 02:00] dugite-code commented on #921
@csmk that's interesting to know. I'm using the google name servers because I honestly didn't think of changing the default settings.

My Digital Ocean droplet built using their default `Ubuntu 16.04.1 x64` image `/etc/resolv.conf`
[code]

[2016-10-10 08:58] tonioo commented on #921
@awein Thank you! I'll update the code.

[2016-10-10 15:07] henne- opened #937 "Broken User"
I have some broken users, as a SuperAdmin i cannot delete those, or change their role from SimpleUser to DomainAdmin (which the user was before I degraded him to SimpleUser..)

For example the user with id=24:

I get the following error, when debug=true

This seems to be looking for an owner of the "User" object, so i should mention, that I deleted the default admin user, with which I created this

[2016-10-10 15:39] tonioo commented on #937
That's indeed a strange issue... How did you remove the default admin ?

[2016-10-10 16:03] henne- commented on #937
by giving my own user (with a mailbox) superAdmin rights and then using this user, I clicked on delete. Everything has been done in the Modoboa Webinterface.

[2016-10-10 16:17] tonioo commented on #937
With which version of Modoboa ?

[2016-10-10 16:19] henne- commented on #937
1.6.0

[2016-10-10 17:11] tonioo commented on #937
Ok, I found the issue. Thanks for reporting, I'll fix it soon :-)

[2016-10-12 08:46] #921 closed

[2016-10-12 08:49] #937 closed

[2016-10-12 09:30] #926 closed

[2016-10-13 12:36] abmiller99 opened #939 "Help with upgrading Modoboa on Debian"
I'm not experienced with Python, Postgre.

I have Modoboa 1.6.0 running on my mailserver . My install method was the 'easy', Python script method:

`$ git clone https://github.com/modoboa/modoboa-installer`
`$ cd modoboa-installer`
`$ sudo ./run.py <mail server hostname>`

I have read the [docs](http://modoboa.readthedocs.io/en/latest/getting_started/upgrade.html) describing how to update modoboa

[2016-10-13 13:17] tonioo commented on #939
Hi,
in your case, the easiest way to upgrade is the following one:
[code]
Then, just follow the 1.6.1 instructions as described in the weblog post.

[2016-10-13 13:48] abmiller99 commented on #939
Here is the result of the commands you provided:

`$ su - modoboa`

`$ source env/bin/activate`
`-su: 1: source: not found`

`$ cd instance`

`$ python manage.py migrate`
`Traceback (most recent call last):`
`File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)`
`File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.p

[2016-10-13 13:56] tonioo commented on #939
Looks like the shell of the modoboa user is not bash. Please retry like this:
[code]

[2016-10-13 15:49] tonioo commented on #939
@abmiller99 Is it better ?

[2016-10-13 15:59] abmiller99 commented on #939
I semi-bricked my install and had to restore from backup.

Now I'll try again using your commands with my working v1.6.0:

`root@mail ~ $ su - modoboa`

`$ bash`

`modoboa@mail:~$ source env/bin/activate`

`(env)modoboa@mail:~$ cd instance`

`(env)modoboa@mail:~/instance$ python manage.py migrate`

`Operations to perform:`
` Apply all migrations: authtoken, core, limits, lib, sessions, admin, modo

[2016-10-13 16:07] tonioo commented on #939
This is fine. You can continue.
Le 13 oct. 2016 5:59 PM, Andrew Miller <notifications@github.com> a écrit :I semi-bricked my install and had to restore from backup.

Now I'll try again using your commands with my working v1.6.0:

root@mail ~ $ su - modoboa

$ bash

modoboa@mail:~$ source env/bin/activate

(env)modoboa@mail:~$ cd instance

(env)modoboa@mail:~/instance$ python manage.py migrate

Ope

[2016-10-13 16:12] abmiller99 commented on #939
`(env)modoboa@mail:~/instance$ python manage.py makemigrations`
`Migrations for 'admin':`
`  0005_auto_20161013_1808.py:`
`    - Alter field description on alias`
`    - Alter field expire_at on alias`
`Migrations for 'core':`
`  0009_auto_20161013_1808.py:`
`    - Alter field first_name on user`
`    - Alter field language on user`
`    - Alter field last_name on user`

`(env)modoboa@mail:~/insta

[2016-10-13 16:21] tonioo commented on #939
Sorry, I meant you can continue with the procedure I gave you.

Run the following commands please:
[code]
You should also remove the two migration files you created by running the "makemigrations" command. (you should find them in /srv/modoboa/env/lib/python2.7/site-packages/modoboa/core/migrations/0009_auto_20161013_1808.py and srv/modoboa/env/lib/python2.7/site-packages/modoboa/admin/migrations/

[2016-10-13 17:07] abmiller99 commented on #939
OK -

`(env)modoboa@mail:~/instance$ python manage.py migrate core 0008`
`Operations to perform:`
`  Target specific migration: 0008_localconfig, from core`
`Running migrations:`
`  Rendering model states... DONE`
`  Unapplying core.0009_auto_20161013_1808... OK`

`(env)modoboa@mail:~/instance$ python manage.py migrate admin 0004`
`Operations to perform:`
`  Target specific migration: 0004_auto_20

[2016-10-13 17:52] tonioo commented on #939
```0 static files copied``` only means there was nothing to update and it is normal with this version.

Have you tried to restart uwsgi ?

[2016-10-13 18:31] abmiller99 commented on #939
Yes

Going back to the beginning of the update procedure - would it be correct to run the python install script first before proceeding with the commands you provided? For example:

Step 1)
[code]

Step 2)
[code]

Step3)
`$ service uwsgi reload`

[2016-10-13 19:59] tonioo opened #940 "Map file syntax error"
The query embedded by the ```sql-sender-login-mailboxes-extra.cf``` map file is wrong for postgres and sqlite.

[2016-10-13 19:59] #940 closed

[2016-10-13 20:01] tonioo commented on #939
Yes, it would be correct.

[2016-10-13 20:13] abmiller99 opened #941 "Cron $PYTHON $INSTANCE/manage.py modo check_mx giving error (Debian)"
This default Cron job giving me an error:

Modoboa 1.6.0 on Debian 8 (Jessie)

[code]

[2016-10-13 20:21] gawel commented on #941
Try to upgrade to 1.6.1. I remember making a few improvements on this subject. Not sure if those are in 1.6.0

[2016-10-13 20:22] tonioo commented on #941
No, they are not.

[2016-10-13 20:27] abmiller99 commented on #941
Actually I have been working on upgrading to 1.6.1 with @tonioo over on issue #939. I am still at 1.6.0. Can't get 1.6.1 to take. My last comment has the process I am using. Thanks for all your help guys. Great product so far.

[2016-10-14 10:48] abmiller99 commented on #939
Still at 1.6.0

I also tried using pip install method:

pip install modoboa==1.6.1

Got lots of these:
` Could not find .egg-info directory in install record for gevent==1.1.1 (from modoboa==1.6.1)`
`Could not find .egg-info directory in install record for dnspython==1.12.0 (from modoboa==1.6.1)`
`Could not find .egg-info directory in install record for jsonfield==1.0.3 (from modoboa==1.6.1)`
`Cou

[2016-10-14 12:15] tonioo commented on #939
Please make sure to run commands as ```modoboa``` user and that the virtualenv is properly loaded (```source ~/env/bin/activate```).
Then, can you run the following command please:
```pip list | grep modoboa```

[2016-10-14 12:18] abmiller99 commented on #939
`(env)modoboa@mail:~$ pip list | grep modoboa`
[code]

[2016-10-14 12:20] tonioo commented on #939
Ok. Please try the following now:
[code]

[2016-10-14 12:22] tonioo opened #942 "API documentation improvements"
Add the following information to the documentation:
* How to get a token
* Supported values for account creation

[2016-10-14 12:24] abmiller99 commented on #939
`(env)modoboa@mail:~$ pip uninstall modoboa-admin`
...
`Successfully uninstalled modoboa-admin-1.1.2`

`(env)modoboa@mail:~$ pip install modoboa==1.6.1`
..
`Successfully installed modoboa-1.6.1`

[2016-10-14 12:29] tonioo commented on #939
Looks better !
Now, upgrade map files and postfix configuration (as described in the blog post) and reload uwsgi and you'll be done.

[2016-10-14 12:33] abmiller99 commented on #939
`python manage.py generate_postfix_maps --destdir <path> --force-overwrite`

How I do know my `<path>`? Is it /etc/postfix?

[2016-10-14 13:03] abmiller99 commented on #939
OK:
`<path>` = `/etc/postfix/`
`<driver>` = `pgsql`

Ran this:
`(env)modoboa@mail:~$ cd instance`
`(env)modoboa@mail:~/instance$ python manage.py generate_postfix_maps --destdir /etc/postfix`
[code]

Then checked postfix main.cf for:
[code]
(it was already there)

Then
`$ service postfix reload`

Then
`$ service uwsgi reload `

![screen shot 2016-10-14 at 13 28 13](https://cloud.githubusercontent.

[2016-10-14 13:19] tonioo commented on #939
The ```generate_postfix_maps``` command must be ran as root (because it is writing to /etc/postfix) and you forgot the ```--force-overwrite``` option.

About the internal error, you need to upgrade extensions too.

[2016-10-14 13:22] #942 closed

[2016-10-14 13:27] abmiller99 commented on #939
OK,

`root@mail /srv/modoboa/instance $ python manage.py generate_postfix_maps --destdir /etc/postfix --force-overwrite`

[code]

`root@mail /srv/modoboa/instance :( $ service uwsgi reload`
`root@mail /srv/modoboa/instance $ service postfix reload`

![screen shot 2016-10-14 at 13 28 13](https://cloud.githubusercontent.com/assets/2399854/19389038/438da93c-921a-11e6-83b5-1cb703746c20.png)

[2016-10-14 13:33] tonioo commented on #939
Run the ```generate_postfix_maps``` command as follows:
[code]
To upgrade extensions, run (**as modoboa and with virtualenv loaded**):
[code]
And reload uwsgi.

[2016-10-14 13:46] abmiller99 commented on #939
OK that all worked 100% - tremendous job guiding me.

![screen shot 2016-10-14 at 14 44 45](https://cloud.githubusercontent.com/assets/2399854/19389717/e5b4bbb8-921c-11e6-9a69-fd8c161932a6.png)

[2016-10-14 13:48] md678685 commented on #939
I've been following this as it happened - I encountered very similar problems to this and this just helped me too. Thanks @tonioo

[2016-10-14 15:50] tonioo opened #944 "Unknown encoding exception when loading email with unknown encoding"
_From @arnonym on September 2, 2016 11:23_

[code]

Fixed with adding `LookupError` exception in `decode_mime` in file `modoboa/lib/u2u_decode.py`:

[code]

_Copied from original issue: modoboa/modoboa-webmail#41_

[2016-10-14 15:51] #944 closed

[2016-10-14 20:50] tonioo commented on #941
@abmiller99 Is it better with 1.6.1 ?

[2016-10-14 23:30] abmiller99 commented on #941
Seems to be fixed - yes.

[2016-10-16 12:25] tonioo commented on #485
I think @piwats is right, Modoboa is not a mailing list manager like Mailman. Would it be complicated to build a "simple" plugin for that ? (I mean create a simple ML manager)

[2016-10-16 15:11] tonioo commented on #612
Since Modoboa does not provide any greylisting service by default since it uses postscreen (see the installer), what are we talking about here ? Per domain white/black lists ?

[2016-10-16 15:21] tonioo commented on #618
What do you mean by "one-time password" ? Do you have a use case ?

[2016-10-16 15:27] tonioo commented on #620
The signing gateway is indeed a bad idea in terms of security. I'll close this issue for now and open a new one into the webmail repository about Mailvelope.

[2016-10-16 15:27] #620 closed

[2016-10-16 15:35] tonioo commented on #624
@SomeGeek Which component would provide the actions you're talking about ? Because Postfix does not permit that.

[2016-10-16 15:37] tonioo commented on #625
Since Domain Keys is considered as a deprecated technology, I don't see any interest about working on it. DKIM is the way to go now.

[2016-10-16 15:37] #625 closed

[2016-10-16 15:54] #941 closed

[2016-10-19 08:04] tonioo commented on #939
The documentation has been refactored and now includes clear upgrade instructions (I hope so).
http://modoboa.readthedocs.io/en/latest/upgrade.html

[2016-10-19 08:04] #939 closed

[2016-10-20 13:03] gawel opened #948 "Unknown postfix behaviour when DB HOST=''"
When you have `DATABASE[HOST]=''` in settings.py then postfix files contains `hosts=`

You should check if the behaviour still correct with that.

[2016-10-22 10:16] mwaigichuhi opened #949 "Let's Encrypt Support"
Hi,

Any plans to build in let's encrypt support. I got a nice article after struggling a bit with this a few weeks ago.

Please see http://justrocketscience.com/post/setup-email-server. However it would really be nice to have this built-in as it's becoming main stream i.e.available on install by default and then optionally turn it off if not desired.

When I had a LE certificate my app mails fail

[2016-10-22 13:26] tonioo commented on #949
Hi,
I was just about to make an announcement about this: https://github.com/modoboa/modoboa-installer/pull/60 ;-)

About your issue, some logs would be appreciated.

[2016-10-23 18:18] tonioo opened #951 "Better parameters management"
The current way to store parameters in the SQL database is wrong ([EAV](https://en.wikipedia.org/wiki/Entity%E2%80%93attribute%E2%80%93value_model) tables) and not performant.

The easiet way to improve this would be to use a JSON field but there is no simple way to create a model compatible with all supported database engines.

Another solution, less performant but better than the current impleme

[2016-10-27 14:26] gawel opened #953 "Yet another weird traceback"
Received that in an error mail. Don't really know if it happen because of my instance history or because of a bug. What I'm sure is that it shouldn’t raise. Any advice ?

[code]

[2016-10-27 16:54] tonioo commented on #953
Looks similar to #937.

[2016-10-27 17:25] gawel commented on #953
Yep. But I'm using 1.6.1. Means that I've ghost objects without an owner ? I don't think we have deleted the superadmin. Can this occurs if a domain admin remove another domain admin ?

Maybe I can fix it by finding the best owner for ghost objects ? eg: user.owner = first domain admin found

[2016-10-27 17:28] gawel commented on #953
And btw, may be we can have a script to fix this kind of stuff ?
[code]
For now it can handle non owned object. Maybe other problem in the future (hope not :) )

[2016-10-28 06:02] scrolls-mckenzie opened #955 "Can't Add user"
I'm recently having issues adding new users. Receiving this response

SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
.parseJSON()
jquery.min.js:3
Cwizard.prototype.post/<()
creation_wizard.js:61
.proxy/i()
jquery.min.js:3
b.Callbacks/c()
jquery.min.js:3
b.Callbacks/p.fireWith()
jquery.min.js:3
k()
jquery.min.js:5
.send/r()

[2016-10-28 07:17] tonioo commented on #955
Can you set DEBUG to True inside settings.py and then reload uwsgi ?

Then, open a javascript debugger and look at the console tab, you should see more information.

[2016-10-28 07:19] tonioo commented on #953
Domain admins should not be concerned by this issue... Anyway, such a command would be nice!

[2016-10-28 10:00] gawel opened #956 "Test failure when using tox"
This is because tox use sqlite and has no user set

[code]

[2016-10-31 20:43] willfurnell opened #958 "'User' object has no attribute 'group' exception on 1.6.1 upgrade"
Hello,
I've just tried upgrading Modoboa using pip install modoboa --upgrade when in the virtualenv. I originally installed it using the modoboa-install repository of scripts.

I then did
[code]
as the modoboa user, all completing with success. However, I got a 500 error when trying to log in, so set DEBUG=True in the configuration file. I get the following traceback.

[code]
Please can you help m

[2016-10-31 21:14] gawel commented on #958
Weird, none of my users have a group.
[code]
Return a list of None

[2016-11-01 09:10] tonioo commented on #958
@willfurnell Please upgrade your extensions too, this property has been removed.

[2016-11-01 10:14] willfurnell commented on #958
@tonioo Great thanks, uprading my extentions fixed the issue.

[2016-11-01 10:14] #958 closed

[2016-11-01 17:16] tonioo commented on #955
@scrolls-mckenzie ping

[2016-11-01 20:50] tonioo commented on #949
@mwaigichuhi ping

[2016-11-01 22:55] scrolls-mckenzie commented on #955
Hello toonio,

 Apologies for late response.

 I have turned on debugging in the settings.py
`DEBUG = True`

I also set the loggers to error level

[code]
and restarted uwsgi
`service uwsgi reload`

I am using firefox with the debugger opened and i do not receive any more error messages than normal and what i previously posted is what i am getting. Should this also be logging to a file?

[2016-11-02 08:49] tonioo commented on #955
This part uses AJAX calls so you won't see the real error unless you open a debugger and look at the console tab. You should see all requests made sent to the server, just open the one returning a 500 error and check the response.

[2016-11-03 06:29] scrolls-mckenzie commented on #955
i am receiving a massive response starting with

POST
XHR
https://mail.eviport.com/admin/accounts/new/ [HTTP/1.1 500 Internal Server Error 459ms]
Headers
POST
Response
Cookies
ProgrammingError at /admin/accounts/new/
(1146, "Table 'modoboa.limits_userobjectlimit' doesn't exist")

do you need more info?

[2016-11-03 13:24] tonioo commented on #955
Looks like you did not run the migrate command... Have you enabled the limits plugin recently?
Can you try the following command:
`> python manage.py migrate`

[2016-11-04 08:10] tonioo opened #959 "Unicode issue when mailbox operation fails"
[code]

[2016-11-04 08:20] #959 closed

[2016-11-09 11:49] jaysee opened #961 "Admins send mail to everybody"
Hello,

It would be appreciable to add a button for the admins to send a mail to all mailboxes (to inform about evolutions, features or else).

As bonus :
- allow domain admin to send email to all mailboxes of one/a selection of/all domains he owns
- allow super-admin to send email to all mailboxes of one/a selection of/all domains

Thanks again

[2016-11-11 21:22] Avalarion commented on #611
Hey there,

this would be really the thing for me to install modaboa as replacement for my stupid Plesk which was a quick solution but should be dropped by christmas. I am able to help out ( at least a bit ) with manpower, but I don't want to do this alone and from scratch so are there already thoughts about this and which tool behind postfix would you use for this?

Have a nice weekend and greeti

[2016-11-11 22:53] Avalarion commented on #905
Would it make sense to add a script with argument ( new password ) for this?

[2016-11-11 22:59] Avalarion commented on #485
You have to handle a lot of stuff for a Mailinglist Tool, I would drop this feature and perhaps implement something like mailman integration ( perhaps take a look how proprietary solutions work here... )

[2016-11-12 10:23] gawel commented on #905
If you write a script use https://docs.python.org/3/library/getpass.html#getpass.getpass
Storing a password in ~/.bash_history seems a bad idea.

[2016-11-12 15:09] Avalarion commented on #905
Will put this on my agenda ( even is python is not my preferred language ) as soon as there is a plan with the mail throttling.

[2016-11-14 08:10] #951 closed

[2016-11-14 08:12] tonioo commented on #611
@Avalarion For now, I don't know which tool could be used to implement this feature. I'm still wondering if it is something we could start "from scratch" or not...

[2016-11-14 08:37] Avalarion commented on #611
A friend of mine told me that this could be done by http://policyd.sourceforge.net/readme.html but I have no experience with that yet...

As I am not 100% sure which tools to use next ( writing my own thing, buy a working version or using modoboa ) I have on my agenda to at least read the documentation of policyd. The first few lines read exactly like this would be the shit we want to use but I wo

[2016-11-16 13:16] stevie opened #962 "Using modoboa just as a mailfilter quarantine management no webmail"
Hi,

I have installed this and it looks great for what im trying to do, great work!  However, I would not like the webmail component installed as im just trying to use it as a spam/virus filter/quarantine management tool.  So using the modoboa installer I have removed this from the installer.cfg

For example:

extensions = modoboa-amavis modoboa-pdfcredentials modoboa-postfix-autoreply modoboa-sie

[2016-11-17 22:08] Starz0r opened #963 "Modoboa Installer doesn't fail, but Modoboa doesn't startup"
I wrote this issue on the Modoboa Installer repo, but it got no attention, decided to post it here and see if it can get resolved.

Note: I tried the same setup on a Ubuntu 16.04 setup.

It seems when using the installer script that Nginx cannot bind it's self to the ports set at 80 and 443, and as such, Dovecot cannot startup. I've tried editing the nginx config to see if it can be fixed, as well

[2016-11-18 16:20] tonioo commented on #962
@stevie  what kind of notification are you talking about ?

[2016-11-18 16:21] tonioo commented on #963
Have you tried with more RAM ? The minimum requirement is around 1G if you don't use clamav and 2G if you intend to use it.

Otherwise, have you run the installer using the --debug option ?

[2016-11-18 16:22] tonioo commented on #963
Please don't open multiple issues for the same question. (https://github.com/modoboa/modoboa-installer/issues/70)

[2016-11-18 16:22] #963 closed

[2016-11-21 10:19] tonioo commented on #955
@scrolls-mckenzie ping

[2016-11-22 03:48] scrolls-mckenzie commented on #955
I have tried to run python manage.py migrate

Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 367, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 316,

[2016-11-22 08:01] tonioo commented on #955
If you don't want to use the amavis extension, edit your settings.py
file and comment the line at the end (which tries to import amavis
settings).

On 22/11/2016 04:48, scrolls-mckenzie wrote:

[2016-11-22 18:57] almereyda opened #965 "Docs : Parameters > valid MX checks"
https://modoboa.readthedocs.io/en/latest/configuration.html does not mention each individual setting from the Modoboa > Parameters pane. Especially the Valid MXs field in Administration > Domains remains cryptic, even after considering the tooltip.

[2016-11-22 22:55] scrolls-mckenzie commented on #955
Why would i not want to use amavis? I am forwarding you the console output from the command you asked me to run. Disabling a module doesn't seem like a good fix.

[2016-11-23 01:32] almereyda opened #966 "Domain admin standard password"
The standard password for a domain admin is `password`, according to the PDF, and it works.

One could rather think of generating a reasonably random one or asking for such during domain generation.

[2016-11-23 01:40] almereyda opened #967 "Automx"
As Modoboa is approaching a more fine-grained control of mail domain's associated DNS records, this would also enable for an integration of https://github.com/sys4/automx / https://automx.org/en/ ( known from https://wiki.uberspace.de/mail:automx )

Additionally, proposing SRV records for `_imaps._tcp.` and `_submission._tcp.` (as seen at OVH) may additionally happen in the installation documentat

[2016-11-23 01:47] almereyda opened #968 "Command-line interface for users and admins"
Currently administrators use the Django commands to maintain an instance. The availability of an authenticated HTTP API also invites for remotely managing Modoboa from the command line

This could appear useful for shared hosting environments, where shell users may want to be able to configure their mail services directly on the terminal ( known [from uberspace](https://wiki.uberspace.de/mail:vmai

[2016-11-23 01:51] almereyda commented on #892
It seems Modoboa identities contain a secondary email field already.

Password-reset pages are also a high demand from our communities.

[2016-11-23 01:58] almereyda commented on #821
This needs a more thorough architectural plan, where we need to identify separate services for containerisation. Right now there are already Postfix, Dovecot, Amavis, Nginx, uWSGI, the cronjobs and eventually Radicale known to me. Then we can recompose them to a linked environment as in @pierreozoux's preliminary work.

We don't like monolithic containers which act like VMs, as in https://github.c

[2016-11-23 02:06] almereyda commented on #482
@pierreozoux In https://github.com/tonioo/modoboa/issues/821#issuecomment-247705224 you mentioned we would need Modoboa to be a read/write LDAP editor. It shouldn't be too hard to reconfigure Postfix and Dovecot to directly authenticate against such a service, if available. Deployment and configuration of an LDAP service and a separate LDAP management plugin can be managed with the `-installer`, t

[2016-11-23 02:09] almereyda commented on #638
In general I see two kinds of backup here:

* full server backups, able to restore a whole service [probably from `-installer` CLI]
* individual backups of configuration, user data (dovecot, radicale, sieve, ...), [probably from within the WebUI]

[2016-11-23 02:12] almereyda commented on #967
Sys4 have been in touch before already at https://github.com/tonioo/modoboa/issues/575#issuecomment-48869053

[2016-11-23 02:24] almereyda commented on #427
https://github.com/modoboa/modoboa-imap-migration uses OfflineIMAP and provides basic configurability. It could also suit as a starting point for more GMail like email fetching.

[2016-11-23 02:29] almereyda commented on #505
In my reading this would assume the secondary email option mandatory, am I right @patrickbenkoetter?

Also it may be linked to https://github.com/tonioo/modoboa/issues/892#issuecomment-262417834

[2016-11-23 08:11] tonioo commented on #965
Indeed, the documentation is not up to date.

On 22/11/2016 19:57, jon r wrote:

[2016-11-23 08:22] tonioo commented on #427
Yes, it could be an interesting feature to add.

[2016-11-23 08:24] tonioo commented on #967
Yes, I already know Modoboa integrates well with automx (I did a few setups in the past). This is more an installer feature from my point of view.
SRV records generation (and others) is something I plan to add in the future.

[2016-11-23 08:26] tonioo commented on #482
@almereyda What would you do instead? Modoboa will never be able to use an LDAP directory as storage backend since Django can't do it...

[2016-11-23 08:28] tonioo commented on #968
How do you manage authentication using such a tool?

[2016-11-23 08:33] tonioo commented on #955
The output you pasted only says the amavis extension is not installed. To fix this, make sure the `modoboa-amavis` package is installed within your environment and that `modoboa_amavis` is listed inside `MODOBOA_APPS` (settings.py file).

[2016-11-23 10:59] uberdave opened #970 "pam_unix(sudo:auth): authentication failure; logname=root"
My site refuses to connect with a pam error.(nginx won't restart)

pam_unix(sudo:auth): authentication failure; logname=root

from tail -f auth.log, when connecting:

: session opened for user vmail by (uid=0)
: pam_unix(cron:session): session opened for user root by (uid=0)
: pam_unix(cron:session): session closed for user root
: pam_unix(cron:session): session closed for user vmail

journalctl -

[2016-11-23 13:06] tonioo commented on #970
Can you give more information about your context? How did you install Modoboa? What is your actual problem?

[2016-11-23 13:39] uberdave commented on #970
I used the easy install on debian 8. at first the admin panel came up. Then I reinstalled with letsencrypt.
when I revisited the site, I was not able to load anything as, nginx failed to reboot, as I documented earlier. Since then, as I am on a vps, I rebuilt my droplet on Centos 6, and everything seems to be ok now, but I am going to wait a while before I try letsencrypt, again.  I want to thank

[2016-11-23 13:58] tonioo commented on #970
Ok, thank you for the feedback.

[2016-11-23 13:58] #970 closed

[2016-11-24 13:16] #956 closed

[2016-11-24 16:53] tonioo commented on #580
@piwats Hi Paul, I know it's been a while but is this a feature you'd offer only to administrators or to everyone?

[2016-11-26 07:45] SammDu opened #975 "Error setting up -- instance deployment failure."
So i followed ur official doc and made my way through (but there are issues before as well, like there are packages required for the installation to continue, but u didn't mention it so i had to spend all day googling error messages X-(  )
Here's what i'm trying to do and the error message poped:
***
    (env) root@sserver:/var/server/modoboa# modoboa-admin.py deploy instance --collectstatic --dom

[2016-11-26 08:11] tonioo commented on #975
Looks like you already tried to deploy an instance.
You have to remove the `/var/server/modoboa/instance` directory before you can try a new deploy.

[2016-11-26 09:09] SammDu commented on #975
Now This happened when i tried to run that again after removing the instance dir...
***
    Traceback (most recent call last):
      File "/var/server/modoboa/env/bin/modoboa-admin.py", line 7, in <module>
        handle_command_line()
      File "/var/server/modoboa/env/local/lib/python2.7/site-packages/modoboa/core/commands/__init__.py", line 95, in handle_command_line
        commands[args.comm

[2016-11-26 20:48] stalks opened #976 "Per Domain Bayes Learning"
When I try and learn a mail using domain, the web panel doesn't respond.

![issue](http://image.prntscr.com/image/2a227ca180d04c788a84984629008d0b.png)

When clicking Validate nothing happens. If I select global database, it will work.

[2016-11-26 21:27] stalks commented on #976
Some further investigation finds a 500 error on the request

`POST /quarantine/learning_recipient/ => generated 16141 bytes in 51 msecs (HTTP/1.1 500) 4 headers in 146 bytes (1 switches on core 0)`

[2016-11-27 01:31] csmk opened #977 "SQLite: SQL prepare failed: no such function: now?"
Hi,

I tried to experiment SQLite as db, but I got this error from Postfix:

[code]

The WebUI and dovecot is functioning properly. I'm using the latest (1.6.1) version.

[2016-11-27 03:13] SammDu commented on #975
Any ideas bro?

[2016-11-27 06:15] scrolls-mckenzie commented on #955
I have still been trying to run the command

`python manage.py migrate`

but every time I get another error that a module is not installed. This seems odd as i am currently running a version and have not uninstalled anything

the latest error

Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-pa

[2016-11-27 12:14] tonioo commented on #977
Looks like SQLite does not provide the `now()` function. Can you try to replace `now()` by `datetime('now')` in /etc/postfix/modoboa/sql-aliases.cf please?

[2016-11-27 12:16] tonioo commented on #976
Can you activate the debug mode please? (set DEBUG to True inside settings.py and reload uwsgi)
You should get a complete error.
By the way, this error is not related to modoboa but to modoboa-amavis. I'll move it to the right repository.

[2016-11-27 12:18] tonioo commented on #975
Your `--dburl`option is wrong. Try the following instead: ` --dburl default:mysql://root:password@localhost:3306/modoboa`

[2016-11-27 12:20] tonioo commented on #955
Have you mixed different virtualenv? Are you sure a virtualenv was loaded every time you made a modification? You may have installed packages in the default system path instead of your virtualenv?

[2016-11-27 12:21] tonioo commented on #976
This issue was moved to modoboa/modoboa-amavis#38

[2016-11-27 12:21] #976 closed

[2016-11-27 13:34] csmk commented on #977
Replaced, and it's working now! Thank you for the fast response.

Cheers! ;)

[2016-11-27 13:34] #977 closed

[2016-11-27 13:53] SammDu commented on #975
Okay it seems to be working since it didn't prompt error this time...
Also please include [this](http://stackoverflow.com/questions/17886647/cant-install-via-pip-because-of-egg-info-error) into ur manual as well as the fact that the users have to install MySQL (or PostgreSQL, but i haven't tried since the error message poped) using their packge manager (mainly for the *-dev packages) or otherwise

[2016-11-27 14:10] SammDu commented on #975
Also in ur [Web Server](http://modoboa.readthedocs.io/en/latest/manual_installation/webserver.html) section of the manual, does `modoboa instance dir` mean `*current_dir*/env/bin/` (which is where modoboa-admin.py is at) or `*current_dir*/instance` (which matches the description...but i'm still not quite sure)?
And yeah...i suggest u include this info into ur manual as well since it may cause conf

[2016-11-27 14:25] neutrinus opened #978 "Aliases without "Expire at" date don't work"
I'm using postgres, autogenerated configs:
` maildb=> SELECT alr.address FROM modoboa_admin_aliasrecipient AS alr INNER JOIN admin_alias AS al ON alr.alias_id=al.id WHERE al.enabled AND al.expire_at>now();`

If I leave empty 'expire at' date - the select doesn't return my alias.

Please either make this field obligatory or change the query. Thank you

[2016-11-27 14:30] tonioo commented on #978
I guess you're not using the latest version. Have you seen this: https://github.com/tonioo/modoboa/issues/922 ?

[2016-11-27 14:33] tonioo commented on #975
Feel free to contribute to the documentation. If you need something more easy, please check the installer. (https://github.com/modoboa/modoboa-installer)
Instance dir corresponds to the location you used when you deployed modoboa. (running the deploy command)

[2016-11-27 14:47] SammDu commented on #975
I've already got a nginx serving as a web server so...i don't want the installer to mess up my current setup...
I would definitely contribute to the doc when i have free time ;-)
Thanks for all ur support!

[2016-11-27 14:47] #975 closed

[2016-11-27 16:53] neutrinus commented on #978
Yeah! I had maps from older version. Thank you!

[2016-11-27 16:53] #978 closed

[2016-11-27 21:21] neutrinus opened #979 "Check DNS for autoconfig"
Many email-clients use some kind of autoconfiguration to help users:
* thunderbird: https://developer.mozilla.org/en-US/docs/Mozilla/Thunderbird/Autoconfiguration
* outlook: https://technet.microsoft.com/en-us/library/cc511507.aspx

It would be nice if modoboa beside checking rbls would also check if required dns records are set and if the autoconfig xml is reachable.

[2016-11-28 00:08] scrolls-mckenzie commented on #955
Can you specify what command to run the virtualenv. There is a reference to dependencies in the documentation but nothing about the actual activation of the virtualenv.

[2016-11-28 00:15] scrolls-mckenzie commented on #955
So i activated the virtualenv via
`virtualenv env`
`source env/bin/activate`

I then ran

`python manage.py migrate`

Still getting errors.

`Traceback (most recent call last):
  File "manage.py", line 8, in <module>
    from django.core.management import execute_from_command_line
ImportError: No module named django.core.management`

 Would you recommend at this stage that a re-install is in order

[2016-11-28 08:16] tonioo commented on #955
Looks like django is not installed... Can you run this please (with virtualenv loaded):
$ pip install -U pip
$ pip list
You should get the list of all installed packages.

[2016-11-28 14:52] tonioo commented on #962
@stevie ping

[2016-11-28 22:26] scrolls-mckenzie commented on #955
I have cd to the modaboa/instance location
I activated the virtualenv and ran the commands you asked
My output is this

`Package    Version`
---------- -------
`pip        9.0.1`
`setuptools 2.2`

[2016-11-28 23:04] stevie commented on #962
Hi I'm basically wanting admin notifications for blocked email messages sent to either the specific admin for the domain or for domains with users that know the difference between a spam and real mail self release notifications. This seems to work when using a web account on the system but does not seem to work when the modoboa-webmail component is not installed from the documentation it looks lik

[2016-11-29 07:43] tonioo commented on #955
This is what I thought, it is empty. It means this virtualenv was never used to install packages before. How did you install modoboa?

[2016-11-29 07:49] tonioo commented on #962
Actually, Modoboa itself does not send notifications to users (the only one concerns pending release requests). The notifications you're talking about are sent by amavis depending on your configuration.

[2016-11-30 15:55] almereyda opened #980 "Account creation with aliases from different domain fails"
If I intend to create a `postmaster@somethi.ng` and want to set aliases like `postmaster@somethingel.se`, `hostmaster@somethingel.se` or `hostmaster@somethi.ng`, it only works if the additional domain aliases are removed.

[2016-11-30 15:56] almereyda opened #981 "Redundant alias for domain administrators"
If one intends to create a domain administrator with the username `postmaster@`, a redundant `postmaster@` alias pointing to the the very same address is created, too.

[2016-11-30 16:28] tonioo commented on #981
Can you provide more info please? (screenshot, etc.)

[2016-11-30 16:28] tonioo commented on #980
Can you explain your use case a bit more please?

[2016-11-30 20:01] almereyda commented on #981
If I create a new user account with the role Domain Administrator that is already called `postmaster`, Modoboa will also create an alias from `postmaster` to `postmaster`, if the checkbox is marked.

Should we also consider creating more aliases, if needed?

See https://github.com/ecobytes/docker-postfix/blob/master/etc/postfix/global_alias for further examples.

[2016-11-30 20:08] almereyda commented on #980
I wanted to create a general host-/postmaster mailbox which would take multiple aliases for different domains. Creation failed if I wanted to use multiple domains within the aliases; when the aliases came from the same domain, the command passed.

[2016-11-30 23:21] almereyda commented on #979
This could probably lead to an integration with #967.

[2016-12-01 00:39] bashfulrobot opened #982 "Internal Error - Fresh Install"
SYSTEM:
$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"

Your mail server e.srvrs.co will be installed with the following components:
modoboa amavis clamav dovecot nginx razor postfix spamassassin uwsgi
==============

I just performed a fresh install (on AWS) with Ubuntu 16.04, and had ran the script. I had modified t

[2016-12-01 08:50] tonioo commented on #982
Can you set DEBUG to True inside settings.py, reload uwsgi and try again please?

[2016-12-01 09:12] tonioo commented on #981
You mean that you already have an alias called 'postmaster@mydomain.tld'
and that you want to add a domain adminstrator with the same name after?

On 30/11/2016 21:01, jon r wrote:

[2016-12-01 09:18] tonioo commented on #980
Just to make sure I understand your use case, you try to create
something like this (in one step):

Account: test@domain.tld

Alias : alias@domain1.tld

Alias : alias@domain2.tld

And it fails?

The aliases you're using already exist or not?

On 30/11/2016 21:09, jon r wrote:

[2016-12-01 09:20] tonioo commented on #979
IMO, we're talking about two different features:
1. make the installer deploy automx
2. Provide a tool within the UI to generate DNS records and to check if they are properly configured

[2016-12-01 14:49] almereyda commented on #981
No, other way round: I want to create a Domain Administrator user + mailbox
with the postmaster@ name, and keep "Create Aliases" checked. Then I will
end up with the desired mailbox, and an alias, carrying the same name,
redirecting to the mailbox.

On 1 December 2016 at 10:12, Antoine Nguyen <notifications@github.com>
wrote:

[2016-12-01 14:50] almereyda commented on #980
Yes, I am trying to create

Account: test@domain1.tld

Alias: alias1@domain1.tld
Alias: alias2@domain1.tld

Alias: alias1@domain2.tld
Alias: alias2@domain2.tld

The aliases don't exist yet, and creation fails if more than domain1.tld is
involved.

On 1 December 2016 at 10:18, Antoine Nguyen <notifications@github.com>
wrote:

[2016-12-01 14:51] tonioo commented on #981
Ok, you're talking about domain creation with predefined admin and
aliases, right?

On 01/12/2016 15:49, jon r wrote:

[2016-12-01 14:54] almereyda commented on #981
Yes, I wanted to greate a general postmaster Account which would receive both hostmaster and postmaster aliases from various domains.

Can an account maintain multiple domains, too?

[2016-12-01 14:59] tonioo commented on #981
You mean a domain administrator who manage more than one domain?

[2016-12-01 15:02] tonioo commented on #980
I fail to reproduce your issue. I've just tried on the official demo and it works. What kind of account are you creating?

[2016-12-01 19:10] almereyda commented on #981
Yes, that would be interesting. Maybe something like a Site or Farm
Administrator, so to speak.

On 1 December 2016 at 15:59, Antoine Nguyen <notifications@github.com>
wrote:

[2016-12-01 19:12] tonioo commented on #981
So you can already do it. Edit an administrator account and go to the
permissions tab, you can add more than one domain.

On 01/12/2016 20:10, jon r wrote:

[2016-12-04 18:03] jprasmussen opened #983 "Docs: What is "DNS status" doing?"
This is probably related to #965 but I'm not too sure... I can't find in the documentation explaining what the "DNS status" column is doing/looking for under the Admin > Domains > List Domains page.

Presumably it's looking for MX records? Any insight will help. Thanks!

[2016-12-05 14:46] tonioo commented on #983
this column displays information about MX configuration and DNSBL status for each domain. Make sure those features are enabled (Check Modoboa > Parameters > Administration).

[2016-12-05 14:57] jprasmussen commented on #983
Thank you @tonioo.

I have those checks enabled under Modoboa > Parameters > Administration but the domains remain "Awaiting checks". So I'm not clear on what it's looking with the DNS records or if I need to manually trigger a check somehow.

In testing I'm able to send and receive emails to accounts on the domains that are marked as  awaiting checks. So I believe things are correctly setup for e

[2016-12-05 14:59] tonioo commented on #983
I don't know how you installed Modoboa but those checks are issued by a cron task so you might need to install it manually. (http://modoboa.org/en/weblog/2016/09/14/modoboa-160-out/)

[2016-12-05 15:38] jprasmussen commented on #983
Hmm... I see the cron task in there.  I tried running the command manually but get an error... perhaps it's because I'm not familiar enough with python.

Here's what I ran:
`/usr/bin/env python /srv/modoboa/instance/manage.py modo check_mx`

And this is the error:
[code]

If that command looks right then perhaps something went wrong in install. I'm just learning how this works so I'm not opposed t

[2016-12-05 16:06] tonioo commented on #983
You need to load the proper virtual env in order to run this command. Something like this:
`/srv/modoboa/env/bin/python srv/modoboa/instance/manage.py modo check_mx`

[2016-12-05 17:32] jprasmussen commented on #983
That worked!

So that means the cron tasks aren't working correctly. I'll dig into that some more and post back here incase anyone else runs into the problem.

[2016-12-06 17:12] souldessin opened #984 "Bayes is labeling everything as ham"
I have this email address that I have moved into Modoboa and bayes has decided that everything gets labeled as ham with a bayes_00 flag. I have set up the spam folder to use sa-learn, but the --dump magic isn't increasing at all.

I wonder if I am training a second database by accident or if something is wrong. I used the installer script and am unsure how to clear and retrain the bayes database.

[2016-12-06 17:28] souldessin commented on #984
Update: I am closing this issue for the time being. I found that bayes was storing it under the --username=amavis user and am going to clear the database and re-teach it. I will see how that ends up.

[2016-12-06 17:28] #984 closed

[2016-12-07 09:11] tonioo commented on #982
@bashfulrobot ping

[2016-12-08 14:55] cmdtstof opened #985 "install error: dir /srv/modoboa/instance/media/webmail not exist"
hi
few days ago i installed modoboa on a live ub1604 system with no problem.
now trying to install it in a local (virtualbox ub1604) network i get

???
thanks a lot (also for the great work)

[2016-12-08 15:00] tonioo commented on #985
Could you please move your issue to the appropriate repository? (https://github.com/modoboa/modoboa-installer)

[2016-12-08 15:08] tonioo commented on #985
Thank you.

[2016-12-08 15:08] #985 closed

[2016-12-08 15:08] cmdtstof commented on #985
sorry! wrong place for this issue.

[2016-12-10 15:15] ravensorb commented on #968
Something like OAuth or Basic HTTP auth (over ssl) could work

[2016-12-10 16:08] jprasmussen commented on #983
I re-installed on a new server this week (Ubuntu 16.04) and it still doesn't seem to work on cron. But manually running the below works fine for me since I'm not planning to add many domains.
`/srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py modo check_mx`

[2016-12-10 17:32] ravensorb opened #986 "Possible to use as a front end mail gateway and NOT a complete mail system?"
I am considering switching from ASSP to modoboa and I was curious if it is possible to setup things up so that modoboa is configured as a mail gateway with all mail (and users) residing on another system (like xmail or hMailServer)?

I know that I can do this with postfix and setting up relay_domains, relay_receipients, and transport configuration files, The question is -- will modoboa continue to

[2016-12-11 15:08] tonioo commented on #986
Yes, it will continue to work and you can even declare relay domains from Modoboa.

[2016-12-11 15:13] ravensorb commented on #986
Awesome!  Any advice on setting it up?  Do I need to "sync" users to the database?  How can I set SMTP auth up to use the internal mail server?  How can I define the "routing rules" for the virtual domains?

[2016-12-11 15:21] tonioo commented on #986
You don't need to sync anything, I suggest you start by creating a relay domain from the web interface, you should be asked for a destination (IP of hostname). I think that's what you call "routing rule"?
About the authentication, you can replace the default socket based authentication by a TCP one (ex: http://wiki2.dovecot.org/HowTo/PostfixAndDovecotSASL)

[2016-12-11 15:22] tonioo commented on #983
You reinstalled using the installer?

[2016-12-11 15:26] ravensorb commented on #986
Ok, I already have SASL up and working on my current gateway.  So if I configure SASL to use my existing internal SMTP servers I should be good?  If I do that, and change the configure to point to my internal IMAP servers, do I even need dovecot anymore?

[2016-12-11 15:27] tonioo commented on #986
According to your use case, you don't need dovecot.

[2016-12-11 15:43] ravensorb commented on #986
Would users still be able to manage their quarantine?  And would I need to give them individual accounts or will they be able to login using their SMTP credentials?

[2016-12-11 16:19] jprasmussen commented on #983
Yes. I used the recommended way from the documentation.

[2016-12-12 07:59] tonioo commented on #986
If you want users to manage their quarantine then Modoboa must know them, ie. you each must have a local account in order to authenticate...
An SMTP authentication plugin might be a good idea in this case (like the LDAP one), what do you think?

[2016-12-12 11:11] ravensorb commented on #986
An SMTP auth plugin would be a great idea :)

[2016-12-12 14:14] tonioo commented on #983
Can you check if a cron daemon is installed on your server?

[2016-12-12 16:40] jprasmussen commented on #983
Cron is installed and running. Here is the status output:

[code]

Contents of /etc/cron.d/modoboa

[code]

[2016-12-12 16:41] tonioo commented on #983
Everything looks fine. Have you tried to restart the cron service?

[2016-12-12 23:27] almereyda commented on #968
Additionally, a simple Django CLI could be supported with something similar to https://github.com/clstrfck/transformapetl/blob/master/places/management/commands/transformap.py

[2016-12-12 23:49] almereyda opened #987 "Postfix maps generated incompletely"
Since the breaking change from v1.5 to v1.6 to `generate_postfix_maps`, one issue has arosen, which revealed another.

When our Discourse wanted to send its notifications via SMTPS, it lately failed with some thousands of email jobs unfinished, resulting in the following logs at the involved MTA:

[code]

It seems the original `/etc/postfix/sql-sender-login-mailboxes.cf` query `SELECT email FROM c

[2016-12-13 08:47] #981 closed

[2016-12-13 08:50] tonioo commented on #982
This issue was moved to modoboa/modoboa-installer#79

[2016-12-13 08:50] #982 closed

[2016-12-13 08:51] tonioo commented on #962
This issue was moved to modoboa/modoboa-amavis#39

[2016-12-13 08:51] #962 closed

[2016-12-13 08:52] #949 closed

[2016-12-13 08:57] tonioo commented on #987
I guess you encountered this issue: https://github.com/tonioo/modoboa/issues/940 and I don't think it is related to `recipient_delimiter`.
@almereyda can you confirm this please, I'd like to release 1.6.2 today.

[2016-12-13 14:51] almereyda commented on #987
@tonioo Yes, this seems to fix it. I had manually removed the `)` from the `.cf` file and soon the message log started to empty, while `tail -f /var/log/mail.log` revealed successful transfers.

[2016-12-13 15:35] tonioo commented on #987
Great :)

[2016-12-13 15:35] #987 closed

[2016-12-14 15:39] tonioo opened #988 "Replace internal events"
Since Django already provides a similar mechanism, let's use it!

[2016-12-14 15:39] #988 closed

[2016-12-15 10:28] tonioo opened #989 "SMTP authentication backend"
There are cases where Modoboa is not used to manage mailboxes but only as a gateway. Allowing users to authenticate to this gateway could be helpful (for example to manage their quarantine). This can already be done using LDAP authentication but adding SMTP would allow a larger use.
(https://github.com/modoboa/modoboa/issues/986)

[2016-12-15 10:33] tonioo commented on #980
@almereyda ping

[2016-12-16 09:24] tonioo commented on #793
Fixed by #951

[2016-12-16 09:24] #793 closed

[2016-12-19 05:15] axd opened #990 "Error when running python manage.py migrate"
Hi, I'm trying to install the Radicale module, but whenever I try to run `python manage.py migrate` it gives me this error:

[code]
I got to say that this is a fresh installation.

Any idea what is missing?

Thanks.

[2016-12-19 14:01] tonioo commented on #990
Hi, how did you install Modoboa? Your problem is you're trying to import the configuration of the modoboa-amavis plugin which is not installed on your system. If you want to use it, then install the missing plugin. If you don't want to use it, just remove the following line: `from modoboa_amavis.settings import *` from your settings.py file.

[2016-12-19 16:51] axd commented on #990
I've installed Modoboa using `modoboa-installer` and also I've modified `settings.py` to add those plugins during the installation.

So, you're telling me that I have to install modoboa-amavis plugin, I think that I have to do that using `pip install modoboa-amavis`, right?

I'll give it a try and all keep you posted.

Thanks.

[2016-12-20 07:55] tonioo commented on #990
Or you can try to run the installer one more time and make sure the modoboa-amavis extension is listed and that amavis is enabled.

[2016-12-20 15:46] jprasmussen commented on #983
It appears to be working now but I never restarted any services.  I've added a couple of domains for testing purposes since your last post. Their DNS status was updated in the Admin UI without running the check manually.

I think it's probably safe to close this until someone else reports the problem.

[2016-12-20 16:09] tuxis-ie opened #991 "check_mx dies on non-existing domains"
There is a check_mx-script, which is run periodically to check everything. But it dies on non-existing domains.

I think the issue is in `modoboa/admin/management/commands/subcommands/_mx.py` but I can't seem to fix this very fast.

[code]

[2016-12-20 16:10] tuxis-ie commented on #991
Oh, the NXDOMAIN is correct (since the domain does not exist), but it should ignore non-existing domains instead of dying on them.

[2016-12-20 18:24] #983 closed

[2016-12-21 16:45] dragon2611 commented on #986
When creating the relay domain there is the option between "relay" and "smtp" but also a scan button (which seems to just load a blank page),  However no where does it say what the difference between the options is.

[2016-12-21 16:51] tonioo commented on #986
The 'service' corresponds to what is available inside postfix master.cf file. 'smtp' and 'relay' are always available. The 'scan' button tells Modoboa to parse this file in order to find additional services. I think you can choose the relay option.

[2016-12-21 16:56] dragon2611 commented on #986
Ah OK,

Eventually the accounts will be local anyway, but for now there is an existing server handling the actual email so the plan is for those domains to have modoboa act as the front end SMTP server and do spam filtering/scanning then passing it back to that server.

Presumably when I'm ready to switch I just change the domain type, or is it better to delete it and then re-add it.

[2016-12-21 16:58] tonioo commented on #986
Changing the domain should be fine.

On 21/12/2016 17:56, dragon2611 wrote:

[2016-12-21 17:11] dragon2611 commented on #986
It's set as relay at the moment but looking at the postfix logs I seem to just return 450 service tempoarilly unavailable

[2016-12-21 18:21] tonioo commented on #986
Can you paste your logs somewhere?

[2016-12-21 18:27] dragon2611 commented on #986
emailed to you providing they don't get eaten by a spam filter

[2016-12-21 19:43] tonioo commented on #986
Which address?

[2016-12-21 20:57] dragon2611 commented on #986
The one that was in your profile.

[2016-12-21 21:14] dragon2611 commented on #986
It looks like if postscreen does any greylisting it doesn't play nice with o365 https://talk.plesk.com/threads/greylist-high-delays-from-protecction-outlook-com-and-others.334180/

https://talk.plesk.com/threads/enabling-postscreen-breaks-usr-local-psa-admin-sbin-mchk-command.333516/#post-781803

[2016-12-22 12:02] tonioo commented on #986
Indeed, I don't see anything strange in your log file. You can try to whitelist o365 IPs at postscreen level.

[2016-12-22 12:14] dragon2611 commented on #986
Where does the installer put the config file?

Sent from Nine<http://www.9folders.com/>
________________________________
From: Antoine Nguyen <notifications@github.com>
Sent: 22 Dec 2016 12:02
To: modoboa/modoboa
Cc: Matthew Pease; Comment
Subject: Re: [modoboa/modoboa] Possible to use as a front end mail gateway and NOT a complete mail system? (#986)

Indeed, I don't see anything strange in your

[2016-12-22 21:44] tonioo commented on #986
At the regular place: /etc/postfix/main.cf.

On 22/12/2016 13:14, dragon2611 wrote:

[2016-12-23 05:56] tmartinfr opened #993 "Can't populate if email longer than 30 caracters"
I'm storing my accounts using LDAP.
During first login to modoboa, the account is populated into the DB.
Email field is 254 caracters long, but the `last_name` is only 30 (https://github.com/modoboa/modoboa/blob/master/modoboa/core/models.py#L53).
But during populate, Modoboa store the email into the `last_name` field :

[code]

So using an email address more than 30 caracters fails.

[2016-12-29 18:58] christianwgd opened #994 "Enhance parameter generics for longer signature texts"
Signature text is limited to a length of 255 characters. This is to small to keep corporate signatures.

[2016-12-30 09:03] Toniob opened #995 "Shouldn't check mx and dnsbl in some cases"
Hi,

Some tld are reserved and will never be available to registration : https://en.wikipedia.org/wiki/Top-level_domain#Reserved_domains . Modoboa shouldn't check MX and DNSBL records for any domain with those tld, as they are going to fail.

Thanks

[2016-12-31 09:44] Toniob opened #996 "should ask to replace aliases after domain edition"
Hi,

It is currently possible to edit a domain and change its name. After such a modification, Modoboa should ask the user if he wants to update the aliases pointing to the old name and replace it with the new one.

Thanks

[2016-12-31 11:32] tonioo commented on #996
This is also true for regular email addresses... I don't think it is the best option, maybe we could propose to create a domain alias using the old name?

[2016-12-31 13:28] hadifarnoud commented on #824
multi user support is added @pirogoeth https://github.com/mailpile/Mailpile/issues/820

[2016-12-31 13:31] hadifarnoud opened #2128 "add Mailpile as webmail replacement"
can we add Mailpile as a plugin to installer? what is needed to be done? it has added multi-user support and this will make Modoboa a robust mail service.

[2017-01-01 09:26] Toniob commented on #996
I don't think it's a good idea. What if you make a typo while editing the name ? You're going to keep the mistaken name in the list ? And I know how the sysadmins are (because I am one). In 6 months, we'll forget why there is an alias, delete it and so, brake the email aliases.

[2017-01-04 17:05] hadifarnoud commented on #821
have you used mailu @almereyda? is it better than modoboa?

[2017-01-04 18:57] tonioo commented on #996
Actually, it is not possible to rename a domain without renaming associated mailboxes. It could be possible with aliases but I don't like the idea to introduce a non consistent behaviour. I'm also wondering what would be the interest in renaming the domain without renaming aliases and mailboxes too. Can you explain your use case a bit more please?

[2017-01-04 19:02] tonioo commented on #993
@tmartinfr That's strange. I might be related to the way your LDAP directory is configured. What kind of directory do you use? What schemas are you using?

[2017-01-04 19:06] tonioo commented on #991
@tuxis-ie It looks like you're not using the latest version because this bug has already been fixed. Have you tried with 1.6.2 ?

[2017-01-04 19:07] tonioo commented on #990
@axd ping

[2017-01-04 19:09] tonioo commented on #980
@almereyda Could you please give me more information ?

[2017-01-04 20:37] axd commented on #990
Sorry @tonioo for didn't answer before.

It worked installing all dependencies through pip. I ran the installer with the plugins listed but it didn't install anything.

Thanks.

[2017-01-05 08:04] tonioo commented on #990
Have you tried to run the installer with the --debug option?

[2017-01-05 08:41] tmartinfr commented on #993
@tonioo I use OpenLDAP with very standard configuration. I'm not sure it's related. Just that the `last_name` field in the modoboa schema is limited to 30 caracters.

[2017-01-05 08:45] tonioo commented on #993
The email value should not be used to fill in last name...

[2017-01-05 13:11] tonioo commented on #993
By default, modoboa uses the `sn` ldap attribute to fill the last name. Can you check your directory?

[2017-01-05 14:16] tmartinfr commented on #993
@tonioo Ok, so that's the reason! After checking, my directory's `sn` contains user email due to historical reasons. I'm going to change that. Thanks.

[2017-01-05 14:16] #993 closed

[2017-01-05 14:51] JayBeRayBearGun opened #997 "email takes (too) long to arrive in mailbox"
Modoboa noob here (i come from cyrus and exim environment)

Installation took some time but seems to work as intended.

For some reason it takes quite a long time for mail to appear in the users mailbox. It easily takes more than an hour or so. What could be wrong? How could I debug this?

[2017-01-05 15:08] tonioo commented on #997
This delay is introduced by postscreen. (http://www.postfix.org/POSTSCREEN_README.html)
I suggest you check your logs (/var/log/mail.log) but, depending on the sender IP, delivery can take a long time...

[2017-01-05 15:13] JayBeRayBearGun commented on #997
came across this line:
Jan  5 02:48:44 mail postfix/postscreen[20940]: close database /var/lib/postfix/postscreen_cache.db: No such file or directory (possible Berkeley
DB bug)

could this cause the excessive delay?

[2017-01-05 16:55] tonioo commented on #997
No, this is a know issue when running postfix in a chrooted env.
Do you see messages like this: "450 4.3.2 Service currently unavailable" in you logs?

[2017-01-05 18:58] JayBeRayBearGun commented on #997
Yes! Quite a few even. With some different numeral prefixed though. Some related to legitimate email as far as I can see.

[2017-01-05 20:43] tuxis-ie commented on #997
Outlook.com by any chance? They requeue messages from different machines, killing greylisting...

[2017-01-05 20:53] tuxis-ie commented on #991
Not yet, will upgrade soon! Sorry.

[2017-01-05 20:53] #991 closed

[2017-01-05 22:10] JayBeRayBearGun commented on #997
@tuxis-ie no not that I can see,... some email is by myself send as tests

[2017-01-06 08:25] tonioo commented on #997
Do you use an external address for your tests?

[2017-01-06 09:20] JayBeRayBearGun commented on #997
Yes only external addresses,...

Okay here is a bit more extensive report. I looked at
/var/log/mail.log and /var/log/syslog

Most "unavailable" messages appear in mail.log and a few in syslog.

The "currently unavailable" messages are preceeded by numerals and
triplets. These vary between 450 4.3.2 and 550 5.7.1.

The latter definitely is spam and is blocked by
bl.spameatingmonkey.net (according

[2017-01-06 09:29] JayBeRayBearGun commented on #997
I just sent a test message with some actuall text from my personal account (non-gmail) which came through in record time :) Didn't check but it must have been within minutes.

[2017-01-06 10:02] JayBeRayBearGun commented on #997
The messages that are preceded by 450 in the logs, get through with some delay it seems. As mentioned before these are commercial but non-spam (and a few test messages). I can't figure are what the actual delay is. My guess is in the order of hour(s).

[2017-01-06 12:40] tonioo commented on #997
That's not an issue for new message/sender. Once a sender has been seen one time and has passed test, it is maintained in a temporary whitelist so next messages coming from him will pass without delay. The delay depends on which tests fail for a given sender.

[2017-01-06 13:04] cmdtstof opened #998 "forward : Permission denied"
hi

forwarding an account to a local destination isn't working, even when set as admin:
Permission denied: You can't define a forward to a local destination. Please ask your administrator to create an alias instead.

maybe i miss something?
there is
- account1@foo.bar
- account2@foo.bar

during holyday of account1 the emails should be forwarded to account2@foo.bar (with/without keeping local copy

[2017-01-06 13:20] JayBeRayBearGun commented on #997
Ok then,... so you're basically saying it is functioning as it is supposed to be right?

If so.,. YEAH! :)

PS: thanks for your handywork and patience.

[2017-01-06 13:21] tonioo commented on #997
Yes, it is. This said, you're free to fine tune postscreen configuration
according to your needs ;)

On 06/01/2017 14:20, Jan Rhebergen wrote:

[2017-01-07 13:33] CyberfoxDK commented on #997
Tonioo   -   can you help with the whitelist location ?
Cant seem to find it.

[2017-01-07 14:09] csmk commented on #997
🔗  http://www.postfix.org/POSTSCREEN_README.html#temp_white

[2017-01-07 14:10] CyberfoxDK commented on #997
thanks, went through that already, so it seems like i may have missed somthing.
Will read it more thoroughly this time...

[2017-01-07 20:29] JayBeRayBearGun commented on #997
OK, closing this issue as for me it seems to work. Thanks

[2017-01-07 20:29] #997 closed

[2017-01-07 21:23] JayBeRayBearGun commented on #949
Don't you have trouble with Android mailclient accepting this certificate? (I do sadly)

[2017-01-08 01:22] Amzani commented on #980
Hello @tonioo

Not sure if it's the same issue, but registering an external forward doesn't work in admin interface (when adding/editing accounts) /admin/identities

**How to reproduce :**

[code]

**Expected**
Receive an email at bar@gmail.com

GET to /api/v1/aliases/ doesn't show the registered Alias/Forward.

But when i login with foo@domain.com to the admin panel, go to (/user/#forward/) and r

[2017-01-08 09:26] tonioo commented on #949
No, I use such a certificate on my personal platform and it works fine. What's your issue?

[2017-01-08 09:49] JayBeRayBearGun commented on #949
@tonioo I discovered the problem. The LE certificate is made out to mail.mydomain.org while I use imap.mydomain.org and smtp.mydomain.org (which are valid and resolve) in the mailclient settings. On the desktop client one just accepts the "problem" by accepting certificate mismatch as a permanent exception. Android does not offer this but when you replace imap and smtp with mail in the fqdn it all

[2017-01-08 09:52] JayBeRayBearGun commented on #968
I like CLI been using this in my previous environment (cyrus/exim) all the time because I had no web interface. Webinterface is great but in some scenarios CLI can save the day when in a tight spot :)

[2017-01-08 09:59] JayBeRayBearGun commented on #580
I am missing this feaure as well. Coming from an exim/cyrus combo this was really easy to set up with the cyradm cli (inlcuding acls). I see two main scenario:

1) a user makes one of his mailbox/folders available to one or more other users (typically office or family situation)_
2) administrator does the the same as above for a number of users (ie. on behalf of) This could be the case when sharin

[2017-01-08 13:11] tonioo commented on #580
dovecot provides the same kind of command line utility: `doveadm`. There is a subcommand to manage ACLs (http://wiki2.dovecot.org/Tools/Doveadm/ACL).
Regarding the integration to Modoboa, I'm still wondering what would be the best place to add this feature into the GUI... The admin case is pretty easy to solve but  the user one is a bit more tricky unless we say it is associated to the webmail...

[2017-01-08 13:39] JayBeRayBearGun commented on #580
Ah great I'll investigate it,... I have only a fleeting acquaintance with roundcube so can't be of much help there (just looked for it). In my opinion the most logical location in the webmail iterface would be in the little gear icon/button on the bottom left of the folder view. Adding a folder share option there would seem like a good place. The admin case should be somewhere in the setting & par

[2017-01-08 15:17] JayBeRayBearGun commented on #580
When I user doveadm to lookup mailboxes I only get the standard set and not the actual folders. Besides I can't seem to specify the user. Could this be because this is handled through postgresql?

[2017-01-08 15:32] JayBeRayBearGun commented on #580
OK I found out how roundcube does it. I'll email you two screenshots (couldnt find a way to upload/include it here).

[2017-01-09 10:46] tuxis-ie commented on #580
We'd like to see this as well. I'd say this is a per-domain setting, where the domainadmin can enable/disable for the whole domain and a user can decide with whom they'd want to share.

[2017-01-09 12:06] JayBeRayBearGun commented on #580
+1 @tuxis-ie

[2017-01-09 14:22] tonioo commented on #580
@JayBeRayBearGun Thank you :)

[2017-01-09 15:20] Toniob commented on #996
You can try this :
- create a domain test.example
- add an alias test@test.example to one of your identities
- rename the domain from test.example to test2.example
- check the aliases of your identity, test@test.example is not renamed
You can't even edit your identity anymore because one alias is wrong.

[2017-01-09 15:54] axd commented on #990
@tonioo Yes I did... But the installer doesn't install all the needed packages, you have to install them individually after.

[2017-01-09 23:08] JayBeRayBearGun opened #1000 "no statistics/graphs"
Just noticed I don't seem to have the nice graphs displaying the mail statistics. How can I debug this?

[2017-01-09 23:10] JayBeRayBearGun commented on #1000
on a side note,... despite following instructions I can't change the default modoboa logo on the sign-in page.

[2017-01-10 08:18] tonioo commented on #1000
First, make sure you installed the rrdtool binary please. About the logo, I suggest you open a dedicated issue if it still persists.

[2017-01-10 08:19] tonioo commented on #990
The installer is in charge of installing everything. The only reason it did not make it is because of an error, that's why I asked for debug traces. Do you see something special inside ?

[2017-01-10 08:22] tonioo commented on #996
Ok I understand, it is a bug :p

[2017-01-10 10:42] JayBeRayBearGun commented on #1000
The rrdtool regular package is installed but not the python-rrdtool package if this should be installed then the automatic installer script must have missed it. Could this be the case?

[2017-01-10 10:57] JayBeRayBearGun commented on #1000
The logo issue is partly resolved. The filename was different as the one referenced. However correcting this did not fix it yet. I'll investigate further.

[2017-01-10 18:57] tonioo commented on #1000
Do you receive any traffic on this server. If not, the stats will remain empty.

[2017-01-10 20:01] JayBeRayBearGun commented on #1000
Oh yes, there is plenty of traffic now (this is not on the test domain anymore). There is not even en empty graph, there is just nothing.

[2017-01-10 20:31] csmk commented on #1000
Try to run the log parser manually. See if there's some kind of error.

Just my 2 cents. Cheers!

[2017-01-10 20:35] JayBeRayBearGun commented on #1000
You mean grep /var/log/syslog? PS: /srv/modoboa/rrdfiles is empty

[2017-01-10 20:47] csmk commented on #1000
No, the one in the cronjob. On my server will be like this:

[2017-01-10 20:55] JayBeRayBearGun commented on #1000
Ok got it, but where does the ouput go?

[2017-01-10 20:58] JayBeRayBearGun commented on #1000
Hey guess what,... all of the sudden I have a graph! Does this mean the cron script never ran i.e. failed?

[2017-01-10 20:59] csmk commented on #1000
Hmm.. It seems so.

[2017-01-10 21:00] JayBeRayBearGun commented on #1000
Thanks pal! Much appreciated!

[2017-01-10 21:04] JayBeRayBearGun commented on #1000
On a side note,... do you know if modoboa (or in fact the postfix as it is installed) checks for  SPF?

[2017-01-10 21:17] csmk commented on #1000
Did you use modoboa's installer? If yes, then I think Amavis was installed for you, so yeah, SPF will be checked.

[2017-01-10 21:17] JayBeRayBearGun commented on #1000
@tonioo Looking at crongtab files now,... noticed that the letsencrypt one will not run due to missing EOL at EOF

[2017-01-10 21:31] JayBeRayBearGun commented on #1000
@csmk yes I did,... i was about to look at  postfix-policyd-spf-python but no need if amavis takes care of it then.

[2017-01-10 21:47] JayBeRayBearGun commented on #1000
hmm,...don't see anything spf related in my recently received emails though or does amavis not write something to the mailheader?

[2017-01-10 21:52] JayBeRayBearGun commented on #1000
seems like it is spamassasin not amavis doing the SPF checking

[2017-01-11 10:26] Arvedui commented on #1000
spamassasin does not enforce spf policies, it takes them into account for the score, but a mail with failed spf may still pass as ham.
If you want to enforce spf something like postfix-policyd-spf-python is the only sensible way to go, because you do not want postfix to accept mail with failed spf checks.

[2017-01-11 11:48] tonioo commented on #1000
@JayBeRayBearGun Can we close the stats issue?

[2017-01-11 15:23] JayBeRayBearGun commented on #1000
YES! by they I think I deserve a price opening (and closing) issue #1000  :)

[2017-01-11 15:23] #1000 closed

[2017-01-11 15:24] tonioo commented on #1000
@JayBeRayBearGun ;)

[2017-01-11 15:25] JayBeRayBearGun commented on #1000
PS: I noticed a massive amount of bounced messages from about 11pm yesterday.

Jan 11 16:18:03 ns1 postfix/bounce[9813]: 00B287F66C: sender non-delivery notification: 250A37F66D
Jan 11 16:18:03 ns1 postfix/smtp[9812]: 250A37F66D: to=<root@mail.rhebergen.net>, relay=none, delay=0.05, delays=0.03/0.01/0.01/0, dsn=5.4.6, status=bounced (mail for mail.rhebergen.net loops back to myself)

not really a

[2017-01-11 15:28] tonioo commented on #1000
You can remove mail.rhebergen.net from mydestination (actually you can
empty this setting) and declare this domain into modoboa with and
account or an alias to receive messages sent to root@mail.rhebergen.net.
Look at /etc/postfix/main.cf.

On 11/01/2017 16:25, Jan Rhebergen wrote:

[2017-01-11 15:31] JayBeRayBearGun commented on #1000
Ah, ok,... I think I grok it,... will look at it asap. On a side note, I understand alias working on the mail reception side, but how to you use it for sending? Or does an alias not work like that and do you have to create an actuall identitiy for that other account/domain?

[2017-01-11 15:48] tonioo commented on #1000
By default with Modoboa, any alias pointing to a local address can be used as a sender address. If you want to add non local identities to an account, look at the sender address field.

[2017-01-11 15:51] JayBeRayBearGun commented on #1000
Got it!

[2017-01-11 16:44] JayBeRayBearGun commented on #1000
Ok, found it but not quite. I filled out the sender field (for the address from the other domain) But how do I actually use it? Does the webmail interface support this? (perhaps I am looking in the wrong place).

[2017-01-11 17:09] tonioo commented on #1000
The webmail does not support it atm but you can open an issue on the appropriate repository to keep track of it.

[2017-01-11 18:00] JayBeRayBearGun commented on #1000
OK

[2017-01-12 11:25] yannfill opened #1001 "Wrong aliases number in domain detail"
In domain detail, there is a line showing mailboxes number and a line showing aliases number, but in fact the number displayed for aliases is the sum mailboxes+aliases.

[2017-01-12 13:16] tonioo commented on #1001
There is indeed a bug. Actually, internal aliases are also showed by this counter... Thanks for reporting this.

[2017-01-12 14:50] tonioo commented on #955
@scrolls-mckenzie ping

[2017-01-15 23:44] almereyda commented on #986
For us it is also neccessary to use Modoboa as a front-end mail gateway in front of various listserv instances, i.e. mailman, sympa and alike.

Unfortunately it is not perfectly clear how to:

* set up a relay host which uses a non standard port
i.e. putting `lists.allmende.io:1025` for debug reasons creates a transport rule to `[lists.allmende.io:1025]` instead of `[lists.allmende.io]:1025`
* hav

[2017-01-16 08:20] tonioo commented on #986
@almereyda The rule is improperly generated because modoboa does not split host and port information for now, that's something pretty easy to fix. About recipient address verification, just uncheck the "Verify recipients" option and you're done.
About the other part of your, I'm not sure to understand it...

[2017-01-16 09:51] JayBeRayBearGun opened #1002 "availability quarantine"
Currently quarantined messages are only visible to the admin and domain admin. This eventhough the users have a  "quarantine" button and interface. Is this intentional? Is there a possibility for regular users to view messages that have been quarantined by the system on their behalf? Perhaps I missed a setting somewhere?

[2017-01-16 10:24] tonioo commented on #1002
The quarantine is available for every user but visibility depends on the role. Simple users will just see the messages sent to them (primary address or aliases). By the way, this issue is related to the amavis extension so it should be opened in the associated repository (https://github.com/modoboa/modoboa-amavis). Thank you.

[2017-01-16 10:31] tonioo commented on #980
@Amzani I can't reproduce your issue. Can you tell we how you created this forward? (exactly)

[2017-01-16 10:40] JayBeRayBearGun commented on #1002
oops, sorry you are right, didn't realise that.

[2017-01-16 10:40] #1002 closed

[2017-01-16 12:06] #965 closed

[2017-01-16 12:06] #995 closed

[2017-01-16 12:06] #996 closed

[2017-01-16 12:06] #1001 closed

[2017-01-16 12:22] tonioo commented on #948
Seems to work as expected.

[2017-01-16 12:22] #948 closed

[2017-01-16 16:05] tonioo opened #1003 "Can't define a target with a port on a relay domain"
Currently, the relay domain form does not handle target host with port (like ``localhost:2020``). Even if the form allows to enter such a value, the generated transport map entry is invalid.

see #986.

[2017-01-16 16:42] #1003 closed

[2017-01-16 17:12] mpirio opened #1004 "Mailbox limit reached when adding account whereas it can not be reached (setted 'unlimited' ie. -1)"
I use Modoboa 1.6.2. Default Admin's limits are enable like this:

![adminlimits](https://cloud.githubusercontent.com/assets/16302192/21991031/596dd86c-dc11-11e6-9ae4-f3fe3a65ec5e.png)

I use a DomainAdmin account with its mailboxes and aliases limits set to -1:

![domainadminlimits](https://cloud.githubusercontent.com/assets/16302192/21991147/bfb894a4-dc11-11e6-8e96-d2d5b5e3ff4c.png)

But when I

[2017-01-16 17:22] mpirio commented on #1004
I tried to find where the mailboxes limits check was done. I find a class `UserObjectLimit and its method `is_exceeded()` in `modoboa/limits/models.py` but i do not find where 'unlimited' limit (-1) is checked...

I modified the method like this:

[code]

That works. But i do not know if it's the best solution...

[2017-01-16 18:42] adeklanin opened #1005 "FATAL: remaining connection slots are reserved for non-replication superuser connections"
Hello,

First I'm gonna say thanks @tonioo and all contributors for Modoboa, it helped me move from our old and heavy Zimbra Java based mail server to.. I would say modern, and yet simple Modoboa.

Btw all of mail server terminology are new stuff for me, but I've done my homework, reading, testing configuring, debugging, and so on. So please don't be to harsh on me.

Specs:
- Install using install

[2017-01-16 23:23] Amzani commented on #980
@tonioo this is some screenshot
![step1](https://i.imgsafe.org/d52e496158.png)
![step2](https://i.imgsafe.org/d52e3c159f.png)

1. Forward to gmail dosn't work
2. my forward is not listed with GET to https://mydomain:443/api/v1/aliases/

[2017-01-17 07:49] tonioo commented on #1004
Looks like the unlimited case is not supported since the last refactoring... Thank you for reporting this!

[2017-01-17 08:46] tonioo commented on #1005
@adeklanin I think it is related to postfix which opens too many connections to the database. I'll fix that.

By the way, this issue is related to the installer so could you please move it to the appropriate repository? Thank you.

[2017-01-17 08:58] tonioo commented on #980
@Amzani Actually, you haven't created a forward but you have added an extra sender address for this account, ie. you're allowing your user to send messages using toto@gmail.com as sender. Just move your gmail address to the "Alias" field and it should work ;)

[2017-01-17 09:37] #1004 closed

[2017-01-17 10:55] #1005 closed

[2017-01-17 10:55] adeklanin commented on #1005
@tonioo done. Copied to [modoboa/modoboa-installer#92](https://github.com/modoboa/modoboa-installer/issues/92)

[2017-01-17 10:56] tonioo commented on #1005
Thank you.

On 17/01/2017 11:55, Adek Lanin wrote:

[2017-01-17 15:17] tonioo commented on #994
Moved to https://github.com/modoboa/modoboa-webmail/issues/54.

[2017-01-17 15:17] #994 closed

[2017-01-17 15:18] #955 closed

[2017-01-17 15:21] #801 closed

[2017-01-17 15:55] tonioo opened #1007 "Possibility to change default password"
When a domain administrator is automatically created by Modoboa for a new domain, the default password is `password`. This value should be customizable.

[2017-01-17 16:46] #998 closed

[2017-01-17 21:56] daks commented on #1007
In other software (Jenkins if I remember correctly), I saw the following behaviour: a random password is generated and put in a file in the local filesystem. This way is secured and only the administrator doing the installation can get it.
(my 2 cents)

[2017-01-18 00:14] axd commented on #990
@tonioo No, the installer says that those plugins were installed correctly, but for some reason they are not installed at all.

[2017-01-18 08:32] tonioo commented on #1007
Random passwords is something I plan to add but this is just a quick answer to people who want to change the value used for fresh domain administrators.

[2017-01-18 08:35] tonioo commented on #990
@axd What system are you using?

[2017-01-18 10:15] #1007 closed

[2017-01-18 13:15] #989 closed

[2017-01-19 04:53] axd commented on #990
@tonioo Debian 8 x64

[2017-01-19 08:05] tonioo commented on #990
@axd on a virtual machine? a container?

[2017-01-19 09:01] tonioo commented on #986
@ravensorb The SMTP authentication backend is done and will be released with 1.7.0.
@almereyda I've fixed the relaydomain bug (wrong syntax when using a port).
I close this issue, do not hesitate to open new ones if needed.

[2017-01-19 09:01] #986 closed

[2017-01-19 09:03] tonioo commented on #966
#1007 is a first answer.

[2017-01-19 09:04] tonioo commented on #980
@almereyda Are you talking about a creation from the web UI or from the API?

[2017-01-19 14:19] dragon2611 opened #1010 "Spamfilter improvements"
These are things I'd like to see with the spamfilter if possible in future releases.

1) Notification don't appear to work at the moment, means manually logging in and checking the quarantine, ideally an email sent at a certain time showing an quarantine summery

2) Feedback loop, there doesn't seem to be any obvious way to tell the spam filter it missed something, I don't want all clean emails in

[2017-01-19 14:56] tonioo commented on #1010
@dragon2611 Looks like your requests are related to the amavis plugin. Could you please move your issue to the appropriate repository?

[2017-01-19 14:58] dragon2611 commented on #1010
I will repost there, I wasn't sure if it was all handled by the plugin or if some of it would be part of the core.

[2017-01-19 14:59] #1010 closed

[2017-01-20 06:49] ktechmidas opened #1011 "Aliases not working at all"
Hi Modoboa, I'm running Ubuntu 16.04 and I installed using the default installer https://github.com/modoboa/modoboa-installer yesterday. I'm all up and running now with admin@ktechmidas.net receiving email, but I have tried to add a catch-all which doesn't work (@ktechmidas.net alias pointing to admin@ktechmidas.net) then I tried to add a specific email doing the same (sales@ktechmidas.net pointin

[2017-01-20 08:04] tonioo commented on #1011
Hi,
try to delete the file `/var/lib/postfix/verify_cache.db` and to reload postfix, it should work.

[2017-01-22 19:03] nikaro commented on #624
@tonioo you can use a SPF policy agent (cf. https://help.ubuntu.com/community/Postfix/SPF).

[2017-01-23 02:49] ktechmidas commented on #1011
Hi, that worked! Thanks, you can close this now.

[2017-01-23 02:49] #1011 closed

[2017-01-23 05:58] axd commented on #990
@tonioo KVM

[2017-01-23 10:33] hadifarnoud opened #1012 "add mail server settings to PDF"
at this moment, only credentials are added into PDFs. can it has SMTP/IMAP server settings in there as well?

[2017-01-23 12:39] tonioo commented on #1012
@hadifarnoud Could you please move this issue to https://github.com/modoboa/modoboa-pdfcredentials?

[2017-01-23 12:45] tonioo commented on #990
I won't be able to reproduce your environment... Could you please try a fresh installation (new system) using the --debug switch and then send me the output?

[2017-01-23 12:50] tonioo commented on #624
@nikaro Thank you for the link. Maybe I'm wrong but I think [DMARC](https://dmarc.org/) would be a better answer in this case. What's your opinion?

[2017-01-23 14:36] nikaro commented on #624
DMARC checks can be done by OpenDMARC milter, but it seems to come in addition ton SPF and DKIM checks in the configuration i've seen on internet. But i don't know how they interface themselves with each others.

As i understand the things, a DMARC DNS record only enforce the policy to adopt regarding SPF and DKIM (and additionally specify a email address where to send reports).

[2017-01-23 14:55] tonioo commented on #624
Absolutely, you indicate other MTA how they should handle unauthenticated (SPF and DKIM) messages coming from your domain. That's a more general setup but I do agree it is not the same "side" of the problem.
Blocking traffic based on a local configuration and only because SPF might be a bit too restrictive from my point of view...

[2017-01-23 15:07] hadifarnoud commented on #1012
sure

[2017-01-23 15:07] #1012 closed

[2017-01-24 03:57] axd commented on #990
Sure thing, just give some time while I setup the entire enviroment.

[2017-01-24 13:19] tonioo commented on #990
Thank you.

[2017-01-25 13:32] Amzani commented on #980
@tonioo hmm i tried to add a @gmail.com adresse in the Alias section but i got this error message :
"Ce domain local n'existe pas", maybe i'm missing something.
![image](https://i.imgsafe.org/8a7e974d6e.png)

I'm using the Admin UI https://mydomain/admin/identities/
Thanks

[2017-01-25 13:40] tonioo commented on #980
@Amzani oups... Looks like forward creation is not allowed from this form. I'll fix that asap. As a workaround, just create the forward using the "New alias" button.

[2017-01-28 06:45] fpiccinali commented on #624
What about to provide a tool within the UI to check SPF records is present. (as in MX and DNSBL checks in Domains list)

Maybe check if they are properly configured could be more complicated.

[2017-01-28 07:06] fpiccinali opened #1013 "Reject mail with zip files"
What do you think about restrincting mail with malicious embeded files.

Most of ransomware are spread via zip files.

It could be useful to have this default configuration :

* In /etc/postfix/main.cf :
[code]

* In /etc/postfix/mime_header_checks.regexp
[code]

* We also need to remove `no_header_body_checks` in /etc/postfix/master.cf in line:
[code]

In modoboa config page, we could have a chec

[2017-01-28 07:38] csmk commented on #1013
IMHO, rejecting only by file extension it's not the smart way to deal with this kind of threat. As it can be easily bypassed. So this will only give a false sense of security.

This is also redundant, as it's already checked in a better way by Amavis/SA and/or ClamAV.

[2017-01-28 19:16] oconshaw commented on #990
I am having the exact same issue.  Fresh install on VM (xenserver) running CENTOS7 using the modoboa-installer.  In my case I am trying to install the modoboa-imap-migration extension.  I made sure that in the install.cfg file the "modoboa-amavis" extension is specified.  I am about to rerun the installation.  I will send you the debug output.

I also get the following error when running the setup

[2017-01-30 08:47] tonioo commented on #990
See my answer here: https://github.com/modoboa/modoboa-webmail/issues/55#issuecomment-275889698

[2017-01-31 10:58] fpiccinali commented on #1013
@csmk :
Rejecting by file extensions is less cpu intensive than antivirus.

I agree that amavis or clamav are better, but with the default configuration of modoboa some ransomware pass through the wall.

Do you have any tips for improving default conf ? Or a better filter than mime_header ?

[2017-01-31 15:33] tonioo commented on #1013
@fpiccinali I've recently tried an amavis configuration which seems to provide good results:
[code]
I think I'll include it to the default configuration deployed by the installer.

[2017-01-31 16:49] oconshaw commented on #990
Bump.  Any thoughts?

On Jan 30, 2017 2:47 AM, "Antoine Nguyen" <notifications@github.com> wrote:

[2017-02-01 00:21] qskousen opened #1014 "Dovecot Replication"
I am trying to set up Dovecot replication so I can run 2 mailservers as primary and backup, so a server hardware failure does not result in loss of email capabilities. Ideally both of them would be running Modoboa and an external IP will float between them as needed if one has downtime. Dovecot replication will work great to sync email both ways, so if one gets an email while the other is down, it

[2017-02-01 08:44] tonioo commented on #1014
Looks like vmail user can't access the socket used to retrieve user list. Open the `/etc/dovecot/conf.d/10-master.conf` and modify `auth-userdb` as follows:
[code]
Then reload dovecot.

[2017-02-01 09:13] tonioo commented on #624
@fpiccinali Yes, that's something I plan to add.

[2017-02-01 17:30] qskousen commented on #1014
Thanks, that worked!

[2017-02-01 17:30] #1014 closed

[2017-02-02 02:12] adeklanin commented on #1014
Hello @qskousen would mind share your configuration on how to do dovecot replication with modoboa? I mean like VPS setup, are you separate the DB? Or is there place where cloud start digging on this topic? For your consideration I'm new on mail server setup. Thanks

[2017-02-02 13:12] gawel opened #1015 "Weird get_request() is None"
Got this traceback (row mail from our production server):

[code]

We are using mod_wsgi without threads.

[2017-02-03 11:49] almereyda opened #1016 "Login with email alias fails"
From other mail systems, i.e. ISPConfig, I am used to the notion to be able to login to IMAPS and SMTPS also with alias addresses and/or domains. This is useful for migrations, where mailboxes don't need to swap messages and just append new domains.

This requires some fiddling with the postfix and dovecot SQL queries, I guess.

[2017-02-03 12:48] tonioo commented on #1016
Are you talking about SMTP/IMAP connections only? Or do you include the access to the web interface?

[2017-02-03 13:35] almereyda commented on #1016
I was implying, as authentication of it happened via IMAP, no?, access to
the web interface, too. Especially if it uses its own SQL queries, of
course.

On 3 February 2017 at 13:48, Antoine Nguyen <notifications@github.com>
wrote:

[2017-02-04 16:42] tonioo commented on #1016
Using a regular alias to authenticate requires a more complex query since we need to find the account to access the password but, that's the simplest case. The worst case concerns domain aliases since corresponding mailbox aliases does not exist into the database...

[2017-02-06 16:41] tonioo opened #1017 "Control DNS checks per domain"
Add the possibility to enable/disable DNS checks per domain.

[2017-02-07 09:42] ronaldotto opened #1019 "Top redirection does not work when a plugin is used"
The admin can generate a PDF with the user credentials.
The url in that PDF is http(s)://[hostname]/accounts/login/

After login, the user is redirected to a page that does not exist.

using http(s)://[hostname]/ works fine. It redirects the user to http(s)://[hostname]/accounts/login/?next=/ where the user can login and see his mailbox.

[2017-02-07 10:02] tonioo commented on #1019
This url should work. Do you have more information? How did you install Modoboa?

[2017-02-07 10:12] ronaldotto commented on #1019
We did a default installation.

After login, i'm redirected to https://[domain]/accounts/login/webmail
That it tries to push me to webmail is correct. That is the setting in the admin.
However, the url does not work.
Error: Sorry  The requested page does not exist.

https://[domain]/webmail/ should be the url i think?

[2017-02-07 10:22] tonioo commented on #1019
Indeed, there is something broken but this has nothing to do with this
plugin :)

I think the problem is located inside the core module. Can you move your
issue to the main repository please?

On 07/02/2017 11:12, ronaldotto wrote:

[2017-02-07 11:18] ronaldotto commented on #1019
i think it is already?

[2017-02-07 11:22] tonioo commented on #1019
Sorry... I thought you opened it inside the pdfcredentials repository :D

On 07/02/2017 12:18, ronaldotto wrote:

[2017-02-07 12:55] tonioo opened #1020 "Move global statistics to admin dashboard"
Remove the current page and move information to the dashboard.

[2017-02-07 13:17] #1020 closed

[2017-02-08 08:45] #1017 closed

[2017-02-08 09:19] tonioo opened #1023 "On-demand DNS check"
Add the possibility to launch DNS checks for a given domain directly from the web ui.

[2017-02-08 09:20] tonioo opened #1024 "Django 1.10 support"
Add support for Django 1.10

[2017-02-08 13:49] tonioo commented on #1019
@ronaldotto Issue has been fixed but it will be released with modoboa 1.7.0. It also concerns extensions so I must fix them too.

[2017-02-08 13:52] #1019 closed

[2017-02-08 13:53] tonioo commented on #1013
@fpiccinali Have you tried this config?

[2017-02-08 14:04] tonioo commented on #967
See https://github.com/modoboa/modoboa-installer/issues/98

[2017-02-10 00:27] WhereIsPedro opened #1025 "Sorry An internal error occured & no statistics images"
Hello,

I have upgraded two months ago my last modoboa 1.5  to 1.6.0 and today I have decidet to make an update to 1.6.3 but with no success. On main page:
Sorry An internal error occured.
I have found that I should upgrade plugins due to  core.User problem but this didn't solved problem :/

Also I would like to know where can be a problem that I don't have any statisticas (images). I saw that rrd

[2017-02-10 07:33] kryskool commented on #1016
Hi @almereyda

Alias can be share with more than one real user, how can we find teh real accoutn to use ?

Regards,

[2017-02-10 07:57] tonioo commented on #1025
@WhereIsPedro Please set DEBUG to True inside settings.py and reload uwsgi. You should then see a complete trace.
About rrdtool, can you check the rrdtool binary is installed on your system please?

[2017-02-10 08:15] kryskool commented on #805
The specification is defined on the RFC 5321

https://tools.ietf.org/html/rfc5321#section-4.5.3.1.1

[2017-02-10 08:41] kryskool commented on #1015
Hi @gawel

Which version of modoboa, apache ?

Regards,

[2017-02-13 13:33] yannfill commented on #1016
I agree, when a domain alias exists, i.e. example.net is an alias for example.com, user should be able to login to Dovecot and Postfix with either user@example.com or user@example.net.

For now, I must maintain a flat file with users@example.net credentials together with modoboa DB in Dovecot authentication process to address this issue.

[2017-02-14 17:23] tonioo opened #1030 "Add support for domain-level quota"
Add the possibility to define a domain-level quota (size) to distribute between mailboxes. This is a hard limit, the sum of all mailbox quotas cannot be greater than the domain quota.

[2017-02-14 18:16] oconshaw opened #1031 "Import domains and accounts"
Password problem on import of user accounts from csv file.
When I import accounts from a csv file there is a problem with authentication to webmail.

I will import a csv file and choose NOT to encrypt the password. The accounts get created OK.  I can login.  However, when I try to connect to webmail the password fails.  I think probably because it is trying to decrypt a password that is not encryp

[2017-02-14 18:28] oconshaw opened #1032 "Import domains and accounts: all disabled"
When I import via csv file domains and accounts -- I have enabled set to true, but on import they are all set to disabled.

# Impacted versions

* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx

[2017-02-14 19:45] oconshaw opened #1033 "webmail: move emails to folder?"
How does one move a message to a mail folder in webmail?
Also, I can see how to create and delete a new mailbox folder.  But, when I go to the server in /srv/vmail/user account/Maildir I can see that the folder is still there.

Does it eventually get deleted somehow?

Thanks.

# Impacted versions

* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx
# Steps to reproduce

# Current behavior

#

[2017-02-15 08:22] #1024 closed

[2017-02-15 08:24] tonioo commented on #1031
@oconshaw How did you create the CSV file?

About the password, is it already encrypted? What is its format in the file?

[2017-02-15 08:25] tonioo commented on #1032
Can you provide a sample of your CSV file please?

[2017-02-15 08:26] tonioo commented on #1033
@oconshaw Could you please move this issue to the appropriate repository? (https://github.com/modoboa/modoboa-webmail)

[2017-02-15 15:38] tonioo opened #1035 "Add support for reseller quota"
Add the possibility to assign a quota to a reseller. This value will be shared by the domains the reseller creates.

[2017-02-15 19:22] WhereIsPedro commented on #1025
Dear Tonioo,
Thank you for reply but from couple of days I was busy. Today I have made an upgrade again on development enviroment with success to 1.6.3 with working statistics. I think the problem was with old modules (pip install seciton) that and next: migrate collectstatic & restart

Thank you and you can close this thread
Peter

[2017-02-15 19:27] tonioo commented on #1025
Great, glad you fixed your issue.

[2017-02-15 19:27] #1025 closed

[2017-02-15 23:24] qskousen opened #1036 "No options in Relay Domains section"
* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install Modoboa and navigate to Relay Domains page.

# Current behavior
Relay Domains shows a single input to verify master.cf but no other options.

# Expected behavior
Modoboa should offer ability to configure relay domains.

# Video/Screenshot link (optional)
![2017-02-15-161720_1920x1048_scrot](https://cloud.github

[2017-02-16 13:19] tonioo opened #1038 "Allow forward creation from account form"
It should be possible to create a forward while creating a new account.

see #980

[2017-02-16 13:22] #1038 closed

[2017-02-16 13:26] tonioo commented on #980
@Amzani I realize my answer was wrong. When you create a new account, the alias section allows you to define one or more alias pointing to this account so they must be local. For example, you can't set a gmail.com address because you don't own the gmail.com domain. There is no bug here.

[2017-02-16 17:07] tonioo commented on #1032
@oconshaw The only values to tell something is enabled are True, 1, yes, y (case sensitive).

[2017-02-17 09:27] yannfill opened #1040 "Domain alias could be used for login"
When a domain alias exists, i.e. example.net is an alias for example.com, user should be able to login to Dovecot and Postfix with either user@example.com or user@example.net.

For now, I must maintain a flat file with users@example.net credentials - whereas users@example.com ones are stored in Modoboa DB - in Dovecot authentication process to address this issue.

[2017-02-21 18:42] #1033 closed

[2017-02-21 19:04] oconshaw commented on #1032
Here is an example:
account,test@abc.com,password123,,,TRUE,SimpleUsers,test@abc.com,0,abc.com

[2017-02-21 19:27] oconshaw opened #1045 "Changing Encryption Method"
How would you change the encryption used for passwords in Modoboa?  Or for that matter, disable it all together?  I realize disabling it would be considered a bad idea -- this wouldn't be in production.  I am just trying to understand how this works and how to change.  I usually start with no security and then add on from there until it breaks when trying to understand all the pieces. -- Thanks.

[2017-02-21 20:52] tonioo commented on #1032
Ok so replace TRUE by True and it will work.

[2017-02-21 20:55] tonioo commented on #1031
You need to specify the scheme used to crypt password. In your case, use the following prefix: `{PLAIN}password123`.

[2017-02-21 20:59] tonioo commented on #1045
There is a dedicated global parameter for that. Look at Modoboa > Parameters > General.

[2017-02-21 21:42] oconshaw commented on #1032
OK, I will give it a try.  Thanks!

[2017-02-21 22:52] qskousen commented on #1036
I had some mroe time to look into this and I understand my mistake now, and understand what relay domains are for, and that this is not what I am looking for. I still don't know what I can do to get the relayhost to work properly but clearly relay domains are not the way to go about that. Sorry for the confusion, I will close this issue.

[2017-02-21 22:52] #1036 closed

[2017-02-23 10:34] gawel commented on #1015
Just got this again today.

I'm using modoboa 1.6.3 and waitress as server.

[2017-02-23 10:41] gawel commented on #1015
It seems like current_user is only used to log the revision...

So I guess the action is done (not aborted by this error) but the user get a traceback.

I think this stuff should be more fault tolerant. eg: if get_request() is None then log as user "unknown"

[2017-02-24 00:02] pavinjosdev opened #1046 "Domain directory not deleted on filesystem"
* Modoboa: 1.6.3
* Installer used: Yes (stock install, no mods)
* Webserver: Nginx
* OS: Debian 8.7

# Steps to reproduce

1. Create domain
2. Create identity/email acc
3. Login to email acc
4. Delete domain

# Current behavior

**Domain/identities are deleted from admin panel, but the domain directory incl. identities are not deleted from the filesystem (even after successful/manual cron run).**

[2017-02-25 08:50] figassis commented on #891
Is it possible to support custom RSS feeds for non SuperUsers? This way SuperUsers could show their own feeds to other DomainAdmins and resellers.

Something like the code below could be added to modoboa/core/views/dashboard.py

`if not self.request.user.is_superuser:
            url = "https://medium.com/feed/bantumail"
        posts = feedparser.parse(
            url.format(lang))`

[2017-02-26 09:18] tonioo commented on #891
Indeed, it is an interesting feature. Could you please create a new
issue about this?

On 25/02/2017 09:50, Assis Ngolo wrote:

[2017-02-26 09:23] tonioo commented on #1015
The get_request() signal is used by other parts of the code but in this
case, it is just used to know the user performing the action.

The original trace you posted occured while creating a new account and
this action requires the current user to be authenticated... Could it be
a waitress issue?

On 23/02/2017 11:41, Gael Pasgrimaud wrote:

[2017-02-26 10:20] gawel commented on #1015
Yeah, maybe. I think it's more related to multithreaded servers.

https://github.com/modoboa/modoboa/blob/8db5eefc0cb924f2b86c4e3b8636ff00684ef708/modoboa/lib/middleware.py#L56

Since you use a singleton, what happens if a thread initialize a middleware (and didn't call process_request yet) but another thread is trying to access the request from the signal ?

Maybe creating a request_accessor by t

[2017-02-26 10:51] figassis opened #1047 "Allow SuperAdmins to set custom rss feed for DomainAdmins and Resellers"
# Impacted versions

* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
As a DomainAdmin, open the Modoboa Dashboard and see Mobodoa RSS Feed

# Current behavior
DomainAdmins and Resellers see the same Modoboa RSS feed as the SuperAdmin.

# Expected behavior
DomainAdmins and Resellers should see a custom RSS set by the SuperAdmin, while the SuperAdmin sees the Modoboa

[2017-02-26 10:52] figassis commented on #891
Done, see issue #1047

[2017-02-26 11:07] figassis commented on #855
Justo being curious, is there any progress here. I just stumbled on this problem when testing bulk imports, that I cannot bulk delete them. Also, I imported to an enabled domain and set the enabled column to TRUE on the CSV, but all identities are disabled, and I can't bulk enable them.

Will have to enable/delete over 200 items.

[2017-02-26 12:49] cerw opened #1048 "dovecot: dict(12777): Error: sql dict: commit failed: Field 'messages' doesn't have a default value"
# Impacted versions

* Modoboa: 1.6.3
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Getting this lots in logs?

[code]
 Random in mail.log

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

[2017-02-27 06:08] mlzummo opened #1049 "spam headers / filtering not working out of box"
* Modoboa: master
* installer used: Yes/No ? Yes
* Webserver: Nginx/Apache Nginx

# Steps to reproduce
     Install on clean debian 8.7 system
     install postwhite to get email(s) past postscreen - (postscreen config needs fixing)
     send message from gmail to system

# Current behavior
     (no X-SPAM headers)

# Expected behavior
     X-SPAM headers for email filtering

[2017-02-27 08:24] tonioo commented on #1048
What is your database?

On 26/02/2017 13:49, Petr Cervenka wrote:

[2017-02-27 08:26] tonioo commented on #1049
I'm not sure to understand your issue, could you please explain it a bit more?

[2017-02-27 08:29] tonioo commented on #855
Because my time to work on modoboa is limited...

On 26/02/2017 12:07, Assis Ngolo wrote:

[2017-02-27 11:14] figassis commented on #855
Got it, I'l see if I can tackle this...

[2017-02-27 12:56] adeklanin commented on #855
@figassis you could check this [comment](https://github.com/modoboa/modoboa/issues/1032#issuecomment-280393342) for enabling account

[2017-02-27 16:13] mlzummo commented on #1049
@tonioo basically the spam filtering doesn't seem to be working ... I would expect X-SPAM-STATUS filters to be placed in the headers and then those are used to mark spam and filter into the spam folder (instead of just instant reject) (and perhaps sent to quarentene which i didnt see happening either) ... also postscreen seems to be set a bit to high and almost no email can come in without a white

[2017-02-28 08:05] tonioo commented on #1049
The X-SPAM header is not added to every message processed by the filter.
Only messages with a score greater than a first limit will be tagged and
messages with a score even greater will be rejected or quarantined
according to amavis configuration.

About postscreen, gmail and outlook indeed cause troubles these days and
get rejected by postscreen. postwhite looks like a good fix but I'd like
more

[2017-02-28 11:02] janvalo opened #1051 "DNSBL Notifications ignore allowed domains for Domain Admins"
* Modoboa: 1.6.2
* installer used: Yes
* Webserver: Nginx

Earlier today our Domain Admins reported emails regarding DNSBL:

[code]
After checking the dnsbl-3.uceprotect.net, our IP is not listed (false alarm due to flagged IP range).
I understand that this would be normal behaviour (the notification bit), however every Domain Admin user received these messages for all the domains currently presen

[2017-02-28 11:22] gawel commented on #1051
No, but you can send mails to a specified address. I'm using this crontab instead of the default one:

[code]

[2017-02-28 16:25] mlzummo commented on #1049
http://blog.dmitryleskov.com/small-hacks/forcing-spamassassin-to-add-the-x-spam-status-header-to-ham-for-debugging/

$final_spam_destiny = D_PASS;

http://www.dataparadis.net/osp/gnu-linux-server/mail-server/securing-mail-server-with-spamassassin-amavis-postgrey-and-clam-av/

[2017-02-28 16:26] mlzummo commented on #1049
@tonioo postscreen blocks gmail as well. (i think what im going to do here is do a pull request with some suggested out of box changes and some configs from mailcow

[2017-02-28 16:28] tonioo commented on #1049
@mlzummo Would be nice but you're not on right repository, please check https://github.com/modoboa/modoboa-installer.

[2017-02-28 17:30] mlzummo opened #1052 "MailBox Glitch"
![image](https://cloud.githubusercontent.com/assets/1057527/23416668/bba7841c-fdb1-11e6-8515-a0f3141241cd.png)

[2017-02-28 17:31] mlzummo commented on #1052
not sure why this is happening seems to be getting worse?

[2017-02-28 17:46] tonioo commented on #1052
@mlzummo sorry but I can't see your image.

[2017-02-28 19:27] mlzummo commented on #1052
link: https://cloud.githubusercontent.com/assets/1057527/23416668/bba7841c-fdb1-11e6-8515-a0f3141241cd.png

[2017-02-28 22:00] tonioo commented on #1052
Ok. Can you describe the actions you made to get this result please?

[2017-03-01 20:24] mzummo opened #1053 "how to check total size of email messages (so as to not run out of space) and quota usage per domain/mailboxa"
how to check total size of email messages (so as to not run out of space) and quota usage per domain/mailboxa

[2017-03-01 22:58] almereyda commented on #1016
Indeed, I have never thought of a use case where multiple mailboxes share an alias.
Additionally, I have checked ISPConfig again and the alias login stemmed from my imagination and does not actually work.

Therefore this probably `won't fix` and cannot be a core functionality. Implementations of patches to this circumstance need to be pluggable to core, then.

[2017-03-01 23:00] almereyda opened #1054 "This organization has no public members."
The GitHub community around the Modoboa organisation is currently empty.

It could be nice to see a group of maintainers there. Each of them needs to set their visibility manually, though.

[2017-03-02 07:45] tonioo commented on #1054
Done for me, didn't know it was not public.

[2017-03-02 07:47] tonioo commented on #1016
@almereyda Maybe we could restrict this functionality to domain aliases (https://github.com/modoboa/modoboa/issues/1040)?

[2017-03-02 08:11] #1046 closed

[2017-03-02 08:11] #1030 closed

[2017-03-02 08:11] #1035 closed

[2017-03-02 10:06] #1015 closed

[2017-03-02 10:08] tonioo commented on #1048
@cerw ping

[2017-03-02 10:08] tonioo commented on #1045
@oconshaw Have you found it?

[2017-03-02 10:44] tonioo commented on #1051
@janvalo That's strange because, checking the code, notification for 1 domain should be only sent to its administrators... Can you describe your context a bit more please?

[2017-03-02 10:47] tonioo commented on #1053
@mlzummo Currently, the only way to have a global overview of quota usage per mailbox is through the Identities > List quotas page.

[2017-03-02 10:48] tonioo commented on #1031
@oconshaw Have you tried again?

[2017-03-02 10:49] tonioo commented on #1032
@oconshaw ping

[2017-03-03 08:28] yannfill commented on #1040
@almereyda Dovecot can use a password file for authentication via `/etc/dovecot/conf.d/auth-passwdfile.conf.ext`, uncommented in `/etc/dovecot/conf.d/10-auth.conf`. Its format is described in http://wiki2.dovecot.org/AuthDatabase/PasswdFile.

I have configure Postfix to use Dovecot for authentication: http://wiki2.dovecot.org/HowTo/PostfixAndDovecotSASL.

[2017-03-03 20:24] pavinjosdev commented on #1046
@tonioo Modoboa logs showing CRITICAL `error: delete failed (reason: (exceptions.OSError>, OSError(2, No such file or directory), ))`

On deleting domain, the domain's accounts are all deleted but not the domain's empty directory itself.

Dir permissions:
`drwx------  3 vmail vmail 4096 Mar  3 20:36 cheapmailhosting.com`

[2017-03-03 21:23] tonioo commented on #1046
@pavinjosdev The domain directory is not removed, this is "normal". What about the CRITICAL error? What was the deleted object?

[2017-03-03 21:36] pavinjosdev commented on #1046
![mod1](https://cloud.githubusercontent.com/assets/11430516/23569810/9a772358-0061-11e7-853c-ce0cdaf21963.PNG)

The issue seems to have corrected itself after I deleted the domain and its directory (domain was present before upgrade) and created same one again.

[2017-03-04 15:07] pavinjosdev commented on #1046
On a fresh install it seems when deleting the domain it does not delete the accounts.

[2017-03-04 15:14] pavinjosdev commented on #1046
On a fresh install of 1.7.0 using installer, Modoboa is not deleting the accounts from admin panel. Mailbox dir was successfully deleted from filesystem though.

Circled in red is me removing the User from admin panel manually after deleting the whole domain from admin panel.

![mod2](https://cloud.githubusercontent.com/assets/11430516/23579795/6f0cc8d2-00f5-11e7-963c-f748ba9e90ef.PNG)
![mod3](htt

[2017-03-06 13:22] yannfill opened #1059 "Random internal errors after upgrading to 1.7.0"
# Impacted versions

* Modoboa: 1.7.0
* installer used: No
* Webserver: Apache

After upgrading Modoboa to 1.7.0 and following the specific instructions at http://modoboa.readthedocs.io/en/latest/upgrade.html I encounter random red popup saying "Sorry an internal error has occurred" and a blank page, or sometimes the interface is displayed without data and a "internal error" red popup.

I can some

[2017-03-06 13:29] tonioo commented on #1059
I think your problems are related to this: https://github.com/modoboa/modoboa/pull/1058. Could you try to apply this patch please?

[2017-03-06 14:04] yannfill commented on #1059
Yes, everything is working again after applying the patch. Thank you.

Any clue about the cffi warning? Should I upgrade all pip packages?

[2017-03-06 14:17] tonioo commented on #1059
No, never seen this issue before.

On 06/03/2017 15:04, Yannick Fillatrau wrote:

[2017-03-06 15:32] mlzummo commented on #906
@tonioo I am getting this error as well now with a freshinstall as of this morning

[2017-03-06 15:34] tonioo commented on #906
@mlzummo can you provide more information?

[2017-03-06 15:35] mlzummo commented on #906
@tonioo do you have an IM client we can chat on for a sec (gchat)?

[2017-03-06 15:35] mlzummo commented on #906
also cant send mail (so im guessing this is a hard auth issue)

[2017-03-06 15:36] tonioo commented on #906
XMPP (tonio@ngyn.org)

[2017-03-06 16:52] mlzummo commented on #906
@tonioo roundcubemail login is fine (not sure how to debug the modoboa-webmail for this)

[2017-03-06 17:09] mlzummo opened #1060 "quarantine not working on MYSQL DB"
nothing shows in quarantine

[2017-03-06 17:20] mlzummo commented on #1060
could this also be related to the auth issue?

[2017-03-07 10:56] yannfill commented on #1059
Problem solved, I had upgraded gevent to 1.2.1 but Modoboa requires ==1.1.1

I have downgraded and recompiled gevent==1.1.1 and the error is gone.

[2017-03-07 13:30] tonioo opened #1061 "Secret key not set after fresh install"
# Impacted versions
* Modoboa: 1.7.0

The secret key is not set by the load_initial_data command and it leads to authentication issues with webmail and quarantine.

[2017-03-07 13:31] tonioo commented on #1060
Real issue is #1061.

[2017-03-07 13:31] #1060 closed

[2017-03-07 13:43] #1061 closed

[2017-03-07 14:03] #1059 closed

[2017-03-07 14:49] tonioo commented on #1051
@janvalo ping

[2017-03-07 14:51] mlzummo opened #1064 "add process_limit for imap-login"
had issues with approx 30 people loging into the system (roundcubemail) ... added this setting

dovecot.conf:

service imap-login {
  process_limit = 256
}

[2017-03-07 15:06] tonioo commented on #1064
Could you move this issue to the modoboa-installer repository please?

[2017-03-07 15:14] #1064 closed

[2017-03-07 15:19] #1052 closed

[2017-03-07 15:29] #1049 closed

[2017-03-08 09:32] janvalo commented on #1051
@tonioo I had a closer look at the emails and noticed that only domains that did not have any domain administrator assigned were being sent to all of our Domain Admin users. The issue was resolved by assigning a general Domain Admin to those accounts. Is there a possibility to assign Domain Administrator privileges to Super Admins, so they would receive notifications for domains that do not have D

[2017-03-08 11:22] tonioo commented on #1051
@janvalo Have you tried with a newer version of Modoboa?

[2017-03-08 11:48] janvalo commented on #1051
@tonioo Not yet. I will give it a try tonight.

[2017-03-08 11:53] awein opened #1065 "cleanlogs command is broken with 1.7.x"
# Impacted versions

* Modoboa: 1.7.x

# Steps to reproduce
Run `manage.py cleanlogs`

# Current behavior
[code]
# Expected behavior
Should not crash

[2017-03-08 14:14] yannfill opened #1066 "cleanlogs cron job error"
* Modoboa: 1.7.0
* installer used: No
* Webserver: Apache

Since update to 1.7.0 the cron job `$PYTHON $INSTANCE/manage.py cleanlogs` fails with this error:
[code]

[2017-03-08 14:31] yannfill commented on #1066
Duplicate of #1065

[2017-03-08 14:31] #1066 closed

[2017-03-08 15:24] mlzummo opened #1067 "(potential issue) - account removal deletes email"
deleting an account deletes all mail associated with account (even when not selected to do so)

(need to confirm this with user having this issue)

[2017-03-08 15:32] mlzummo commented on #1067
simple mistake non issue nvm

[2017-03-08 15:32] #1067 closed

[2017-03-08 15:55] #1065 closed

[2017-03-09 18:00] mlzummo opened #1069 "Feature: quarantine integration into rspamd"
Feature: quarantine integration into rspamd

[2017-03-09 21:10] tonioo commented on #1069
This issue was moved to modoboa/modoboa-amavis#50

[2017-03-09 21:10] #1069 closed

[2017-03-10 08:50] tonioo opened #1070 "New widget to display features to sponsor"
Add a new widget to the admin dashboard which displays the features currently looking for sponsoring.

[2017-03-10 09:09] #1070 closed

[2017-03-10 10:50] #1047 closed

[2017-03-10 23:11] Exiver opened #1073 "Relaying - Recipient verification leaks destination mailbox host"
# Impacted versions

* Modoboa: 1.7.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

1. Create "relay" domain and enable recipient verification
2. Send E-Mail to a non-existent user
3. Receive DNS-message

# Current behavior

- Rejecting message includes host/ip of destinations mailbox server

# Expected behavior

- Rejecting message just says that recipient could not be found

#

[2017-03-11 08:39] tonioo commented on #1073
@Exiver That's a good question and to be honest, I don't know the answer. Maybe you could ask on postfix mailing list?

[2017-03-11 11:46] Exiver commented on #1073
@tonioo Thank you for your answer. I guess it was a little bit late yesterday when i ran into this problem. When i digged a little bit in postfix' documentation i found a solution (http://www.postfix.org/ADDRESS_VERIFICATION_README.html):

The parameter
`unverified_recipient_reject_reason = Mailbox not available. Did you misspell the address?`
can be used to set a custom message postfix will promp

[2017-03-11 11:46] #1073 closed

[2017-03-11 11:59] tonioo commented on #1073
@Exiver Great :)

[2017-03-13 20:11] mlzummo opened #1074 "Auto Reply Error & bounce email"
Sent: March 13, 2017 4:06 PM
Subject: Undelivered Mail Returned to Sender
This is the mail system at host mx-1.example.com.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text from the attached

[2017-03-14 08:00] cmdtstof commented on #990
hi all
with modoboa 1.6.1
i tried an upgrad (in dev environment luckily :-) )

as in this thread suggested i removed "from modoboa_amavis.settings import" from settings.py (in /srv/modoboa/instance/instance/settings.py)

pip install --upgrade modoboa >>> works fine

python manage.py syncdb --migrate >>> produces again

`Traceback (most recent call last):
  File "manage.py", line 10, in <module>

[2017-03-14 08:11] tonioo commented on #990
@cmdtstof `pip install --upgrade modoboa` is not the way to go. As the documentation says, you should specify the version you want to install instead (http://modoboa.readthedocs.io/en/latest/upgrade.html).

About amavis, why do you want to remove it if you are using it? If you really want to, don't forget to update MODOBOA_APPS also.

[2017-03-14 09:39] cmdtstof commented on #990
sorry, got an old link to the docu.

maybe in docu "you should specify the version you want to install instead" or "where <VERSION> is the modoboa version which should be installed"
should be added?
(sorry, i'm bit lazy to send you a patch)

will try...
thanks

[2017-03-14 10:45] cmdtstof commented on #990
no chance!
pip install modoboa==1.7.1 >>> ok
python manage.py migrate >>> ImportError: No module named modoboa_amavis.settings

amavis fronted is installed with v1.0.10.
i did remove it from settings.py because it was suggested on top of this thread.

can i provide some more info?
thanks

[2017-03-15 09:14] mkkeck opened #1075 "Update to v.1.7.x failed"
## Impacted versions

+ OS: Centos 7.3
+ Modoboa: 1.6.1 / 1.7.x
+ Installer used:
  - Modoboa v1.6.1 installed via installer (some weeks ago)
  - Attempt to update to v.1.7.x descriped [here](http://modoboa.readthedocs.io/en/latest/upgrade.html#id2)
+ Webserver: Apache (PHP-FPM, mod_uwsgi)

## Steps to reproduce
[code]

## Current behavior
[code]

[2017-03-15 09:16] tonioo commented on #1075
Actually, you forgot to upgrade modoboa itself... Have you tried to run this:
[code]
Instead of trying to upgrade each dependency manually?

[2017-03-15 09:27] mkkeck commented on #1075
I've not tried:
`$ pip install modoboa==1.7.1`

Does this not replace all my postfix and/or other mail server related configs?

[2017-03-15 09:27] tonioo commented on #1075
No, it only upgrades python packages.

[2017-03-15 09:28] mkkeck commented on #1075
Ok ... then I will try
... and post results or close this issue
Perhabs ... the documentation may be not clear enough?

[2017-03-15 10:15] mkkeck commented on #1075
**Step 1**
[code]

**Step 2**
Follow the [upgrade guide for 1.7.x](http://modoboa.readthedocs.io/en/1.7.1/upgrade.html#id2)

**Step 3**
Follow the [upgrade extensions guide](http://modoboa.readthedocs.io/en/1.7.1/upgrade.html#extensions)

**Step 4**
+ `> python manage.py generate_postfix_maps --destdir <path> --force-overwrite`
+ restart postfix service

**Many thanks** to Modoboa and Tonioo for h

[2017-03-15 10:15] #1075 closed

[2017-03-15 10:38] tonioo opened #1076 "Include django-ckeditor."
Include django-ckeditor to provide rich text edition.

[2017-03-15 10:49] #1076 closed

[2017-03-15 17:37] tonioo commented on #1074
This issue was moved to modoboa/modoboa-postfix-autoreply#39

[2017-03-15 17:37] #1074 closed

[2017-03-16 09:39] tonioo commented on #990
@cmdtstof You also need to update the amavis plugin.

Can you paste your settings.py file somewhere?

[2017-03-16 10:32] tonioo opened #1078 "Upgrade djangorestframework to 3.6"
This version brings interesting enhancements and a new documentation engine (http://www.django-rest-framework.org/topics/3.6-announcement/).

[2017-03-16 16:23] #1078 closed

[2017-03-17 09:57] tonioo commented on #1051
@janvalo ping

[2017-03-17 09:58] tonioo commented on #1013
@fpiccinali Can I close this issue?

[2017-03-17 10:55] #953 closed

[2017-03-17 13:14] PeterBocan opened #1080 "Bad request (HTTP 400)"
# Impacted versions
Latest (using Installer)

* Modoboa: latest
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Installed Modoboa using installer. I ran ```./run.py mail.pbocan.net``` which was bad (it has prepended the mail part again) so I had to fix some duplicates in NGINX configuration (already had SSL set up) after that, I had to fix the names of the subdomain and so on.

I kn

[2017-03-17 13:45] PeterBocan commented on #1080
Can I/Should I rerun the installer?

[2017-03-17 14:41] tonioo commented on #1080
@PeterBocan When did you run the installer?

[2017-03-17 14:42] PeterBocan commented on #1080
today.

[2017-03-17 14:44] tonioo commented on #1080
Ok, so now the right way to run the installer is:
[code]
Please try to run the installer once again.

[2017-03-17 14:47] tonioo commented on #1080
yes, add default values are 'password'.

[2017-03-17 15:18] PeterBocan commented on #1080
Okay, now I get Internal Server Error. Do I need to create mysql user manually? And/or what should I check?

[2017-03-17 16:11] tonioo commented on #1080
No, it should be created by the installer. Can you set DEBUG to True inside /srv/modoboa/instance/instance/settings.py, reload uwsgi and retry please?

[2017-03-17 16:52] PeterBocan commented on #1080
now I can't even load webpage. ERR_CONNECTION_RESET or ERR_CONNECTION_CLOSED. Dammit.

[2017-03-18 11:03] mkkeck opened #1081 "Some things wrong after update to 1.7.2"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes
* Webserver: Apache (PHP-FPM, mod_wsgi, mod_security)
* OS: Centos 7.3

# Steps to reproduce
Update from version 1.7.1 to 1.7.2 (see [docs](http://modoboa.readthedocs.io/en/1.7.2/upgrade.html))

# Current behavior
* After login dashboard throws error
* Loading any page is some times very slow (timeout)
* Uploading images via CKEditor does

[2017-03-20 08:26] tonioo commented on #1081
@mkkeck About the trace you sent, can you check which version of ``requests`` is installed on your virtualenv please?

[2017-03-20 10:51] mkkeck commented on #1081
I've typed in my shell:
[code]

[code]

[2017-03-20 11:30] mkkeck commented on #1081
Now it works:

[code]

[code]

Login ...
... and the Dashboard is available
Upload to the server works via CKEditor too. But how can I configure the spellchecker?

[2017-03-20 16:31] tonioo commented on #1081
Two possibilities:
* Enable CKeditor [SCAYT](http://ckeditor.com/addon/scayt) plugin: add `'Scayt'` to `CKEDITOR_CONFIGS` inside settings.py (just after `SpellChecking`)
* Enable browser native support: add `'disableNativeSpellChecker': False` to `CKEDITOR_CONFIGS` inside settings.py

[2017-03-20 17:59] mkkeck commented on #1081
**@tonioo:**

Many thanks :+1:  it works! (I prefer the `native spell checker` instead of `Scayt`)
So I close this Issue ...

[2017-03-20 17:59] #1081 closed

[2017-03-20 18:16] janvalo commented on #1051
@tonioo apologies for the delay, I managed to upgrade to version 1.7.0 All seems to be working without any problems. Thanks for your help.

I was wondering if there is a way for the superadmins to send custom messages/notification to users or specified user groups?

[2017-03-21 08:23] tonioo commented on #1051
@janvalo Great but please use 1.7.2, 1.7.0 contains bugs.

There is no such feature at the moment. Someone already asked for something similar (see #961), does it correspond to your need?

[2017-03-21 08:31] tonioo commented on #1080
@PeterBocan Is your problem fixed now?

[2017-03-21 11:28] PeterBocan commented on #1080
No, I haven't solved it yet. I may install the certificate as a root at first time and then I hope it will renew the certificate by itself.

[2017-03-22 15:42] janvalo commented on #1051
@tonioo Thanks, will update to 1.7.2

Yes, that feature would be in the scope of functionality that I am looking for, maybe with ability to create email templates and simple scheduler for sending these emails would be great. Any plans to add such functionality in the foreseeable future?

[2017-03-26 09:41] figassis opened #1082 "API DELETE method fails on domains and accounts"
# Impacted versions

* Modoboa: 1.7.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
1. Generate API Token form modoboa user settings
2. Configure Postman with "Authorization: Token <token>" header
3. Send DELETE request to {domain}/api/v1/accounts/{id} or {domain}/api/v1/domains/{id}

# Current behavior
A 200 response code is returned along with full json of object to DELETE
A GET

[2017-03-26 09:53] figassis commented on #1013
@tonioo, in which file under /etc/amavis should I add this configuration?

[2017-03-26 10:34] Vlku272 opened #1083 "Is it possible to set this up with a DDNS from No-IP? If so How?"
* Modoboa: Dunno, Latest. Installed 26/03/17
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Install Modoboa with a server using Dynamic DNS

# Current behavior
Can't access site as mail.domain was attached to an address that just redirects to constantly changing IP.

# Expected behavior
Sorta hoped it would add itself like domain/mail and have it redirect to another port to the ap

[2017-03-26 16:16] tonioo opened #1084 "Add support for plugins API urls"
Automatically include plugins API urls if available.

[2017-03-26 18:20] #1084 closed

[2017-03-27 12:43] #1013 closed

[2017-03-27 12:54] tonioo commented on #1051
@janvalo Nothing defined yet but it could be interesting. Do you plan to use Modoboa for marketing campaigns? :smile:

[2017-03-28 06:10] kryskool opened #1086 "modo check_mx timezone problem"
# Impacted versions

* Modoboa: 1.6.2
* installer used: No
* Webserver: Nginx

# Steps to reproduce

This week end in France We switched from winter time to summer time, but it seem between the switch, the date 2017-03-26 02:30:01.875287 must be valid.

# Current behavior

$PYTHON $INSTANCE/manage.py modo check_mx
See traceback below

# Expected behavior

No erreor must be appear

# Traceback
[cod

[2017-03-28 08:52] tonioo commented on #1082
A DELETE request should return a 204 code on success, not 200... Have you checked the response payload?

[2017-03-28 08:54] figassis commented on #1082
Yes, it's a the full json object of the resource I attempted to DELETE

Assis Ngolo
CEO, Nellcorp

On Mar 28, 2017, 9:52 AM +0100, Antoine Nguyen <notifications@github.com>, wrote:

[2017-03-28 08:55] tonioo commented on #1082
Have you tried with something else than postman?

[2017-03-28 08:58] tonioo commented on #1083
You could look at no-ip documentation: http://www.noip.com/support/knowledgebase/can-i-run-an-email-server-using-a-free-no-ip-hostname/ ?

[2017-03-28 15:42] janvalo commented on #1051
@tonioo Nope, just for small volume email /internal notifications to our users.

[2017-03-29 07:48] tonioo commented on #1051
@janvalo Ok. I close this issue since the original problem looks solved.

[2017-03-29 07:48] #1051 closed

[2017-03-29 12:22] reivilob opened #1087 "import users not active"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce
Import users from CSV  with actice at TRUE
account;annecy@remicom.com;njhsfjh7;;;TRUE;SimpleUsers;annecy@remicom.com;1000;

# Current behavior
Users created but inactive

# Expected behavior
User created but active

# Video/Screenshot link (optional)

[2017-03-29 12:24] reivilob opened #1088 "import user with uppercase problem"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce
Import users from CSV file with some uppercase in the username:
account;ZG-LU-AG@remicom.com;pfdsgfR5Y;;;TRUE;SimpleUsers;ZG-LU-AG@remicom.com;1000;
# Current behavior
Account created but not possible to edit and save modifications

# Expected behavior

# Video/Screenshot link (optional

[2017-03-29 13:38] tonioo commented on #1087
Supported values for this field are: True, 1, yes, y.

[2017-03-29 13:42] tonioo commented on #1088
Sorry but I can't reproduce this issue. Can you give more information please?

[2017-03-29 14:31] reivilob commented on #1088
Bonjour Antoine

si je cree le user a la main pas de probleme (il converti
automatiquement la majuscule en creant le compte)

mais si j'importe ce fichier

account;Test3@elise.ch;ahsgf15;;;True;SimpleUsers;Test3@elise.ch;1000;

le compte apparait bien dans la liste avec la majuscule à Test et si
j’édite, le compte pour par exemple changer le mot de passe, le bouton
Metrte a jour n'a aucun effet et

[2017-03-29 14:32] reivilob commented on #1087
Hello

Pas cool car quand on exporte le TRUE est en majuscule, mais à l'import
il doit être True (seulement la première lettre en majuscule) ...

Meilleures salutations
Olivier Bourgeois

Le 29.03.2017 à 15:38, Antoine Nguyen a écrit :

--
Meilleures salutations
Olivier Bourgeois

Fastnet SA                         http://www.fastnet.ch
Rue des Jordils 40
1025 St Sulpice (Switzerland)
tel: +41 21

[2017-03-29 15:30] tonioo commented on #1088
Have you tried to reproduce this issue on the official [demo](https://demo.modoboa.org/)?

[2017-03-29 15:31] tonioo commented on #1087
Sorry but I just tried on the official demo and I don't see any TRUE in the resulting file...

[2017-03-29 15:46] reivilob commented on #1087
Really sorry

i try again and see that the uppercase of True was added by Excel when
importing the CSV file into it ...

To avoid this possible manipultion issue it could be a good idea to
detect and convert TRUE into True in the import processing

Best regards
Olivier Bourgeois

Le 29.03.2017 à 17:31, Antoine Nguyen a écrit :

--
Meilleures salutations
Olivier Bourgeois

Fastnet SA

[2017-03-29 15:50] reivilob commented on #1088
Hi

on the demo site a receive this error:

Failed to retrieve mailbox location (userdb lookup: user
Test3@demo.local doesn't exist )

when i try to edit and save it

Best regards
Olivier Bourgeois

Le 29.03.2017 à 17:30, Antoine Nguyen a écrit :

--
Meilleures salutations
Olivier Bourgeois

Fastnet SA                         http://www.fastnet.ch
Rue des Jordils 40
1025 St Sulpice (Switzerland)
t

[2017-03-29 17:12] tonioo commented on #1087
Indeed, I can add something to convert values.

[2017-03-30 06:28] dennyhalim opened #1089 "email archiving"
can you please add email archiving feature?
something similar to this: https://github.com/andryyy/mailcow/wiki/Archiving-mail

thank you.

[2017-03-30 08:15] reivilob commented on #1087
Thanks a lot ...
Nice product

[2017-03-31 07:42] figassis commented on #1082
Sorry for the late reply. No, I haven't tried with anything else.

[2017-03-31 20:38] ktsmokolyuk opened #1090 "Failed to retrieve mailbox location"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes
* Webserver: Nginx

Hi There,

Could you please assist. Recently I have installed the new version of modoboa 1.7.2
But what's strange, I can't remove any mail accounts, that I created earlier

I see this message on top:

**Failed to retrieve mailbox location (sudo: no tty present and no askpass program specified )**

[2017-04-01 21:58] Xervia commented on #1080
I have the same problem, I did no changes to the installer settings and I just ran `./run.py mysite.com`, I get a ERR_CONNECTION_CLOSED

[2017-04-01 22:00] PeterBocan commented on #1080
You most likely don't have SSL certs.

[2017-04-01 22:10] Xervia commented on #1080
@PeterBocan No the certs are there and ok

[2017-04-02 03:34] Xervia commented on #1080
Fixed by me, I had wrong permissions on the uwsgi socket and forgot to add the reverse entry in the /etc/hosts `121.21.xx.xx   mail.pbocan.net`

[2017-04-03 08:50] abmiller99 opened #1091 "Upgrading from 1.6.0 to 1.7.2"
I have a stable Modoboa install v 1.6.0 (on Debian 8/Jessie)

Question about upgrading: Is it proper to upgrade directly to 1.7.2 (from 1.6.0) or to incrementally upgrade? i.e. first upgrade to 1.6.1, then 1.7.0, etc... Could not find answer to this by searching.

I have attempted to upgrade both ways, unfortunately I keep having to restore to 1.6.0 because my upgraded Modoboa runs but with critic

[2017-04-03 09:13] gawel commented on #1091
Hi,

It's probable safer to follow versions with specific migration steps listed here http://modoboa.readthedocs.io/en/latest/upgrade.html

[2017-04-03 10:51] ktsmokolyuk commented on #1090
**Fixed**
There was no sudo file **/etc/sudoers.d/modoboa**:
[code]

[2017-04-03 10:51] #1090 closed

[2017-04-03 11:22] tonioo commented on #1082
@figassis Could you please try with something else (curl or similar)?

[2017-04-03 12:07] tonioo commented on #1089
@dennyhalim That's more a postfix feature than a modoboa one. You can achieve quick archiving using the `always_bcc` option.

[2017-04-03 12:12] tonioo commented on #1087
@reivilob Done, will be available with the next release.

[2017-04-03 12:12] #1087 closed

[2017-04-06 09:03] yannfill opened #1093 "Config option to disable widgets"
* Modoboa: 1.7.2
* installer used: No
* Webserver: Apache

How to completely disable widgets in admin view ? Not displaying any RSS feed and sponsor widget ?

[2017-04-07 19:43] tonioo commented on #1093
It is currently not possible to disable those widgets.

[2017-04-08 12:03] almereyda commented on #1091
I am usually jumping from the last installed version to the current version and make sure migrations are applied. An incremental log of such a procedure for a deployment environment can be found in https://github.com/modoboa/modoboa-installer/issues/39

`settings.py` is then also up to date, as it is being removed and recreated by the installer.

[2017-04-08 12:04] almereyda opened #1094 "Docs : Ways of contribution"
The [How to contribute](https://modoboa.readthedocs.io/en/latest/contributing.html) page in the documentation is very rough and currently focusses on developers. Hence there are other forms of contributors, as bug reporters, translators, users or providers, they could be directed more appropriately to

* https://www.transifex.com/tonio/modoboa/ (found via https://github.com/modoboa/modoboa-install

[2017-04-11 12:55] tonioo commented on #1094
@almereyda As suggested by @gawel, I fixed the CONTRIBUTING.rst template.
About your request, all the information you're talking about is already available on the official website: https://modoboa.org/en/.
Are you suggesting this site is not clear enough or is not the right way to communicate?

[2017-04-12 06:12] traverseda opened #1095 "./manage.py load_initial_data crashes"
# Impacted versions

* Modoboa: 1.7.2
* Amavis frontend: 1.1.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Run the `./manage.py load_initial_data` command

# Current behavior

[code]

[2017-04-13 08:37] #1095 closed

[2017-04-13 19:35] schneidermayer commented on #768
Got the same issue, fixed it with setting proper permissions for the webserver and see if the lock file is writeable:

chmod 777 /run/uwsgi/app/socket
chown -R /srv/modoboa

Caution, the chown is way too lose. If it works you may wanna specify file ownage in detail.

[2017-04-14 01:02] schneidermayer opened #1096 "Prevent special chars in user’s name"
When giving a user an full name that contains  a char like `!` the email will get blocked by gmail and other hosts because of duplicate adress entries that aren’t matching.

**Suggestion:** Only allow [a-zA-Z0-9 ] for the first name and last name fields. Maybe some names contain utf chars like `è`. In that case you could just block the special chars.

[2017-04-15 00:01] stalks opened #1097 "SMTP Auth -- NameError at /accounts/login/"
# Impacted versions

* Modoboa: 1.7.2
* installer used: No
* Webserver: Apache

# Steps to reproduce

Fresh install using pip,, uncomment smtp auth backend options in settings.py
No extensions
Login via SMTP user

# Current behavior
Successfully logs into SMTP service: 235 Authentication succeeded
Stacktrace

# Expected behavior
New User and Login

# Trace
[code]

[2017-04-15 08:54] stalks commented on #1080
FYI this also occurs if you mispell the hostname during "deploy" command

[2017-04-15 10:23] stalks opened #1098 "Unable to add new relay domain post amavis extension installation"
# Impacted versions

* Modoboa: 1.7.2
* installer used: No
* Webserver: Apache

# Steps to reproduce
Create new relay domain

# Current behavior
Stacktrace

# Expected behavior
New relay domain

# Notes
I have added the amavis extension, created tables, setup amavis. Mails are being placed into SQL correctly by amavis.
I now want to add a domain to the modoboa system, however I get stacktrace as f

[2017-04-17 11:59] msenebald opened #1100 "security issue: domain administrators permissions"
# Impacted versions

* Modoboa:  1.7.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Account with domainadmin rights
accountname: domainadmin@example.com
permissions for domain: subdomain.example.com
resource: mailbox aliases >0

# Current behavior
Domainadmin@example.com
- can edit his own identiy like an admin
- can add aliases for any domain (even when not listed, but available

[2017-04-19 12:13] mundschenk-at commented on #618
I assume he means 2-factor authentication with TOTP ([time-based one-time passwords](https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm)).

[2017-04-19 12:14] mundschenk-at commented on #617
I'd be interested as well. oAuth is used to authenticate with a different service, though, no?

[2017-04-19 19:01] tonioo commented on #617
@mundschenk-at What do you propose?

[2017-04-19 19:03] tonioo commented on #618
Maybe. Do you know any django implementation?.

[2017-04-19 19:06] mundschenk-at commented on #618
There is one on https://github.com/mtigas/django-twofactor, but it's unmaintained. I'm pretty sure there are others though.

[2017-04-19 19:10] mundschenk-at commented on #617
An extension that implements TOTP for admins (and optionally users). Other schemes (Yubi keys) could follow, but TOTP is more widespread.

[2017-04-19 19:12] tonioo commented on #1098
@stalks What's your amavis version please?

[2017-04-19 22:52] stalks commented on #1098
Running Debian 8.7 (Jessie)
amavisd-new                    1:2.10.1-2~deb8u1

[2017-04-19 23:18] stalks commented on #1098
I finally realised what this was, simple structure issue with the database. I had used an incorrect table structure that required non-null entries for various fields. Used the included examples with amavis, now working. Apologies.

[2017-04-19 23:18] #1098 closed

[2017-04-20 08:09] tonioo commented on #1096
@schneidermayer Can you describe gmail behaviour a bit more please?

[2017-04-20 08:11] tonioo commented on #1091
@abmiller99 Any news about this?

[2017-04-20 08:38] #1097 closed

[2017-04-20 09:14] tonioo commented on #1088
According to the RFC, local part is considered as case-insensitive and dovecot respects that so email addresses must be stored in lower case format. I'll fix the import function to force lower case addresses (like the regular creation form does).

[2017-04-20 09:39] #1088 closed

[2017-04-20 09:40] #1083 closed

[2017-04-20 09:40] tonioo commented on #1048
Closed for inactivity.

[2017-04-20 09:40] #1048 closed

[2017-04-20 09:41] tonioo commented on #1031
Closed for inactivity.

[2017-04-20 09:41] #1031 closed

[2017-04-20 09:42] tonioo commented on #1032
Fixed by #1087.

[2017-04-20 09:42] #1032 closed

[2017-04-20 09:44] tonioo commented on #990
@cmdtstof ping

[2017-04-20 09:44] #1045 closed

[2017-04-20 10:19] kryskool commented on #1093
You cannot disable RSS feed, but you can change the URL for the RSS feed

[2017-04-20 12:22] tonioo opened #1103 "Replace bootstrap-select by selectize"
selectize supports loading data from a remote location and has a bootstrap3 template.

[2017-04-20 12:43] schneidermayer commented on #1096
Return sender should match the sender's adress. It's a generel violation, but gmail rejects all emails doing it. Other hosts may work fine, but it's always bad practice to have different names. The exclamation mark is causing this. That's all I know.

[2017-04-20 13:00] #1103 closed

[2017-04-20 13:08] tonioo commented on #1096
Do you use the internal webmail?

[2017-04-20 13:43] tonioo commented on #1100
@msenebald I've fixed alias and sender address issues, thank you for reporting.

Where is the problem in allowing the domain admin to edit its own information?

[2017-04-20 16:17] tonioo commented on #1100
@msenebald I close this issue. Feel free to open a new one about the self-edition issue.

[2017-04-20 16:17] #1100 closed

[2017-04-20 19:16] schneidermayer commented on #1096
Yes, I created a User with first name `Hello,` and last name `Word!` and tried sending an email to a gmail account.

[2017-04-20 20:28] kryskool commented on #1086
see pytz http://pytz.sourceforge.net/#problems-with-localtime

[2017-04-21 06:14] tonioo opened #1106 "User resources API"
Add API endpoints to manipulate user resources (limits).

[2017-04-21 20:45] msenebald commented on #1100
Nice! Thanks for the fix. I'll check the self edit options in more detail with this patch to verify if worth another ticket. From code it seems already fine.

[2017-04-21 21:17] msenebald commented on #821
Hi,
i can quickly describe my current solution.
Basically it is a "all in one" solution which uses the installer during the build.
Not the most efficient image design but self contained.
State is handled via some basic volumes.
I prepared a supervisord file for startup
rsyslog logs to console so everything is in docker logs.
Nginx in front of container for webinterface

Since I dont have this in p

[2017-04-22 00:52] msenebald opened #1107 "SSLError crashes /dashboard/"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
External Resource used on Dashboard with invalid SSL Certificate crashs
/dashboard/

# Current behavior
https://modoboa.org/en/api/projects/?featured=true certificate is expired (:D this morning)

[code]
produces on modoboa dashboard:
[code]

# Expected behavior
catches Errors on external resources

[2017-04-24 12:04] #1106 closed

[2017-04-24 13:29] tonioo opened #1109 "Better loading of settings coming from plugins"
Find a better way to load settings from plugins.

[2017-04-24 14:09] #1107 closed

[2017-04-24 17:16] abmiller99 commented on #1091
Well - I upgraded Modoboa core and extensions incrementally w/ virtualenv, using the specific upgrade instructions for each (if applicable), and always ran
[code]
after each..

My install is up-to-date.

While the core functions do seem intact, I do however experience some buggy behaviour:
- critical errors when replying with webmail (HTML editor only)
- saving option settings on some pages produc

[2017-04-25 06:21] cmdtstof commented on #990
@tonioo pong :-)

hi
on the test environment i tried a 1.6.1 update like descripted under http://modoboa.readthedocs.io/en/latest/upgrade.html#id3
with django 1.11
and got the same problem noted under
https://groups.google.com/forum/#!topic/modoboa-users/WJuZ5wZhR3o

sorry, this can't be the way an app must be updatet!
i suggest to close this task
and i will think how to get further ...
thanks

[2017-04-25 06:57] tonioo commented on #990
Did you install django 1.11 manually? Because modoboa is not compatible with this version. Actually, it should not be installed at all if you followed the procedure. Anyway, I'll close this issue as you suggested, do not hesitate to open a new one if needed.

[2017-04-25 06:57] #990 closed

[2017-04-25 09:00] tonioo commented on #1091
@abmiller99 Actually, the webmail is a bit buggy and I'm working on it. A new version should be released soon. Anyway, I suggest you clear the cache of your browser and retry the other points.

[2017-04-25 09:12] tonioo commented on #1096
I just tried to reproduce your issue and I fail... Can you provide more technical detail? (NDR message from Google, source of the original message, etc.)

[2017-04-25 12:25] #1109 closed

[2017-04-25 15:44] schneidermayer commented on #1096
Dovecot/Postfix Log:
https://pastebin.com/vBSP1mFa

Mail creation:
http://pasteboard.co/8AGVT6PoC.png

Mail Header:
https://pastebin.com/WyDmaDSi

Mail Daemon:
https://pastebin.com/H08D7rt4

[2017-04-26 08:01] tonioo commented on #1096
@schneidermayer Actually, the problem comes from the coma. It is used as a separator when you send a message to multiple recipients and modoboa does not escape it (it is a mistake).

[2017-04-26 08:04] tonioo commented on #1096
@schneidermayer I was talking about the sender, sorry.

[2017-04-26 08:47] #1016 closed

[2017-04-26 09:36] #1096 closed

[2017-04-26 15:52] #980 closed

[2017-04-28 07:39] jaketame commented on #821
Would need to ensure that it would be good to have both options available ie local install or docker install. If you move from local install to docker then a migration path from local to docker as well.

[2017-04-28 07:40] jaketame opened #1112 "Migration to Modoboa"
I'm currently using Mailcow (non docker) however its not being supported anymore. I would like to know what options there are available for a migration  to Modoboa?

Thanks

[2017-04-28 12:08] euri10 opened #1113 "stats page is empty"
# Impacted versions

* Modoboa: 1.7.4
* installer used: Yes/No ? YES
* Webserver: Nginx/Apache nginx

# Steps to reproduce
my first install, please bear with me, it's inside a lxc container but I don't think it's relevant,

I have some 404 on some sitestatic paths that maybe explain I don't see anything on the stats page, rest of the site seems to work fine.
The links are:
https://mail.mydomain.fr

[2017-04-28 13:15] euri10 commented on #1113
mmm I found why, not linked at all to that 404
in fact the cron jobs are all failing in my install as the env variables $PYTHON and $INSTANCE stayed like that in /etc/cron.d/modoboa
I dunno if it's a bug in the installer then
changing $PYTHON to /srv/modoboa/env/bin/python and $INSTANCE to /srv/modoboa/instance solved the issue

[2017-04-28 19:46] mundschenk-at opened #1114 "Dashboard tab has empty <title> tag"
# Impacted versions

* Modoboa: 1.7.4
* installer used: No
* Webserver: Nginx

# Current behavior

The dashboard tab ("Home" icon) has an empty `<title>` tag.

[2017-04-30 12:19] tonioo commented on #1113
@euri10 Indeed, that's strange. I'll look into it asap.

[2017-04-30 12:21] tonioo commented on #1112
@jaketame There is no migration tool for now so the only available way is to use the CSV import feature. (available from the command line)
Otherwise, a migration tool like https://github.com/modoboa/modoboa-pfxadmin-migrate could be useful. Do you have any python skills?

[2017-05-02 13:38] yannfill commented on #1093
Could it be possible to show these widgets only to superadmin and not admins ?

Because I give admin rights to my customers so they can manage their domains, but it's me who choose to use Modoboa for this purpose, not them, so I think it's irrelevant to ask them to sponsor this project.

[2017-05-02 16:46] tonioo commented on #1093
This widget is not intended to ask people to sponsor Modoboa, it is just a way to let them know it is possible and give them an overview on how donations could be used. Modoboa is a free software that helps many people and needs help in return to stay sustainable. That's why a bit of communication is needed...
Anyway, I'll add a switch to disable this widget for domain admins.

[2017-05-03 06:41] #1114 closed

[2017-05-03 07:37] yannfill commented on #1093
I am well aware of free software stakes, I was just pointing out that it's not my customers concern who did not (have the freedom to) choose to use it.

Thanks for your support.

[2017-05-04 11:35] traverseda opened #1116 "[Feature Request] Configurable Menu"
It would be nice if we could change what appears in the modoboa top bar. Including, ideally, an iframe based view for embedding third-party web apps in the modoboa view.

Of course using iframes like that has some annoying problems, especially as far as bookmarking things go. That can mostly be worked around by using javascript to add the iframes url to the querystring of the pages urls.

[2017-05-05 11:20] tonioo commented on #1113
@euri10 Actually, what you see in you log file is normal. Variables are not replaced but it should work. Looks like you cron daemon was not running...

[2017-05-05 11:51] #1093 closed

[2017-05-05 13:16] euri10 commented on #1113
@tonioo sincere apologies for the false report, actually cron was ok, dunno what happened, it works with the default cron.d/modoboa once I re-enabled the iptable rules to my container.

[2017-05-05 13:16] #1113 closed

[2017-05-05 18:00] figassis commented on #1082
Hi, I tried with curl (using php) and was able to delete accounts. So it might be a postman issue.

[2017-05-05 18:31] tonioo commented on #1082
Ok, so I close the issue.

[2017-05-05 18:31] #1082 closed

[2017-05-06 21:56] else opened #1119 "Demo instance: certificate expired"
[code]

[2017-05-08 20:14] tonioo commented on #1119
Fixed, thank you.

[2017-05-08 20:14] #1119 closed

[2017-05-09 16:52] almereyda opened #1120 "Site and domain admin default aliases (RFC 2142)"
[RFC 2142](https://www.ietf.org/rfc/rfc2142.txt) specifies few standard mailboxes for e-mail domains. It could be nice to have an option during installation of Modoboa and during setup of a mail domain to switch on `RFC 2142 compliance` in a way that the expected aliases are generated for available admin users.

[2017-05-10 14:52] gawel opened #1121 "Test failures when using tox"
# Impacted versions

* Modoboa: master

# Steps to reproduce

checkout
run tox

# Current behavior

[code]

# Expected behavior

No errors

I guess smtp related tests must be skipped when using tox.

Don't know for the others.

[2017-05-10 15:57] tonioo commented on #1121
SMTP related tests require a SMTP server to be installed locally...

[2017-05-10 16:03] gawel commented on #1121
That's what I thought :) Then they should be skipped when no smtp run locally. Like for the LDAP tests.

[2017-05-11 17:44] mzummo opened #1123 "add sender_dependent_relayhost_maps (since current relay doesnt seem to be working correctly?)"
add sender_dependent_relayhost_maps (since current relay doesnt seem to be working correctly?)

[2017-05-12 07:45] mundschenk-at opened #2972 "Add UI for detailed reports"
The current "Detailed" reports are still aggregated at a high level. It would be nice if there were a way to display the properties of individual reports (including the optional human readable description of the issue).

[2017-05-12 12:45] jaketame commented on #1112
Not well even for postfix migrations :)
is the csv import documented anywhere? I can't see it on the documentation.

Cheers,

[2017-05-12 13:00] tonioo commented on #1112
@jaketame No, only in the interface. But you have a command line tool available:
$ python manage.py modo import <your file>
You can find some documentation [here](https://github.com/modoboa/modoboa/blob/master/modoboa/admin/templates/admin/import_domains_form.html) and [there](https://github.com/modoboa/modoboa/blob/master/modoboa/admin/templates/admin/import_identities_form.html)

[2017-05-15 04:20] cerw commented on #1048
Sorry for some reason github did not send me email :(

mysql 5.7.18

[2017-05-15 15:39] physiii opened #1125 "Can't install"
Distributor ID: Ubuntu
Description:    Ubuntu 15.10
Release:        15.10
Codename:       wily

Using Apache

# Steps to reproduce
git clone https://github.com/modoboa/modoboa-installer && cd modoboa* && sudo ./run.py domain.org:8080
...
Congratulations! You can enjoy Modoboa at https://mail.domain.org:8080 (admin:password)

# Current behavior
nothing at https://mail.domain.org:8080

# Expected be

[2017-05-16 02:14] cerw commented on #1048
@tonioo

[2017-05-16 09:44] tonioo commented on #1048
@cerw That's strange because the corresponding django model defines a default value for this field...
Can you try to run the following SQL statement please:
[code]

[2017-05-16 11:51] cerw commented on #1048
The date got there via postfixadmin migration script? could this cause it?

I ran the SQL alter command and it seem to lower the rate but still getting some:

[code]

[2017-05-16 11:57] cerw commented on #1048
After I set default to `bytes`  its seem to be fixed. Thanks

[2017-05-16 14:09] tonioo commented on #1125
Why do you include a port number? Just use a simple domain name, the syntax you're trying to use is not supported by the installer.

[2017-05-16 15:23] physiii commented on #1125
I tried without the port and get the same result. I am running apache2 on 8080 and a different webserver on 80 so that's why I tried the the 8080 port.

Please let me know what I should do from here.

[2017-05-16 15:40] tonioo commented on #1125
Please run the installer once again using the --debug option, you should
have more information.

On 16/05/2017 17:23, physiii wrote:

[2017-05-16 16:38] physiii commented on #1125
Okay looks like a problem with dovecot, "Address family not supported by protocol"

[2017-05-17 09:16] gawel commented on #1121
After applying #1126  I still have three failures about ```NotDefined: Parameter handle_mailboxes not defined for app admin```. Any hint ?

[2017-05-17 14:33] physiii commented on #1125
Removed references to IPv6 in nginx and dovecot and now all services appear to be running. Still no access from https://mail.mydomain.org

Here is my nginx config:

[code]

[2017-05-18 06:53] tonioo commented on #1125
@physiii What do you get when you try to access the web interface?

[2017-05-18 10:16] tuxis-ie opened #1127 "Disabling modoboa.relaydomains causes an error in the domains tab"
If you disable ```modoboa.relaydomains```, the 'Domains'-tab shows an 'Internal error'. I don't want people to be able to create relaydomains, that's why I want this app to be disabled.

[2017-05-18 13:11] physiii commented on #1125
I don't even get an error returned, just sits there connecting. I can access my test page from 8080 but if I got to https://mail.mydomain.org, it just sits there trying to connect, not even an error is returned. I have no problems running other ssl applications on my webserver.

[2017-05-18 13:18] tonioo commented on #1125
Firewall issue? Is your DNS correctly configured?

[2017-05-18 19:47] physiii commented on #1125
I can run my applications on any port without issue.

[2017-05-21 13:25] almereyda commented on #1125
Should this issue maybe moved to the modoboa-installer issue tracker?

[2017-05-23 13:20] #1121 closed

[2017-05-23 13:21] tonioo commented on #1127
Actually, this is a required application. It is not intended to be disabled...

[2017-05-23 13:22] tonioo commented on #1125
@almereyda yes

[2017-05-23 13:24] tuxis-ie commented on #1127
It shouldn't be :)

[2017-05-25 20:33] atikulhaider opened #1128 "Installation Error"
I followed your documentation here as recommended:
[http://modoboa.readthedocs.io/en/latest/installation.html#recommended-way](http://modoboa.readthedocs.io/en/latest/installation.html#recommended-way)
I tried to install Modoboa from scratch on a fresh CentOS 6.9 (Final) server.
And got this error:

`Traceback (most recent call last):
  File "./run.py", line 11, in <module>
    from modoboa_instal

[2017-05-25 20:37] tonioo commented on #1128
The installer is not supposed to work with your CentOS version. I suggest you try with version 7.

[2017-05-26 07:23] TacoScheltema opened #1129 "Quarantine list empty after deletion of multiple messages"
# Impacted versions

* Modoboa: 1.7.4
* Amavis Frontend: 1.1.2
* installer used: Yes
* Webserver: Nginx
* Browser used: Chrome on OSX 58.0.3029.110 (Official Build) (64-bit)

# Steps to reproduce
when there are multiple messages in quarantine (in my case there were over 60), then using the selector at the top of the page to select all messages with bad headers (which in my case selects all but 2 m

[2017-05-26 07:43] TacoScheltema commented on #1129
I just tested this with the same versions as mentioned above with 2 messages in quarantine. I deleted one message, the second messages stays on the page as expected. Will test some more this weekend.

[2017-05-27 13:37] TacoScheltema commented on #1129
Tested again today, this time with safari Version 10.1 (12603.1.30.0.34) on OSX. About 100-120 messages in quarantine. selected 25 messages and deleted those. the  remaining messages stay visible as expected. then repeated the same action on chrome on OSX; the quarantine page is empty. a reload of the quarantine page will show the remaining messages again.
I've also done the same test on chrome 58

[2017-05-29 07:53] tonioo commented on #1128
@atikulhaider I close this issue. Feel free to open a new one but in the appropriate repository this time: https://github.com/modoboa/modoboa-installer.

[2017-05-29 07:53] #1128 closed

[2017-05-29 08:00] tonioo commented on #1125
This issue was moved to modoboa/modoboa-installer#128

[2017-05-29 08:00] #1125 closed

[2017-05-29 12:57] Toniob opened #1130 "Incorrect french translation string"
Hi,

There is an incorrect translation in the french version of modoboa. In the _Journaux_ section, the deconnection message is this one

It's missing the quotes. I think that "python-format" is missing in the .po file.

[2017-05-31 13:41] ursweiss opened #1131 "Use as relay without Dovecot"
We want to use Modoboa as a gateway only without any local mailboxes, and therefore i didn't install dovecot (Installer cfg: enabled = false). But now i get the following message:

Do we need to have Dovecot installed, even we don't use it? The type of the domain is set to "Relay domain" and "Relay settings >> Service" to relay.

Installed extensions: modoboa-amavis modoboa-stats modoboa-dmarc

Th

[2017-05-31 15:36] tonioo commented on #1131
I guess you installed Modoboa with the installer?

Anyway, you just have to disable the postfix config related to dovecot and it should be enough.

[2017-05-31 16:58] ursweiss commented on #1131
Yes, i used the installer.

The dovecot part was already disabled by the installer:
[code]
That's why i'm a bit confused.

My full postfix config: https://pastebin.com/2ee0TR7U

[2017-06-01 08:23] tonioo commented on #1131
Can you try to comment the `reject_unverified_recipient` line and reload postfix?

[2017-06-01 08:35] #1130 closed

[2017-06-01 08:37] tonioo commented on #1129
Thank you for reporting, I'll look into it asap.

[2017-06-01 08:38] tonioo commented on #1129
This issue was moved to modoboa/modoboa-amavis#56

[2017-06-01 08:38] #1129 closed

[2017-06-01 08:42] tonioo commented on #1127
I think a flag to globally disable the feature would be better... Are you giving superadmin rights to your customers?

[2017-06-01 09:43] tonioo commented on #623
I think we could translate `postqueue -p` output to JSON. Postfix 3.1 supports it natively so we only need a conversion tool for other versions.

[2017-06-01 10:08] ursweiss commented on #1131
That's one thing i tried yesterday already. The only thing that changes is that the email is accepted, but kept in the local queue instead of the senders queue with the same error.

[code]
My config of the domain:
![screenshot at 2017-06-01 12-05-35](https://cloud.githubusercontent.com/assets/1810116/26675051/b95c0624-46c2-11e7-9a70-79e4eb91afd8.png)
![screenshot at 2017-06-01 12-05-50](https://cl

[2017-06-01 10:12] tonioo commented on #1131
How did you create your relay domain in modoboa?

On 01/06/2017 12:08, Urs wrote:

[2017-06-01 10:23] ursweiss commented on #1131
Hmmm... After reading your answer i thought "let me try to recreate the relay domain". And bam, it works...
I will try to reproduce it now.

[2017-06-01 10:44] ursweiss commented on #1131
OK, i got it.

If i create the relay domain AND also create a "domain administrator" during the "New domain" wizard, which has the same name as the recipient i try to send mails to later (recipient@otherdomain.com in my example above), it fails with the error.

But:
If i create the domain without a domain administrator, it works. It still works if i create the domain and afterwards create an domai

[2017-06-01 12:39] Toniob commented on #623
Postfix 3.1 is already 1 year old and it's going to be available in the incoming stable version of Debian (stretch). Do you really want to support older versions ?

[2017-06-01 12:42] tonioo commented on #623
Tha's a good question... I guess we will have to support CentOS 7 for a couple of years yet. I don't know for other distributions but this one is enough, right?

[2017-06-01 12:54] tonioo commented on #1131
Actually, Modoboa allows the creation of local mailboxes for a relay domain. This can be useful when you want to migrate a domain to another server. So, if you create a user with a mailbox for your domain, it means it won't be routed. You can still create a domain administrator, just let the mail part empty.

[2017-06-01 16:00] tonioo commented on #1112
@jaketame I've added some documention about CSV import: http://modoboa.readthedocs.io/en/latest/moving.html.
Can I close the issue?

[2017-06-01 16:01] tonioo commented on #1091
@abmiller99 I guess you solved your issue so I close this issue. Open a new one if needed.

[2017-06-01 16:01] #1091 closed

[2017-06-01 16:08] #485 closed

[2017-06-01 17:09] tonioo opened #1132 "DNSBL related notifications are not sent"
Impacted versions: up to 1.7.4

The current code is not functional.

[2017-06-01 18:44] PeterBocan commented on #1080
Havent had time to look at that yet.

[2017-06-02 06:53] ursweiss commented on #1131
OK, could make sense is some special cases. But in most cases, if you create a relay domain, you want it to relay mails (obviously). I cannot give a tool with such a default behavior to a customer/reseller, because we will get flooded with support requests because of that.

Within the domain wizard there is no option to not create a mailbox. If you select the checkbox to create a domain admin, it

[2017-06-03 08:37] tonioo commented on #1131
@ursweiss I guess we could add an option to allow the creation of local mailboxes for a relay domain.
The domain wizard is just a shortcut to get a prefilled domain, I could add a flag to create a mailbox or not but I don't want to introduce too much complexity on this part.

About the verify recipients option, I think your issues might be related to postfix verify cache (http://www.postfix.org/AD

[2017-06-04 20:27] jaketame commented on #1112
Nice one thanks!

[2017-06-04 20:27] #1112 closed

[2017-06-04 20:42] nitrovps opened #1133 "Webmail Error: ['[AUTHENTICATIONFAILED] Authentication failed.']"
# Impacted versions

* Modoboa: 1.7.0
* installer used: Yes
* Webserver: Nginx

[2017-06-06 13:25] tonioo commented on #1133
@nitrovps Please provide more information.

[2017-06-10 11:24] tir42 opened #1134 "Modoboa on Debian 9 / SSL version used by Dovecot and webmailer"
# Impacted versions

* Modoboa: 1.7.4
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I tried to install Modoboa on a fresh Debian 9/stretch, which will become the "stable" Debian on next saturday [1]. When opening the webmailer it fails with the error `
Error: Connection to IMAP server failed: [Errno 104] Connection reset by peer`. The syslog furthermore says:

    Jun 10 13:09:39

[2017-06-12 15:11] Toniob opened #1135 "Add domain quota listing"
Hi,

It would be great having the domain quota listing, as we currently have for identities. As we can set domain quotas, it would be possible to check where is the percentage used for a specific domain.

I think it's just a sum of all the space used by identities of the domain.

Thanks

[2017-06-14 18:03] tonioo commented on #1133
@nitrovps ping. I'll close this issue if you don't send more info...

[2017-06-16 07:55] tonioo commented on #1131
@ursweiss Could you please explain me the "verify recipient" issue a bit more?

[2017-06-16 07:59] tonioo commented on #1135
Indeed, I could be useful.

[2017-06-16 08:00] brylie opened #1137 "How to set up DKIM for domain name?"
How do users generate DKIM keys for Modoboa hosted mail domains?

# Impacted versions
Modoboa latest

# Steps to reproduce
1. add a new domain to Modoboa

# Expected behavior
It might be important for authenticity purposes to generate DKIM signatures for domain names.

https://www.emailonacid.com/blog/article/email-development/what_is_dkim_everything_you_need_to_know_about_digital_signatures

[2017-06-16 08:04] tonioo commented on #1134
@tir42 Thank you for reporting this but it is an installer issue. Could you please move it to the appropriate repository?
About the webmail, python2 imaplib (and so the webmail) does not support STARTTLS. Have you tried to change IMAP port to 993? (instead of 143)

[2017-06-16 08:04] #1133 closed

[2017-06-16 08:41] tir42 commented on #1134
Thanks, changing the port to 993 did the trick. But only when I log in as a normal user. When I try to open webmail as admin it still fails with `Error: ['[AUTHENTICATIONFAILED] Authentication failed.']`.
But this is another issue and has nothing to do with Debian stretch.

[2017-06-16 08:41] #1134 closed

[2017-06-16 09:47] #1132 closed

[2017-06-16 09:50] tonioo commented on #1137
There are two options to manage DKIM keys: use amavis (see https://github.com/modoboa/modoboa-amavis/issues/8) or use opendkim.

[2017-06-16 09:54] brylie commented on #1137
Thanks for the quick follow-up :-)

[2017-06-16 13:33] tonioo opened #1138 "Add option to control admin mailbox creation during domain wizard"
In the domain creation wizard, add a new option to let the user decide if a mailbox must be created or not for the domain administrator.

See #1131

[2017-06-16 14:02] tonioo commented on #1120
@almereyda What do you think about a new global parameter to list all the aliases to create with a domain administrator? (only valid for the wizard)

[2017-06-16 14:55] #1138 closed