[2020-04-01 15:28] tg-x commented on #1820
this happened for both

[2020-04-02 02:05] cybmp3 opened #1864 "debian bullseye(11) has changed default python version to 3.8 broken everything."
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* system: Debian bullseye
* Webserver: Nginx

# Steps to reproduce
march 2020 debian bullseye  has changed /usr/bin/python to 3.8.and change /usr/bin/pip to version 3.if you want use python2.7 you need use command python2.
# Current behavior
modoboa web page can't check dns status.
# Expected behavior
Have no idea.
# Video/Screenshot lin

[2020-04-02 09:11] tonioo commented on #1864
Your screenshots say you're using a python2 based virtualenv, which is not a good idea. I suggest you create a new python3 based virtualenv. Check this page to know more: https://modoboa.readthedocs.io/en/latest/upgrade.html#rebuild-virtual-environment.

[2020-04-02 09:12] tonioo commented on #1863
@Super-Gil Can you check the content of the `/etc/yum.repos.d/CentOS-Base.repo` please.

[2020-04-02 09:59] Super-Gil commented on #1863
Thanks for your reply!
Here is the result of "nano /etc/yum.repos.d/CentOS-Base.repo"
[base]
name=CentOS-$releasever
enabled=1
failovermethod=priority
baseurl=http://mirrors.cloud.aliyuncs.com/centos/$releasever/os/$basearch/
gpgcheck=1
gpgkey=http://mirrors.cloud.aliyuncs.com/centos/RPM-GPG-KEY-CentOS-7

[updates]
name=CentOS-$releasever
enabled=1
failovermethod=priority
baseurl=http://mirrors.cl

[2020-04-02 12:56] tonyguadagno commented on #1706
hi, i have a clue, i noticed in the maillog this error, could this be the reason this is broke?  any idea how to fix it?
[code]

[2020-04-02 13:08] tonyguadagno opened #1865 "from progressbar.compat import * ImportError: No module named compat ```"
# Impacted versions

* Modoboa: 1.1.14
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
view root email on modoboa server

hi, I am debugging a problem and i accidentally discovered that these emails were piling up in the root mailbox on the modoboa server.  there are a lot and increasing rapidly.
Please help in determining why they are being created.

thanks

[code]

[2020-04-02 13:09] tonyguadagno commented on #1865
fyi, i just looked further and realized that there is a mailbox called 'opendkim' that also has these in them.  currently, that mailbox is 10meg large.

thanks

[2020-04-02 13:12] tonioo commented on #1863
Strange. You should have a `[centosplus]` section has mentionned here: https://wiki.centos.org/AdditionalResources/Repositories/CentOSPlus.
Can you try to add it?

[2020-04-02 14:17] tonyguadagno commented on #1706
I have been digging deeper into this.  i see you are using uwsgi as a framework and i was able to turn on logging at that level.  I was hoping to get the actual cause of the 500 error.  with uwsgi logging turned on, i see this in those logs
[code]
unfortunately, no more help than before.  i researched this and found a similar post.  i understand that you may not be using pyramid, but if you read t

[2020-04-02 15:02] tonyguadagno opened #1866 "autoreply broke"
# Impacted versions

* Modoboa: 1.1.14
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
configure autoreply for a user

# Current behavior
no autoreply is sent, see error below

# Expected behavior

# Video/Screenshot link (optional)
![image](https://user-images.githubusercontent.com/25204879/78264595-5c13a680-74d1-11ea-8385-62b994f1494f.png)

[code]

[2020-04-02 21:40] mesoshqip opened #1867 "Albanian translation"
Hi Tonio
I am working on translation of Modoboa in the Albanian language. But, I need to test it locally. Can you explain how to enable the Albanian files and where to put these files?
BR

[2020-04-03 07:03] saileshkush95 opened #1868 "Error While Sending Email Using Python"
# Impacted versions

* Modoboa: Latest
* installer used: Yes?
* Webserver: Nginx

# Steps to reproduce
I'm trying to send email using python.
Some thing like describe here [https://automatetheboringstuff.com/chapter16/](url)
# Current behavior
![Screenshot_20200403_124306](https://user-images.githubusercontent.com/28560875/78333017-cc412b80-75a8-11ea-856d-b4f205708ccb.png)

# Expected behavior
I c

[2020-04-03 13:37] DaveDischord opened #1869 "Autodiscover/AutoConfig/AutoMX"
# Impacted versions

* Modoboa: 1.14
* installer used: Yes/No ? Yes
* Webserver: Nginx

OK, so first question so I can wrap my head around it:  How does AutoMX, autodiscover, and autoconfig interact, if they even do?

Also, and mainly, is that everything is functioning pretty good.  I run Outlook and autodiscover seems to be working, except for one small bit that I have to go in and set manually,

[2020-04-04 21:11] bystrup opened #1870 "Can't add unicode domain"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Add new domain with unicode character: havmændene.dk

# Current behavior
HTTP 500 error in apache log:
"POST /admin/domains/new/ HTTP/2.0" 500 23726 "https://modoboa.bystrup.net/admin/domains/" "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/8

[2020-04-05 18:55] makakken opened #1871 "[Suggestion] Add max_mail_size to Settings Panel"
Is there a way to set postfix max_mail_size parameter through modoboas-settings panel? Is there a possiblity to set that per Domain?

[2020-04-06 15:06] tonyguadagno commented on #1866
after a lot of searching, i can see now this is an selinux issue:
[code]
but i don't know how to fix it.  i use this but it does not help.....can anyone point me in the right direction?
[code]

[2020-04-06 17:31] tonyguadagno commented on #1866
so, although i don't want to, for troubleshooting, i disabled selinux.  when i did that, the permission denied went away, but i go this instead
[code]
it would be helpful to know what it was trying to connect to

[2020-04-06 17:37] tonyguadagno commented on #1706
update, in an effort to fix this, i tried to Rebuild the Virtual environment [https://modoboa.readthedocs.io/en/latest/upgrade.html](url)
it did not help, same results

i have also disable selinux and that did not help either

[2020-04-06 18:16] tonioo commented on #1867
@mesoshqip You can use the transifex client or take a look at how .po files are stored in the modoboa repository. Once files are installed, check the `modoboa/core/constants.py` file, you'll find a  ̀LANGUAGES` variable you can modify to declare the language you're adding. Don't forget to reload uwsgi

[2020-04-06 18:20] tonioo commented on #1868
@saileshkush95 Can you describe what does not work in Modoboa? If you're looking for a way to send email from a Python script, it is not the right place.

[2020-04-06 18:23] tonioo commented on #1865
@tonyguadagno can you load the virtualenv and run the following command please:
[code]

[2020-04-06 18:24] tonyguadagno commented on #1865
[code]

[2020-04-06 18:25] tonioo commented on #1869
@DaveDischord automx is a tool which provides autoconfig (mozilla) / autodiscover (microsoft) implementations. Modoboa installer does install an automx instance but using an old version, there a rewrite (automx2) available but that's something that should be done.

[2020-04-06 18:27] tonioo commented on #1871
@makakken Modoboa does not modify postfix configuration file currently.

[2020-04-06 18:30] tonioo commented on #1866
@tonyguadagno It's trying to connect to local SMTP server. Can you check you have one running on localhost?

[2020-04-06 18:31] tonioo commented on #1865
@tonyguadagno I don't think it's the virtualenv used by Modoboa. You should load the one located at /srv/modoboa/env.

[2020-04-06 18:34] tonioo commented on #1706
@tonyguadagno you won't see anything in uwsgi logs because django catches the error to display an HTML page when DEBUG is on. Since Modoboa uses a lot of AJAX requests, you can't see them directly and that's why you need to inspect the server responses from a javascript console... You should be able to see responses, look for a response tab somewhere.

[2020-04-06 18:36] tonyguadagno commented on #1866
[root@ffcplmail /]# netstat -na |grep :25
tcp        0      0 172.19.5.13:25          0.0.0.0:*               LISTEN
tcp        0      0 172.19.5.13:25          172.19.4.120:34320      TIME_WAIT
tcp        0      0 172.19.5.13:25          172.19.4.120:34324      TIME_WAIT
tcp        0      0 172.19.5.13:25          172.19.4.120:34316      TIME_WAIT
tcp        0      0 172.19.5.13:25          172.1

[2020-04-06 18:39] tonyguadagno commented on #1865
sorry, my mistake

[code]

[2020-04-06 18:39] tonioo commented on #1866
@tonyguadagno can you check mail logs to see if there's any error?

[2020-04-06 18:42] tonyguadagno commented on #1866
yes, these

[code]

[2020-04-06 18:45] tonioo commented on #1866
@tonyguadagno that's the same error...

[2020-04-06 18:47] tonyguadagno commented on #1866
yes, i am looking at /var/log/maillog.....should i be looking somewhere else?

[2020-04-06 18:51] tonioo commented on #1866
No that's the right place but the error is the same than the one you received by email. I'd like to know why the connection is refused... Can you try to connect on localhost port 25 using python or anything you know to see if you get the same behaviour?

[2020-04-06 19:23] tonyguadagno commented on #1866
thanks for pointing me in the right direction!!!  I figured out that i was only bound to a vip
/etc/postfix/main.cf
[code]
i changed it to
[code]
and auto reply works.  thanks again!

[2020-04-06 19:23] #1866 closed

[2020-04-06 19:38] tonyguadagno commented on #1706
YOUR a GENIUS!  as it turns out, the fix for my [auto reply problem](https://github.com/modoboa/modoboa/issues/1866) was also the fix for this....the web interface (evidently) could not send because postfix was not listening on localhost.  once i made that change, the web interface started working as well.

thanks!

[2020-04-06 19:38] #1706 closed

[2020-04-07 12:03] saileshkush95 commented on #1868
I'm using this script to send email.
[code]

Above script run successfully, but i didn't receive any email

[2020-04-07 15:28] tonioo opened #1872 "Ldap authentication error when search filter is wrong"
There is currently no validation of the search filter so it can lead to authentication issues:

[code]

[2020-04-08 06:35] saileshkush95 opened #1873 "Doesn't work with django allauth"
i'm using django allauth in my project. Every things works fine in modoboa. But it is not working with django allauth. I'm facing error like this.
![Screenshot_20200408_121053](https://user-images.githubusercontent.com/28560875/78752159-48fe4c00-7993-11ea-9d96-d119610d87f3.png)

[2020-04-09 10:31] XiaotianZha commented on #1793
I don't know, I have chosen Apache James instead

[2020-04-09 16:17] #1793 closed

[2020-04-09 16:20] tonioo commented on #1873
@saileshkush95 Are you trying to integrate allauth in a Modoboa installation? Or are you using Modoboa as an SMTP server for an application you develop?

[2020-04-11 03:03] saileshkush95 opened #1874 "UI is not mobile friendly"
# Impacted versions

* Modoboa: Latest
* installer used: Yes
* Webserver: Nginx

UI is not mobile friendly

# Video/Screenshot link (optional)
![Screenshot_2020-04-11-08-44-45-316_com brave browser](https://user-images.githubusercontent.com/28560875/79033830-1e99d200-7bd1-11ea-9915-4ec9b44658ca.jpg)

[2020-04-11 03:04] #1873 closed

[2020-04-11 03:05] saileshkush95 commented on #1873
I'm using modoboa as a SMTP server. Any way issue is solved

[2020-04-11 03:07] #1855 closed

[2020-04-13 09:25] tonioo commented on #1874
See https://github.com/modoboa/modoboa-webmail/issues/155.

[2020-04-13 09:25] #1874 closed

[2020-04-13 12:45] Compizfox opened #1875 "Crontab errors"
# Impacted versions

* Modoboa: 1.14.0
* installer used: No
* Webserver: Apache

# Steps to reproduce
Install the crontab as described on https://modoboa.readthedocs.io/en/latest/manual_installation/modoboa.html.

# Current behavior
The scripts `modo check_mx` and `update_statistics` fail with the following errors:

`modo check_mx`:

	Traceback (most recent call last):
	  File "src/gevent/greenlet

[2020-04-15 03:39] #1868 closed

[2020-04-15 13:20] #1797 closed

[2020-04-15 13:20] #1872 closed

[2020-04-15 18:21] hadifarnoud commented on #1852
Did you get my email Tonio?
--

_______________________

<http://camva.ir/>

Hadi *Farnoud* / CEO
hadi@kamva.ir / +98 (0)920 301 7490

Kamva
+98 (0)21 2842 7490
https://kamva.ir

[2020-04-17 12:30] tonioo commented on #1455
FYI, you can sponsor this feature: https://modoboa.org/en/projects/10/.

[2020-04-17 12:30] tonioo commented on #618
FYI, you can sponsor this feature: https://modoboa.org/en/projects/10/.

[2020-04-18 21:40] JayBeRayBearGun commented on #1650
@maulware 's suggestion did the trick! THANKS! 10^6

[2020-04-21 09:34] tonioo opened #1877 "Password recovery by SMS"
Allow users to retrieve their lost password by SMS.

[2020-04-21 13:22] #1877 closed

[2020-04-21 19:29] phreakie commented on #1731
I have the same issue. I only have one choice: plain (weak). I would really like to use encryption. I am not sure I understand if I have to login as the modoboa user or if I can do it as a normal user of the system.

[2020-04-21 19:41] tonioo commented on #1731
@phreakie Try to run this command as `modoboa` user.

[2020-04-23 04:32] anthrophitech opened #1879 "IMAP server issues"
# Impacted versions

* Modoboa: 1.5.3
* installer used: Not sure
* Webserver: NA

# Steps to reproduce
It's intermittent.
Accessing IMAP via an email client and/or Modoboa's webmail interface.

# Current behavior
Without any particular pattern, we receive IMAP server errors from both email clients , Mail, Outlook and Modoboa's own webmail client.
We get: Socket error: EOF from the webmail interfac

[2020-04-23 10:08] burakbuylu opened #1880 "SMTP Connection Problem"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Im using the PHPMailer for SMTP Access

I got this error :

2020-04-23 10:06:26 CLIENT -> SERVER: AUTH LOGIN
2020-04-23 10:06:26 SMTP INBOUND: "334 VXNlcm5hbWU6"
2020-04-23 10:06:26 SERVER -> CLIENT: 334 VXNlcm5hbWU6
2020-04-23 10:06:26 CLIENT -> SERVER: aW5mb0ByZWFkbS5vcmc=
2020-04-23 10:06:26 SM

[2020-04-24 10:03] tonioo commented on #1880
@burakbuylu Make sure to use STARTTLS to connect on port 587. And also, check server logs to see if there is any error.

[2020-04-24 10:04] tonioo commented on #1879
@anthrophitech Please check server logs, you'll have more information about the issue.

[2020-04-24 12:11] tonioo commented on #1875
@Compizfox For the `update_statistics` command, you can set the directory where files are stored from the admin panel. About the other issue, I see you're using python 3.8 but modoboa has not been tested on this version yet...

[2020-04-24 20:51] ReneRumetshofer opened #1881 "Can't connect to 'localhost' after fresh installation, error 400"
# Impacted versions
* Modoboa: 1.14
* installer used: Yes
* Webserver: Nginx

I am running my server in my local network and I want to connect to my web interface, but if I try to connect via IP, I get a "Bad request 400" error. Is it possible at all to change the settings so that I can connect from my local network / the localhost? Or have I misconfigured?

Thanks in advance!

[2020-04-25 18:05] ionescu77 commented on #1187
This happened to me today.

This issue was good, i checked amillog and it was huge 700MB :o

Huge considering I just installed modoboa 1-2 months ago but did not migrate my email yet, so no active use.

I was surprised this multiple entries did not get blocked, by the fail2ban postfix default filter.

Had to block this IP manually.

Any experience with this anyone?

Merci

![image](https://user-im

[2020-04-25 20:15] ReneRumetshofer commented on #1881
Okay, I just figured out that if I install a DNS server on my server that just serves my local devices with the domain hosts, I can access the Modoboa web interface via its proper domain.

Thanks, anyways!

[2020-04-25 20:15] #1881 closed

[2020-04-25 20:21] ionescu77 commented on #1187
## possible fix

https://forum.iredmail.org/topic13866-dovecot-sasl-authentication-component-denial-of-service-attack.html

[2020-04-28 08:07] anthrophitech commented on #1879
Thanks Antoine, but when viewing Logs in web interface, there is nothing of help.

Are there logs I can view via SSH that can shed some light on the problem? Where do I look?

Thank-you for your help.

From: Antoine Nguyen <notifications@github.com>
Sent: Friday, 24 April 2020 20:04
To: modoboa/modoboa <modoboa@noreply.github.com>
Cc: anthrophitech <tech@anthrophi.com>; Mention <mention@noreply.gi

[2020-04-28 08:10] anthrophitech commented on #1879
I have found the following:

Apr 28 02:13:16 ip-172-31-37-255 dovecot: imap(): Fatal: pool_system_realloc(2097152): Out of memory

Apr 28 02:13:16 ip-172-31-37-255 dovecot: imap(): Fatal: master: service(imap): child 9974 returned error 83 (Out of memory (service imap { vsz_limit=256 MB }, you may need to increase it) - set DEBUG_OUTOFMEM=1 environment to get core dump)

Apr 28 02:13:17 ip-172-31-

[2020-04-28 08:14] MrGeneration commented on #1879
You can adjust your dovecot configuration to have a higher vsz_limit as stated by your error message:

`Out of memory (service imap { vsz_limit=256 MB }, you may need to increase it`

I've done the same within my installation. Personally I don't see this as a modoboa bug directly, as this setting highly depends on your needs and 256MB might be perfectly fine for other users.

[2020-04-29 15:06] BaNzOiD opened #1882 "is it possible to sign alias domains with dkim?"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx
* Distro Debian 10 Buster

# Question

I have configured dkim on the master domain but I have some users that send email from the alias domain connected to the master domain.  I would like those mails to be properly dkim signed.

In /etc/opendkim.com the data is taken from the dkim postgres table:

[code]

Which is act

[2020-04-29 18:55] tonioo commented on #1882
@BaNzOiD that's a good question! Currently, there is no way to sign messages from domain aliases. It would require to:
1. Generate DKIM keys for domain aliases, or use the one associated to the domain they point to
2. Update the SQL view (see https://github.com/modoboa/modoboa-installer/blob/master/modoboa_installer/scripts/files/opendkim/dkim_view_postgres.sql)
3. Maybe add an option on domain le

[2020-04-30 09:21] tonioo commented on #1879
I do agree with @MrGeneration. Thanks for your reply anyway. I close this issue.

[2020-04-30 09:21] #1879 closed

[2020-05-03 18:10] marcoceppi opened #1883 "Support Python 3.8"
# Impacted versions

* Modoboa: latest
* installer used: Yes/ ?
* Webserver: Nginx

# Steps to reproduce

Create a fresh Ubuntu 20.04 instance - which comes with Python 3.8 installed and Python 2.7 in the archive.

Installer fails because of changes to `platform`. Install Python 3.7 via deadsnakes ppa

Setup fails to perform letsencrypt and other packages setup - likely due to `$HOME/env` being se

[2020-05-05 19:36] #1800 closed

[2020-05-06 11:15] #1699 closed

[2020-05-06 17:17] CyberfoxDK commented on #1760
I have suggested this earlier, I think it is an essential security feature.
For other interested, remember to sponsor this feature.

https://modoboa.org/en/projects/10/

[2020-05-07 20:59] mirtouf opened #1885 "[1.15] Error 500 after logging "AttributeError at /dashboard/""
# Impacted versions

* Modoboa: 1.15
* installer used: No
* Webserver: Nginx

# Steps to reproduce
Install modoboa 1.15 and its extensions manually. Login page works fine and then while logged, error 500 arises.

# Current behavior
Error 500

# Expected behavior
Page loading normally

# Output (truncated trace)

[code]

It seems to be related to commit  e2492a08b0a7749fbebc3f161af17df20142d028

Do

[2020-05-07 21:09] mirtouf commented on #1885
OK, readthedocs has been updated (with a formatting typo):

DISABLE_DASHBOARD_EXTERNAL_QUERIES = False

[2020-05-07 21:09] #1885 closed

[2020-05-11 15:47] Master13011 opened #1959 "erreur update 1.15.0"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce

sudo -u modoboa -i
cd /srv/modoboa/
mv env env.bck
virtualenv --python=python3.6 env
pip3 install --upgrade
source env/bin/activate
python --version -> 2.7.5
pip install modoboa==1.15.0
cd instance
python manage.py migrate
ModuleNotFoundError: No module named 'modoboa_XX' (contacts/sieve

[2020-05-11 16:53] Master13011 commented on #1959
install rddtool ok with : yum install rrdtool-devel python34-devel

[2020-05-11 18:54] tonioo commented on #1959
@Master13011 Have you tried the upgrade mode provided by the installer?

[2020-05-12 11:21] tonioo commented on #1688
Duplicates #1356

[2020-05-12 11:21] #1688 closed

[2020-05-12 21:13] RealOdie commented on #1875
Same problem with modo check_mx under Modoboa 1.15 upgraded yesterday. Everything else works fine. Is modoboa compatible with Python 3.8 or is it me?

[2020-05-13 17:09] xeeshan-Mustafa opened #1963 "Modoboa : rrdtool.OperationalError: /srv/modoboa/rrdfiles/new_accounts.rrd: illegal attempt to update using time 1589302800 when last update time is 1589313600 (minimum one second step)"
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

[2020-05-14 09:10] foxbat1989 opened #1964 "Problem Upgrade To Modoboa 1.15.0"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Hello Guys
I Have Installed Modoboa version 1.14.0 on Ubunto 18.0.4 in Last Month
Now I Recived Update Notificatin in My WebMail Gui Panel
I Have Tried To upgrade By Instructions
When I use Command pip install modoboa==1.15.0, I See This Error :

Could not find a version that satisfies the require

[2020-05-14 13:12] Master13011 commented on #1959
cd /srv/modoboa/
mv env env.bck
virtualenv --python=python3.6 env

nano /srv/modoboa/.bashrc
alias python="/usr/bin/python3.6"

cd /

nano .bashrc
alias python="/usr/bin/python3.6"

update-alternatives --install /usr/bin/python python /usr/bin/python3.6 60
update-alternatives --config python -> python3.6

cd /modoboa-installer/
sudo ./run.py --upgrade <your domain>

Error 502...

Log :

![image](h

[2020-05-14 14:22] Master13011 commented on #1959
La maj fonctionne !

tuto :
cd /srv/modoboa
mv env env.bck

git clone https://github.com/modoboa/modoboa-installer
cd modoboa-installer
sudo ./run.py --upgrade <your domain>

[2020-05-14 15:04] #1959 closed

[2020-05-14 15:05] Master13011 commented on #1964
tuto :
cd /srv/modoboa
mv env env.bck

git clone https://github.com/modoboa/modoboa-installer
cd modoboa-installer
sudo ./run.py --upgrade

[2020-05-14 18:45] FranMercedesG opened #1965 "ModuleNotFoundError: No module named 'encodings'"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

May 14 14:42:49 smtp uwsgi: *** WARNING: you have enabled harakiri without post buffering. Slow upload could be rejected on post-unbuffered webservers ***
May 14 14:42:49 smtp uwsgi: detected max file descriptor number: 1024
May 14 14:42:49 smtp uwsgi: VirtualHosting mode enabled.
May 14 14:42:49 smtp uwsgi: lock engi

[2020-05-15 10:45] foxbat1989 commented on #1964
Hello
i did Upgrade As your Instruction Commands
After Upgrade I Have Problem with Forwarding  email From My inbox
When i Select An Email From My Inbox And Click Forward, I see An Access Denied Error

[2020-05-15 11:05] PatTheMav opened #2973 "DMARC reports are not parsed if alias address is used"
This is not necessarily a bug, but more of an important aspect of the current setup:

When an aliased address is used for dmarc reports the transport rule as outlined in the documentation won't work, as the incoming email's destination address will be de-aliased by that point already and using that address won't necessarily work as all emails would end up at the dmarc parser.

My postfix knowledge

[2020-05-16 07:17] saudiqbal opened #1966 "Is there any installation instruction using SQLITE in the installer?"
I could not find information for Madoboa install using SQLite, does anyone know any installer which uses SQLite.

[2020-05-17 09:13] hadifarnoud commented on #1964
I think we need a comprehensive tutorial on upgrading to 1.15.0 including rebuilding virtualenv and python3.

this is too risky for a beginner like myself so I probably won't do it. as of right now, we do have an issue loading modoboa dashboard but I don't want to risk upgrading

[2020-05-17 11:05] GraemeConradie commented on #1964
@Master13011

sudo ./run.py --upgrade
usage: run.py [-h] [--debug] [--force] [--configfile CONFIGFILE]
              [--version {latest,1.9.0,1.8.1,1.8.2,1.8.3}]
              [--stop-after-configfile-check] [--interactive] [--upgrade]
              domain
run.py: error: too few arguments

[2020-05-17 11:21] Master13011 commented on #1964
Édit :+1:

sudo ./run.py --upgrade domain

[2020-05-17 11:30] GraemeConradie commented on #1964
This is what did NOT work for me:

cd /srv/modoboa
cp -R env env.bck
git clone https://github.com/modoboa/modoboa-installer
cd modoboa-installer
sudo ./run.py --version latest --upgrade --configfile installer.cfg  mail.domain.com

sudo chown -R modoboa:modoboa /srv/modoboa

All seemed fine, ... and

502 Bad Gateway
nginx

But I made a snapshot before I started, so I reverted, clearer documentation

[2020-05-17 14:37] neonknight opened #1967 "Feature Request: Disable Forwards"
Forwards are (in my opinion) the number one cause for email problems of all kinds. It would therefore be great if the option to define forwards could be disabled on a global, domain and per user base.
If forwarding is disabled, the UI option to define forwards should no longer be visible to logged in users. All previously defined forwards should be disabled.

[2020-05-17 14:45] ddiguru commented on #1963
I'm also receiving this.

I just upgraded to 1.15.0 and rebuilt my venv. This is on CentOS 7.x

[code]
While i'm not 100% - i temporarily commented out the following line in my crontab:

[code]

I did this simply to stop the email warnings from filling the inbox. I'd like to fig. out a more permanent fix. Is this the code or perhaps an upgraded/updated rrdtool?

[2020-05-17 14:58] neonknight opened #1968 "Bogus RBL dnsbl.habl.org"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
./run.py example.com

# Current behavior
postscreen_dnsbl_sites contains a blacklist named dnsbl.habl.org which apparently is unknown in the general antispam scene. (mxtoolbox does not query such a list). Also, the website of habl.org describes itself as "Hertford Area Badminton League (HABL)". Is

[2020-05-18 08:24] mirtouf commented on #1964
In your virtual env, did you try _pip install modoboa==1.15_ ?

[2020-05-19 17:41] npsimons commented on #1755
I am interested in this feature as well, as I administer a couple of domains where all they do for email is forward to real email addresses.

[2020-05-20 01:15] xeeshan-Mustafa commented on #1857
change the file lib.py on given below path
/srv/modoboa/env/lib/python3.6/site-packages/modoboa_amavis

[2020-05-20 01:17] xeeshan-Mustafa commented on #1857
[lib.txt](https://github.com/modoboa/modoboa/files/4654071/lib.txt)

[2020-05-20 01:18] xeeshan-Mustafa commented on #1857
change this file extension to lib.txt work for 1.14.0

[2020-05-20 07:39] MrGeneration commented on #1857
Looks like a duplicate of https://github.com/modoboa/modoboa-amavis/issues/119 which is fixed in 1.15.

If possible upgrading to latest modoboa version the issue should be fixed as well.

[2020-05-20 08:31] xeeshan-Mustafa commented on #1857
issue i s not resolved in 1.15.0

[2020-05-20 08:32] xeeshan-Mustafa commented on #1857
i have recently installed new version but problem is till pending

[2020-05-21 10:22] backwoodsman opened #1969 "deleted"

[2020-05-22 02:25] GraemeConradie commented on #1964
@mirtouf

Lots os issues running the upgrade as the modoboa user inside the v env.
Got it going in a way, but have lots of warnings ..

`WARNINGS:
?: (modoboa-amavis.W001) AMAVIS_DEFAULT_DATABASE_ENCODING does not match the character encoding used by the Amavis database.
	HINT: Check your database character encoding and set/update AMAVIS_DEFAULT_DATABASE_ENCODING.
?: (security.W001) You do not hav

[2020-05-22 04:29] GraemeConradie commented on #1964
Ok, I just did a new fresh install on the same server, some config, but that's fine.

[2020-05-22 09:11] mirtouf commented on #1964
In you settings.oy, you should have something like this:
[code]

I cannot help about amavis as I am not using it.

[2020-05-23 02:55] johnrb68 commented on #1964
Why is this always a problem?
All these other software packages upgrade without issues, but every time with Modoboa it is convoluted and full of issues.
It shouldn't be this difficult for people to upgrade this package.
After trying to upgrade unsuccessfully, and reading all of this now, I don't want to even try upgrading again for fear of losing everything.
I'm about to git rid of Modoboa and ins

[2020-05-23 13:37] Toniob commented on #1964
Are you serious @johnrb68 ? Do you think that's a way to talk ? Contributors and especially @tonioo are doing their best. If you have issues with Modoboa, maybe you should contribute a little, send patches, and stop whining. Or if you want your upgrade to be handled at best and you don't know how to do it, just pay somebody. Your message is unacceptable.
And this threat to get rid of the software…

[2020-05-23 22:19] PatTheMav opened #2036 "Possible login errors with Python 3 due to passlib issue"
I have no idea how widespread this might be, but there is an issue with `passlib` in certain scenarios under Python 3:

For some reason cryptography calls on my system return a bytes-like object and not pure strings, which results in a `passlib` error. Passlib is used by `Django` e.g. for logging in to modoboa.

I've reported the issue upstream (https://bitbucket.org/ecollins/passlib/issues/113/er

[2020-05-24 12:17] tonioo commented on #1964
@foxbat1989 Looks like a local pip cache issue. This has nothing to do with Modoboa, can you please try to upgrade your pip version and try again?

[2020-05-24 12:17] #1969 closed

[2020-05-24 12:19] tonioo commented on #1966
@saudiqbal The installer is currently not supporting sqlite as a backend because some of the installed components (like amavis) are not compatible with sqlite.

[2020-05-24 15:44] ntninja opened #1970 "Are all the strict requirements necessary?"
# Impacted versions

* Modoboa: 1.15.*
* installer used: No
* Webserver: Nginx

# Steps to reproduce

Currently Modoboa comes with a rather long list of strict requirements. In particular these include:

  * `dnspython==1.16.0`
  * `gevent==1.4.0`
  * `dateutil==2.2`
  * `passlib==1.7.2`
  * `feedparser==5.2.1`

Does it really, really, really only work with these particular versions or can these b

[2020-06-01 02:53] PetroGolovnya opened #1971 "Module radicale_storage_by_index has no attribute 'Storage'"
# Impacted versions

* Modoboa:  1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install modoba with installer.
I one one bundle with modoboa we have radicale with not working plugin 'radicale_storage_by_index'.
Open root terminal and type:
systemctl stop supervisor.service
sudo -u radicale -i
source env/bin/activate
env/bin/radicale -D -C /etc/radicale/config

# Current beha

[2020-06-01 19:08] othaner opened #1972 "Migration between servers, different versions"
# Impacted versions

* Modoboa: 1.13.1 & 1.15
* installer used: Yes (Both)
* Webserver: Nginx

# Steps to reproduce

# Current behavior
I have two servers with Modoboa installed. I need to migrate from an old one (v1.13.1) to a new one (v1.15). I would like to do a seamless migration without bother my clients with nothing more than change imap server address.

I was thinking on copy /srv/vmail/ fo

[2020-06-01 19:24] Pleskan commented on #1972
Hi @othaner !
IMO you have to use[ imapsync ](https://imapsync.lamiral.info/).
imap-migration core project is already dead FYI.

[2020-06-02 08:27] SWAGESC opened #1973 "Execute Mailbox Filter"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Create a Filter

# Current behavior
Old E-Mail dont be affected
# Expected behavior
Exectue the filter policy for the hole Mailbox at creation or with a Button "execute filter" or something like that

[2020-06-02 18:17] othaner commented on #1972
@Pleskan  Thank you! I will look into it.

[2020-06-02 18:31] othaner commented on #1972
@Pleskan I wonder, could it be possible with export domains/identities tool in Modoboa? and the scp'd the `vmail` folder.

[2020-06-02 18:32] tonioo commented on #1972
@othaner Just use rsync to copy /srv/vmail to the new server, and dump/restore the database on the new server.

[2020-06-02 19:11] othaner commented on #1972
Yup, in the end I did something alike:
- Export import csvs.
- Rsync vmail folder

Thank you!

[2020-06-02 19:11] #1972 closed

[2020-06-02 21:26] rafiwui commented on #1857
Same problem here.

@xeeshan-Mustafa do you know of a workaround for 1.15.0 because I cant change lib.txt to lib.py because there is only a lib.py or is the fix the other way around?

[2020-06-03 00:12] xeeshan-Mustafa commented on #1857
YesSent from my Huawei phone-------- Original Message --------Subject: Re: [modoboa/modoboa] Cant release Mails (#1857)From: rafiwui To: modoboa/modoboa CC: xeeshan-Mustafa ,Mention

issue i s not resolved in 1.15.0

Same problem here.
@xeeshan-Mustafa do you know of a workaround for 1.15.0 because I cant change lib.txt to lib.py because there is only a lib.py or is the fix the other way around?

[2020-06-03 00:12] xeeshan-Mustafa commented on #1857
Give me email i send u fileSent from my Huawei phone-------- Original Message --------Subject: Re: [modoboa/modoboa] Cant release Mails (#1857)From: rafiwui To: modoboa/modoboa CC: xeeshan-Mustafa ,Mention

issue i s not resolved in 1.15.0

Same problem here.
@xeeshan-Mustafa do you know of a workaround for 1.15.0 because I cant change lib.txt to lib.py because there is only a lib.py or is the fix

[2020-06-03 02:47] xeeshan-Mustafa commented on #1857
Xeeshan.mustafa@gmail.comSent from my Huawei phone-------- Original Message --------Subject: Re: [modoboa/modoboa] Cant release Mails (#1857)From: rafiwui To: modoboa/modoboa CC: xeeshan-Mustafa ,Mention

issue i s not resolved in 1.15.0

Same problem here.
@xeeshan-Mustafa do you know of a workaround for 1.15.0 because I cant change lib.txt to lib.py because there is only a lib.py or is the fix t

[2020-06-07 09:04] PontusTideman opened #1974 "Modoboa on Ubuntu 20.04 throws errors for Let's Encrypt + Dovecot!"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Either do an upgrade from 18.04 -> 20.04 or a clean version of 20.04 LTS. Do a `./run.py --stop-after-configfile-check example.com` and edit the .cfg to use Let's Encrypt for certificate. Run the installer again, and Nginx refuse to start because the certifcate can't be found.

# Current behavior

[2020-06-07 09:30] PontusTideman commented on #1974
`root@nifelheim:~/modoboa-installer# python3 -V
Python 3.8.2`

`root@nifelheim:~/modoboa-installer# ./run.py --interactive --debug choketuber.se
/usr/bin/env: ‘python’: No such file or directory`

So yeah, something is broken for Modoboa and Ubuntu 20.04!

[2020-06-07 09:31] PontusTideman commented on #1974
`root@nifelheim:~/modoboa-installer# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04 LTS
Release:	20.04
Codename:	focal`

[2020-06-08 07:22] PontusTideman commented on #1974
Latest version is working as it should on Ubuntu 18.04 LTS.

[2020-06-08 17:41] koen860 opened #1975 "Can't make calendar events."
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I'm running a fresh install on CentOS 7 with external Mysql DB.

# Current behavior
I installed a fresh copy of Modoboa and noticed that the calendar function isn't working correctly. After some investigation i noticed that radicale is not started. When i start Radicale i saw this message:
[2020-0

[2020-06-09 08:02] tonioo commented on #1857
modoboa-amavis 1.3.1 has been released and it fixes this issue.

[2020-06-09 08:02] #1857 closed

[2020-06-09 08:22] tonioo commented on #1975
@koen860 A new major version of Radicale has been released a few weeks ago and it breaks compatibility with old versions. The installer was not forcing the version to use so it deploys the latest one. I've fixed the installer for now but you must downgrade the Radicale version to 2.1.12. I suggest you update your local copy of the installer using git, and then run it again.

[2020-06-09 08:26] tonioo commented on #1970
@ntninja Maybe not, but changing them requires to make some compatibility tests and I my time is limited...

[2020-06-09 08:47] koen860 commented on #1975
Hello,

Thank you for your fast response! But the installer prints that radicale is already in radicale-storage-by-index so it wont install the correct version:

Requirement already satisfied: radicale in ./env/lib/python3.6/site-packages (from radicale-storage-by-index) (3.0.3)

[2020-06-09 09:18] tonioo commented on #1975
@koen860 The storage-by-index plugin looks deprecated too. I suggest you uninstall it manually before you run the installer again.

[2020-06-09 11:44] koen860 commented on #1975
It looks like it didn't install anything at the moment:

Installing radicale
Package supervisor-3.4.0-1.el7.noarch already installed and latest version
Creating mailbox file: File exists
Package python3-3.6.8-13.el7.x86_64 already installed and latest version
Collecting pip
  Downloading https://files.pythonhosted.org/packages/43/84/23ed6a1796480a6f1a2d38f2802901d078266bda38388954d01d3f2e821d/pip-

[2020-06-09 12:10] tonioo commented on #1975
@koen860 Can you check logs?

[2020-06-09 12:19] koen860 commented on #1975
From what services do you need logs?

[2020-06-09 12:20] koen860 commented on #1975
This is de uwsgi log:

server.sdhd.email [pid: 22011|app: 1|req: 2/3] 172.24.2.30 () {64 vars in 1101 bytes} [Tue Jun  9 14:18:05 2020] GET /jsi18n/ => generated 3223 bytes in 86 msecs (HTTP/1.0 200) 5 headers in 171 bytes (1 switches on core 0)
server.sdhd.email [pid: 22012|app: 1|req: 2/4] 172.24.2.30 () {68 vars in 1291 bytes} [Tue Jun  9 14:18:07 2020] GET /calendars/ => generated 6118 bytes i

[2020-06-09 12:21] koen860 commented on #1975
And this is the Radicale Log:

[7fcc20e1b740] INFO: Starting Radicale
[7fcc20e1b740] INFO: Authentication type is 'radicale_dovecot_auth'
[7fcc20e1b740] INFO: Storage type is 'multifilesystem'
[7fcc20e1b740] INFO: Rights type is 'from_file'
[7fcc20e1b740] INFO: Web type is 'none'
[7fcc20e1b740] INFO: Listening to 'localhost.localdomain' on port 5232
[7fcc20e1b740] INFO: Radicale server ready

[2020-06-09 14:19] xeeshan-Mustafa commented on #1857
No it is still in 1.14.0 until unless you replace the lib.py file

And in 1.15.0 until you replace the views.py file

From: Antoine Nguyen <notifications@github.com>
Sent: Tuesday, June 9, 2020 1:03 PM
To: modoboa/modoboa <modoboa@noreply.github.com>
Cc: xeeshan-Mustafa <xeeshan.mustafa@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [modoboa/modoboa] Cant release Mails (#1857)

modo

[2020-06-10 11:33] ntninja commented on #1970
Which tests would that be exactly? Can you provide some details on this?

Also, assuming that dependencies adhere to semver, changing say `gevent==1.4.0` to `gevent~=1.4` (i.e. `gevent>=1.4.0,<2`) should be pretty unproblematic, I think?

[2020-06-12 17:06] sdeepakbz commented on #1777
@stathis @tonioo I want to use non-TLS auth as TLS verification is adding 5-10 secs of pause when sending email over 587 TLS port. Any heads up to use non-TLS port 25?

[2020-06-12 17:21] sdeepakbz opened #1977 "Slow TLS verification and connection establishment"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Fresh installed using the installer and configured SMTP in WordPress website to send out order emails to the customer.

# Current behavior
TLS authentication/verification is taking some time. After the connection is initiated from the external server to the SMTP modoboa server there is a pause of

[2020-06-12 19:17] MrGeneration commented on #1977
The first three lines you provided show that the authentication takes somewhat of two seconds on your end. The TLS connection is negioated after 1 second which is fine. On my system these steps occur on the same second, but this may happen due to network latency between the client and the server:

[code]

What's more interesting is the 6 seconds between submission queue and handover to the smtpd q

[2020-06-12 19:28] vtoc commented on #1416
@tonioo the better solution is to check before queue, you only need to add

[code]

[code]
This will check the user before accepting the mail and reject if otherwhise and only after it will pass the mail to amavis, which still can reject before queue and thus won't bounce spam

[2020-06-13 02:31] DevDorrejo opened #1978 "pip install mysqlclient - fail"
# Impacted versions
* OS: Opensuse Tumbleweed
* Python version: 3.8.3
* Modoboa: N/A
* installer used: No
* Webserver: Apache

# Steps to reproduce
pip install mysqlclient
# Current behavior

[code]

# Expected behavior
install successful
# Video/Screenshot link (optional)

[2020-06-13 12:04] sdeepakbz commented on #1977
@MrGeneration thanks alot.
that actually fixed the delay when sending out emails.
Perfect :)

[2020-06-13 12:04] #1977 closed

[2020-06-14 10:54] mogwaai commented on #1964
I have successfully upgraded from version 1.14 to 1.15 on Ubuntu 18.04 LTS.

- Go to original root directory of Modoboa clone
- mv modoboa-installer/ modoboa-installer-1.14
- git clone https://github.com/modoboa/modoboa-installer
- cd modoboa-installer/
- cp ../modoboa-installer-1.14/installer.cfg .
- mv /srv/modoboa/env /srv/modoboa/env.bak
- ./run.py --upgrade mydomain.co.za

[2020-06-15 08:07] tonioo commented on #1978
@DevDorrejo You need to install mysql development files.

[2020-06-15 08:07] #1978 closed

[2020-06-15 21:34] slowaways commented on #1609
I have this problem in CentOS 7

[2020-06-18 20:39] Gill-Bates opened #1980 "Missing option to disable Redirect to Admin Panel"
Hey there,

when I enter mail.mydomain.com - nginx will redirect me to https://mail.mydomain.com **/accounts/login/** - this is pretty annoying.

I would love to see the nginx Welcome-Page. Missing painfully a button inside the Admin Options to turning on/off this redirection.

[2020-06-18 20:51] Gill-Bates opened #1981 "FeatureRequest: Empty Trash (Webmail)"
Hey there,

missing painfully to move E-Mails in bulk to the Trash, After picking every single mail to move them to Trash, I have to repeat the same steps, to delete them from the Trash Folder. Why is there no Button "Empty Trash" or a bulk function for mass-deletion?

[2020-06-19 09:10] skandragon commented on #1416
Will this also handle user+foo@ and user-foo@ if postfix is set up to handle this elsewhere?

[2020-06-19 09:50] tonioo commented on #1981
@Gill-Bates You can select more than on email (using the checkboxes) and then move your selection to the trash folder (drag&drop feature). Just click on the icon at the left of a checkbox to that.
Once your emails are in the trash, select this folder and click on the "Actions" dropdown menu. You will find a "Empty folder" menu item you can click on to flush your trash.

[2020-06-19 09:50] #1981 closed

[2020-06-19 09:51] tonioo commented on #1980
@Gill-Bates It is not possible unless you configure Modoboa to be served on a sub path (something like https://mail.mydomain.com/modoboa/).

[2020-06-23 12:22] Gill-Bates opened #1984 "Receiving a lot of SPAM-E Mails"
On a freshly installed Modoba instance I have to realize that - despite all protection measures - I keep receiving 5-10 SPAM mails per day. Do I have to give the system time to train the filters or do I have to adjust certain parameters in the settings?

[2020-06-25 09:27] neonknight commented on #1805
respectively python36-crypto on centos 7 using python 3.

[2020-06-25 09:33] neonknight opened #1985 "Feature Request: Customizable Password Policy"
Currently passwords must be at least 8 characters, with one uppercase and one number. This is not very flexible.

Please provide a simple UI control to set minimum length and choose required character classes (uppercase, lowercase, numbers, special characters).

Ideally this can be set globally and overridden per domain.

[2020-06-25 09:47] neonknight commented on #1871
I'd appreciate a few postfix configuration settings to be changed via UI, although it's probably not easy to do (need to edit files owned by root, as a first obstacle).

The following options would be great to set in UI:
- max message size
- smarthost (incl auth)
- enable/disable postscreen checks completely

[2020-06-25 16:33] solkmaaker commented on #1805
Same with Debian 10, except missing package name is python3-crypto

[2020-06-25 17:45] solkmaaker commented on #1967
Agreed, unless SRS is used, there is no way in present day to forward e-mails to correctly configured destination servers that are using SPF, DKIM and DMARC verifications.

[2020-06-30 19:20] JefferyLondon commented on #1883
I had same issue, but fixed it using soft link

`ln -s /usr/bin/python3 /usr/bin/python`

[2020-06-30 19:40] JefferyLondon commented on #1974
I fixed it manually. The issue is on missing letsencrypt certification -- the Certbot was trying to install python-virtualenv library into ubuntu but failed.

SOLUTION, run the Certbot manually with `--no-bootstrap` option, then restart nginx:

[code]

[code]

[2020-07-01 09:04] harryfoster commented on #1515
I'm aware this is relatively old now, but I hate seeing un-explained issues on the internet. I managed to experience the same when I misread the 'Valid MX' parameter and put an actual MX record in domain form into the field. Replacing this with a list of IP addresses rectified it.

[2020-07-02 09:24] hadifarnoud commented on #1964
I have not used the installer. there are no tutorials on how to upgrade. may I ask why?

this is such a big change and confusing for so many, please do tell us how to upgrade if we're on Python 2 and not used the installer.

I want the bug fixes of this version too, thanks

[2020-07-05 05:46] extragreen commented on #1883
As per https://bugs.python.org/issue28167

`platform.linux_distribution()` was depreciated in python 3.5 so a fresh install of Ubuntu 20.04 with the default python 3.8 installed will fail during the Amavis installation part of modoboa's (v1.15.0) run.py:

![image](https://user-images.githubusercontent.com/11571540/86526256-1e118e80-bed5-11ea-8f04-b547625ad2d6.png)

This means Jeffery's workaround

[2020-07-05 09:19] JefferyLondon commented on #1883
Hi @extragreen, I checked the installer code according to your screenshot.

https://github.com/modoboa/modoboa-installer/blob/c3b6ce9b8ec167a6a3c8b1939e6dcf83d97e168f/modoboa_installer/database.py#L146

It seems this function call `platform.linux_distribution()` was only called when installing MySQL database. I was installing with Postgres and therefore didn't encounter this issue.

So another wor

[2020-07-05 09:38] extragreen commented on #1883
@JefferyLondon oh sorry my bad, didn't think of that.

I found that if one is using mysql, they can get past this error by making these changes then running the installer:
1. Adding `import distro` to the top of `/modoboa-installer/modoboa_installer/database.py`
2. Replacing `platform.linux_distribution()` in the same file with `distro.linux_distribution()`

This is basically a python 3.5+ substit

[2020-07-05 12:12] luciferon opened #1986 "pip freeze not working in my virtual env, instead it is showing this!"
(chinu) abitribe@yashmacbook chinu % pip freeze
Traceback (most recent call last):
  File "/Users/abitribe/Desktop/chinu/bin/pip", line 8, in <module>
    sys.exit(main())
  File "/Users/abitribe/Desktop/chinu/lib/python2.7/site-packages/pip/_internal/cli/main.py", line 73, in main
    command = create_command(cmd_name, isolated=("--isolated" in cmd_args))
  File "/Users/abitribe/Desktop/chinu/lib

[2020-07-05 13:33] extragreen opened #1987 "Radicale (thus CardDAV and CalDAV) or modoboa-contacts (or at least I think) doesn't seem to work on a stock ubuntu 20.04 modoboa install"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Run installer on ubuntu 20.04 fresh install (thus using python3.8) after making a quick change to `database.py` as outlined in the comments here https://github.com/modoboa/modoboa/issues/1883. AND after installing `python3-virtualenv` and `python3-pip`. Even created a symlink for pip just in case

[2020-07-07 07:03] extragreen commented on #1987
Alright I managed to install it without any errors by rebuilding the virtualenv after running the installer. Lots of VMs died in the making of this modoboa install haha. Rebuilding the env seemed to build the wheel for everything successfully and installed caldav 0.6.2. Unfortunately, the same behaviour is still present.

I've checked the logs for nginx when I click 'save' after selecting yes for

[2020-07-07 18:14] lmfrazao commented on #1609
same problem in CentoOS 7, after reboot needs to restart manually

[2020-07-07 18:23] lmfrazao commented on #1609
fix for CentOS7:

/usr/lib/systemd/system/opendkim.service

change:
After=network.target nss-lookup.target syslog.target
to:
After=network.target nss-lookup.target syslog.target mariadb.service

[2020-07-14 08:50] neonknight opened #1988 "doveadm -A reports "User no longer exists""
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
`doveadm search -A mailbox Trash savedbefore 14d`

# Current behavior
command prints info message:
doveadm(): Info: User no longer exists, skipping

# Expected behavior
no bogus info/warning/error message should occur

# Resolution suggestion:
default admin and other global admin users can be save

[2020-07-14 17:35] neonknight opened #1989 "Feature Request: Application specific passwords"
It would be nice to be able to set more than one password per user, e.g. to have dedicated passwords for desktop computer or mobile device.

A working sample configuration using SQL as password store is described here:
https://www.justinbuchanan.com/blog/posts/Application-Specific-Passwords-for-Dovecot-and-Postfix

[2020-07-15 07:54] neonknight commented on #1984
without knowing the exact type of spam your receive or seeing some samples it is impossible to give any hints on how to improve your filter.

building a spam filter is certainly not trivial and the modoboa setup (like every free 'host yourself' filter) is providing a basic filter that works reasonably well for most and focuses on not having false positives. If you want more you'll need to dive dee

[2020-07-15 09:40] pauldjgh opened #1990 "Renaming an email is only partly successful and results in the email been blocked"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
In Edit Identity of a user  (admin/identities/#list/) - edit the user, change the Username  and click Update

# Current behavior
The Username changes, In server/vmail/domain directory - 2 mailboxes now exist - oldname and newname
No email are transfered.
The admin_mailboxoperation table still has

[2020-07-15 12:12] neonknight commented on #1870
the domain must be added as punycode: xn--havmndene-j3a.dk

however, modoboa should convert automatically. python3 code for that is:
[code]

[2020-07-19 14:05] ravarage opened #1991 "uwsgi wont start after update."
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx
* Debian 10 x64

# Steps to reproduce
I  had installed 1.14.0,it worked fine, I installed the new version the same way install 1.14.0, I get error 502, then I find it uwsgi process wont start, I installed 1.14.0 everything start working again
# Current behavior
error 502
# Expected behavior
uwsgi should start
# Video/S

[2020-07-20 08:26] divo1 commented on #1984
I have similar problem. Can you add some links for this points? O can you describe some of this?
"improve bayes training" is by setting mails as spam. Right? I have ~500 spam with similar subjects and still getting these to inbox (of course I have more spam with other subjects). Every one of these I "mark as spam".
Maybe you can share with some links or tips?

[2020-07-22 11:25] Gill-Bates commented on #1984
I use a catch-all domain and receive a lot of spam mails.  They always come at night at 2 o'clock in the form of a wave of 15-20 mails with sexual content.  I delete them daily and mark them as spam.  But it seems that there is no learning filter here.

[2020-07-22 11:46] divo1 commented on #1984
I resolve this by using sieve filters, but still I was need to add this emails every week. I thought that here I can do this in better way.
Hmm... I was thinking about graylisting. Maybe this wyould help.

[2020-07-22 11:54] Gill-Bates commented on #1984
graylisting is out!  Imagine a password reset and you have to wait 15 minutes for the email.

[2020-07-22 12:00] MrGeneration commented on #1984
That's totally fine to me. It does reduce spamers that only sendout the mail once (not via MTA).
Yes, they do still exist.

A negative effect of that is that you will not receive mails by e.g. aliexpress, because they seem to do the same. :-D

[2020-07-22 15:48] ASLLR opened #1992 "Error when ldap auth is config"
# Impacted versions

* Modoboa: 1.15
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
sudo -i -u modoboa
bash
virtualenv env
source env/bin/activate
pip install django-auth-ldap

=> modify setting.py
 AUTHENTICATION_BACKENDS = (
    'modoboa.lib.authbackends.LDAPBackend',
    'modoboa.lib.authbackends.LDAPSecondaryBackend',
    'django.contrib.auth.backends.ModelBackend',
  )
 => con

[2020-07-23 10:37] phpony opened #1993 "Clean install without `mail.` subdomain produces postconf error and makes incoming mail undeliverable"
# Impacted versions

* Modoboa: current
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

[code]

# Current behavior

# Expected behavior

Incoming mail should pass to example@example.com mailbox.

# Possible quick-fix

[code]

[2020-07-23 10:45] phpony commented on #1993
There should be a come kind of check if current hostname matches one (first) of virtual_mailbox_domains, cause Postfix makes a big deal about the “mydestination” variable and it’s important to never add a “virtual_alias_domain” as a entry to “mydestination” [or (very) bad things, think along the lines of Ghostbusters crossing the streams, will happen](https://www.linux.com/training-tutorials/how-s

[2020-07-23 12:10] tonioo commented on #1991
@ravarage What python version do you use?

[2020-07-23 12:13] tonioo commented on #1993
@phpony Why did you only put the domain name?

[2020-07-23 12:26] tonioo commented on #1986
@luciferon Have you updated pip?

[2020-07-23 13:27] phpony commented on #1993
Cause I have a domain with word "mail" exclusively for email server. There were 2 options:

1. Default install:

- @ A 1.1.1.1; @ MX mail.mymail.com; mail.mymail.com A 1.1.1.1
- http://mymail.com/ - nginx default page without SSL
- https://mymail.com/ - SSL error
- https://mail.mymail.com/ - modoboa

2. Install with domain name only:

- @ A 1.1.1.1; @ MX mymail.com
- https://mymail.com/ - modoboa

[2020-07-23 13:38] phpony commented on #1993
Also the server has hostname mymail.com and the PTR for it's IP pointing to mymail.com. As for now there were no additional bugs or problems with this type of install. Everything (webpanel, webmail, SMTP, IMAP, DKIM, SPF) works. After suggested "quick-fix" in main.cf incoming and purging postfix cache incoming mail is also being delivered just fine.

[2020-07-24 11:21] ravarage commented on #1991
Python 3.7.3 (default, Dec 20 2019, 18:57:59)
[GCC 8.3.0] on linux

[2020-07-31 08:58] jahlives opened #1998 "chroot in master.cf should not depend on default values"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes

looks to me that there is a potential issue with postfix depending on OS used and Postfix version. Postfix 2.10 has a default value for chroot YES whereas postfix from 3 onwards uses default NO ([see postfix manpage](http://www.postfix.org/COMPATIBILITY_README.html#chroot)).
The master.cf does not specify a value for chroot so default i

[2020-07-31 18:59] physiii opened #1999 "Server is bouncing messages"
Using 1.14.0
Webserver: Nginx

Incoming messages are being bounced back and I can not figure out why. The email will show up in my inbox (sometimes) but the sender will received a MAILER-DAEMON response.

If I send a test email from a gmail account. I will get:

[code]
I restarted various services (postfix dovecot nginx clamav-daemon amavis), went through configuration files and settings through t

[2020-08-02 13:52] physiii commented on #1999
Removing the user bounce@domain.com "fixes" the issue.

So does just having a bounce@domain.com setup bounce all emails going to that domain?

[2020-08-06 12:29] hadifarnoud opened #2001 "Using Halon for MTA"
Halon might be complicated to setup but is so powerful (at least it looks like it). Is this something Modoboa can integrate with? you can hide the setup complexity and use its features for more advanced email service.

[2020-08-06 13:17] ClemRiviere commented on #1992
The following line is installing the python2 _django-auth-ldap_ package.
`pip install django-auth-ldap`

As shown in the logs, modoboa is using python3.7

This issue can be solved by installing the python3 _django-auth-ldap_ and _python-ldap_ packages :
[code]
@tonioo can you confirm that this is the better way to solve this ?

[2020-08-10 16:19] tonioo commented on #1991
@ravarage Can you check if the python3 uwsgi package is installed on your system?

[2020-08-10 16:25] tonioo commented on #1999
@physiii Never heard about this and I don't think postfix is responsible for generating such a bounce message. Do you have a software behind your mail server collecting emails?

[2020-08-10 16:35] tonioo commented on #1992
@ClemRiviere No it's the right way to install required packages.
@ASLLR Can you check both packages are installed? Have you reloaded uwsgi after you installed the packages?

[2020-08-11 09:58] ravarage commented on #1991
@tonioo  it wasnt, that maybe the issue, I figured it out it was uwsgi, but never checked it its install on python 3.7.3,thank you,  I will check it in few days, I am very busy at the moment.

[2020-08-13 02:09] physiii commented on #1999
I do not have any other mail software running besides Modoboa. Strange when I remove the bounce email, it stops bouncing message on my other accounts.

[2020-08-13 08:56] ASLLR commented on #1992
Hi,

by default modoboa seem to be use python 2.7. When i try the solution of @ClemRiviere it's works.

Thank you

[2020-08-13 09:45] #1992 closed

[2020-08-13 09:46] tonioo commented on #2001
@hadifarnoud Halon is a commercial product unless I'm wrong. Modoboa is an open source product and I don't want to depend on a commecial product.

[2020-08-13 09:46] #2001 closed

[2020-08-13 10:15] ASLLR commented on #1992
I think this issue isn't closed, an update of the documentation is necessary. Or correct the install script to force modoboa to use only python 3

[2020-08-13 10:21] MrGeneration commented on #1992
I partly agree.
This seems to only happen if you do have python2 installed:
https://github.com/modoboa/modoboa-installer/blob/c3b6ce9b8ec167a6a3c8b1939e6dcf83d97e168f/modoboa_installer/python.py#L52

When I installed modoboa I installed python3 right away and had no version 2 on the host.
If you have this condition, you'd be fine.

So, as it's described on https://modoboa.readthedocs.io/en/latest/

[2020-08-16 15:15] Fabl0s opened #2003 "LDAP Sync works while LDAP auth failes with the same Settings"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Setup LDAP and LDAP Sync, import users via ldap sync command

# Current behavior

LDAP Sync works as intended - but the user is not able to login

# Expected behavior

LDAP Imported user should be able to login

Also, if I got it right, login attempts should be logged in /var/log/syslog too? Ther

[2020-08-19 11:05] TheBigM85 opened #2004 "Modoboa Webmail doesn't work after publich IP change"
# Impacted versions

* Modoboa: 1.15.0 (latest Version)
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Change the public IP to another one.

# Current behavior
All looks good. Webserver works (Websites and Webmail login page loads). Mail incoming an send is working.

# Expected behavior
After fill in Webmail forms it should load the Webmail, but get error 504 - Gateway Time-out

#

[2020-08-19 19:28] TheBigM85 commented on #2004
Additional Info:
This is the error from /var/log/nginx/mailserver.domain.de-error.log
2020/08/19 20:46:28 [error] 1219#1219: *132 connect() failed (111: Connection refused) while connecting to upstream, client: 84.131.XXX.XXX, server: mailserver.domain.de, request: "REPORT /radicale/user@domain.de/Mario/ HTTP/1.1", upstream: "http://[::1]:5232/user@domain.de/Mario/", host: "mailserver.domain.de"

[2020-08-20 15:10] StormyWaters opened #2005 "html signature does not show"
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

copy paste:
<table  data-mysignature-date="2020-08-20T14:54:49.620Z" data-mysignature-is-paid="0" cellspacing="0" width="470" cellpadding="0" border="0"> <tr>  <td style="padding: 0 12px 0 0;vertical-align: top;" valign="top" width="100"> <a target="_blank" href="https://mysignature.io

[2020-08-24 09:45] tonioo commented on #2004
@TheBigM85 Mododoa does not store any public IP. According to this log, there is an issue with Radicale...
Can you check uwsgi logs?

[2020-08-24 17:40] TheBigM85 commented on #2004
One Point is, that my python was broken but now fixed it (i see no errors for python at now). I rebooted the Server, but can still not login to Webmail (Admin Dashboard, NextCloud and so on are ok).
Log for uwsgi modoboa-instance was loging this [/var/log/uwsgi/app/modoboa_instance.log] --> attached File.
###############################
[uwsgi_log_modoboa.txt](https://github.com/modoboa/modoboa/fi

[2020-08-25 17:49] JefferyLondon commented on #1974
Sorry I didn't specify explicitly above, but you have to use `mail.example.com` in certbot command.

You are requesting https certificates for your mail domain.

[2020-08-30 12:07] BigMichi1 commented on #1875
its an issue in gevent, see https://github.com/gevent/gevent/issues/1491
i manually run ``pip install gevent===1.5.0`` and the issue disappeared but i only got a warning during install that modoboa requires 1.4.0 but i see no issues so far

[2020-09-04 14:26] tonioo commented on #2003
@Fabl0s Have you enabled LDAP logs on your server?

[2020-09-04 14:29] tonioo commented on #2004
@TheBigM85 The trace you're showing is indeed a bug but it is not causing your login issue. What happens now when you try to login to the webmail? Still a 504 error?

[2020-09-04 14:30] #1875 closed

[2020-09-04 14:39] tonioo commented on #1991
@ravarage Can I close this issue?

[2020-09-04 14:41] #1990 closed

[2020-09-04 14:42] tonioo commented on #1985
@neonknight You can already customize this in the settings.py file. (this feature is provided by Django natively)
Do we really need a per domain level?

[2020-09-04 14:44] tonioo commented on #1975
@koen860 Do you know if it is a standard url?

[2020-09-04 14:45] #1880 closed

[2020-09-04 14:46] tonioo commented on #1867
@mesoshqip Any news?

[2020-09-04 14:47] tonioo commented on #1865
@tonyguadagno Have you tried an upgrade to 1.15 ?

[2020-09-04 14:51] tonioo commented on #1860
@mesoshqip Can I close this issue?

[2020-09-04 14:53] #1786 closed

[2020-09-04 19:26] ravarage commented on #1991
sure, sorry I forgot abou this

[2020-09-04 19:26] #1991 closed

[2020-09-04 20:31] tonyguadagno opened #2007 "please help me upgrade, on 1.14 want to be on 1.16"
# Impacted versions

* Modoboa: 1.14
* installer used: Yes
* Webserver: Nginx

i have followed the steps in https://github.com/modoboa/modoboa/issues/1964  but i get an error about not having a config file.  can anyone help me upgrade from 1.14 to 1.16?

[2020-09-06 22:40] Fabl0s commented on #2003
@tonioo I'm not sure where I can do that

[2020-09-07 07:03] tonioo commented on #2007
1.16 is not available yet. Can you paste your error somewhere?

[2020-09-07 15:24] tonyguadagno commented on #2007
tonioo, i am confused, this page says 1.16 is available

https://modoboa.readthedocs.io/en/latest/upgrade.html#specific-upgrade-instructions

also, the error is the exact same error as on this issue

https://github.com/modoboa/modoboa/issues/1964
[code]

[2020-09-09 06:49] sergioeix opened #2008 "Enabling POP3 on a running Modoboa Server"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes ?
* Webserver: Nginx

# Steps to reproduce

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

Hello I want to enable POP3 on a running server but i dont know the best way to do that.
May be ...

sudo apt-get install dovecot-imapd dovecot-pop3d
add to dovecot.conf
protocols = imap lmtp sieve pop3 pop3s

anyone c

[2020-09-11 14:53] tonioo commented on #2008
@sergioeix That's the way to go if you're on a debian like system. Otherwise you could have let the installer do it for you using the ``extra_protocols`` setting located inside the ``installer.cfg`` file.

[2020-09-11 14:53] #2008 closed

[2020-09-11 14:54] tonioo commented on #2007
The ``latest`` documentation corresponds to the ``master`` branch, so it might talk about things to come sometimes.

[2020-09-11 14:56] tonioo commented on #2004
@TheBigM85 Have you tried to enable debug mode? (set DEBUG to True inside settings.py and reload uwsgi) You might see more information in logs...

[2020-09-11 15:00] tonioo commented on #2003
@Fabl0s I guess you can play with the ``LOGGING`` setting. See https://django-auth-ldap.readthedocs.io/en/latest/logging.html.

[2020-09-11 15:31] #1986 closed

[2020-09-11 15:32] #1980 closed

[2020-09-11 15:48] tonioo commented on #1863
@Super-Gil Any news?

[2020-09-11 15:49] #1860 closed

[2020-09-11 15:50] #1831 closed

[2020-09-11 15:51] #1802 closed

[2020-09-11 15:55] #1710 closed

[2020-09-11 15:56] #1714 closed

[2020-09-11 16:56] sergioeix commented on #2008
I known it could been done with modoboa on the install stage but now server is running well and i have to enable pop3. Thats why i am asking, i want to know if i am missing something or with these two comands its enougth.
B/R

[2020-09-11 18:26] Fabl0s commented on #2003
OK, first issue was on my end with a missing Varable in the Search Filter.

Now that I fixed it and django finds a matching user, I get this Message on Login:

Fehler: Konnte Passwort nicht aktualisieren: {'msgtype': 103, 'msgid': 3, 'result': 34, 'desc': 'Invalid DN syntax', 'ctrls': [], 'info': "0000208F: NameErr: DSID-0310022E, problem 2006 (BAD_NAME), data 8350, best match of:\n\t'None'\n"}

T

[2020-09-11 19:22] TheBigM85 commented on #2004
Hi.
Thanks for your comment and hint. I'm do this and now get the following infos / errors in uwsgi-log, but i don't understand, where the Problem is. Can you tell or help me please.
This is the part from the log from restart the uwsgi service and my failed try to login:

########################################################################
Fri Sep 11 21:08:23 2020 - SIGINT/SIGQUIT received...k

[2020-09-11 19:32] TheBigM85 commented on #2004
If tried with "uwsgi_ignore_client_abort on;" in nginx vhost, but no luck.

Still get 504 Gateway Time-out

[2020-09-11 19:53] TheBigM85 commented on #2004
Ok. Another additional Info:
I Rebooted the Server and tried again:
This Error:
1. SIGPIPE: writing to a closed pipe/socket/fd (probably the client disconnected) on request /webmail/ (ip 12.123.123.12) !!!
2. uwsgi_response_writev_headers_and_body_do(): Broken pipe [core/writer.c line 296] during GET /webmail/ (12.123.123.12)
OSError: write error
only occurs, when i close or disconnect to the 504

[2020-09-11 20:01] tonioo commented on #2004
And do you see anything related in the mail.log file? Maybe dovecot
errors or warnings?

Le 11/09/2020 à 21:54, TheBigM85 a écrit :

[2020-09-11 20:05] TheBigM85 commented on #2004
No.
Mailserver is working fine. I can look if you want, but i can receive and send Mails without problems (all is working from Smarthphone, Outlook, Thunderbird and Roundcube as i writed is working too; only modoboa webmail wont work / load).

[2020-09-11 20:15] TheBigM85 commented on #2004
I looked in mail.log, but there is nothing to see. All works fine, as i wrote before.

[2020-09-11 20:16] TheBigM85 commented on #2004
Here is an example from dovecot from the mail.log:

Sep 11 22:02:08 mail dovecot: lmtp(XXXX@xxxxxxxxxxxx.domain): msgid=<modoboa/modoboa/issues/2004/691287308@github.com>: saved mail to INBOX

[2020-09-11 20:20] TheBigM85 commented on #2004
Info for you @tonioo by the way....
Your Site "http://tonio.ngyn.org/" has Error "502 Bad Gateway" ;-)

[2020-09-14 04:57] luciferon commented on #1986
Yes i have !

[2020-09-14 05:00] luciferon commented on #1986
By the way the answer was simple, we have to create a virtualenv using
" virtualenv -p python3 "
this will create a virtaulenv with python3 as default python and hence the code will run!

[2020-09-14 05:00] luciferon commented on #1986
yes I have!

[2020-09-15 07:16] tonioo commented on #2004
@TheBigM85 yeah I know, that's an old site I don't maintain anymore ;)
Maybe I could take a look at your server?

[2020-09-15 07:23] tonioo commented on #2003
@Fabl0s ``'desc': 'Invalid DN syntax'``
Looks like you've got an issue with your DN template...

[2020-09-15 07:29] tonioo commented on #1999
@physiii Are you running Odoo?

[2020-09-15 07:46] tonioo commented on #1988
@neonknight Can tell me how you created an admin without password?

[2020-09-15 07:52] tonioo commented on #1984
@Gill-Bates Can I close this issue?

[2020-09-15 08:58] physiii commented on #1999
Yes, and just realized it has a mail server built in.

[2020-09-15 08:58] #1999 closed

[2020-09-15 10:41] Fabl0s commented on #2003
@tonioo If you mean the User DN Template setting in Modoboa... I dont have his option with search and bind.
Should I try with the direct bind?

[2020-09-16 05:25] neonknight commented on #1988
s/password/email address/

my bad... I fixed the ticket.

[2020-09-16 05:28] neonknight commented on #1985
Changing settings.py for sure works for me, thanks for the pointer. Will the file be overwritten by modoboa updates?

That would just be the cherry on top of the cake :-) I think a GUI based configuration is necessary, but per domain settings is quite a bonus.

[2020-09-16 07:25] #1864 closed

[2020-09-16 07:29] tonioo opened #2010 "Messages log"
Log sent and received messages in a dedicated page. More information: https://modoboa.org/en/projects/9/.

See also #1526

[2020-09-16 07:30] #1526 closed

[2020-09-16 16:54] TheBigM85 commented on #2004
@tonioo Hm. How would you like to do this "look at my Server". Where do you have to look?
I don't want to give root to anyone (i hope you understand this?!). Could we do this via TeamViewer or so? But when? I'm from germany / europe.

[2020-09-17 09:41] tonioo commented on #2004
@TheBigM85 One thing: have you tried to disable external queries made by the dashboard?

DISABLE_DASHBOARD_EXTERNAL_QUERIES = True

[2020-09-17 13:37] tonioo commented on #1987
@extragreen Can you try to manually install caldav 0.6.2?

[2020-09-17 13:57] #1680 closed

[2020-09-17 13:59] #1660 closed

[2020-09-17 14:00] #1650 closed

[2020-09-17 14:12] tonioo commented on #2003
@Fabl0s Indeed this option is not used in search&bind mode but maybe you can try directbind. What's strange in your logs is that a user and a group are found! I don't see any link between the error your encounter and the logs...

[2020-09-17 14:42] Fabl0s commented on #2003
@tonioo I copied the Search Filter to the DN Template - Now I get LDAP Server refused DN/Password and nothing else in the log.
I double checked username and password tho and those are fine.
Any Ideas what might go wrong?

[2020-09-17 15:03] tonioo commented on #2003
@Fabl0s Search filter and DN template can't be the same. Do you have a working example of a DN user?

[2020-09-17 15:24] tonioo commented on #2003
@Fabl0s Yes I mean a working user.

[2020-09-17 15:25] Fabl0s commented on #2003
@tonioo Yes I do - It's required for Search and Bind.

[2020-09-17 15:26] tonioo commented on #2003
@Fabl0s Can you give me an example? And also the value you set in the DN template field?

[2020-09-17 15:31] Fabl0s commented on #2003
The Working LDAP User is
"CN=ldap,OU=ServiceAccounts,OU=Domain,DC=Domain,DC=tld"

And the current DN Template is
"(&(|(sAMAccountName=%(user)s))(|(|(memberof:1.2.840.113556.1.4.1941:=CN=modoboa,OU=ServiceGroups,OU=Domain,DC=Domain,DC=tld)(primaryGroupID=2603))))"

[2020-09-17 15:56] tonioo commented on #2003
Ok your template should look like this:
CN=%(user)s,OU=ServiceAccounts,OU=Domain,DC=Domain,DC=tld

But I guess it won't work since your schema looks more complicated.

[2020-09-17 16:03] Fabl0s commented on #2003
Looks Complicated, but not neccessary I think since they get filtered on LDAP Sync anyway - So only modoboa group members should be able to login anyway?

But even with that DN Template I still get a rejection...
Is it maybe the Password Attribute?

[2020-09-17 16:44] tonioo commented on #2003
Maybe. Have you changed it?

[2020-09-17 16:50] Fabl0s commented on #2003
More by accident - it's userPassword at the moment.

[2020-09-17 19:08] tonioo commented on #2003
Actually I don't think it's the problem here. Are you using openldap or activedirectory?

[2020-09-17 19:08] Fabl0s commented on #2003
It's an Active Directory

[2020-09-18 21:05] vkarpyuk opened #2012 "Emails Received In Spam - Improve Reputation"
Hi Guys.

I have installed modoboa server a couple of months ago. Honestly, since then, I have been using it and I love the performance and everything. However, I found that each time I send an email to a new mail, the receiver receives the mail in spam. I have tested it with Google, Exchange, and others. All of the receivers received my mail in the spam folder. Once they move it to the "income fo

[2020-09-19 13:14] TheBigM85 commented on #2004
Where does i have to add this line???

[2020-09-19 18:47] TheBigM85 commented on #2004
Ok. I foundthis in settings.py und changed the value. After this i rebooted the server for changes to take affect but it doesn't help. Same as before. And if i let it load till the error will be showed, it takes about 10 Minutes that the site for Modoboa will be reachable again or i have to restart some services or restart the server.

[2020-09-19 20:13] TheBigM85 commented on #2004
@tonioo
On Reboot i get this error in /var/mail/root:
#######################################
From root@mail.domain.com  Sat Sep 19 00:00:47 2020
Return-Path: <root@mail.domain.com> [<----|Domain is crypted from me (no error); there stands the right Domain.]
X-Original-To: root
Delivered-To: root@mail.domain.com
Received: by mail.domain.com (Postfix, from userid 0)
        id EE5EB1C00075; Sat, 19

[2020-09-20 14:20] malteneu commented on #955
Hi, I also cannot add users. Same errors and I tried to run manage.py but it didn't execute:

`File "manage.py", line 16
     ) from exc
           ^`

Tried to find the orginal file in your repository, but didn't find it.

[2020-09-20 22:27] RailRunner166 commented on #629
this would be nice to have, but i would like a little bit more than just custom css. it would be nice if we could specify a custom template overrides directory. Main reason I'd like this is so I can use something like [fomantic-ui](https://fomantic-ui.com) instead of Bootstrap

[2020-09-22 15:27] Toniob opened #2013 "Allow domains to be banned from forward/alias"
Hi,

It would be great if Modoboa could handle a list of domains which can't be configured as alias.
My problem is that people can forward their emails to gmail.com or outlook.com. But by doing so, spams are also forwarded and the IP address has a bad reputation.

With such a list, if a user tries to add an alias to a domain that is in the denylist, they got an error. No need to check at a postfix

[2020-09-23 11:51] maseron opened #2014 "inline images not showing in webmail / image url not overwritten"
# Impacted versions

* Modoboa: 1.14
* installer used: Yes
* Webserver: Nginx

Can't get inline images to work in webmail. If I use html editor and send e-mail with picture, then on opening it do not show the picture. And the image url contains cid, looks like it's not overwritten...
Url to image in webmail:
<img alt="" src="cid:light@modoboa" style="width: 300px; height: 225px;" target="_blank">

[2020-09-24 20:31] PatTheMav commented on #1882
This gets a +1 from me, because I only noticed this due to a DMARC report from google telling me I failed the DKIM test (which it doesn't usually), but the obvious reason was that I sent an email from an alias domain to a gsuite-managed email address.

I'd be fine with using the same key for aliases (and adding them to my DNS), opendkim would "just" need the entries for the aliases then. Should th

[2020-09-24 23:32] FranMercedesG commented on #1875
Same problem with modo check_mx under Modoboa 1.15, I updated to version 1.5 and the latest version, and I still have the same problem

[2020-09-25 19:27] #1820 closed

[2020-09-25 19:31] tonioo commented on #1875
@FranMercedesG You mean you've updated gevent to 1.5 and it still doesn't work? Can you paste a stack trace?

[2020-09-25 19:33] #1638 closed

[2020-09-25 19:34] #1625 closed

[2020-09-25 19:47] FranMercedesG commented on #1875
Requirement already up-to-date: gevent in /usr/local/lib/python3.8/dist-packages (20.9.0)
Requirement already satisfied, skipping upgrade: zope.interface in /usr/lib/python3/dist-packages (from gevent) (4.7.1)
Requirement already satisfied, skipping upgrade: greenlet>=0.4.17; platform_python_implementation == "CPython" in /usr/local/lib/python3.8/dist-packages (from gevent) (0.4.17)
Requirement al

[2020-09-27 08:10] tonioo commented on #1875
@FranMercedesG Can you try to install greenlet 0.4.16 ?

[2020-09-27 09:47] FranMercedesG commented on #1875
same issue

[2020-09-28 07:56] tonioo commented on #2013
@Toniob Sure! But just one question: forwarding of spam messages happens because you distribute them in a spam folder?

[2020-09-28 07:58] tonioo commented on #2012
@vkarpyuk Hi, do you have any additional information? For example, why are you considered as a spammer until a user tells you're not?
Have you configured SPF/DKIM/DMARC for your domain?

[2020-09-28 08:04] tonioo commented on #2003
@Fabl0s Unfortunately I don't have any ActiveDirectory to test something...

[2020-09-28 14:20] vkarpyuk commented on #2012
@tonioo thanks for your reply!

As you can see on the picture I have two domains. The first one I used to create the mail and during installation it has been used to create the Lets Encript Certificate. Later I created another domain intended to be used as my company's mail. What I figured out that when I connect to my IMAP/SMTP, the client would raise a message that I have an issue with the certi

[2020-09-29 10:48] TheBigM85 commented on #2004
Hi.

Is there now any other hint for my problem, to solve this?

[2020-09-30 20:41] tonioo commented on #2004
@TheBigM85 The setting you changed just enable or disable HTTP requests made by the dashboard to display the News (RSS feed) anv the projects opened to sponsoring. If you set the value to True, it disables those queries which can lead to timeout errors sometimes. That's why I asked you that but looks like the problem is elsewhere...
The error you mentioned is related to the amavis plugin and is ca

[2020-09-30 20:43] tonioo commented on #2012
The TLS certificate should match the domain name you declared in your MX record.

[2020-09-30 20:46] TheBigM85 commented on #2004
Hi.
Thanks for your answer / reply.
As i many times wrote before, all other is working (like admin page, new installed roundcube and all my other pages (include nextcloud)). Only Webmail doesn't work. Modoboa Admin-Page is working.

[2020-10-01 20:47] TheBigM85 commented on #2004
Today i checked again.
Now there is no 504, but there is now the folowing error:
Fehler: [b'[AUTHENTICATIONFAILED] Authentication failed.']

[2020-10-02 07:13] tonioo commented on #2004
@TheBigM85 Could you enable dovecot auth debug mode and check your mail.log file?

[2020-10-02 13:40] #2010 closed

[2020-10-03 11:14] dirtyhillbilly opened #2022 "Failed to create alias"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

- Import accounts from csv
- Try to create an alias for an imported account

# Current behavior

`Local recipient xxx@xxx not found`

Account xxx@xxx does exists, though.

in uwsgi log :
[code]

Everything else is working well...

[2020-10-03 12:41] dirtyhillbilly commented on #818
I have the same problem. The misleading part is that when an identity is created, the associated mailbox is not.

[2020-10-03 12:43] dirtyhillbilly commented on #2022
Clone of #818

[2020-10-03 12:43] #2022 closed

[2020-10-03 19:00] Salamon75 opened #2023 "Installation issue"
# Impacted latest

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: mail.salamon.tf
# Steps to reproduce

I am probably very stupid I just installed the program as instructed and I just can't get to the website to log in.
Here is the installation screenshot
https://pasteboard.co/JtYl9gk.jpg

and if you go to the website it's just gives me the basic apache website.
Can you help me where did

[2020-10-03 19:10] liszca opened #2024 "Installer doesn't setup database specific things"
# Impacted versions

* Modoboa: X.X.x (How to figure out? used `git clone https://github.com/modoboa/modoboa-installer`)
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install on a fresh machine

# Current behavior
No database and database user is created

# Expected behavior
Create a database while setting up the system

# Debug Messages
After manualy creating a database and a use

[2020-10-04 03:44] liszca commented on #2024
After creating databases for amavis, modoboa and spamassassin everything looks fine, closeing the Issue. But a hint to prepare the database would have been very convenient ;)

[2020-10-04 03:44] #2024 closed

[2020-10-04 14:08] Franky1 commented on #1327
I would also like to see support for the **Mailman** mailing list in Modoboa!

[2020-10-05 02:52] dirtyhillbilly opened #2027 "DKIM signature for domain aliases"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes

# Steps to reproduce

Create a domain and an alias of it.
Send a mail using that aliased domain -> opendkim can't find the key

I had to change the dkim view to achieve this :

[code]

[2020-10-05 06:58] tonioo commented on #2024
@liszca The installer does prepare databases during the process. Looks there were some issues, maybe with credentials.

[2020-10-05 07:01] tonioo commented on #818
@dirtyhillbilly Can you provide the file you used for import?

[2020-10-05 07:03] tonioo commented on #2023
@Salamon75 Why are you talking about Apache? The installer deploys nginx, not Apache. If you try to install Modoboa like this, on a server which already runs Apache, it won't work.

[2020-10-05 07:08] tonioo commented on #2027
@dirtyhillbilly Thank you for this contribution but I see 2 problems with your query:

1. You're using ``admin_domainalias.id`` which is a different sequence than ``domain.id``, so it will create duplicates in the view (I don't know if it's a problem or not)
2. You're including every domain alias in the result without checking if DKIM signing is enabled or not for the related domain

[2020-10-05 16:02] AmazingBeu opened #2028 "Replace 127.0.0.1 by localhost by default for policyd"
By default, the policyd daemon listen on the 127.0.0.1 . Use "--host localhost" make the daemon listen on "127.0.0.1" and "::1".

It's not important, but can generate bugs in specific cases.

[2020-10-05 17:33] vkarpyuk commented on #2012
Hi @tonioo, thanks for your reply! I have reinstalled the certificates so they could match the domain but know it looks like the database service PostgreSQL is failing to start and so potfix and dovecot.

Error log:
2020-10-05 15:49:12.334 UTC [79703] FATAL:  could not access private key file "/etc/ssl/private/ssl-cert-snakeoil.key": Permission denied
2020-10-05 15:49:12.334 UTC [79703] LOG:  data

[2020-10-05 22:18] vkarpyuk commented on #2012
Please help, I have my mail server down for almost a day.

[2020-10-06 07:21] tonioo commented on #2012
@vkarpyuk I think your postgres server is not looking for the right certificate. The snakeoil certificate is a default self-signed one generated at server installation, it's not a really good idea to use it. Did you change this?

[2020-10-06 07:26] dirtyhillbilly commented on #818
The file I used lacked the "address" part, thus creating the account didn't create the mailbox.
Things like that work as expected :
[code]

[2020-10-06 07:43] dirtyhillbilly commented on #2027
I think 1. is a problem, collisions will happen.

This one works better, then. I'm quite new to SQL, as you can see ;) :

[code]

[2020-10-06 09:19] liszca opened #2029 "Paste Image from Clipboard gives Error 404"
# Impacted versions

* Modoboa: 1.16.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Make a screenshot, and try to paste it, example in the Video/Screenshot section

# Current behavior
First I get a message about successfull upload immediatly followed by error 404.

# Expected behavior
After pasting the image I expect to be able to resize the image.

# Video/Screenshot link (optio

[2020-10-07 11:34] dirtyhillbilly commented on #2027
clone of #1882

[2020-10-07 11:34] #2027 closed

[2020-10-07 11:36] dirtyhillbilly commented on #1882
See #2027 for a solution that worked for me

[2020-10-07 12:56] florealcab commented on #1282
Bug is still here in modoboa 1.16, is any fix planned? I experience this bug on firefox and brave (not tested with other browsers). Now, the only way to fix it is set a high value in items per page.

The problem is the same for mail logs, where we have a lot of rows...

[2020-10-07 16:07] keystroke3 opened #2030 "I cannot send mail from my mail server"
# Impacted versions
* Modoboa: 1.16.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Run installer
Added `mydomain.tld` in the admin panel
Added super admin user `admin@mydomain.tld`
Deleted default admin user
Added SPF and DMARC records to domain registrar using Modoboa generated DKIM form `mail.mydomain.tld`
Added a simple user `user` in identities.
Restart the VPS
Run `sudo dpkg

[2020-10-08 23:46] lmfrazao opened #2031 "High CPU Usage on 1.16.1 - logparser"
# Impacted versions

* Modoboa: 1.16.1
* installer used: No , upgrade
* Webserver: Nginx

# Steps to reproduce

Upgraded from 1.15

# Current behavior

CPU high load since last update, any solution for this ? disable logparser cronjob ?
5     *       *       *       *       root    $PYTHON $INSTANCE/manage.py logparser &> /dev/null

# Expected behavior

# Video/Screenshot link (optional)

![Screen

[2020-10-08 23:51] lmfrazao opened #2032 "Redis server python manage.py policy_daemon not starting"
# Impacted versions

* Modoboa: 1.16.1
* installer used: No
* Webserver: Nginx

# Steps to reproduce

on settings.py I've added:

REDIS_HOST = '127.0.0.1'
REDIS_PORT = 6379
REDIS_QUOTA_DB = 0
REDIS_URL = 'redis://127.0.0.1:6379/0'

# Current behavior

redis is running, but  python manage.py policy_daemon just hangs, nothing on redis logs.

what is wrong ?

# Expected behavior

# Video/Screenshot l

[2020-10-09 13:43] liszca commented on #2029
Where are pasted images saved? In the `/tmp` folder? Which rights for the folder(s) are needed?

[2020-10-09 16:01] harryfoster commented on #2032
I thought the same thing, but it's just that the process isn't forked into the background (not sure if it's supposed to), it is writing the quotas to the redis hash at least, and listening on the socket. Follow the [docs](https://modoboa.readthedocs.io/en/latest/manual_installation/modoboa.html#policy-daemon) to make it run as a systemd unit or a supervisor service.

For example, I created the fol

[2020-10-11 12:42] liszca commented on #2003
Your search filter looks a little bit wired to me, two things, the colons and the operators. Here is how I would write it, but leaving the colons as is:
`(&(sAMAccountName=%(user)s)(|(memberof:1.2.840.113556.1.4.1941:=CN=modoboa,OU=ServiceGroups,OU=Domain,DC=Domain,DC=tld)(primaryGroupID=2603)))`

[2020-10-11 21:35] TheBigM85 commented on #2004
Hello.

Sorry for late answer. I do activate the debug-mode, but there is nothing in mail.log for the Mail and time, where i testetd from.
Mail.log looks ok. Only in nginx error-log for the domain, there is an entry for timeout like this:
2020/10/11 23:28:01 [error] 39599#39599: *50033 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 93.XXX.XXX.XX

[2020-10-12 00:38] lmfrazao commented on #2032
that was it, got it working now!

on roundcube isn't working, since I'm using it for webmail.

any idea on how to use it with roundcube ?

thank you!

[2020-10-12 06:19] ivdok opened #2033 "Upgrade to 1.16.1 doesn't work"
# Impacted versions

* Modoboa: 1.15.0
* installer used: ?
* Webserver: Nginx

# Steps to reproduce

# Current behavior
`One or more updates are available!` in Web UI, still showing 1.15.0
# Expected behavior
Updated environment

[2020-10-12 07:29] harryfoster commented on #2032
Not really, I'd imagine it's the same as any other backend that Roundcube uses. I'm just using the Modoboa webmail.

[2020-10-12 11:19] MrGeneration commented on #2033
Modoboa is based von Django and in order for modoboa to reload, restarting your webserver is not enough.
Restart `uwsgi` which is responsible for the modoboa part - after that you should be fine.

[2020-10-12 11:35] MrGeneration commented on #2031
How big is your `mail.log`? Maybe it's just tons of data which makes this process take ages?

[2020-10-12 14:18] lmfrazao commented on #2031
yep, it's big, will log less stuff on it I guess.
I've removed the cronjob and it's ok, but no logs :)

[2020-10-12 14:31] MrGeneration commented on #2031
You could filter smtp related stuff into a independent log file if that helps to reduce the size, because by default modoboa will parse `mail.log` which by default also contains e.g. dovecot stuff. If not already configured, you may also want to rotate your logs - but that should be happening by default.

[2020-10-12 14:36] MrGeneration commented on #2030
The errors you're looking for should be living within either `/var/log/mail.log` or `/var/log/mail.err`.
Your issues are mail server not web server related. :)

It's possible that your automx provides invalid configuration data to your thunderbird.
So you may double check the detected settings.

In my case the following does work:
- IMAP Port 993 with SSL/TLS & password, normal
- SMTP Port 587 wit

[2020-10-12 14:42] MrGeneration commented on #2012
If `mail.timelogbook.com` is your mail server in question, please also ensure that your reverse DNS record is configured. In your case the IP `164.90.144.12` does not resolve your mail server as PTR. This is also a reason (beside not sending via SMTPs and with DKIM & SPF) why your mail server will be considered spammy.

---

You can find a good configuration help for ssl relatewd stuff (including

[2020-10-12 15:39] isaaclepes opened #2034 "DNSBL - Dynip.rothen.com Issue"
dynip.rothen.com is returning a 503 service unavailable error.  Modoboa seems to interpret this as the server being listed.

[2020-10-12 16:12] MrGeneration commented on #2034
I'm using these:
[code]

I did remove one or two lists due to EOL or wrong results.
In my opinion that's more a postfix thing (interpreting wise).

I also had a quick lurk into the code where the DNSBLs are defined:
https://github.com/modoboa/modoboa-installer/blob/c39adcbd143f1d07551a1f49089624917b7cb592/modoboa_installer/scripts/files/postfix/main.cf.tpl#L144-L148

I can't find above mentioned l

[2020-10-12 16:20] isaaclepes commented on #2034
I didnt add any manually, or I would have removed it.  However, I did forget to check for updates and it appears to be resolved after updating all packages via apt.  Gussing this host was on an old version or something.

[2020-10-12 19:06] #2034 closed

[2020-10-12 19:07] tonioo commented on #2031
Parsing a big file can be pretty long so, as @MrGeneration suggests, you should rotate your log files and filter their content.

[2020-10-12 19:07] #2031 closed

[2020-10-12 19:08] tonioo commented on #2032
@lmfrazao Same solution, use port 587 with authentication for Roundcube.

[2020-10-12 19:09] #2032 closed

[2020-10-12 19:11] tonioo commented on #2004
@TheBigM85 And still nothing in uwsgi logs? Have you tried to play with the harakiri timeout value?

[2020-10-12 19:13] tonioo commented on #2029
@liszca Actually I don't think it is currently configured. I didn't know it was possible to do this with CKeditor!

[2020-10-12 21:30] liszca commented on #2029
You are right in the current version it isn't available anymore. If it is CKeditor, well I had trouble with that editor when ever I tried to use it.

I close the Issue, but can you get that feature back in long term?

[2020-10-12 21:30] #2029 closed

[2020-10-15 01:23] aaronesteban1 opened #2035 "CANNOT Send or Receive Emails After New Installation"
# Impacted versions

* Modoboa: latest version
* installer used: command line
* Webserver: Nginx/Apache

I have downloaded the application through the command line, have gone through the basic installation process, have made sure that port 25 is open, have enabled ports 25, 80, 443 through UFW, and done everything I thought that I could do to make it work.

Here is the error log located in "/var/l

[2020-10-15 02:34] MrGeneration commented on #2035
The message that should raise your awareness is:
`Oct 15 01:04:39 mail postfix/smtpd[14825]: warning: connect to proxy filter inet:[127.0.0.1]:10024: Connection refused`

By default this would be amavis not running for whatever reason.
`systemctl start amavis` should solve this issue.

[2020-10-15 04:06] aaronesteban1 commented on #2035
I have already tried to restart/reload both Postfix & amavis to no avail.
Please see the latest send and receive error log that I've attached here.
![Modoboa-Cant-Send-or-receive](https://user-images.githubusercontent.com/58304956/96075982-4b79bb00-0e7a-11eb-9aff-dbb08035d63a.PNG)

[2020-10-15 08:33] tonioo commented on #2035
@aanriot Looks like amavis refuses to start. Can you check why?

[2020-10-15 08:34] #2033 closed

[2020-10-15 08:35] #2023 closed

[2020-10-15 08:36] tonioo commented on #2007
@tonyguadagno 1.16 is now available, you can upgrade if you want to.

[2020-10-15 08:36] #2007 closed

[2020-10-15 15:05] MrGeneration commented on #2035
If a service isn't starting or crashing during startup, you can quickly check those situations with `systemctl status amavis` (you can replace amavis by any other service running on your system). This will provide the last 5 lines or so and *usually* contains the information you're looking for.

Also, if you start a service manually and it crashed, your system will tell you as soon as the prompt r

[2020-10-20 17:19] MrGeneration opened #2038 "Improve DNS checks to allow DNS servers not working temporary"
# Impacted versions

* Modoboa: 1.16.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Force your DNS resolver to be unavailable for a moment (for whatever reason).

# Current behavior

Modoboa regulary tries to resolve all relevant DNS entries for configured domains if enabled.
It will, in case e.g. a MX record no longer can be found, send a mail to the domain owner to inform abou

[2020-10-21 08:43] #1455 closed

[2020-10-21 08:43] #1672 closed

[2020-10-21 08:44] #1760 closed

[2020-10-21 13:46] tonioo commented on #2028
@AmazingBeu Do you suggest I modify the default host to localhost?

[2020-10-21 13:49] tonioo commented on #2038
@MrGeneration Actually you can already disable tests for a specific domain. Is it not enough?

[2020-10-21 13:51] Toniob commented on #2013
I do. Spams are handled with a global sieve filter, which check the headers set by rspamd and put the message in the spam folder if so.

[2020-10-21 13:54] tonioo commented on #1988
@neonknight I think user query used to include such a filter but there was a problem with it. Unfortunately, I can't remember which one...

[2020-10-21 13:57] MrGeneration commented on #2038
While this is true, this was temporary affecting 50% of my domains due a temporary route issue to the affected DNS servers.
So sadly, no this wouldn't be an option.

Personally I think that the DNS check should be robust enough to know the difference between a simple timeout or `NXDOMAIN`. Because this would also allow you to throw different errors.

I really love the domain check functionality an

[2020-10-21 13:59] #1987 closed

[2020-10-21 14:01] AmazingBeu commented on #2028
@tonioo Yes, in policyd and postfix.
But I thought of something else but it's more complicated. Maybe it could be nice to use unix sockets instead of the default tcp/ip sockets in Modoboa, for policyd and all other modules. All the software used seems to support this feature, but I'm not sure Modoboa allows you to define a unix socket for Webmail configuration for example.

[2020-10-21 14:02] tonioo commented on #1985
If you use the installer, then yes.

This feature is provided by Django and depends on the settings.py. I think a GUI for that would be possible but the per-domain level would required a custom password validation system. I don't think it's a priority.

[2020-10-21 14:04] #1867 closed

[2020-10-21 14:05] #1785 closed

[2020-10-21 14:06] #1770 closed

[2020-10-21 14:06] #1768 closed

[2020-10-21 14:07] #2036 closed

[2020-10-21 14:32] tonioo commented on #2028
@AmazingBeu The webmail communicates using SMTP and IMAP protocols. I'm not sure postfix or dovecot support this...
About the policy daemon, it could be possible I guess but it's another story :)

[2020-10-21 14:35] #1730 closed

[2020-10-21 14:56] AmazingBeu commented on #2028
@tonioo from what i found: postfix, dovecot, amavis, opendkim, opendmarc and redis support unix socket.

[2020-10-21 15:53] tonioo commented on #2028
@AmazingBeu Can you please add a link for dovecot?

[2020-10-21 16:15] AmazingBeu commented on #2028
@tonioo According to the doc, you have to replace the "inet_listener" by "unix_listener" with the right options :
https://doc.dovecot.org/configuration_manual/service_configuration/?highlight=unix_listeners

[2020-10-22 06:56] nsabatelli opened #2041 "DMARC module does not extract data from the email"
Hello,
when using the DMARC module for data extraction via IMAP server I encountered the following error.

_/bin/ python3 /var/www/html/modoboa_ct/manage.py import_aggregated_report --imap --host XXXX --ssl -v 3_
_Username: XXXXX_
_Password:_

_Traceback (most recent call last):
  File "/var/www/html/modoboa_ct/manage.py", line 21, in <module>
    main ()
  File "/var/www/html/modoboa_ct/manage.py

[2020-10-22 17:50] AmazingBeu opened #2043 "Daily Message sending limit is not reset every day"
On my Modoboa server, the policyd upload limit is not reset every day.

So, my sending limit is lowered each time I send a mail, and never goes back up.

[2020-10-23 07:04] #1356 closed

[2020-10-23 07:05] tonioo commented on #2043
@AmazingBeu How do you start the policy daemon?

[2020-10-23 07:39] AmazingBeu commented on #2043
Im using supervisord as you recommend in the doc:

[code]

And I tried in CLI with the following command:

```sudo -u modoboa /srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py policy_daemon --debug -v3 --host localhost```

And I never had any logs, even with the debug and verbosity options.
BTW I also tried without the host option.

But the port 9999 is listening and postfix is using it

[2020-10-23 08:54] tonioo commented on #2043
@AmazingBeu Logs should be contained in the /var/log/mail.log file, if you configured the logging part in django. Can you check if you see a 'modoboa.policyd' entry in the LOGGING setting?

[2020-10-23 09:14] AmazingBeu commented on #2043
@tonioo No, I only have:

[code]

[2020-10-23 09:20] tonioo commented on #2043
Looks like I forgot to mention this in the documentation... You can get an example here: https://github.com/modoboa/modoboa/blob/master/modoboa/core/commands/templates/settings.py.tpl#L319.

[2020-10-23 09:36] AmazingBeu commented on #2043
@tonioo OK I changed all my LOGGING section for the ones you gave me, I restarted supervisor and uwsgi but i have no more logs.

[2020-10-23 09:38] Paultje52 commented on #1862
Hello.
I had the exact same issue, but I found a solution if you're using cloudflare and you have SSL to flexible. What you need to do is go to your cloudflare settings, create a page rule for `mail.domain.com/*`, and set SSL to full.

[2020-10-23 09:58] tonioo commented on #2043
You mean in the mail.log file?

[2020-10-23 10:02] AmazingBeu commented on #2043
Yes, nothing more than before (postfix, dovecot and others)

[2020-10-23 12:43] tonioo commented on #2043
@AmazingBeu If logging is configured correctly, you should see a startup message at least. (see https://github.com/modoboa/modoboa/blob/master/modoboa/policyd/management/commands/policy_daemon.py#L50)

[2020-10-23 13:32] AmazingBeu commented on #2043
Nothing.

This is my config and other information:

<details>
<summary>
settings.php
</summary>

[code]

</details>

<details>
<summary>
$ pip list
</summary>

[code]
</details>

<details>
<summary>
Machine informations
</summary>

* Debian 10
* VM in Proxmox
* 2 CPU
* 8GB
* DB MariaDB
* Softwares:
  * python: 3.7.3
  * postfix: 3.4.14
  * dovecot: 2.3.4.1
  * redis: 5.0.3
  * opendkim: 2.11.0
  *

[2020-10-23 14:33] tonioo commented on #2043
@AmazingBeu Config looks fine. Perhaps an issue with syslog configuration?

[2020-10-23 14:34] tonioo commented on #2028
@AmazingBeu I'll close this issue since I modified the default values for policyd. I suggest you open a new issue about unix sockets.

[2020-10-23 14:34] #2028 closed

[2020-10-23 14:44] #1863 closed

[2020-10-23 14:46] tonioo commented on #1852
@hadifarnoud Do you still encounter this issue?

[2020-10-23 15:40] AmazingBeu commented on #2043
@tonioo Hmm, I don't know, all the other logs seems work perfectly. There is no solution to set logs to stdout ?

[2020-10-23 19:25] #1761 closed

[2020-10-24 06:26] tonioo commented on #2043
@AmazingBeu you can play with LOGGING settings in order to configure a console output. It shoud be documented in Django's doc.

[2020-10-24 09:04] AmazingBeu commented on #2043
@tonioo The probleme looks like solved and I don't know why ahah...

It's possible that the absence of LOGGING causes policyd doesn't reset the counters?

[2020-10-24 18:05] kryskool opened #2064 "Python 3.5 End Of Life"
Some packages update not available in python 3.5, like

- feeparser
- dnspython
- jsonfield

python 3.5 has reached its end of life

Are there any objections to removing it from the automated tests?

[2020-10-24 18:09] kryskool commented on #2064
Some depracated warning present:

[code]

[2020-10-24 19:36] Paultje52 opened #2067 "Emails don't get sent"
# Impacted versions

* Modoboa: Latest
* installer used: Yes?
* Webserver: Nginx

# Problem
When I sent an email to my gmail account, I never recieve it. I also looked in my spam box, but I also didn't find it there.

When I click the "send" button when writing an email, it takes about 10-15 seconds until it redirects me and says "Email sent". Did I configure something wrong, or is this an issue i

[2020-10-24 19:56] kryskool commented on #2067
Hi @Paultje52

Can you check the /var/log/mail.log, and check queue ?

regards,

[2020-10-24 22:13] TarikHaci opened #2079 "Question: Is there any possibility to set user/#preferences/ for every new User to HTML, instead of plain text?"
# Impacted versions

* Distribution: Ubuntu
* Codename: ?
* Arch: 32 Bits
* Database: PostgreSQL

# Question
How to set that every newly created user has
Default message display mode: HTML
Enable HTML links display: HTML
Default editor : HTML
In the settings of mail.domain.com/user/#preferences/ ?

Thanks in advance.

[2020-10-26 08:11] tonioo commented on #2043
@AmazingBeu I don't think so...
Strange !

[2020-10-26 10:10] SellamiRami opened #2069 "How to send and receive emails using the REST API of Modoboa"
Hello all,
I want to integrate Modoboa in a private project in which we developed a client web interface that is connected to the Modoboa server (i.e. Backend).
Via this client web interface, I want to exchange emails with attachement. However, I do not find any operations in the REST API of Modoboa (i.e. https://modoboa.readthedocs.io/en/latest/rest_api.html) enabling sending and receiving emails

[2020-10-26 10:27] tonioo commented on #2069
@SellamiRami You can't do this using the REST API. I suggest you use IMAP/SMTP protocols instead.

[2020-10-26 10:30] SellamiRami commented on #2069
Thank you @tonioo for your quick reply. Could you please give more details about this (e.g. a documentation)?
Thanks in advance for your help !
Rami.

[2020-10-26 16:45] besendorf opened #2070 "Feature Request: Mailbox encryption / dovecot MailCrypt"
It would be a huge privacy gain for modoboa if it supported user mailbox encryption. Dovecot offers a plugin called [MailCrypt](https://doc.dovecot.org/configuration_manual/mail_crypt_plugin/#mail-crypt-plugin) which provides this functionality. It offers two modes. Global keys and folder keys.
Global keys encrypt all mail accounts with the same key, this is useful when you want to save the mailbo

[2020-10-27 10:05] tonioo commented on #2043
@AmazingBeu Is it still working?

[2020-10-27 10:52] AmazingBeu commented on #2043
@tonioo I'm doing some tests, but each test takes 24h... :grin:

[2020-10-27 15:59] tonioo commented on #2043
@AmazingBeu Indeed ;)

[2020-10-27 16:11] tonioo opened #2071 "drf-spectacular for API documentation"
Enable https://github.com/tfranzel/drf-spectacular to propose better swagger documentation (including tags and more).

[2020-10-28 19:06] k-hristov opened #2073 "Question: Update from 1.10.3"
Hey,
Modoboa rulz!

I have a simple question:
I am running modoboa version 1.10.3. Will it be safe to upgrade to the latest version by following the steps in the documentation? Also what are the key features to be backed up ? Email folders, database (postgre) and probably something else ?

https://prnt.sc/v8w07s

Also on the version i am running i have manually configured openDKIM. Will this someh

[2020-10-29 07:52] Paultje52 commented on #2067
Hello. Sorry for my late response, I didn't have much time the last couple days. Here is my log.
[code]

I don't know how to check the queue. Yesterday, I got a mail from Mail Delivery System.
[code]

[2020-10-29 07:57] MrGeneration commented on #2067
`dsn=4.4.3, status=deferred (Host or domain name not found. Name se [...]`

and

[code]

actually indicate with DNS.
Ensure your DNS server, which ever you use, is able to resolve DNS records for Google in this case.

Running `dig gmail.com MX` should return MX records.
The answer section would look similar to this:
[code]

[2020-10-29 09:07] tonioo commented on #2073
@k-hristov upgrade should be fine if you follow the instructions. Don't forget to upgrade all extensions too.
 You can backup the database, email folders and maybe configuration file in /etc but if you upgrade manually, you should not have problems.
And your OpenDKIM won't be modified if you don't use the installer.

[2020-10-29 15:43] aaronesteban1 opened #2075 "Modoboa no longer receiving email, only sending....."
# Impacted versions

* Modoboa: LATEST version
* installer used: Yes, via the command line.
* Webserver: Nginx

# Steps to reproduce
I installed Mautic over Modoboa.

# Current behavior
Not able to receive email messages, only able to send.

I was once able to receive messages prior to installing Mautic, but now, I'm no longer able to.
Where is the error log that I can use to find what may be caus

[2020-10-29 16:09] aaronesteban1 commented on #1750
Was this issue ever resolved? After installing Mautic over Modoboa, my Modoboa no longer receives email. It's still able to send, but not receive. I know that my DNS records are properly configured. I've tried to restart postfix, amavis, clam, SpamAssassin, and others, but it still won't receive messages. Any idea what could be causing this?

[2020-10-29 16:27] aaronesteban1 commented on #2035
I just did a new installation of Modoboa and had everything working. After installing Mautic on top of this Modoboa, I am no longer able to receive any email for any of the email accounts that I've created in Modoboa. What do you think that I should try to do to fix this? Any ideas on what could be stopping the messages from coming in? I'm still able to send email through Modoboa, but not able to

[2020-10-29 20:40] jeromelebleu commented on #2070
I would actually really like to find some time to work on it - if no one else does it. Does anybody want to join? I just don't know yet how it is working and I don't speak German unfortunately. But I planned to see how it is done in userli. Any resources, documentations and help is welcome so!

[2020-10-29 21:14] malteneu opened #2076 "Can't add users"
# Impacted versions

* Modoboa: 1.15.0
* installer used: Yes
* Webserver: Nginx

Used the installer to install modoba. Wasn't able to add users. Running `python3 manage.py migrate` gave me this error:

`Traceback (most recent call last):
  File "manage.py", line 21, in <module>
    main()
  File "manage.py", line 17, in main
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python3.7/

[2020-10-29 21:25] MrGeneration commented on #2035
I don't think Mautic has anything to do with that issue as it's a PHP website basically.
Your log file (mail.log) should contain hints on where to look.

If you still have connection refused errors, you'll need to solve those.

[2020-10-29 21:26] MrGeneration commented on #2075
This is a duplicate of https://github.com/modoboa/modoboa/issues/2035
At least does it cover the same topic.

[2020-10-30 07:54] Paultje52 commented on #2067
I used `dig gmail.com MX`, this is the result.
[code]

[2020-10-30 08:19] kryskool commented on #2075
Hi @aaronesteban1

Please check **mail.log**, and i don't know Mautic, but i think it broke your Postfix installation or maybe the database access.

Can you paste some portion of log here

Regards,

[2020-10-31 17:51] tomcrus001 commented on #1477
Hey there.

As the databse-credentials are already contained in *Modoboa*'s configuration file `settings.py`, I'd suggest to add another command to `manage.py` e.g. `update-last-login`, which will do the database-query in turn.

This way the shell-script `postlogin.sh` currently being in charge of doing this doesn't need to contain the username/password for accessing the database.

I'd also be wil

[2020-10-31 18:01] tomcrus001 commented on #1477
Some background information about the warning itself can be found here: [End-User Guidelines for Password Security](https://dev.mysql.com/doc/refman/8.0/en/password-security-user.html)

In short the: password given to `mysql` (or also any other DB-cli-tool) as command-line-parameter can possibly get seen by anybody who can see the process-list on the server. So this is a security-risk of leaking t

[2020-11-01 09:31] hadifarnoud commented on #1278
I don't think this bug is useful.

[2020-11-01 12:32] keystroke3 commented on #2030
Thanks @MrGeneration  for the reply.

Thanks for the reply. I looked into the logs and found that there is a potion of the logs that keep repeating:
[code]
I am guessing that the repeating section is for every time I tried sending an email from my server. What could be causing the time out issues? I tried turning off my `ufw` but there was no difference.

Could you please point me to a resource th

[2020-11-01 13:24] MrGeneration commented on #2030
Please ensure that port 25 is open for outgoing and incoming connections.
Also, make sure Port 25 is *not* blocked by your provider / hoster.

There are providers and hosters that do restrict these ports by default. Outgoing connection timeouts are an indicator for that.

[2020-11-01 19:24] keystroke3 commented on #2030
Port 25 seems to be open. When I run `telnet mydomian.com 25` on my local machine, this is the output:
[code]
When I run `netstat -tunlp` to check for listening ports on the server, this is what I get:
[code]

Are there any other tests I can run to try and narrow down the issue?

[2020-11-01 19:39] MrGeneration commented on #2030
Port 25 is probably blocked on transit between your host and the other.
This may be dependent on your hosting provider, whoever that is.

You should check with their FAQ or support.

[2020-11-01 19:57] keystroke3 commented on #2030
After more digging, I found my local IP address is blocked by zen.spamhaus.org. I read through [their help page](https://www.spamhaus.org/faq/section/Spamhaus%20PBL):

If a mail program such as Apple Mail, Thunderbird, or Outlook  is being used, and the sending of email is failing due to a
PBL listing,  the solution is to ensure that SMTP Authentication is enabled and  working correctly: this will

[2020-11-01 20:00] MrGeneration commented on #2030
Sorry but this as far as I can help.

[2020-11-01 21:06] keystroke3 commented on #2030
I found that the SMTP authentication [section in the docs](https://modoboa.readthedocs.io/en/latest/configuration.html#smtp). Now I am wondering if it is possible to empty the database and start a fresh without reinstalling modoboa. I am having issues with an identity that I created but is not visible in the admin panel. SMTP is trying to authenitcate with that email, and is bringing issues.

[2020-11-01 21:16] keystroke3 commented on #2030
Ok, I made some progress, I deleted the entire domain from the list and the authentication is working now with my good domain. The logs however, show that there is an ip that is blacklisted, but it's not mine. It's not the vps either, though a whois lookup shows that it is a cloud hosting company. I will contact DigitalOcean support tomorrow and see if the problem is with them.

[2020-11-03 07:53] extragreen commented on #1987
Apologies for the delay, crazy year :) Yep so just at the start of my second post I rebuilt the virtualenv including all extensions and caldav 0.6.2 did install.

It's been a while since i've had time to work on the machine so I'm going to try a completely fresh install with the newer version later in the year and see what happens

[2020-11-03 19:54] DaveDischord opened #2077 "Problems with generate_postfix_maps"
# Impacted versions

* OS Type: Debian/Ubuntu,
* OS Version: 18.04
* Database Type: PostgreSQL/MySQL
* Database version: X.y
* Modoboa:1.16.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
**python3 manage.py generate_postfix_maps --destdir /etc/postfix**
# Current behavior
[code]
# Expected behavior
No Error
# Video/Screenshot link (optional)
A slew of issues started happening whe

[2020-11-03 20:40] bduhan commented on #2077
You need to use root privileges when running this command.

[2020-11-03 21:49] DaveDischord commented on #2077
Still get the same error, even in root

[2020-11-04 06:54] tonioo commented on #2077
Make sure the /etc/postfix directory has write permission.

[2020-11-05 01:39] mattg66 opened #2078 "Domain Quota Not Functioning"
# Impacted versions

OS Type: Debian
OS Version: 10
Modoboa: 1.15.0
Installer used: Yes ?
Webserver: Nginx

# Steps to reproduce
Domain Quota doesn't show usage when set. Bar is empty.
# Current behavior
Domain quota bar shows when a mailbox has a quota set on it
# Expected behavior
Domain quota bar should show usage of all mailboxes associated with the domain

[2020-11-05 13:05] tonioo commented on #2079
@TarikHaci There is no way to do this currently.

[2020-11-05 13:09] tonioo commented on #2078
@mattg66 Have you defined a quota for your domain?

[2020-11-05 13:11] tonioo commented on #2076
@malteneu The trace you pasted indicates you've not loaded the virtual environment used by Modoboa. Can you retry with the virtualenv enabled?

[2020-11-05 13:12] mattg66 commented on #2078
![image](https://user-images.githubusercontent.com/56981878/98245195-7aaab600-1f68-11eb-9df7-859082321756.png)

[2020-11-05 13:51] DaveDischord commented on #2077
Ended up changing owner of /etc/postfix to 'modoboa' from 'root'. Fixed this issue.

[2020-11-05 13:51] #2077 closed

[2020-11-05 14:04] DaveDischord opened #2080 "Possible LDAP Sync issue - Active Directory"
# Impacted versions

* OS Type: Debian/Ubuntu
* OS Version: 18.04
* Database Type: PostgreSQL
* Database version: 10.14
* Modoboa: 1.16.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Connect to server via Outlook or Webmail

# Current behavior
Issue arose after updating Modoboa from 1.15 to 1.16
Certain users (no pattern found) cannot log on using their AD password, but others ca

[2020-11-05 14:06] tonioo commented on #2078
Default mailbox quota is set to 0, which means no quota. Did you define quota manually on the mailboxes you created for this domain?

[2020-11-05 14:07] tonioo commented on #2080
@DaveDischord DO you have the possibility to get some logs about authentication on your AD server?

[2020-11-05 14:15] tonioo commented on #1477
@tomcrus001 That's actually a good idea! I think the core app would be the best place, since it contains the User model. What do you think?

[2020-11-05 14:22] DaveDischord commented on #2080
Any suggestions on where to look (like where in Event Viewer).? I don't have any third-party tools installed.

[2020-11-05 14:23] tonioo commented on #2069
@SellamiRami IMAP and SMTP are old and standard protocols. You can find a lot of documentation on the Internet about them and most programming language provide ready-to-use client modules.

[2020-11-05 14:23] #2069 closed

[2020-11-05 14:24] #2073 closed

[2020-11-05 14:24] tonioo commented on #2043
@AmazingBeu Any news?

[2020-11-05 14:57] tonioo commented on #2080
@DaveDischord Could you update your logging configuration like this (in the settings.py file):
[code]
Make sure to reload uwsgi after. You should see more information in your auth log file

[2020-11-05 16:09] DaveDischord commented on #2080
@tonioo Will do.  In the settings.py, there is **DOVECOT_LOOKUP_PATH** commented out.  Is that relevant to AD LADAP, since I have the dovecot file configured?  Asking out of curiosity since I haven't noticed it before, or seen it referenced.

[2020-11-05 19:21] mundschenk-at opened #2081 "Exceptions during modo check_mx"
# Impacted versions

* OS Type: FreeBSD
* OS Version: 12.1-RELEASE-p10
* Database Type: MySQL
* Database version: 10.4.14-MariaDB
* Modoboa: 1.17.0
* installer used: No
* Webserver: Nginx

# Steps to reproduce
Run the command `modo check_mx`.

# Current behavior
[code]

# Expected behavior
Successful completion of command.

[2020-11-05 23:13] mattg66 commented on #2078
No, I did not set the quota for individual accounts, I thought the idea of a domain quota was an overall restriction on the amount of space the domain as a whole can use?

[2020-11-06 06:41] mundschenk-at commented on #2081
This happens after updating to 1.17.0 from 1.15.0 (apparently after accidentally skipping 1.16.0). It appears related to this commit in [_mx.py](https://github.com/modoboa/modoboa/commit/08360400a9d9d8062a53d62b0630b2f527cf0f78#diff-aa493d9880d1fa3ce026ad7c8f962354e4adf15f5b2b933bea85912f7b15c4f6).

[2020-11-06 08:02] tonioo commented on #2078
@mattg66 It is not the way it works. The domain quota is a pool you can allocate from for mailboxes. The rule is simple: the sum of all mailboxes quota must not exceed the domain quota.

[2020-11-06 08:06] tonioo commented on #2081
Looks like the title field on the new alarm model is a bit small (150 characters)

[2020-11-06 10:08] mundschenk-at commented on #2081
Any way to apply an interim fix (other than disabling the cron checks)?

[2020-11-06 14:08] tonioo commented on #2081
Maybe truncate the data before it is saved to the database?

[2020-11-07 09:36] AmazingBeu commented on #2043
It's look like works only one time, at the first UTC midnight after restarted Supervisor :thinking:
I will confirm in 2 days

[2020-11-07 13:14] lmfrazao commented on #2032
Just updated to 1.17.0 and now it doesn't start:

Nov 07 13:05:23 prod-smtp-01.loc python[4429]: output = self.handle(*args, **options)
Nov 07 13:05:23 prod-smtp-01.loc python[4429]: File "/srv/modoboa/env/lib/python3.6/site-packages/modoboa/policyd/management/commands/policy_daemon.py", line 39, in handle
Nov 07 13:05:23 prod-smtp-01.loc python[4429]: server = loop.run_until_complete(coro)
Nov 07

[2020-11-07 17:17] tonioo commented on #2032
@lmfrazao Try using ipv4.

[2020-11-07 21:38] lmfrazao commented on #2032
Yes, I have it disabled on the os, how is it trying to bind to it? Same script that is starting it.

Luís Frazão | Bild Corp
+351 914120170
www.bild.pt
________________________________
From: Antoine Nguyen <notifications@github.com>
Sent: Saturday, November 7, 2020 5:17:41 PM
To: modoboa/modoboa <modoboa@noreply.github.com>
Cc: lmfrazao <lmfrazao@msn.com>; Mention <mention@noreply.github.com>
Subj

[2020-11-08 11:41] hadifarnoud commented on #1852
I was not able to update to latest version @tonioo. so, yes I still have this issue.

[2020-11-08 14:25] malteneu commented on #2076
Running in migrate in in the virtual enviroment throws this back:

`Traceback (most recent call last):
  File "manage.py", line 10, in main
    from django.core.management import execute_from_command_line
ModuleNotFoundError: No module named 'django'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "manage.py", line 21, in <module>

[2020-11-09 09:42] AmazingBeu commented on #2043
@tonioo Ok that's it. PolicyD only resets the counters once, but why?

[2020-11-09 12:15] MrGeneration commented on #1964
I'm confused.
The documentation states the steps required to upgrade.

Here, for example the steps for 1.15.0:
https://modoboa.readthedocs.io/en/latest/upgrade.html#id4

And, as you need to rebuilt your environment, this will help you on this step:
https://modoboa.readthedocs.io/en/latest/upgrade.html#rebuild-virtual-environment

Personally I don't think the docs should be more detailed on that pa

[2020-11-09 20:26] tonioo commented on #1852
@hadifarnoud Why are you not able to update?

[2020-11-09 23:46] lmfrazao commented on #2032
fixed, had localhost defined as ::1 also in /etc/hosts

thanx!

[2020-11-10 11:41] #1297 closed

[2020-11-10 13:46] hadifarnoud commented on #1852
I just don't know anything about Python and I'm afraid I mess it up. this is a production server and hundreds of accounts are being used on it. I just can't risk it

[2020-11-10 13:47] hadifarnoud commented on #1964
I don't know anything about Python. I think a documentation should be through regardless of user's knowledge.

[2020-11-10 13:49] MrGeneration commented on #1964
So you're saying the hint to this is not enough?
https://help.pythonanywhere.com/pages/RebuildingVirtualenvs/

You also disagree that Python is not application scope and thus shouldn't be seperate (not Modoboa related) documentation?
I really just want to understand your point of view as someone that's not a big fan of duplicate information all over the place.

[2020-11-10 14:02] hadifarnoud commented on #1964
yes I'm saying it has to be included in Modoboa docs. I want to make sure I'm doing it right, the sequence of steps etc.

since it's a production server and emails of hundreds of people are on it, I can't risk it and be down for hours (whilst we restore it from backup)

[2020-11-10 14:47] tonioo commented on #2043
@AmazingBeu I guess it has something to do with rescheduling (see https://github.com/modoboa/modoboa/blob/master/modoboa/policyd/core.py#L277). What python version do you use?

[2020-11-10 15:02] AmazingBeu commented on #2043
My virtualenv is based on Python 3.7.3 .

You have all the information here, except for Modoboa which I updated to 1.17 yesterday:
https://github.com/modoboa/modoboa/issues/2043#issuecomment-715342871

[2020-11-10 15:07] tonioo commented on #1964
@hadifarnoud Have you tried using the installer and its upgrade mode? Could you perhaps clone your server and try this?

[2020-11-10 15:11] tonioo commented on #1852
@hadifarnoud I understand your doubts but in this case, why don't you order an upgrade service from the official website?

[2020-11-10 15:52] #2071 closed

[2020-11-11 08:33] tonioo commented on #2043
@AmazingBeu I also use python 3.7 on my own server and I see in logs that the reset_counters coroutine is called every night... I enabled limits on my own account and will check if the counter is reset tomorrow.

[2020-11-11 12:32] #2078 closed

[2020-11-11 12:33] mattg66 opened #2082 "Total storage used/remaining"
Is there the ability to check system disk space used/remaining in the Modoboa UI?

[2020-11-12 13:47] #1966 closed

[2020-11-12 13:59] tonioo commented on #2082
@mattg66 No, you can't check this through the web UI. Are you talking about the complete server disk, or only the space used by emails?
For the latest one, it is only possible if Modoboa is hosted on the same server than dovecot. I don't know any easy way to get this information otherwise.

[2020-11-13 04:41] davekimble2 opened #2083 "Can't login after installing"
# Impacted versions

* OS Type: Debian/Ubuntu, Centos/Redhat, Arch, Gentoo, Slack, ...Ubuntu
* OS Version: Number or Name 20.04
* Database Type: PostgreSQL/MySQL postgresql
* Database version: X.y 12+214ubuntu0.1
* Modoboa: X.X.x 1.17.0
* installer used: Yes/No ? Yes
* Webserver: Nginx/Apache Nginx

# Steps to reproduce
Install with modoboa-installer, goto https://mail.mydomain.com, login screen a

[2020-11-13 10:41] maxcco commented on #2083
If I'm correct default should be
admin / password

[2020-11-20 11:08] bosgold opened #2084 "Default password scheme list is empty"
# Impacted versions

* OS Type: Debian/Ubuntu
* OS Version: Ubuntu 18.04
* Modoboa: 1.17.0
* Webserver: Nginx
* Dovecot: 2.3.11.3

# Current behavior
Modoboa -> Parameters -> General
Default passwort scheme drop down list is empty but "This field is required".

root # doveadm pw -l
SHA1 SSHA512 SCRAM-SHA-256 BLF-CRYPT PLAIN HMAC-MD5 OTP SHA512 SHA RPA DES-CRYPT CRYPT SSHA MD5-CRYPT SKEY PLAIN-MD4

[2020-11-22 17:06] kalimero67 commented on #2043
Sorry boys @AmazingBeu and @tonioo but ...
I have the same problem and I'm waiting for solution.
What is it? Change LOGGING in settings.py? How exactly?

Thanks Jan

[2020-11-22 21:01] #818 closed

[2020-11-23 15:42] devhammed opened #2086 ""domain does not exist" error when creating user"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.04.1
* Database Type: PostgreSQL
* Database version: psql (PostgreSQL) 12.5 (Ubuntu 12.5-0ubuntu0.20.04.1)
* Modoboa: 1.17.0
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce

Try to create a new user.

# Current behavior

Getting "domain does not exist" error

# Expected behavior

To create a new user.

# Video/Screensh

[2020-11-23 15:59] tonioo commented on #2086
@devhammed Have you created the corresponding domain first?

[2020-11-23 16:30] devhammed commented on #2086
I just did and it is working correctly!

[2020-11-23 16:32] #2086 closed

[2020-11-24 07:32] nsabatelli opened #2087 "Problem with "manage.py communicate_with_public_api""
Hello,
in the execution of the procedure **"communicate_with_public_api"** for some days I get these errors.

Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/urllib3/connectionpool.py", line 677, in urlopen
    chunked = chunked,
  File "/usr/lib/python3.6/site-packages/urllib3/connectionpool.py", line 426, in _make_request
    six.raise_from (e, None)
  File "<string>"

[2020-11-24 08:29] devhammed opened #2088 "Modoboa not receiving emails but can send"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.04.1
* Database Type: PostgreSQL
* Database version: psql (PostgreSQL) 12.5 (Ubuntu 12.5-0ubuntu0.20.04.1)
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

All I know is after installing the software, I can do every other thing but I tried to send an email and it is not working and this email delivery tools (h

[2020-11-24 20:16] devhammed commented on #2088
Hello there, it is because I enabled ufw, all I did is just to enable Postfix rules.

[2020-11-24 20:16] #2088 closed

[2020-11-25 07:05] floydwilde commented on #2087
I also get a similar error followed by:

`CommandError: Failed to retrieve versions from the API.`

I think there is a problem w/ the public api here:

[code]

There is a cron job which triggers this command:

[code]

[2020-11-25 08:42] km1 commented on #1089
I think the solution could be to make a process/service of copying mails to additional storage. Once the user is closing to his storage limit - or it could be a specific time e.g. older mail than 1 year - his mails are removed from primary mailbox. The "removed" mails are available only from "archive GUI" - could be something similar to Roundcube.
I am not sure if there is such solution available.

[2020-11-25 08:52] km1 commented on #1089
I found something like that: https://www.mailpiler.org Has anyone used it?

[2020-11-25 14:28] thetherington opened #2089 "upgrade from 1.15.0 to 1.17.0"
# Impacted versions

* OS Type: FreeBSD
* OS Version: 11
* Database Type: MySQL
* Database version: X.y
* Modoboa:1.15.0
* installer used: No ?
* Webserver: Nginx

# Steps to reproduce
source <virtuenv_path>/bin/activate
cd <modoboa_instance_dir>
python manage.py migrate

# Current behavior

Hi i get this large exception when trying to run the manage.py migrate command after upgrading to 1.17.0.

[2020-11-25 14:40] tonioo commented on #2089
@thetherington Have you followed upgrade instructions? (https://modoboa.readthedocs.io/en/latest/upgrade.html#specific-instructions)

[2020-11-25 19:47] thetherington commented on #2089
Thanks. i have fixed my issue

[2020-11-25 19:47] #2089 closed

[2020-11-26 16:55] #1524 closed

[2020-11-28 15:08] GoldenretriverYT opened #2090 "Can not install modoboa with amavis"
# Impacted versions

* OS Type: Debian
* OS Version: 9
* Database Type: MySQL
* Database version: 10.5.8-MariaDB-1:10.5.8+maria~stretch
* Modoboa: Latest
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Install modoboa with amavis enabled
# Current behavior
Fails to install dependencies
# Expected behavior
Install mdoboa with amavis

### Log since installing amavis
Installing amavis

[2020-12-01 15:31] ubani opened #2091 "Files involved when changing the domain name"
What files do I need to keep in mind to change the domain name for my modoboa instance?

Thanks

[2020-12-03 13:08] kokel commented on #2081
Same Problem here:

`~$ /opt/venvs/modoboa/bin/python3 /opt/modoboa/svcustomers/manage.py modo check_mx
Traceback (most recent call last):
  File "/opt/venvs/modoboa/lib/python3.6/site-packages/django/db/models/query.py", line 538, in get_or_create
    return self.get(**kwargs), False
  File "/opt/venvs/modoboa/lib/python3.6/site-packages/django/db/models/query.py", line 408, in get
    self.model

[2020-12-04 08:50] tonioo commented on #2091
@ubani Those files at least:
* /etc/postfix/main.cf
* Files in /etc/amavis/
* /srv/modoboa/instance/instance/settings.py
* Files in /etc/nginx
* Files in /etc/dovecot
* /etc/radicale/config
* /etc/automx.conf

[2020-12-04 08:50] #2091 closed

[2020-12-04 08:53] tonioo commented on #2084
@bosgold How did you install Modoboa? You need some sudo configuration to make this work.

[2020-12-04 08:53] #2083 closed

[2020-12-04 08:55] #2081 closed

[2020-12-04 08:56] tonioo commented on #2076
@malteneu Are you sure you loaded the virtualenv? Can you paste the commands you used?

[2020-12-04 08:58] #2075 closed

[2020-12-04 13:13] #1656 closed

[2020-12-04 13:55] tonioo commented on #1419
@marchesM Do you use the ponycode version of your username to connect to the webmail?

[2020-12-04 14:14] tonioo commented on #1870
This issue looks fixed now, I guess it was a python2 problem with encoding. Anyway, using UTF8 characters in usernames or domains is a pretty complex subject. There is an opened issue regarding usernames (https://github.com/modoboa/modoboa/issues/1419).
Modoboa does allow the creation of domain and username including utf8 characters, but as @neonknight says, we must convert the domain name to puny

[2020-12-04 16:36] tonioo commented on #2043
@kalimero67 There is no solution at the moment since I can't reproduce the issue on my own server...

[2020-12-07 20:21] CHazz opened #2096 "internal error in message log"
hi, after pure instalation on debian 10 after scroll down on the list
installed by installer ..  mariadb 10.5 all other is mainline

(debug is enabled .. but nothing see details)) .. is any logfile ? i not find anything thanks
![modoboa](https://user-images.githubusercontent.com/106156/101400742-a1df0500-38d1-11eb-8f9a-499e014a5d1c.jpg)

[2020-12-07 21:05] CHazz commented on #2096
i found reasson .. its modsecurity problem  ..
ModSecurity: Access denied with code 400 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `REQBODY_ERROR'

sorry :)

[2020-12-07 21:05] #2096 closed

[2020-12-09 13:31] adrian-abit opened #2097 "Incoming message bounces for one mail account"
# Impacted versions

* OS Type: Debian
* OS Version: 10.4
* Database Type: MySQL
* Database version: 15.1
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install Modoboa, add an account and try to send an email to the account
# Current behavior
Mail bounces when sent to admin@abit.dev with the message: `550 5.1.1 <admin@abit.dev>: Recipient address rejected: undeli

[2020-12-11 08:26] tonioo commented on #2097
@adrian-abit Looks like your @abit.dev domain is listed more than once in postfix configuration... What are your values for myhostname and mydestination in main.cf file?

[2020-12-11 08:36] #2082 closed

[2020-12-11 08:44] #1964 closed

[2020-12-11 08:45] #2012 closed

[2020-12-11 08:47] #1882 closed

[2020-12-11 08:48] #2097 closed

[2020-12-11 08:49] #2067 closed

[2020-12-11 08:50] #1862 closed

[2020-12-11 08:51] #1725 closed

[2020-12-11 08:53] #2030 closed

[2020-12-11 08:54] #2080 closed

[2020-12-11 08:55] #2070 closed

[2020-12-11 09:01] #1398 closed

[2020-12-11 09:02] #580 closed

[2020-12-11 09:02] #571 closed

[2020-12-11 09:04] #1116 closed

[2020-12-11 09:09] #187 closed

[2020-12-11 09:10] #482 closed

[2020-12-11 09:12] #618 closed

[2020-12-11 09:15] #1967 closed

[2020-12-11 10:08] matteovisotto opened #2100 "User login API"
I need to integrate email users with other applications.
Is there any way to have a public API where I can send login request?
Or using Modoboa with open directory ?

Thanks

[2020-12-12 06:46] #2100 closed

[2020-12-12 06:50] #532 closed

[2020-12-12 06:54] #575 closed

[2020-12-12 06:58] #1984 closed

[2020-12-12 07:00] #1777 closed

[2020-12-12 07:01] #2079 closed

[2020-12-12 07:02] #509 closed

[2020-12-12 07:04] #508 closed

[2020-12-12 07:05] #1819 closed

[2020-12-12 07:10] #1682 closed

[2020-12-12 07:13] #1089 closed

[2020-12-12 07:15] #1123 closed

[2020-12-12 07:19] #821 closed

[2020-12-12 07:22] #1443 closed

[2020-12-12 07:24] kryskool commented on #1664
I think in this case we can add a better error message instead of traceback

[2020-12-12 07:25] #1749 closed

[2020-12-12 07:26] #1414 closed

[2020-12-12 07:32] #1634 closed

[2020-12-12 08:02] kryskool commented on #1698
Ping @augustodv

[2020-12-12 08:03] #1870 closed

[2020-12-12 08:04] #1659 closed

[2020-12-12 17:28] #1606 closed

[2020-12-12 17:29] #1328 closed

[2020-12-12 17:32] #1538 closed

[2020-12-12 17:33] #1813 closed

[2020-12-12 17:36] kryskool commented on #1755
Hi @mixabo

The bug is fixed, can you test and confirm ?

Regards,

[2020-12-12 17:40] #1227 closed

[2020-12-12 17:54] #629 closed

[2020-12-13 00:53] stalks opened #2101 "1.14.0 > 1.17.0 upgrade, Table 'modoboa.django_otp_staticdevice' doesn't exist"
Modobo 1.17.0, upgraded from 1.14.0. Followed steps to rebuild environment from https://modoboa.readthedocs.io/en/latest/upgrade.html

All pages work, except when visiting https://host/user/security results in 500 error. Am expecting some new TOTP goodness.

Enabling debug in settings.py gets me a stacktrace, see below.

Trace relevant error is:
**(1146, "Table 'modoboa.django_otp_staticdevice' do

[2020-12-15 15:59] tonioo commented on #2101
@stalks Looks like you forgot to apply pending migrations.

[2020-12-15 16:13] ValdikSS commented on #624
Currently, as for 15 Decembler 2020, Modoboa 1.17.0 does not check any of SPF, DKIM, DMARC of the incoming mail.
Letters generated by email spoofing test service https://emailspooftest.com/ all received into inbox.

[code]

[code]

[2020-12-15 16:44] tonioo commented on #624
@ValdikSS It should checked by Amavis... if it's running. Can you check that?

[2020-12-15 16:46] ValdikSS commented on #624
@tonioo, the header does contain `X-Virus-Scanned: Debian amavisd-new` header.
I've installed Modoboa today, using the installer.

[code]

[2020-12-15 16:47] tonioo commented on #624
@ValdikSS FYI, Modoboa does not deal with DNS record creation/configuration so you must do it yourself.

[2020-12-15 16:48] ValdikSS commented on #624
@tonioo, I'm talking about inbound SPF/DKIM/DMARC checks. And yes, I've added the records on my domain.

[2020-12-15 16:49] tonioo commented on #1755
I confirm, this problem should be fixed now.

[2020-12-15 16:49] #1755 closed

[2020-12-15 16:53] tonioo commented on #624
@ValdikSS Ok, I misunderstood your comment. But my answer is still the same, it should be checked. What is strange in your mail is it does not contain any Authentication-Results header. Amavis should add one... Can you check your logs please?

[2020-12-15 16:55] tonioo commented on #624
At least it should check for SPF and DKIM. I don't think DMARC is handled by Amavis so it would require to add a dedicated component, like OpenDMARC. Or maybe replace Amavis/OpenDKIM by rspamd...

[2020-12-15 17:00] ValdikSS commented on #624
@tonioo, there's amavis record in the logs of these messages.
Is this an installation issue? Probably configuration change/incompatibility with Ubuntu 20.04.1?

[code]

[2020-12-15 17:09] ValdikSS commented on #624
Another security issue, slightly related to SPF/DKIM/DMARC checks, is that the mail from the outside with spoofed `Return-Path`, `From` and `To` headers is getting **DKIM-signed** by Modoboa.

I've got the following mail from the outside, without any authentication credentials used by the external server:

[code]

[2020-12-15 17:19] tonioo commented on #624
@ValdikSS Ok, so the interesting part of your second message is that it is actually checked by Amavis. And maybe that the real issue is the DKIM signature being applied on untrusted sender!

[2020-12-15 17:19] ValdikSS commented on #624
Consider adding the following into `/etc/opendkim.conf` configuration:
[code]

[2020-12-15 17:21] ValdikSS commented on #624
No, that's unrelated, it's another check (E4), and the others are bad SPF (E3) and missing DKIM with DMARC policy enforcement (E2).

Please try it yourself on https://emailspooftest.com/

[2020-12-15 17:22] tonioo commented on #624
@ValdikSS I'm using rspamd on my local server and results are better. Do you think the configuration you pasted should solve this issue?

[2020-12-15 17:30] ValdikSS commented on #624
@tonioo, I'm not an expert in email or email configuration/daemons. I'm testing different email server configurators/installators and checking their features. One of the check is anti-spoofing functionality for incoming mails.

Mail-in-a-box also lacks proper SPF/DKIM/DMARC check, but they use OpenDMARC, which could be properly configured in just two configuration options.
https://github.com/mail-

[2020-12-15 17:34] tonioo commented on #624
@ValdikSS Need to check this. Actually it might be a configuration issue with the postfix <> amavis integration. Could you try to modify the /etc/postfix/master.cf ? You just need to add the ``no_milters`` option like this:
[code]

[2020-12-15 17:48] ValdikSS commented on #624
@tonioo, that fixed DKIM signature on spoofed email, it's no longer getting signed, but other than that nothing has changed, all 11 emails are still got into inbox.

[2020-12-15 17:59] stalks commented on #2101
@tonio I'm guessing you mean `python manage.py migrate` ?

I did the 3 commands listed in the upgrade documentation, I've done them again now, same issue.

Output from that below

[code]

[2020-12-15 18:22] tonio commented on #2101
Wrong @tonio. (-;

[2020-12-15 18:25] tonioo commented on #624
@ValdikSS Can you check the X-Spam-Score header in received messages?

[2020-12-15 18:27] tonioo commented on #2101
@stalks Have you applied specific instructions for 1.17? https://modoboa.readthedocs.io/en/latest/upgrade.html#id2

[2020-12-15 18:36] ValdikSS commented on #624
@tonioo, E4 test has:

[code]

Other tests does not contain this header.

[2020-12-15 20:16] stalks commented on #2101
F#!K! I was so careful! :(  Sorry, I totally suck. I missed `'django_otp.plugins.otp_static'` from `INSTALLED_APPS`.

@tonio my bad, hi though o/

[2020-12-15 20:16] #2101 closed

[2020-12-15 21:51] stalks opened #2102 "Feature Request: 2FA code in plain text"
Can you display the 2FA secret code in plain text under the QR code?

This is useful for 2FA apps that don't take the QR code.

[2020-12-16 07:48] tonioo commented on #624
@ValdikSS So it means their score is too small to be displayed in the headers... That's strange. Maybe default Spamassassin rules have changed with Ubuntu 20.04?

[2020-12-16 08:36] fyryNy commented on #2084
Hi, I had the same problem on Ubuntu 20.10, so if someone is struggling with this, this is what I did to fix it:

Edit "/etc/dovecot/dovecot-sql.conf.ext"
Find and uncomment #default_pass_scheme = MD5 and change to "default_pass_scheme = CRYPT"
Restart services.

It worked for me, so I hope it would work for someone else.

[2020-12-16 08:40] #1337 closed

[2020-12-16 15:27] asimzeeshan opened #2103 "docker-compose - requests 2.25.0 has requirement chardet<4,>=3.0.2, but you'll have chardet 4.0.0 which is incompatible"
# Impacted versions

* OS Type: Debian
* OS Version: 10
* Modoboa: latest
* installer used: No
* Webserver: Nginx/Apache

# Steps to reproduce

clone repo
run "docker-compose up -d"

It displays error

    requests 2.25.0 has requirement chardet<4,>=3.0.2, but you'll have chardet 4.0.0 which is incompatible.

# Current behavior

shows this during docker-compose build

    requests 2.25.0 has requi

[2020-12-16 23:11] bosgold commented on #2084
Installation was using the modoboa-installer. Sometime in 2018.
This problem came however only up when upgrading from Modoboa 1.15 to 1.17.  Not sure when I've been the last time on the "Parameters - configure Modoboa" page, maybe not with version 1.15 but surely no later than 1.13 or 1.14. And back than it still worked.

Follwing runs as a crontab
# Operations on mailboxes
*       *       *

[2020-12-17 15:31] #1327 closed

[2020-12-18 07:49] #2102 closed

[2020-12-23 10:20] MrGeneration commented on #2038
I still believe that modoboa should handle not reachable DNS servers better. :x

[2020-12-24 16:58] #2035 closed

[2020-12-24 17:00] #2004 closed

[2020-12-24 17:03] #2003 closed

[2020-12-28 07:14] #1869 closed

[2020-12-28 13:14] Computroniks opened #2108 "How to renew letsencrypt SSL cert?"
# Impacted versions

* OS Type: Ubuntu 18.04.4 LTS
* Database Type: PostgreSQL
* Database version: 10.15
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Standard install using installer but changing SSL cert from self signed to letsencrypt.

I have tried a manually running the command in /etc/cron.d/letsencrypt but recived the following error

[code]

Most of the s

[2020-12-28 13:20] MrGeneration commented on #2108
According to this class it should be installed automatically:
https://github.com/modoboa/modoboa-installer/blob/master/modoboa_installer/ssl.py#L63-L110

In my humble opinion generation of the initial certificate should have failed if that was not the case. Possibly it was removed too.
It's hard to tell without knowing which command you're running.

A quick and dirty try may be to manually install

[2020-12-28 13:24] gawel commented on #2108
You're trying to renew a certificat for a domain that you don't own (mail.example.com)
I guess you leaved defaults values somewhere in the config file

[2020-12-28 13:26] Computroniks commented on #2108
No that is just me not wanting to share my domain name

[2020-12-28 13:27] #2108 closed

[2020-12-28 15:39] #1644 closed

[2020-12-29 18:43] pappastech opened #2109 "Redundant menu after update"
I just updated Modoboa yesterday and now have redundant 'Statistics' menu items available. The links are identical. Where is the source file for the menu to remove this?

![image](https://user-images.githubusercontent.com/532780/103306487-ab90ef80-49db-11eb-911f-6f235a4eab24.png)

Thanks,
Tom

[2020-12-30 06:31] #2109 closed

[2021-01-05 20:21] #1416 closed

[2021-01-05 20:21] #1675 closed

[2021-01-05 20:21] #1633 closed

[2021-01-05 20:21] #1488 closed

[2021-01-05 20:21] #1434 closed

[2021-01-05 20:21] #1871 closed

[2021-01-05 20:21] #1963 closed

[2021-01-05 20:21] #1865 closed

[2021-01-05 20:21] #1776 closed

[2021-01-05 20:21] #1700 closed

[2021-01-05 20:21] #1728 closed

[2021-01-05 20:21] #1691 closed

[2021-01-05 21:21] #1127 closed

[2021-01-08 01:40] zeroepix commented on #2087
Are you guys using IPv6? I started getting this same issue after I switched to that and I'm wondering if that was the cause. I also switch servers and to a newer version so...could be other things too ><

[2021-01-08 07:37] nsabatelli commented on #2087
Hi everyone,
no I don't use IPv6, I just updated to the latest release available.

[2021-01-08 19:02] tomcrus001 commented on #1477
Just for convenience I'll document some background-information about where the mentioned `postlogin.sh` gets used and for what purpose:
The *dovecot*-configuration in `/etc/dovecot/conf.d/10-master.conf` specifies to call this script after login to *imap*-/*pop3*-services - see [Dovecot-Documantation](https://wiki.dovecot.org/PostLoginScripting) about this.
The script just updates the timestamp of

[2021-01-08 19:16] tomcrus001 commented on #1477
I'll try now to implement this function as management-command as suggested before and make a pull-request as soon as I have implemented it.
After that there still exists the need to also change the modoboa-installer to us this new command instead `postlogin.sh`.
And probably there needs to get done some updates on already installed setups as well. Are there any update-scripts that get used for thi

[2021-01-11 11:46] jeromelebleu opened #2120 "Disabled account can still receive email"
# Impacted versions

* OS Type: Debian
* OS Version: Buster
* Database Type: PostgreSQL
* Database version: 11
* Modoboa: 1.17.0

# Steps to reproduce

1. Create an account with _Simple user_ role and disable it - either at the creation or after
2. Send an email to this account

# Current behavior

Even if the account is disabled, the recipient is still allowed by Postfix and the email is delivere

[2021-01-11 23:21] kalimero67 commented on #2043
Then please help with these fatal questions:
1) Where are message_counters stored? (Redis ???)
2) Where is code for counters reset? (manage.py ???)
3) Who care for code run? (cron ??? code???)
4) Why is cron (see 3) record is not in default installation?

root@mail:/etc/cron.d# nmap localhost
9999/tcp open abyss

sudo -u modoboa /srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py p olicy_d

[2021-01-12 19:51] baby-gnu commented on #1327
I see 2 use cases:

- define a sub domain to route completely to mailman
- get list of mailman mailing-lists and route them to the mailman server.

[2021-01-14 04:13] studioluminous commented on #1638
Still not solved, I have the same issue.

CommandError: Failed to retrieve versions from the API.

I'm getting the error about 10 times a day for the last week an a half at least.

[2021-01-14 13:13] cyberal77 commented on #2120
Hi,

I Cant reproduce.

When i send mail to desactivated user, it's reject.

Regard

[2021-01-14 14:21] jeromelebleu commented on #2120
Thanks @cyberal77 to give it a try! Are you also using the last Modoba's version? I encounter that on manual installations too, but my Postfix configuration is almost the same as the automatic installer's one. Anyway, from what I understood, I don't think this is related.

Could you also check that the corresponding `admin_alias`'s object is also disabled please? For example, here is what I have i

[2021-01-15 04:09] cerw opened #2137 "How to upgrade (export/import) from 1.6.3 to 1.17.0 (mysql -> pqsl)"
# Impacted versions

* Distribution:Ubuntu
* Codename: Focal
* Arch: 64 Bits
* Database: PostgreSQL / MySQL

# Steps to reproduce
Hello

I have running modoboa for while and installed new version and need to migrate data over? How would I do that as its from MySQL -> pSQL?
# Full trace using --debug option or current behaviour

# Expected behavior

# Video/Screenshot link (optional)

Thanks

[2021-01-18 11:59] kryskool commented on #2120
Hi @jeromelebleu

It seem that @tonioo fix the problem in this [commit](https://github.com/modoboa/modoboa/commit/1aed875f6865046a0d538a1a0772e50962987789) can you retry ?

Regards,

[2021-01-18 13:04] jeromelebleu commented on #2120
Hi @kryskool, no it does not fix this problem and this is why I commented this commit. It only disables aliases which have been added *manually* from the interface (`internal=False`) and not automatically like here (`internal=True`).

[2021-01-18 15:13] tonioo commented on #2087
It might happen if the API is unreachable for some reason, or it the server hosting it is overloaded. But according to the monitoring, it is not...

[2021-01-18 19:32] kryskool commented on #2128
Nee dto convert in discussion when option is available

[2021-01-18 23:22] donvito-pl opened #2129 "letsencrypt nginx plugin missing"
# Impacted versions

* OS Type: Debian
* OS Version: Debian 10 Bullseye
* Database Type: PostgreSQL
* Database version: X.y
* Modoboa: X.X.x
* installer used: Yes ?
* Webserver: Nginx

# Steps to reproduce
With letsencrypt enabled and default install certs cannot be renewed due to lack of nginx plugin.

# Current behavior
(..) produced an unexpected error: The requested nginx plugin does not appea

[2021-01-19 14:39] NESC1US opened #2131 "url.port contains password instead of port number"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.04.1
* Database Type: PostgreSQL
* Database version: X.y
* Modoboa: todays master
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
sudo ./run.py perfugium.net --debug --interactive
fill up passwords
# Current behavior
instead of port number, the script used password.
[code]
# Expected behavior
installation working
# Video/Screen

[2021-01-19 15:23] tonioo commented on #2087
@nsabatelli Could you give me the hostname of your server?

[2021-01-19 15:49] nsabatelli commented on #2087
The hostname of my server is **modoboa.rupar.puglia.it**

[2021-01-21 23:06] NA7KR opened #2133 "NGINX to Apache2"
# Impacted versions

* OS Type: Debian
* OS Version: Number Buster
* Database Type:  MySQL
* Database version: 10.3.27
* Modoboa: 1.17
* installer used: Yes
* Webserver: Nginx/Apache

# Switch from NGINX to Apache2 get this error, Have Python3.7.3  installed, What Can I do to fix this?

[code]
Apache2 config
[code]

[2021-01-22 04:37] NA7KR commented on #2133
Fix it :
WSGIDaemonProcess mail.nerderlands.net python-path=/srv/modoboa/instance:/srv/modoboa/env/lib/python3.7/site-packages

[2021-01-22 04:37] #2133 closed

[2021-01-22 08:59] #2128 closed

[2021-01-22 15:04] kryskool commented on #2131
Hi @NESC1US

What is the shell you use ?

[2021-01-23 16:31] #1852 closed

[2021-01-24 07:54] #2137 closed

[2021-01-24 19:53] NESC1US commented on #2131
this is a freshly installed, fully upgraded, default ubuntu server 20.04.1 running as a virtual machine, bash is default there.

[2021-01-25 12:43] kryskool commented on #2131
Hi @NESC1US

Do you have an @ in your password ?

Regards

[2021-01-25 13:25] NESC1US commented on #2131
sadly, i am unable to find my note with the passwords, but i doubt that any of the passwords contained @

[2021-01-25 13:26] NESC1US commented on #2131
@kryskool do you want me to reproduce this again? if so, what else you think you need to troubleshoot that?

[2021-01-25 15:26] AmazingBeu commented on #2043
FYI, I have the problem with a new installation (Debian 10 and MySQL)

[2021-01-25 17:18] #1278 closed

[2021-01-26 14:44] #2120 closed

[2021-01-27 15:21] kryskool commented on #2131
Hi @NESC1US

Yes if you can retry, and indicate us if you use any special characters

regards

[2021-01-27 15:42] tonioo commented on #2084
@bosgold Have you tried to run ``sudo doveadm pw -l`` as modoboa user?

[2021-01-30 21:32] acecconato commented on #1560
Same issue for me on a fresh installation and Denian 9, I either don't' know where is this settings.py

[2021-01-31 16:37] phpony opened #2148 "False positive DNSBL reports because of spamcop.net"
# Impacted versions

All.

# Steps to reproduce

Just have any domain in modoboa.

# Current behavior

Getting a lot of service emails:

[code]

# Expected behavior

spamcop.net domain is expired, this service is not working anymore and so those reports should be considered as false-positive.

[2021-02-01 05:20] mackcoding commented on #2148
Hi, I'm still using and actively reporting mail to Spamcop. The domain is not expired and is renewed until 1/30/2022. What makes you think the service isn't working anymore?

[code]

[2021-02-01 07:11] JeroenvO commented on #2148
Seems no longer an issue, just got a few modoboa mails with errors but can't find it back in the interface. spamcop doesn't list me either.

[2021-02-01 14:39] tonioo commented on #2148
https://www.theregister.com/2021/02/01/in_brief_security/
Looks like this was just a temporary issue.

[2021-02-01 14:39] #2148 closed

[2021-02-05 20:17] MiteNy opened #2152 "Error 500 when accessing the browser for the first time."
# Impacted versions

* OS Type:Ubuntu
* OS Version:20.04
* Database Type: MySQL
* installer used: Yes
* Webserver: Nginx

# Current behavior

Good afternoon, first I apologize for my English. Today I installed Modoboa and right from the start it presented an error in the browser.
https://prnt.sc/yfo3qh
https://prnt.sc/yfo6i4

[2021-02-05 22:57] trinkel opened #2153 "Installer config should have tighter security"
# Impacted versions

* OS Type: Debian/Ubuntu, Centos/Redhat, Arch, Gentoo, Slack, ...
Ubuntu

* OS Version: Number or Name
18.04.5

* Modoboa: 1.17.0
* installer used: Yes

_Software is not installed yet, so the rest isn't available yet_

* Database Type: PostgreSQL / MySQL
* Database version: X.y
* Webserver: Nginx/Apache

# Steps to reproduce
List directory contents

# Current behavior

Permiss

[2021-02-06 08:30] tonioo commented on #2152
@MiteNy Can you set DEBUG to True inside settings.py, reload uwsgi and try again? You should get more information.

[2021-02-06 18:15] reesing322 commented on #2084
As I have the same problem, I can answer this:

In the modoboa sudoers file is only this:

This is on a rather fresh install, I've used the installer to install modoboa on a clean latest Ubuntu Server.
I think after the installation, when I was first checkout out the website, I've seen 2 options (plain and one of the crypts),
but since I've added a first domain, the 'default password scheme' remai

[2021-02-06 22:23] cyrilst opened #2154 "Installer should check if 'host' is installed"
# Impacted versions

* OS Type: Debian (but should apply to all OS)
* OS Version: 10.7
* Modoboa: 1.17.0
* installer used: Yes

# Steps to reproduce
Use the installer on a system without the binary `host`. It happened to me with a VPS from OVH, installed with a "stock" Debian 10.

# Current behavior
There are no error during install.
`/usr/local/bin/spf-tools/despf.sh` fails silently. So `postwhit

[2021-02-07 01:41] bosgold commented on #2084
Same result for me as @reesing322 when I try
modoboa@mail:~$ sudo doveadm pw -l

Also the same /etc/sudoers.d/modoboa content. And this brought me to the idea to try
`modoboa@freia:~$ sudo -u vmail doveadm pw -l
doveadm(vmail): Error: net_connect_unix(/var/run/dovecot/stats-writer) failed: Permission denied
SHA1 SSHA512 SCRAM-SHA-256 BLF-CRYPT PLAIN HMAC-MD5 OTP SHA512 SHA RPA DES-CRYPT CRYPT SSHA

[2021-02-07 15:47] reesing322 commented on #2084
@bosgold @tonioo
Indeed, the solution by Bosgold works. The issue with the empty "Default password scheme list" for me is solved by adding vmail to the dovecot group.

@bosgold Your solution for the 'permission denied' issue with the stats-writer might work, however, accessing the private key should not be necessary in this case. I have implemented the solution given here:
[https://github.com/post

[2021-02-08 11:33] Meseira commented on #2129
I get the same thing with Debian Buster. Installing package python3-certbot-nginx is enough to solve it.

However, the plugin cannot find the nginx binary because the default PATH variable is only set to "/usr/bin:/bin" by cron. This is solved by adding the following line at the start of the file "/etc/cron.d/letsencrypt":

`PATH=/usr/sbin:/usr/bin:/sbin:/bin`

[2021-02-08 13:24] MrGeneration opened #2157 "Removing Domains and Identities does not remove them from the filesystem"
# Impacted versions

* OS Type: Debian
* OS Version: Buster / 10
* Database Type: MySQL
* Database version: 15.1
* Modoboa: 1.17.0 (I also saw the issue on earlier versions (1.15.x and 1.16.x)
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

* create a domain
* add a new account to that domain, retrieve a mail or two
* delete account
* delete domain
* wait a minute, days - doesn't m

[2021-02-08 16:04] tonioo commented on #2157
@MrGeneration This is handled by the manage_mailbox_operations cron script and it will work only if Modoboa is installed on the same server than dovecot.

[2021-02-08 22:06] MrGeneration commented on #2157
Yes.
I did run that command next to the crontab just to be sure that it's not working.
All services and modoboa are running on the exact same maschine.

Are specific permissions required for the tasks to run as expected?
I also noticed certificate (also for it's key) permission errors if the certificate files referenced in the dovecot configuration would not be world readable.

[2021-02-09 08:53] Sysadminfromhell opened #2164 "The List for "standard password scheme" is empty"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.10
* Database Type: I actually dont know, i used the Installer
* Database version: see above
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I go to the Website -> Modoboa -> Parameters, the List for "standard password scheme" is empty

# Current behavior

The list is empty after a reboot of the Server.

Is th

[2021-02-09 13:16] Meseira commented on #2129
Moreover, nginx has to be restarted manually with `systemctl restart nginx.service` to take into account the new certificate. I thought the nginx plugin would reload the configuration but something is wrong.

[2021-02-09 16:49] tonioo commented on #2157
This cron script must be run as vmail user and please check that the feature is activated in the administration panel (look at the administration tab in the parameters section).

About the error, can you paste a trace?

[2021-02-09 17:05] tonioo commented on #2164
Have you checked this discussion: https://github.com/modoboa/modoboa/discussions/1731?

[2021-02-09 17:51] Sysadminfromhell commented on #2164
Yes right now i tried to add modoboa to Dovecot group but no change. Error Logs are Empty aswell so far and the command doveadm pw -l tells me just:
`doveconf: Fatal: Error in configuration file /etc/dovecot/conf.d/10-ssl.conf line 13: ssl_cert: Can't open file /etc/letsencrypt/live/sysadminfromhell.dev/fullchain.pem: Permission denied`
but when i check the permissions from the old certificate and

[2021-02-09 17:59] Sysadminfromhell commented on #2164
Update: I tried what was suggested in Post [https://github.com/postfixadmin/postfixadmin/issues/398#issuecomment-737301398](url) and reboot the Server but still no change.

[2021-02-09 18:27] Sysadminfromhell commented on #2164
I could fix the access denied problem for the modoboa User with chmod 755 live/ and the same for archive/ but the list in parameters remains empty.

[2021-02-09 18:29] #2164 closed

[2021-02-11 01:55] jaggeddragon commented on #1638
I continue to get the same error on a brand new installation. It seems to be intermittent, so I assume it is related to load on the API end. Have you considered cloudlflare for this resource endpoint? Is it possible for server admins to make our own api backend, and point the DNS for api.modoboa.org there to prevent this annoyance?

[2021-02-11 01:58] jaggeddragon commented on #2087
I continue to get the same error on a brand new installation. It seems to be intermittent, so I assume it is related to load on the API end. Have you considered cloudlflare for this resource endpoint? Is it possible for server admins to make our own api backend, and point the DNS for api.modoboa.org there to prevent this annoyance?

[2021-02-11 02:20] jaggeddragon commented on #2087
I performed the following analysis, and my conclusion is that CloudFlare would be a good option for improving uptime and reliability of this endpoint, furthermore it seems that removing the 'communicate_with_public_api' cronjob entirely would have no downside, as the endpoint does not perform any function what-so-ever when it is responding. I would further urge the current admin to no longer host

[2021-02-11 17:04] ByteSizedMarius commented on #1547
Sorry for bumping this 3yr old thread, but I had the exact same problem and as this is the first resource you find on google, I would like to maybe help the next desperate person searching for the answer.
My problem was that the www-data user didnt have any perms for the /srv/modoboa/pdfcredentials/ directory. chowning it/ giving it perms manually fixed it for me.

[2021-02-11 20:02] tonioo commented on #2087
@jaggeddragon The public API is used to check for updates and to collect statistics about used plugins and domain/mailbox/alias counters. That's something you can disable from the admin panel.
This issue is indeed caused by a server load problem and unfortunately, you can't duplicate the API on your own server...

[2021-02-11 22:27] jaggeddragon commented on #2087
When will the server load problem be addressed? What efforts have you taken to address the server load problem already? Have you reviewed the free option of CloudFlare I presented previously?

[2021-02-12 08:38] tonioo commented on #2087
@jaggeddragon It will be addressed when I'll have enough time to work on it. Don't forget Modoboa is a free software, no company behind, no incomes.
Can you explain how using Cloudflare would prevent this performance issue?

[2021-02-14 04:35] WeebHiroyuki commented on #1270
Hi, I'm experiencing the same issue. When you said you made that symlink, you meant `/etc/postfix/dict_pgsql_open` would've linked to `/usr/lib/postfix/postfix-pgsql.so.1.01`?

[2021-02-14 05:44] jaggeddragon commented on #2087
If the root cause is server performance and load as you mentioned, leveraging CloudFlares DDOS mitigation to handle repeat requests for this web content would decrease load on the end web-server. Similar to how a content delivery network would help for static resources. CloudFlare also has a free option, any only involves a DNS update, so the onboarding is cheap and simple. Don't take my word for

[2021-02-14 18:00] floydwilde commented on #2087
Another option you can consider is using something like Github pages to host the API, since you are already hosting the code base here and Github have a robust infrastructure with similar CDN qualities to Cloud Flare.  Here is a blog post I found which describes how one person dealt with it:

* https://dev.to/matmooredev/can-you-host-a-read-only-api-on-github-pages-1jib

Something to consider if y

[2021-02-15 08:06] kisst commented on #2087
A non-infra solution can be to have the manage.py to gracefully handle the exception and not consider it as error, hence it would not spam the postmaster with something which actually not an error, at least I would not call it an error.

[2021-02-16 10:58] MrGeneration commented on #2157
As for the certificate based error I'd provide another issue as soon as I did find time to undo my change and reproduce it.

Modoboa did actually log the following line during my deletion attempt:

`Delete doveadm(vmail): Error: net_connect_unix(/var/run/dovecot/stats-writer) failed: Permission denied /srv/vmail/example.com/support succeed`

This is a standard installation which why this is odd.
I

[2021-02-20 16:46] bpincaro opened #2183 "Free quota doesn't upgrade when emails are deleted"
# Impacted versions
1.17.0

* OS Type: Debian/Ubuntu
* OS Version: 20.04.2 LTS (GNU/Linux 5.4.0-65-generic x86_64)
* Database Type: MySQL
* Database version: mysql  V15.1 Distrib 10.3.25-MariaDB
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

# Current behavior
Quota keeps inflating even when emails are deleted

Configured my mail client, everything almost works a

[2021-02-24 08:05] kryskool commented on #2183
hi  @bpincaro

Hev you try to reconpute [quota](https://modoboa.readthedocs.io/en/latest/manual_installation/dovecot.html?highlight=quota#forcing-recalculation)  ?

regards,

[2021-02-24 08:11] #1635 closed

[2021-02-24 10:35] bpincaro commented on #2183
Hi @kryskool ,
no, hadn't done it yet...
Guess it worked running the command!!! All seems to be working for now!

Thanks.

[2021-02-24 10:35] #2183 closed

[2021-03-02 08:13] reesing322 opened #2193 "New DomainAdmin has no rights"
# Impacted versions

* OS Type: Ubuntu server
* OS Version: 20.10
* Database Type: PostgreSQL
* Database version: latest modoboa installer
* Modoboa: latest modoboa installer
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
log in with server/site admin
create new domain: x.net with domain admin account postmaster@x.net
log out
log in with postmaster@x.net
click domains in top menu

[2021-03-02 09:36] #2103 closed

[2021-03-02 17:42] kalimero67 commented on #2043
If you do NOT find another solution, run (by cron) daily this script:
cat /root/redis.sql | mysql --user=modoboa --password=*** --silent | redis-cli 2>&1

File 'redis.sql':
`CONNECT modoboa;
SELECT "hset", "messages_count", username, message_limit FROM admin_mailbox AS a JOIN core_user AS c ON a.user_id=c.id WHERE message_limit<>0;
SELECT "hset", "messages_count", name, message_limit FROM admin_do

[2021-03-03 18:05] reesing322 commented on #2193
I have investigated this myself a bit more in depth. I had a look at the core_objectaccess table,
and if I understand it correctly a domainadmin only sees the objects that are linked to him/her in that table,
is that correct? So having more than 1 domain admin actually is not going to work as expected...
As a test, I have deleted the primary DomainAdmin. The second one still sees no items.
Then I

[2021-03-03 20:40] reesing322 commented on #2193
Final point, and this is the biggest issue in my opinion, when using the script
python manage.py modo import x.csv
all objects are linked to the site-admins in core_objectaccess,
but per domain mailboxes and aliases should also be linked to (each of) the domainadmins of that domain.

[2021-03-07 11:42] #2038 closed

[2021-03-08 10:35] Sequential-circuits opened #2195 "401 Authorization Required"
Installed it TWICE using the installed on a Ubuntu 20.04.2 LTS running nginx/1.18.0 using python both 3.6.13 and 3.8.5 and when I go to the login page I get a 401 Authorization Required

The autoconfig is
This file was automatically installed on 2021-03-08T09:04:56.008421

upstream automx {
server unix:/run/uwsgi/app/automx_instance/socket fail_timeout=0;
}

server {
listen 80;
listen [::]:80;
ser

[2021-03-08 16:23] tonioo commented on #2195
@Sequential-circuits Are you talking about modoboa or automx? If I go to mail.alcosta.eu, I can see a running Modoboa instance.

[2021-03-10 11:01] tonioo commented on #2043
@AmazingBeu I finally reproduced this issue on my own server! I think the way I planify this periodic task is wrong but I don't know what I could use to replace it. A new cron task is the simplest fix but it is one more task... Otherwise I could introduce a asynchronous scheduler like celery or rq to the default Modoboa setup but it creates one new requirement...
What do you think?

[2021-03-10 12:08] AmazingBeu commented on #2043
Personally, I would prefer a cron job because it is much simpler (I love the KISS principle :grin:)
After that, there might be some advantages to have an asynchronous scheduler, like to get the state of the tasks in Modoboa's web interface, but you might need a lot of work for that...

[2021-03-11 21:28] widevel commented on #1832
Can you explain this? I am using ubuntu 20 and i have the same issue. Thanks

[2021-03-11 21:33] bpincaro commented on #1832
https://itsfoss.com/create-swap-file-linux/#:~:text=A%20swap%20file%20allows%20Linux,the%20data%20from%20the%20disk.

Take a look... I think it's very well explained!

[2021-03-17 08:07] tonioo commented on #2195
@Sequential-circuits Any news?

[2021-03-18 16:09] CHazz opened #2200 "error 451 4.3.5"
hi, i have new error without any reasson .. maybe restart or update any package .. but now have this :/

debian 10, maria 10.5 , nginx mainline, --

Mar 18 16:56:16 mail postfix/postscreen[20786]: CONNECT from [127.0.0.1]:57479 to [127.0.0.1]:25
Mar 18 16:56:16 mail postfix/postscreen[20786]: WHITELISTED [127.0.0.1]:57479
Mar 18 16:56:16 mail postfix/smtpd[20787]: connect from localhost[127.0.0.1]

[2021-03-19 11:28] CHazz commented on #2200
i disable modoboa policy .. all working now .. but not known where is bug ...
`# Recipient restriction rules
smtpd_recipient_restrictions =
#modoboa bug #  check_policy_service inet:127.0.0.1:9999
      permit_mynetworks
      permit_sasl_authenticated
      check_recipient_access
          proxy:mysql:/etc/postfix/sql-maintain.cf
          proxy:mysql:/etc/postfix/sql-relay-recipient-verification

[2021-03-20 07:33] tonioo commented on #2200
@CHazz The policy daemon is using ipv6 but your postfix configuration tries to use ipv4. You can force the use of ipv4 by using the --host option available with the policy_daemon startup script.

[2021-03-20 19:13] CHazz commented on #2200
thanks for reply .. i try set force ipv4 in /etc/supervisor/conf.d/policyd.conf
command=/srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py policy_daemon --host 127.0.0.1

deamon listening now only on ipv4

root@mail:/var/log# sudo netstat -tnlp | grep :9999
tcp        0      0 127.0.0.1:9999          0.0.0.0:*               LISTEN      5149/python

but have same error :(

Mar 20 20:02:02

[2021-03-20 22:48] danielsatanik opened #2201 "SASL Login not working"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 18.04.5 LTS
* Database Type: PostgreSQL
* Database version: 9.6
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

I don't know

# Current behavior

One of my users mentioned that they cannot send mails anymore. I confirmed that. When I look into /var/log/mail.log I can see the following errors:

Mar 20 23:41:39 sa

[2021-03-20 22:48] danielsatanik commented on #2201
BTW I wouldn't mind reinstalling everything as long as I don't loose the mails and the users and stuff

[2021-03-23 08:02] tonioo commented on #2201
@danielsatanik The error message you're showing is related to a postlogin script used by Modoboa. It's related to IMAP/POP connections so it has nothing to do with emails sending since it's using SMTP...
To be sure it's not the cause of your problems, you can comment out the use of this script in the /etc/dovecot/conf.d/10-master.conf file and reload dovecot.

[2021-03-23 08:26] danielsatanik commented on #2201
Hi, you are right. I saw that the emails are sent. The postlogin script registers the last login time in the database and is from the official installation. But for some reason it does not work anymore. As a workaround I disabled it. But I tried the sql command manually and it worked. So I don't know exactly what fails here.
Unfortunately some of the cron.d/mdoboa commands also fail, which are

-

[2021-03-23 10:43] tonioo commented on #2201
Do you have errors to show?

[2021-03-23 10:44] tonioo commented on #2200
Have you checked supervisor logs for the policyd component?

[2021-03-23 11:16] danielsatanik commented on #2201
@tonioo I'll run them manually

[code]

[code]

The other two seemed to work when I ran them manually. For the postlogin script it says

[code]

and for the uwsgi:

[code]

[2021-03-23 14:27] tonioo commented on #2201
The qcleanup one is known, there is an opened issue for this and it's actually an issue with psycopg2 (the postgres python connector).
The update_statistics one is strange, have you checked permissions of the folder used to store rrd files?
The postlogin error means there is a configuration in postgresql preventing to execute SQL queries without authentication. which is what the script does...
The

[2021-03-23 14:55] danielsatanik commented on #2201
Hi,

I have checked the rrd directory, and even tried to give it unrestricted permissions with `chmod 0777` but that didn't help. I found the settings inside the database somewhere in core_localconfig or smth.

what settings for the postlogin may restrict the access? The psql instance was set up with modoboa and I haven't done any updates lately so there shouldn't have changed anything, but of cou

[2021-03-23 20:14] CHazz commented on #2200
ah here is problem ... but not know where

`2021-03-20 21:35:47,694 INFO spawned: 'policyd' with pid 18503
2021-03-20 21:35:47,698 INFO spawned: 'radicale' with pid 18504
2021-03-20 21:35:47,934 INFO exited: radicale (exit status 1; not expected)
2021-03-20 21:35:48,935 INFO success: policyd entered RUNNING state, process has stayed up for > than 1 seconds (startsecs)
2021-03-20 21:35:48,936 INFO

[2021-03-24 08:50] tonioo commented on #2201
What's the content of you pg_hba.conf file?

About uwsgi, make sure you installed the python3 plugin and that you've updated the modoboa configuration file accordingly. (/etc/uwsgi/)

[2021-03-24 08:53] tonioo commented on #2200
Have you installed redis and is it running?

For Radicale, can you check what version you're running?

[2021-03-24 09:45] danielsatanik commented on #2201
I haven't change a single line in the pg_hba.conf since installing modoboa but this is the content:

[code]

for uwsgi, I could build the python36 plugin, thank you for the tip. I also replaced the plugin in the config accordingly. It still yields 500 Server Error and the resulting log message is the following:

[code]

When I googled it, some said that could happen when there are multiple instanc

[2021-03-24 17:18] CHazz commented on #2200
redis is not present on this system..  its not contain in modoboa installer ?

[2021-03-24 18:00] #2200 closed

[2021-03-24 19:56] tonioo commented on #2201
For uwsgi, add the following to your configuration file:
[code]
And according to the postgres config, I think it should work...

[2021-03-24 22:12] danielsatanik commented on #2201
@tonioo the single-interpreter option worked thank you.

For the pg_hba.conf. What would be the relevant line.

PS: I would like to suggest putting the tips you gave into the upgrade instructions somewhere. Especially those about what to watch out for when changing from version 1.14.0 to 1.15.0 which enforces using Python3 then.

[2021-03-25 16:52] brucemartin1979 commented on #2087
This would be a good idea.  I also have a new install that randomly generates this error.

[2021-03-26 17:03] etmpoon opened #2206 "On CentOS7 OpenDKIM can't start on boot"
OpenDKIM can't start on CentOS7 boot. It can be started by running sudo systemctl start opendkim or sudo -u opendkim systemctl start opendkim.

I have tried everything including file/folder permissions, set selinux to permissive, verified the "After" setting in /usr/lib/systemd/system, changed settings in /etc/opendkim.conf, etc that I can find on the web in last few days but not work.

Please hel

[2021-03-26 17:50] etmpoon commented on #2206
BTW, here is the output when I run sudo systemctl start opendkim after system boot. It has a "Can't open PID file" error but the service started and working if I run the systemctl to start it.

● opendkim.service - DomainKeys Identified Mail (DKIM) Milter
   Loaded: loaded (/usr/lib/systemd/system/opendkim.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2021-03-26

[2021-03-26 18:09] etmpoon commented on #2206
We found a workaround which works.

By adding the parameters below into the /usr/lib/systemd/system/opendkim.conf file to restart it maximum five times in 30 seconds interval on boot works.

Which means there is something should be started first other than the "After" setting currently installed by the package. Please continue find out the cause and improve the installation package.

BTW, your tea

[2021-03-28 22:06] skandragon commented on #2087
So, two questions.

1.  What does this thing actually do?
2. Do I need it?

The reason I ask is because I am getting spammed by these errors when running from cron, but if I run it from the command line, no error.

[2021-03-29 17:14] Orminor77 opened #2208 "Domain DKIM don't sign mail"
Hello everyone,

I don't think i'm the only one to have this issue.
When I do all the configuration for domain and the DKIM box it's green, my mail don't pass dkim on gmail or other webmail, can someone help me to fix that please, i read some articles about openDKIM on mobodoa website or github but don't work for me, or I fail somewhere.

Thanks in advance for your answer.

[2021-04-01 08:47] ynkwave commented on #2208
Same issue for me, DKIM configuration is fine but all of my mails are not signed..

[2021-04-01 17:34] Orminor77 commented on #2208
I could see that Modoboa uses Amavis to sign mails but only locally, I don't understand the interest, there is surely a configuration to do with openDKIM which is also provided with the Modoboa installer. I also tried to install via CentOS 7, Debian 9-10 and Ubuntu 18.04-20.04 but still the same problem. I'm out of ideas.

[2021-04-02 08:14] tonioo commented on #2208
If you used the installer, then OpenDKIM should be installed to sign emails. If you did a manual setup, then you need to install either OpenDKIM or configure amavis to sign emails.

[2021-04-03 18:39] MrGeneration commented on #2157
So I set `Debug: True` within `setting.py` and restarted `uwsgi.service` before trying this time.
There are no errors logged, I did wait for over an hours and even run `handle_mailbox_operations` manually to be extra sure.

No errors are logged.
The directories are not gone.

Permission for said directories and files are `700` and owned by `vmail:vmail`.

If I understood wrong on how to enable deb

[2021-04-05 11:34] yigitkeremoktay commented on #2208
I did use the installer and yet, still does not sign emails.

[2021-04-05 22:35] louis-eyond opened #2979 "can't get manage.py generate_offlineimap_config to generate any accounts in .offlineimaprc"
I have tried logging in with a couple of new accounts for modoboa, existing accounts on the old server.  The accounts get created (the first account creating the Domain entry), but they don't seem to create the migration script.  Each time I run the _manage.py generate_offlineimap_config_ cron script, it come back with an .offlineimaprc that is empty:

[general]
accounts =
pythonfile = ~/.offlinei

[2021-04-06 08:15] tonioo commented on #2208
@yigitkeremoktay Do you see something in logs?

[2021-04-06 08:18] Orminor77 commented on #2208
Personally I just used the quick installer and I also followed the tutorials of "Linuxbabe" on Debian, Ubuntu and Centos but on all three the mails do not sign

[2021-04-06 08:20] yigitkeremoktay commented on #2208
Is there a specific log that I should check?

[2021-04-06 08:58] tonioo commented on #2208
/var/log/mail.log

[2021-04-06 09:48] nickshanks347 opened #2213 "SSL WRONG_VERSION_NUMBER webmail error"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.04 Server x64
* Database Type: MySQL
* Database version: Ver 15.1 Distrib 10.3.25-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

I'm not sure how to reproduce this, but evidently it is a bug.

# Current behavior

When clicking on "Webmail" from the ma

[2021-04-06 13:55] thepra opened #2214 "How to setup Mail Server behind different ports than 80/443"
After installation in the nginx config files I did put 8080(http) and 8444(https) as the listening ports both in `autoconfig.<DOMAIN>.conf` and `mail.<DOMAIN>.conf` because my home has already a main server mapped to those ports, so other servers have to be mapped on different ports to become reachable, but given this environment how can I correctly adjust the server based on this?

[2021-04-06 15:57] #2214 closed

[2021-04-06 18:40] tonioo commented on #2157
@MrGeneration Can you check if you have records in the admin_mailboxoperation table?

[2021-04-07 07:12] MrGeneration commented on #2157
Sure! The table is empty.

[2021-04-07 07:51] #2195 closed

[2021-04-07 08:48] tonioo commented on #2157
Ok, so it means the script won't have anything to do. When you delete something, an order is created in this table and is removed once the job is done. Can you perhaps disable the cron, delete something and check if a record is created in this table ?

[2021-04-07 09:19] MrGeneration commented on #2157
That's interesting.
So I disabled the cron and then checked the table.

### What I did:
* deleted the mailbox (tick for "do not remove from storage" was unselected)
* deleted the domain (tick for "do not remove from storage" was unselected)

My `admin_mailboxoperation` table now contains one entry:
[code]

This lead me to checking for the stats-writer permissions (the UI did not show that error an

[2021-04-07 17:04] Orminor77 commented on #2208
@tonioo Hello, do you have an idea of the issue?

[2021-04-08 07:53] yigitkeremoktay commented on #2208
I don't see anything suspcious but there is this

but there is nothing for our accounts, the ones hosted on our mail server

[2021-04-09 07:01] tonioo commented on #2157
The system user running modoboa (generally modoboa) must have access to the doveadm command. I fixed a bug regarding this a few weeks ago but it has not been released yet (https://github.com/modoboa/modoboa/commit/1827bce52d8002060b68ec24752080f5af7a2a76).

[2021-04-09 07:03] tonioo commented on #2208
Can you check the content of the ``dkim`` view in your database?

[2021-04-09 10:20] Orminor77 commented on #2208
How to do that? please

[2021-04-10 09:35] yigitkeremoktay commented on #2208
<img width="1022" alt="Screen Shot 2021-04-10 at 12 34 16" src="https://user-images.githubusercontent.com/63040646/114265367-11d4d780-99f9-11eb-9f46-b76b182c9a04.png">
and I can confirm that that file is containing an RSA Key.

[2021-04-10 16:53] Naznouz commented on #1617
Dear Modoboa team,
Is this issue solved ?
I'm still facing the exact same problem with Modoboa 2.2.6
Thanks

[2021-04-11 00:28] mattg66 commented on #2208
Same issue here, installer installed 1.17.0

[2021-04-11 01:46] rheinon commented on #2208
Same here.  Fresh install on Debian 10.9.  Dkim key is installed in DNS.  SPF all looks good.  Email test score: 9/10.  1 point loss is from DKIM not signing.

**Postfix version:**
root@mail:~# postconf mail_version
mail_version = 3.4.14

**Opendkim is running:**
~# systemctl status opendkim
Apr 10 18:29:22 mail.domain.com systemd[1]: Starting OpenDKIM DomainKeys Identified Mail (DKIM) Milter...
A

[2021-04-12 11:46] w4ugit commented on #715
I have the same problem. how can i solve it?

[2021-04-15 12:55] nickshanks347 commented on #2213
Does anyone have any ideas?

[2021-04-15 14:07] jefffryfry commented on #2208
I can confirm same behavior.  emails not signing.  ran quick installer.

[2021-04-15 16:31] tonioo commented on #2213
@nickshanks347 Can you give more information about webmail configuration please?

[2021-04-15 16:33] nickshanks347 commented on #2213
What would you like to know about the configuration? Like ports for IMAP? Is there a report I can extract for you which'll show you everything you need?

[2021-04-15 16:47] tonioo commented on #2213
A screenshot of the online configuration page will be fine.

[2021-04-16 05:59] camodebw commented on #2208
I can confirm the same issue. Outgoing Emails are not DKIM signed.

Auto Installer runs fine, DKIM Key is generated.

In the mail.log I can't see any opendkim error.

[2021-04-20 01:52] walfloresh commented on #2208
Same exact issue, fresh modoboa 1.17 install on Debian 10, DKIM is generated correctly from GUI, configured on DNS, DKIM Key is present on mysql db but opendkim is not signing any outgoing email. No dkim errors on mail.log whatsoever.

Any advice?

[2021-04-20 13:12] dev-mg commented on #2208
I just had the same problem on Ubuntu 20.4 and fixed it that way:

- In /etc/postfix/master.cf search for:

[code]

- Remove no_milters
- Restart postfix

Works fine now :)

[2021-04-20 17:07] rheinon commented on #2208
I can confirm this works with Debian 10 as well.  Great work!

[2021-04-20 18:25] ynkwave commented on #2208
I will try this

[2021-04-20 20:17] Orminor77 commented on #2208
Thanks for your time all, its worked for me !

[2021-04-20 22:47] mattg66 commented on #2208
Please reopen this issue to ensure it is resolved in the installer @Orminor77

[2021-04-21 03:11] kiloDE commented on #1547
Same weirdity occured here. I did the same. In my case **chmod 755 -R /srv/modoboa/pdfcredentials** was **NOT** enough.
Sadly it's so annoying you need 7777 otherwise the admin panel won't create the user (why ever!)

[2021-04-21 03:50] kiloDE commented on #2157
**Thus "Bug" here? ...** `www-data : user NOT in sudoers ; TTY=unknown ; PWD=/srv/modoboa/instance ; USER=vmail ; COMMAND=/usr/bin/doveadm user -f home <email>`

I can't fix it via sudoers File. Until yesterday everything ran fine. Now it's fully broken in some areas. That sucks :D
I compared the patch you made to the local file version, in py3.8 and recently updated the git repo is more in the fu

[2021-04-21 08:56] nickshanks347 commented on #2213
Sorry to be annoying but could you please specify which configuration page? There are 10 different tabs on Modoboa settings, unless you want a screenshot of every single one?

[2021-04-21 17:29] #2152 closed

[2021-04-21 19:02] Orminor77 commented on #2208
Ok no problem ;)

[2021-04-22 04:43] lpossamai opened #2228 "Recent created domain fails DNS checks"
# Impacted versions

* OS Type: Ubuntu
* OS Version: 20.94.2 LTS
* Database Type: PostgreSQL
* Database version: 12.6
* Modoboa: 1.17
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Add a new domain via the Web UI, with no DNS records yet created.

You should get the message below from Modoboa:
![image](https://user-images.githubusercontent.com/17607576/115656552-827cdc00-a389-11eb

[2021-04-22 04:50] lpossamai commented on #2228
After adding the DNS records required by Modoboa and running `/srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py modo check_mx` manually, I was able to get the domain working.

So back to #1023 where I think this should be in the Admin Web UI.

[2021-04-22 08:13] mattg66 commented on #2208
This fix does not work on Debian 10, Postfix refuses to send mail after the change.

[2021-04-22 15:23] alessandromagridotnet commented on #2043
Hi, same error here. The emails work like a charm except for the daily limit.
Is there any news about this bug? (or any workaround?)

[2021-04-22 23:25] rheinon commented on #2208
Is that a fresh install?  I got 2 Debian 10.9 setups, fresh install, both working perfectly after the fix.  You might want to post your /etc/postfix/main.cf and check settings against the default setups posted above.

[2021-04-23 07:33] tonioo commented on #2208
I've just fixed the installer: https://github.com/modoboa/modoboa-installer/commit/c9d67250ba76df2ad12d41e23dbe5918531a3ee4.
Thank you for the analysis!

[2021-04-24 22:57] itzMiney opened #2229 "Can't send/receive E-Mails internally/externally at all"
# Impacted versions

* OS Type: Debian
* OS Version: 10
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

install dependencies, open ports
freshly install Modoboa with the installer
reboot server
go to mail.example.com
add a domain
make all the dns records
wait for checks (all checks green for me)
make simple user
Compose & Send test E-mail with simple user
# Curren

[2021-04-24 23:06] ItzMineyy commented on #2229
Update: Browser Console after clicking "Send"
![image](https://user-images.githubusercontent.com/51490217/115975123-55cfec80-a562-11eb-93f9-ee72ebbb585a.png)

[2021-04-27 16:50] slowaways commented on #1773
I have the same problema but this solution not work for me.

[2021-04-27 18:29] slowaways opened #2232 "systemd[1]: opendkim.service: Can't open PID file /run/opendkim/opendkim.pid (yet?) after start: No such file or directory"
# Impacted versions

* OS Type: Debian
* OS Version: 10
* Database Type: PostgreSQL
* Database version: X.y
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
systemctl status opendkim.service

# Current behavior
systemd[1]: opendkim.service: Can't open PID file /run/opendkim/opendkim.pid (yet?) after start: No such file or directory

# Expected behavior
- No error -

[2021-04-27 19:28] jfs commented on #2200
Just did a brand new install on Debian 10 using the installer (also my first time using Modoboa) and I think I have the exact same problem. I would say, since this is a brand new install, there is an opportunity to improve the installer.

[code]

Looks like if I install redis-server this will resolve my issue? Anything special I need to do config wise?

[2021-04-27 19:31] jfs commented on #2200
Actually I just looked and redis-server is installed. Might be the ipv4 vs ipv6 thing.

[2021-04-27 19:37] rheinon commented on #2200
To those having install issues on Debian 10, are you using at least 8GB storage during initial install?  I had all kinds of problems when installed below that.

[2021-04-27 19:40] jfs commented on #2200
I'm on a new VM with 2GB memory and 50GB of disk space. My understanding was that was fine for a small install.

[2021-04-27 20:12] jfs commented on #2200
Forcing ipv4 worked...

In `/etc/supervisor/conf.d/policyd.conf`
[code]

[2021-04-29 16:41] greatpilaf commented on #2084
I had the same error, with the next enviroment:

OS Type: Debian
OS Version: Debian Bullseye
Modoboa: 1.17.0
Webserver: Nginx/1.18.0
Dovecot: 2.3.13
Certificates: self-signed located on /etc/ssl/cert.crt and /etc/ssl/private/cert.key

So, in the modoboa web app, parameters tab, the default password scheme appeared empty, when i was trying to execute:

`doveadm pw -l`  as modoboa user, gave me the

[2021-04-30 02:02] slowaways commented on #1774
I can't switch to PT-BR in the new version too.
Please, help me!

[2021-04-30 05:52] slowaways commented on #2208
Thanks!
You saved me!

[2021-04-30 23:13] kiloDE opened #2235 "Failed to retrieve mailbox location [when trying to delete new user/identity & mailbox]"
# Impacted versions

* OS Type: Debian/Ubuntu
* OS Version: x
* Database Type: pSQL
* Database version: x
* Modoboa: latest (German date format: 01.05.2021)
* installer used: Yes
* Webserver: nginx and uwsgi (did work until a few weeks ago)

# Steps to reproduce
after restarting uwsgi problems with API and so on
add Identity + Mailbox in ACP
trying to delete Identity+Mailbox in ACP

# Current beha

[2021-05-01 20:05] ossimantylahti commented on #2129
I can confirm that this issue is open and valid in Ubuntu 18.04 LTS. Manually installing `sudo apt-get install -y python3-certbot-nginx` and then running `sudo certbot renew` fixes the problem. What remains is to automatize this process.

[2021-05-02 07:26] #1774 closed

[2021-05-05 16:35] pklav opened #2237 "Cannot create identity"
# Impacted versions

* OS Type: Raspbian GNU/Linux 10 (buster); the Lite release
* OS Version: 10 (buster)
* Database Type: MySQL
* Database version: 15.1
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

1. Do a fresh install using the installer
2. Create a domain without creating a domain administrator.
3. Create a new identity (simple user) for that domain: fill

[2021-05-07 15:04] DaveDischord opened #2239 "Active Directory Identity creation/Web login issues"
Even by looking at the log files, I'm still stumped on where my problem is.
First, my setup involves modoboa and dovecot syncing with Active Directory.  Dovecot syncing is not through Modoboa's parameter settings.  Most users that have mailboxes set up can access their mail.  Now, however, newly created AD users aren't able to log in Modoboa's web interface.
 I've ran into the same error logging i

[2021-05-09 17:02] kiloDE commented on #2229
Hey,

I'm not of the dev team here, but it looks a bit like you have a bug in your nginx config. Why? you got a 404... not found!
And it's a POST Request to /webmail/?action=compose
I experienced the same when I forget the API Url rewrites in the sites-enabled cfg of your vhost.

Try to setup a mailbox + email acc with Thunderbird and check if stuff gets send out. Then you know it isn't the underl

[2021-05-10 07:22] bloeys commented on #624
Any updates on this? Using the latest version and the same test all emails still go into inbox 😅
Is there any fix currently to improve filtering?

[2021-05-10 08:36] tonioo commented on #2235
@kiloDE I think this is related to https://github.com/modoboa/modoboa/issues/2084.

[2021-05-10 11:55] pklav commented on #2237
Default settings, I assume (I did not change anything here...).
The pdfcredentials folder is owned by user modoboa:modoboa with permissions 770.
![Schermafdruk_2021-05-10_13-50-04](https://user-images.githubusercontent.com/83528427/117655023-d31c7380-b196-11eb-8800-3d8c6e7c4c8e.png)

[2021-05-10 14:01] #2206 closed

[2021-05-10 14:07] #2228 closed

[2021-05-10 14:13] #2235 closed

[2021-05-10 14:41] DaveDischord commented on #2239
Thanks.  I did update my cron file, but still having the same issue with all test users.  I've ran it manually with the following errors:
**As sudo**
`  File "/srv/modoboa/instance/manage.py", line 16
    ) from exc
         ^
SyntaxError: invalid syntax
`
**In virtual**
After adjusting the search filter under Parameters, it ran without error.
The Identities section was then populated with other u

[2021-05-14 06:26] tonioo commented on #2239
@DaveDischord Your last error seems to be related to an ACL / permission issue on your LDAP server...

[2021-05-16 00:56] mas1701 commented on #2129
On a fresh install using Debian 10, the nginx plugin of certbot is missing also. As for the automatic renewal set-up in cron, they exist twice: Once in /etc/cron.d/letsencrypt (not working, as described above), once in /etc/cron.d/certbot . The latter is provided by Debian and should work fine.

As for the content of /etc/cron.d/letsencrypt, it runs certbot with --no-self-upgrade - that however is

[2021-05-16 01:22] mas1701 opened #2246 "manage.py modo check_mx (cron job) throws python error (mails every 30 mins.)"
# Impacted versions

* OS Type: Debian
* OS Version: 10
* Database Type: MySQL
* Database version: 10.3.27-MariaDB-0+deb10u1
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx
* python --version: Python 3.7.3

# Steps to reproduce

* Do a default install of Modoboa on Debian 10.
* [Using "mailsrv" instead of "mail" as the mail server's subdomain. Using Let's Encrypt.]
* Define valid MX ser

[2021-05-16 01:35] mas1701 opened #2247 "Contacts and Calendar throw internal error"
# Impacted versions

* OS Type: Debian
* OS Version: 10
* Database Type: MySQL
* Database version: 10.3.27-MariaDB-0+deb10u1
* Modoboa: 1.17.0
* installer used: Yes
* Webserver: Nginx
* python --version: Python 3.7.3

# Steps to reproduce

* Do a default install of Modoboa on Debian 10.
* [Using "mailsrv" instead of "mail" as the mail server's subdomain. Using Let's Encrypt.]
* Set up a first mail

[2021-05-17 17:21] peg42 commented on #2247
+1
I have the same issue with a fresh Ubuntu 20.04 install. Nothing I tried to configure worked.

[2021-05-18 13:01] im-fabian commented on #2239
Am I missing something? Because for me it states that the command _import_from_ldap_directory_ does not exist.

[code]

[2021-05-20 21:08] Ramsteven commented on #1233
Hello, do currently exist the way they get the email of a specific account? I want to avoid using other libraries.

[2021-05-21 12:05] mattg66 commented on #2208
This was due to a permissions error on the DKIM keys from server migration.

[2021-05-23 23:07] RealFriesi commented on #2247
+1
Same here on Debian 10 using the installer with default settings and letsencrypt

[2021-05-27 09:11] Ryvix commented on #2246
Had this issue too. Discovered you have to set your Valid MXs to IP addresses instead of hostnames. You can do this in the dashboard under Modoboa > Parameters > Administration > Valid MXs

See #1664