[2014-06-06 07:46] #555 closed, assigned to tonioo

[2014-06-06 07:46] #554 closed, assigned to tonioo

[2014-06-06 07:49] #557 closed, assigned to tonioo

[2014-06-06 07:49] #558 closed, assigned to tonioo

[2014-06-09 01:59] almereyda opened #560 "Documentation : Virtual Machine update?"
I have tried to use your virtual machine. After converting it to qemu2 I would have loaded it with `libvirt`.

Unfortunately it doesn't embody the virtio kernel modules, nor were I able to hack them in via a virtual serial console. So network access never really worked.

After 6 hrs of trying around, a quick test with a fresh CentOS Minimal image showed my network was working as expected.

Those l

[2014-06-10 00:52] almereyda opened #561 "Docs : Installation instructions for debian, dovecot and postfix"
A small link can sometimes take a lot of extra work. Especially if it's not clear what to do. The Amavis Note in the install document can make you think:
- https://modoboa.readthedocs.org/en/latest/getting_started/install.html#deployment
- https://modoboa.readthedocs.org/en/latest/getting_started/plugins.html#amavis-frontend

Within the Docs, its also not obvious which [package requirements](http:

[2014-06-10 19:11] rominf opened #562 "Docs: default password scheme is sha512crypt, but not crypt"
[General parameters](https://modoboa.readthedocs.org/en/latest/getting_started/configuration.html#general-parameters) says that default password scheme is crypt, but when I installed modoboa sha512crypt was selected in web interface.

[Dovecot/Authentication](https://modoboa.readthedocs.org/en/latest/integration/imap_and_smtp.html#mysql-users) proposes to use

[code]

but of course it isn't compat

[2014-06-10 19:23] rominf opened #563 "Docs: add note about using manage.py handle_mailbox_operations with virtualenv"
To isolate modoboa dependencies I used virtualenv. To get activated environment on `modoboa` user login I've added

[code]

But `modoboa`'s `.bashrc` isn't sourced when `cron` executes `vmail`'s crontab. So, to get it work I needed to add:

[code]

[2014-06-10 19:44] rominf opened #564 "Docs: write about db role creation for mailboxes owner"
When I launched `manage.py handle_mailbox_operations` from `vmail` (mailboxes owner) I got error:
[code]

I fixed it by creating `vmail` user and granting all permissions to database `modoboa` (I don't know how much permission should I give).

[2014-06-10 20:08] rominf opened #565 "Docs: give link to the page that descibes what "mailboxes owner" means"
I'm a complete newbie (today I installed first mail server as described in modoboa manual). As I understand, modoboa is newbie-friendly mail server. When I read manual I met term "mailboxes owner". "Hmm..." — thought I — "Who is that? I guess it's dovecot". Then after 5 minutes of googling I've found that I was mistaken by reading clear article that described this concept: https://help.ubuntu.com/

[2014-06-11 10:54] piwats opened #566 "Don't display quota bar if quota is unlimited"
Hello,

it came to my attention, that the quota bar at the bottom of the webmailer is shown when the quota limit is set to "0" - unlimited. The quota indicator shows a "-1" then, which is somehow weird, too.

From a users standpoint of view when there is no quota set there is also no need to inform a user about it.

Kind Regards,
-Paul

[2014-06-11 11:18] piwats opened #567 "Docs: Amavisd-new & mysql & amavisd-release & modoboa amavisd plugin"
Hello,

unfortunately the documentation to modoboa don't describe exactly how amavisd has to be set up in order to run the modoboa amavisd plugin:

Here is an excerpt from http://blog.jens-wurster.de/2014/04/modoboa-und-amavis/

1.) Set up amavis db according to amavisd docs

2.) MySQL example:

in amavisd.conf add/modify: caution replace [pass] with the password.

$inet_socket_port = [10024, 9998

[2014-06-11 11:30] piwats opened #568 "Docs: Run modoboa with apache/mod_wsgi as daemon"
Hello,

the django docs describe the mod_wsgi daemon mode as the recommended mode of running django applications under non-windows environments.

Here is my vhost configuration for modoboa, which can be used in the docs to show how this can be achieved:

<example>
<VirtualHost *:80>
        ServerName example.com

[code]

</VirtualHost>
</example>

[2014-06-11 12:31] piwats opened #569 "Stats: create stats folder in media"
Hello Antoine,

just run manually:

a mailadmin # python manage.py logparser
[graph] Impossible to create /var/www/mailadmin/mailadmin/media/stats/avgtraffic_global_AVERAGE_day.png graph
error: Could not save png to '/var/www/mailadmin/mailadmin/media/stats/avgtraffic_global_AVERAGE_day.png'

after creating the folder stats in media, everything is now working as it should :)

-Paul

[2014-06-11 12:53] piwats opened #570 "Autoreply: When disabling Autoreply one has to set the 'today' date to avoid 'date in past' error"
Hello,

when disabling an autoreply message in the users settings, then one has to set the today date first in the 'from' date. If this is not done, modoboa will complain about a passed date which is strange as it shouldn't bother modoboa about dates when autoreply is being disabled.

Also when the date range is set a little bit in the past, also in 'from', from the present 'today' date, modoboa w

[2014-06-12 13:46] piwats opened #571 "[Feature Request] Usage of dovecot expire plugin"
Hello there,

since modoboa can use db for storing much of the user related settings, wouldn't it be nice to implement the use of the dovecot expire plugin which would allow the user to expunge a definden folder after some time? F. e. delete all spam mail in the spam folder after 14d?

--> http://wiki2.dovecot.org/Plugins/Expire

-Paul

[2014-06-12 19:16] piwats opened #572 "Bug? Selection of mail in list"
Hi Antoine,

when trying to select multiple checkboxes in the mail view list one has to press CTRL Key otherwise only one checkbox is selectable.

-Paul

[2014-06-12 19:51] #572 closed, assigned to nobody

[2014-06-19 22:27] piwats opened #573 "Error when trying to use mod_ssl &mod_wsgi for modoboa"
Hello Antoine,

I'm trying to run modoboa with mod_ssl/mod_wsgi.

This is an error I get:

Environment:

Request Method: GET
Request URL: https://server.com/

Django Version: 1.5.8
Python Version: 2.7.6
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'sou

[2014-06-20 16:30] tonioo opened #574 "New extension to manage a Radicale server"
Create a new extension to allow the management of a [Radicale](http://radicale.org/) server. Its primary goal will be to ease rights management.

[2014-06-22 20:06] SomeGeek opened #575 "Add Cluebringer/policyd Support"
We should integrate Postfix [Cluebringer](https://www.policyd.org) support. It's nearly essential when it comes to mail security. Plays nice with amavisd-new as well.

[2014-06-27 00:02] mrh666 opened #578 "CKeditor doesn't work - ReferenceError: CKEDITOR is not defined"
Hi Antoine,

I found an issue - ckeditor doesn't work in 1.1.2 and after upgrade to 1.1.4. I trying CKeditor versions: 4.4.2, 4.3.5, 3.6.6.1. Unpack them into sitestatic/js/ one by one... No luck. Firebug shows the message:
ReferenceError: CKEDITOR is not defined
webmail.js (line 826)
var instance = CKEDITOR.instances[this.editorid];

[2014-06-27 11:30] piwats opened #580 "[Feature Request] ACL/Shared Mailboxes"
Hello Antoine,

having the ability to control the acl/shared mailboxes of dovecot also from modoboa could be very useful in many use cases:

http://wiki2.dovecot.org/SharedMailboxes/Shared
http://wiki2.dovecot.org/ACL

-Paul

[2014-06-27 13:32] #566 closed, assigned to nobody

[2014-06-27 13:42] #570 closed, assigned to nobody

[2014-06-27 14:38] #578 closed, assigned to nobody

[2014-06-27 15:04] #543 closed, assigned to nobody

[2014-06-28 07:37] #563 closed, assigned to nobody

[2014-06-28 07:37] #565 closed, assigned to nobody

[2014-06-28 17:04] #562 closed, assigned to nobody

[2014-06-29 07:38] #567 closed, assigned to nobody

[2014-06-29 08:36] #568 closed, assigned to nobody

[2014-07-02 19:50] #549 closed, assigned to nobody

[2014-07-04 08:57] #536 closed, assigned to nobody

[2014-07-04 15:47] piwats opened #581 "Webmail: Bug: Error: ["Mailbox doesn't exist: virtual"]"
Hello Antoine,

I recently discovered dovecots' virtual mailboxes (http://wiki2.dovecot.org/Plugins/Virtual).

The config is pretty simple:
from 10-mail.conf:

namespace {
  prefix = virtual/
  separator = /
  location = virtual:~/dbox/virtual
}

After having them enabled and configured, Modoboa webmailer refuses to work as desired with this error, no erros in the log:

"Error: ["Mailbox doesn't e

[2014-07-16 14:36] mrh666 opened #582 "Webmail -> Compose Internal Error: UnicodeEncodeError: 'ascii' codec can't encode character u'\u0421' in position 15"
Hi there,
I found a bug. User use Russian letters in his signature get an error message when compose a new message. Change them to English letters and error is gone.

[Django] ERROR (EXTERNAL IP): Internal Server Error: /webmail/
Traceback (most recent call last):

  File "/usr/lib/python2.6/site-packages/django/core/handlers/base.py", line 113, in get_response
    response = callback(request, _ca

[2014-07-16 22:51] zodman opened #583 "amavis tables not created"
Hi i create a fabric install script for modoboa.

https://bitbucket.org/zodman/vagrant_modoboa/src/d8a4fbe65e0296f0a5493763a3aefd45b710a4ec/fabfile.py?at=master

Here the code

when it finished the database amavis no had tables. ( missing the tables for modoboa.extensions.amavis)

[2014-07-20 13:32] #582 closed, assigned to tonioo

[2014-07-20 14:58] #492 closed, assigned to nobody

[2014-07-20 15:09] #569 closed, assigned to nobody

[2014-07-20 15:17] #556 closed, assigned to tonioo

[2014-07-22 16:33] Toc-Toc opened #585 "Bootstrap3 support"
It would be interesting to update the modoboa template in order to use the new bootstrap 3.2 version. By the way, it could be interesting to make it really responsive.

[2014-07-24 14:57] mrh666 opened #586 "Bug: customer replying to the message with empty 'Subject' field generate AttributeError: 'ReplyModifier' object has no attribute 'Subject'"
Traceback (most recent call last):

  File "/usr/lib/python2.6/site-packages/django/core/handlers/base.py", line 113, in get_response
    response = callback(request, _callback_args, *_callback_kwargs)

  File "/usr/lib/python2.6/site-packages/django/contrib/auth/decorators.py", line 25, in _wrapped_view
    return view_func(request, _args, *_kwargs)

  File "/usr/lib/python2.6/site-packages/modob

[2014-07-25 08:20] #586 closed, assigned to tonioo

[2014-07-27 13:27] piwats opened #587 "Identities List: Internal Error"
Hi Antoine,

I get this errors, when trying to list identities:

Internal Server Error: /admin/identities/list/
Traceback (most recent call last):
  File "/usr/lib64/python2.7/site-packages/django/core/handlers/base.py", line 113, in get_response
    response = callback(request, _callback_args, *_callback_kwargs)
  File "/usr/lib64/python2.7/site-packages/django/contrib/auth/decorators.py", line 2

[2014-07-27 13:31] DerPate opened #588 "Sievefilter Plugin don't load up"
On my Instance of modoboa the sievefilterplugin don't load up.
Software:
dovecot --version
2.2.13 (2d2d75ac6715)
apache2 -v
Server version: Apache/2.2.22 (Debian)
Server built:   Jul 24 2014 15:34:00
Error wich i found in lib.js via Chrome Dev Tools
Uncaught TypeError:
undefined is not a function            lib.js:51
loadfs                                             lib.js:51
(anonymous function)

[2014-07-27 18:06] tonioo opened #589 "Amavis queries cleanup and improvement"
The current code is a bit messy and seriously need a refactoring.

[2014-07-28 14:29] #587 closed, assigned to nobody

[2014-07-28 18:14] #588 closed, assigned to nobody

[2014-07-30 12:53] piwats opened #590 "Make modoboa work with uwsgi/nginx in a subdirectory"
Hell there,

Modoboa refuses to work with nginx and uwsgi:

1.) nginx config:

server {
        server_name wohooo.com;
        listen 80;
        listen [::]:80;
        return 301 https://$server_name$request_uri;
}

server {
        listen 443 ssl spdy;
        #listen [::]:443 ipv6only=on ssl spdy;
        server_name wohooo.com;

[code]

}

2.) uwsgi config file:

[uwsgi]
# Not needed when us

[2014-08-02 06:44] #590 closed, assigned to nobody

[2014-08-07 09:34] tonioo opened #591 "Add switch to control domain/mailbox creation when importing an account from LDAP"
Currently, a domain and a mailbox are automatically created when a new account is imported from an LDAP directory. (the only exceptions concerns domain administrators)

This behaviour is not correct when modoboa is used on a proxy MTA (using the relay domains extension).

[2014-08-08 15:01] aanriot opened #592 "Typo in the administration panel"
Patch submitted in https://github.com/tonioo/modoboa/pull/593

[2014-08-08 15:08] #592 closed, assigned to nobody

[2014-08-12 15:02] aanriot opened #594 "Add more settings in the GUI"
Hello,

A possible enhancement could be to add to the GUI the following settings:
- Default language for the users (for now, it's in settings.py)
- Logo path (may be that it would make sense to add "Propulsed by Modoboa" on the homepage too)
- More settings from settings.py ?
##

Alexandre

[2014-08-18 14:14] aanriot opened #596 "Display user profile while connecting for the 1st time"
Hello,

Even if we use a default redirect to the webmail, it could be useful to have a redirect to the profile / settings the first time a user logs himself in.

--
Alexandre

[2014-08-18 14:17] aanriot opened #597 "Wrong display in the webmail after removing all the mails in the current page"
Hello,

When you remove all the mails listed in the current page (e.g. 2/2), the webmail then wrongly displays "Mailbox empty" and the user has to manually go to the previous page (e.g. 1/1)
##

Alexandre

[2014-08-23 14:17] #551 closed, assigned to nobody

[2014-08-24 11:47] tonioo opened #598 "Wrong message type filter when current language is not english"
When english is not the current language, the "All" message filter does not work because the translated value is used instead of the raw value.

[2014-08-24 12:17] tonioo opened #599 "Catchall alias incompatible with mailboxes"
Currently, if a catchall alias is defined for a domain, it will eat all domain's traffic. Regular mailboxes won't receive messages anymore.

This is due to the fact the sql-email2email.cf map was removed in a previous version... my bad!

[2014-08-24 12:51] #591 closed, assigned to tonioo

[2014-08-24 12:51] #598 closed, assigned to tonioo

[2014-08-24 12:52] #599 closed, assigned to tonioo

[2014-08-25 23:13] Homer-Rivera opened #601 "ValueError: Unable to configure handler 'modoboa': Cannot resolve 'modoboa.core.loggers.SQLHandler': No module named 'models'"
I am trying to install modoboa on archlinux.  When I try to deploy modoboa using this command

 modoboa-admin.py deploy mailadmin --syncdb --collectstatic

I am getting this error...

ValueError: Unable to configure handler 'modoboa': Cannot resolve 'modoboa.core.loggers.SQLHandler': No module named 'models'

I installed modoboa using the command pip2 install modoboa.  I had no issues running that

[2014-08-25 23:50] #601 closed, assigned to nobody

[2014-09-08 07:34] aanriot opened #602 "Mail activity"
Hello,

As done in MailCleaner, it could be useful to have a page displaying the mail activity:

- Arrival date / status ;
- Envelope sender ;
- Recipients ;
- Status (spam / virus / bad header mail) ;
- Deliver status / date.

with a few filters:

- The liste of the configured domains
- A type field (e.g. to look for logs of a specific mailbox)
- Date

[2014-09-17 11:52] tonioo opened #603 "SQL error on quota recalc"
When MySQL is in use and the following command is executed:

[code]

dovecot tries to remove existing admin_quota records before updating them. Unfortunately, the following error is raised:

`dict: Error: sql dict: commit failed: Cannot delete or update a parent row: a foreign key constraint fails (`mailng`.`admin_mailbox`, CONSTRAINT `quota_value_id_refs_username_65a4e03cdef957bf` FOREIGN KEY (`q

[2014-09-17 13:25] #603 closed, assigned to tonioo

[2014-09-17 13:25] #589 closed, assigned to nobody

[2014-09-18 08:29] aanriot opened #605 "Error 400 while sending a message with an empty body"
Hello,

When sending a message with an empty body, a 400 error is triggered:
POST /webmail/?action=compose => generated 2376 bytes in 27 msecs (HTTP/1.1 400)

Version: 1.1.6
Sender: webmail
##

Alexandre

[2014-09-19 09:05] #605 closed, assigned to tonioo

[2014-09-23 17:38] piwats opened #606 "Can't log in as normal user"
This is the error I get when I try to login as a normal user in modoboa:
admin login is fine, normal user is obviously not:

Environment:

Request Method: GET
Request URL: https://mysite.com/modoboa/

Django Version: 1.5.10
Python Version: 2.7.7
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.sites',
 'django.contrib.mess

[2014-09-24 00:52] piwats opened #607 "1.1.6: mamge.py commands gone..."
Hi,

I think there were much ore options to manage.py as now avaible:

Usage: manage.py subcommand [options] [args]

Options:
  -v VERBOSITY, --verbosity=VERBOSITY
                        Verbosity level; 0=minimal output, 1=normal output,
                        2=verbose output, 3=very verbose output
  --settings=SETTINGS   The Python path to a settings module, e.g.
                        "mypr

[2014-09-24 15:37] #607 closed, assigned to nobody

[2014-09-27 09:24] SonRiab opened #608 "amavis postgresql hint"
It would be great if you can add an hint that if you using amavis with postgresql and bytea you MUST set

[code]

in the amavis configuration. The amavis postgresql readme mention it but you could easily miss it.

[2014-10-08 08:26] #608 closed, assigned to tonioo

[2014-10-13 15:47] aanriot opened #610 "No statistic available for a reseller account which owns the domains"
Hello,

As discussed, it seems that there is no statistic available for a reseller account which owns the domains. For each graph, it displays "Aucune statistique disponible".

Modoboa version is 1.1.6.

Thanks.

[2014-10-13 20:02] #610 closed, assigned to tonioo

[2014-10-16 12:21] SomeGeek opened #611 "Mail Throttling"
Add the ability to throttle the following per time unit:
- Max message size
- Max outgoing mails (prevent misuse of your servers for spam sending)
- Max incoming mails

[2014-10-16 12:30] SomeGeek opened #612 "Per domain/user greylisting control"
Provide the ability to control greylisting per domain/user. Especially when dealing with incompatible senders, this option would save headaches.

[2014-10-16 12:31] SomeGeek opened #613 "Provide a APT/YUM repository and auto-installer"
Create packaging repository's along with auto-installers.

[2014-10-16 13:14] SomeGeek opened #614 "Support Postfix SMTP TLS Policy Maps"
- This adds the ability to define per-domain mail security settings

[2014-10-16 13:18] SomeGeek opened #615 "Splitting everything into modules"
Provide all modules separetely (in packages) and only install the ones you really need. Less is more.

Proposed for now:

* Modoboa Core
* Amavisd
* DKIM
* Calendar
* Webmail

[2014-10-16 14:07] SomeGeek opened #616 "Initial API"
Make Modoboa support API-calls to integrate it with other services (like popular Control Panels). This will be the first implementation, that is able to:

* Create domains
* Update domains
* Delete domains
* Force secured connections (plain digital communications a more like suicide these days)
* Basic API-ACL (Only specified IP's are allowed to connect)

When no additional information is provided

[2014-10-16 14:18] SomeGeek opened #617 "Restrict Admin-panel access for admins"
Restrict the ability for administrators to logon everywhere.
- Use ACL's to limit administrator logons
- Enforce 2-factor authentication
- Use brute-force protection for the login-field

[2014-10-16 14:31] SomeGeek opened #618 "Support One-Time passwords also for users"
Passwords are becoming more aged these days. Many services are integrating two-factor authentication, which is also great for Modoboa. There are many apps (Android/iOS/WinPhone) acting as a token. Adding it is as easy as scanning a QR-code.

We should make Postfix/Dovecot support two-factor authitencation for 'unknown' places. It wouldn't make sense to enter your password everytime receiving your

[2014-10-16 14:42] SomeGeek opened #619 "Proposal: Provide our own Postfix/Dovecot packages"
Most of the default versions in the repository's are outdated, especially when it comes down to new (security) features. Providing our own packages, we can be sure about the version-compatibility.

[2014-10-16 15:05] SomeGeek opened #620 "Add support for mail signing and encryption (S/MIME and PGP)"
Quoted from Antoine's roadmap issue:

Create a digital signing gateway (maybe a milter) to automatically sign outgoing messages at a per-user level. We could use S/MIME, PGP or both.

Modoboa would allow a simple administration of such a tool (easy PKI management, allow users to choose if they want to sign all messages, just the most important, etc.)

I don't know if such a solution exists but it

[2014-10-18 20:56] vfigueiro opened #621 "Unable to change password or create superuser"
I forgot the password for the only superuser (I deleted the 'admin' user). When running 'manage.py changepassword' or 'manage.py createsuperuser' I always get "NotDefined: Application 'core' and/or parameter 'PASSWORD_SCHEME' not defined".

Running Modoboa 1.1.6, upgraded from 1.1.1 today. Was having the same issue in 1.1.1.

Not sure if it's a bug or if I'm missing something. Some guidance or wor

[2014-10-19 08:37] #621 closed, assigned to tonioo

[2014-10-21 19:26] tonioo opened #622 "Let users train spamassassin from quarantine content"
Enable per-user bayes filters (use the `sa_username` flag of the policy table) and add shortcuts to train spamassassin (using either sa-learn or spamc).

[2014-10-23 14:54] SomeGeek opened #623 "Mail Queue administration"
Add the option to manage the mailqueue from within Modoboa.

[2014-10-23 15:03] SomeGeek opened #624 "Manage SPF"
Provide the option to manage SPF within Modoboa. SPF is a method to prevent spam by using DNS-checks.

Proposed options:
- SPF checking mode
  - Only create Received-SPF headers, never block
  - Use temporary error notices when you have DNS lookup problems
  - Reject mail when SPF resolves to "fail" (deny)
  - Reject mail when SPF resolves to "softfail"
  - Reject mail when SPF resolves to "neutra

[2014-10-23 15:06] SomeGeek opened #625 "DomainKeys Support"
Add support for DomainKeys.

http://en.wikipedia.org/wiki/DomainKeys

[2014-10-23 15:22] SomeGeek opened #626 "Per-user Amavis settings"
Expand the black/whitelist feature to a full per-domain and a per-user amavis control.

Proposal: Integrate SpamAssasin functions as well.

[2014-10-25 12:40] arthurlutz opened #627 "Put create button on the right, instead of the close button"
A little UX tip : when trying out modoboa I clicked on close twice when trying to create a user, I believe the create button should be on the right.

[2014-10-25 12:41] arthurlutz opened #628 "Add a select all checkbox for the checkbox list of extensions"
On http://localhost:8000/core/#extensions/ it would be nice to have a one click selection of all extensions.

[2014-10-28 19:07] piwats opened #629 "Possibility to add own CSS code to modoboa"
Is it possible to add/inject own css code in Modoboa?

-Paul

[2014-10-29 19:22] #622 closed, assigned to tonioo

[2014-11-03 16:02] tonioo opened #630 "Can't release/delete as user when used in relay mode"
When modoboa is used on a relay host to manage the quarantine, a simple user can't release/delete messages since not mailbox is declared in the local database.

[2014-11-03 16:17] #630 closed, assigned to tonioo

[2014-11-04 10:42] tonioo opened #631 "No statistics for relay domains"
The stats extension does not consider relay domains.

[2014-11-05 09:54] #631 closed, assigned to tonioo

[2014-11-07 13:54] hobgoblinsmaster opened #632 "FR translation error "cette message" -> "ce message""
In version 1.1.7, locale/fr/LC_MESSAGES/djangojs.po line 64:
# : extensions/amavis/static/amavis/js/quarantine.js:295
# : extensions/amavis/static/amavis/js/selfservice.js:17

msgid "Release this message?"
msgstr "Relâcher cette message?"

[2014-11-07 14:11] #632 closed, assigned to nobody

[2014-11-07 14:33] hobgoblinsmaster opened #633 "The filter "C" should be available as simple users."
The list of filters is different between admin and simple user mode.
As admin we have: "ALL","C","S","V","H","M","B".
As simple user: "ALL","S","V","H","M","B".

[2014-11-13 12:31] patrickbenkoetter opened #634 "Password Generator"
Modo should have a password generator, that generates and sets passwords on request.
- The password generator should be configurable and allow to set a password policy for passwords of specific complexity
- It should be possible to create new passwords
- It should be possible to create AND set passwords to make sure users really use the password.
- Maybe the password generator could/should be used

[2014-11-17 14:16] piwats opened #635 "Webmail Error: "Modoboa: command UID => got more than 10000 bytes""
Hello,

suddenly, when trying to access the INBOX in the Webamiler under 1.1.7 I am getting this error:

```Modoboa: command UID => got more than 10000 bytes```

No emails are being shown in the list apart from this error.

Also I get nor errors in my log when this happens...

-Paul

[2014-11-18 11:32] MosselNL opened #637 "Login with alias domain"
Feature request: Possibility to login with alias domains and primary domain.

[2014-11-18 21:25] #537 closed, assigned to nobody

[2014-11-23 00:22] SomeGeek opened #638 "Backup Facility"
Modo should have a backup facility for both administrators and users.

This backup can contain:
- User Mailboxes
- User Configurations
- Applied Filters

And anything else I might have not yet thought of.

Furthermore a scheduled backup and remote backup location would be very welcome. (SFTP/FTPS/Rsync)

[2014-11-23 08:55] tonioo opened #639 "Can't change user password"
When the amavis extension is activated, a user can't change its password due to the following error:

[code]

[2014-11-23 09:01] #639 closed, assigned to tonioo

[2014-11-24 10:52] devAtx opened #640 "Can't modify normal user as admin"
Hi, I just want to report that I can't modify normal user as admin.
I get 500 Internal Server Error on apache 2.4 + wsgi:

[code]

pip list:

[code]

[2014-11-24 10:54] #640 closed, assigned to nobody

[2014-11-24 14:56] piwats opened #641 "Feature Request: Import and autocreate Accounts from csv"
Hello,

is it possible to create a feature where a administrator can automaticaly create multiple user accounts by simply importing a csv file at once?

-Paul

[2014-11-24 16:14] #641 closed, assigned to nobody

[2014-11-24 17:14] #627 closed, assigned to nobody

[2014-11-24 17:21] #628 closed, assigned to nobody

[2014-11-24 17:24] #597 closed, assigned to nobody

[2014-11-26 08:32] aanriot opened #642 "Permissions and relay domains"
Hello,

As a reminder, it would be nice to be able to apply permissions to relay domains.

For example, it could be possible to allow a reseller account to check the quarantine of its owned domains.

Thanks.

[2014-11-26 18:35] tonioo opened #643 "Unicode error while displaying message in quarantine"
Some messages can't be decoded because we give a unicode object to email.message_from_string() method whereas it expects a str one!

[2014-11-26 18:40] #643 closed, assigned to tonioo

[2014-11-28 12:34] #531 closed, assigned to tonioo

[2014-11-28 13:53] #386 closed, assigned to tonioo

[2014-12-03 10:31] #633 closed, assigned to tonioo

[2014-12-03 14:52] #574 closed, assigned to tonioo

[2014-12-03 15:26] #541 closed, assigned to nobody

[2014-12-03 15:58] #466 closed, assigned to tonioo

[2014-12-03 15:58] #585 closed, assigned to nobody

[2014-12-04 08:15] #491 closed, assigned to tonioo

[2014-12-07 20:15] piwats opened #645 "Upgrade to 1.2. rc1 fails via pip with django-versionfield errors"
As mentioned above:

[code]

with /root/.pip/pip.log

[code]

The use of --allow-external django-versionfield results in the same error.

So the question is how to upgrade to 1.2.0-rc1...

-Paul

[2014-12-08 21:57] piwats opened #646 "Statistics: Internal Error"
Hey,

with 1.2.0-rc1 I'm getting this error when trying to access the new statistics pages:

[code]

What did I wrong?

[2014-12-09 05:15] ghost opened #647 "Information Page: 500 Internal Server Error"
Hi,

After upgrading to 1.2.0-rc1, I get this errors when I try to access the information page

[code]

[2014-12-09 14:30] ghost opened #648 "Webmail > Internal Server Error when the INBOX is empty"
Hello Antoine,

When the INBOX is **empty**, if I go to the Settings (or Message filters) page and go back to the main page, I always get Internal Server Error:

[code]

[2014-12-10 10:48] #648 closed, assigned to nobody

[2014-12-10 13:05] tonioo opened #649 "Update deploy command to ease upgrades"
Upgrading modoboa to a new version can be tricky since it may require configuration changes and we all know that nobody reads the documentation...

An easier way would be to run the deploy command for both new installations and upgrades. To allow upgrades, the command must ask new information (default lang, timezone) and ask database information even if the '--syncdb' option is not set.

[2014-12-10 14:53] #649 closed, assigned to tonioo

[2014-12-10 15:26] tonioo opened #650 "[Import from CSV] allow extra values for the "enabled" column"
The only supported value is True. We should allow others like 1, yes or y.

[2014-12-10 15:37] #650 closed, assigned to tonioo

[2014-12-11 16:55] #647 closed, assigned to nobody

[2014-12-11 16:55] #646 closed, assigned to nobody

[2014-12-11 17:00] #573 closed, assigned to nobody

[2014-12-11 20:31] #338 closed, assigned to tonioo

[2014-12-11 20:47] #226 closed, assigned to tonioo

[2014-12-11 20:50] #45 closed, assigned to tonioo

[2014-12-12 12:23] controlcde opened #651 "After fresh install of 1.2.0-rc1 "internal error" on Modoboa/Information"
I´ve just installed 1.2.0-rc1 via pip (and a manual install of django-versionfield) and if I go to Modoboa/Information I get an "Internal error". But there is no log entry in apache2 logfile.

[2014-12-12 12:57] #651 closed, assigned to nobody

[2014-12-12 13:03] controlcde opened #652 "url "static" instead of "sitestatic" and wrong basepath"
I´ve tried an install from git and I found following bugs:
1. The folder "sitestatic" is now located directly in basepath on the same lavel like the manage script.
2. The web gui looks for the css files under URL/static/css/... and like before URL/stitestatic/css

Maybe it´s not a bug - it´s a feature :) - but the documentation should also changed.

[2014-12-12 13:11] ghost opened #653 "Statistiques on v1.2.0-rc1"
Hello,
After a fresh install of modoboa on debian 7.7, i've this error when i want to see Graphical Stats :

[Fri Dec 12 14:04:46 2014] [error] Internal Server Error: /stats/graphs/
[Fri Dec 12 14:04:46 2014] [error] Traceback (most recent call last):
[Fri Dec 12 14:04:46 2014] [error]   File "/usr/local/lib/python2.7/dist-packages/django/core/handlers/base.py", line 112, in get_response
[Fri Dec

[2014-12-12 21:44] SomeGeek opened #654 "Sender-ID Support"
Provide an easy way to setup support for Sender-ID, for example via the installation script.

Edit: Since Sender-ID is heavily DNS related, it isn't Modoboa's part. I hadn't thought about that when I created this issue.

[2014-12-13 02:29] joubertredrat opened #655 "manager ip and port listen for imap/smtp"
Hi guys,

I saw that imap and smtp on modoboa runs on default port, but I think be interesting to set this.
Axigen have this option on your admin panel and I think a good feature.

This is a example on panel, https://www.axigen.com/usr/kb/roundcube/round9.jpg

It's interesting because in their case, it's possible to set more than one port if necessary.

What do you think, a good feature?

[2014-12-13 17:03] #653 closed, assigned to nobody

[2014-12-13 22:38] #654 closed, assigned to nobody

[2014-12-14 09:40] #645 closed, assigned to nobody

[2014-12-14 10:45] #652 closed, assigned to nobody

[2014-12-14 13:15] ghost opened #656 "Extensions and Logs page don't show up"
Hello,

When I try to access Extensions or Logs page I get this errors on Firebug:

[code]

This problem also happened with 1.2.0-rc1.

[2014-12-14 13:58] #656 closed, assigned to nobody

[2014-12-14 17:50] piwats opened #657 "A safe/quick upgrade procedure since 1.2?"
Hi there,

as 1.2-rc2 was released today (or yesterday ?) I just wanted to upgrade to it.

I see that the pip install --upgrade method won't work, as I ran into the django-versionfiled error again (tha means I have to redeploy completely).

So my question is, does modoboa currently has an upgrade path which does not require a redeployment of the whole installation?

If not, would it be possible to

[2014-12-15 11:30] controlcde opened #658 "Top checkbox to select/unselect domains and identities ..."
A wish: I need the possibilty to multiselect domains or identities for example to multidelete them. And it would be nice if I could adjust the view (how many identities should show on one page).

[2014-12-15 12:45] smarek opened #659 "Symlinks to plugin static files missing"
Hi,

in order to get the web interface running, I had to make symlinks for static files of plugins.

I've installed the modoboa using `pip`, pointed `/sitestatic` to `/usr/local/lib/python2.7/dist-packages/modoboa/static` and had to add symlinks for plugins I've enabled.

Is this somewhere in documentation and I just haven't found that?

Thanks

Eg.

[code]

[2014-12-15 12:53] smarek opened #660 "Cron jobs trigger warning about non-standard shutdown of database connection (MySQL)"
Running the cronjobs (no matter under what account) triggers warning in syslog, like this

[code]
example cronjob definition
[code]

Is this known issue, or problem of instance configuration?
I'm not running it in virtualenv or anything special.

[2014-12-16 12:45] #659 closed, assigned to nobody

[2014-12-19 20:43] smarek opened #661 "Statistics 1.2.0-rc2 no curves in returned JSON"
error in javascript console
`Uncaught TypeError: Cannot read property 'data' of undefined graphic.js:60`

lines in graphic.js file

[code]

And in JSON data returned by `GET /stats/graphs/?gset=mailtraffic`
params `averagetraffic` and `averagetrafficsize` has curves as empty array

RRD files are in `/tmp/modoboa` with user/group the same as apache/wsgi user, two RRD files non-zero size, nothing el

[2014-12-21 17:57] #661 closed, assigned to nobody

[2014-12-23 10:38] #657 closed, assigned to nobody

[2014-12-23 23:14] piwats opened #662 "(django-versionfield/django-version-field2) & modoboa"
Hi,
getting this:

[code]

Can not install modoboa.

[2014-12-29 08:19] piwats opened #663 "Horde integration with modoboa db"
Hello,

I stumbled upon Horde webmail. I know that modoboa has its own webmailer, which unfortunately has (hopefully temporary) its limitations due to python (#635). However, a webmailer is still needed.

Having now played with horde I came across some interesting options:

It is able to authenticate and manage users with not only some horde standard queries but also with custom ones. (Apart from

[2015-01-01 11:32] #662 closed

[2015-01-05 08:41] controlcde commented on #658
I can´t get it working. I´m using virtualenv ```/srv/venv/modoboa``` and after droping the database I go into the virtualenv and change into site-dir ```/srv/mailadmin``` to fire up the command

[code]

And the command ```loaddata```could not found.

[code]

[2015-01-05 08:58] controlcde opened #664 "documentation of web server integration (apache2) unclear"
The docs for apache2 integration shows:

[code]

I know that we´ve discused earlier the irritation of the directory structure but it is unclear what  `<path to your site's dir>` means. For example: if I installed Modoboa into _/srv/mailadmin_ the following directory structure will set up:
- /srv/mailadmin
  - manage.py
  - sitestatic
  - media
  - mailadmin
    - wsgi.py

So in the documentation `

[2015-01-05 10:54] tonioo commented on #658
The first error says your database does not exist (have you created the "modoboa" database?).

The right way to launch the loaddata command is:

[code]

[2015-01-05 11:12] controlcde commented on #658
@tonioo You´re right: I misunderstood your "After dropping your database, try to run the following commands". Now I´ve created the database and gave the modoboa database user full access but I get the following error after initial success:

[code]

So I think I didn´t have to migrate any data if I drop the database, right?

But how would the default user *admin* with password and the *super admin*

[2015-01-05 12:49] tonioo commented on #658
What do you mean by "after initial success" ? What commands did you run ?

[2015-01-05 13:01] controlcde commented on #658
* With "after initial success" I mean that everything that will be started before the migration (from the manage.py) will be successfully executed (but I won´t paste the full output).

* I started the process with `(modoboa)root:/srv/mailadmin# python manage.py syncdb --migrate --noinput` like you wrote above.

[2015-01-05 13:10] tonioo commented on #658
So you just launch this command and it fails, right ?

Could you paste the complete output ?

[2015-01-05 13:17] controlcde commented on #658
Right, the command fails
[code]
Oh, and I forgot: I´m just using the git version from yesterday.

[2015-01-05 13:27] tonioo commented on #658
Ok, I understand what's happening.

You can't use ```python manage.py syncdb --noinput``` for a fresh install (that's why I created the modoboa-admin command).

Instead of that, you need to (after a database drop):
1. Comment out the "south" line in INSTALLED_APPS
2. Run ```python manage.py syncdb```
3. Uncomment the "south" line in INSTALLED_APPS
4. Run ```python manage.py syncdb```
5. Run ```pyt

[2015-01-05 13:34] controlcde commented on #658
Great! Now it works.

[2015-01-05 13:37] controlcde commented on #658
But after all - it would be still nice to get the checkbox to select/unselect all domains and/or all identities. but if you don´t want this feature please close this issue. :accept:

[2015-01-05 15:35] aanriot opened #666 "Issue with 1.2.0 and quotas"
Hello,

On a fresh upgrade, while trying to acces the webmail, I get:

[code]

The error seems to come from imaputils.py, def getquota :

[code]

as data keeps uninitialized.

Cheers,

Alexandre

[2015-01-05 15:36] aanriot opened #667 "Generate a new secret key"
Hello,

It could be useful to add a button allowing to generate a new secret key on the administration panel.

Cheers,

Alexandre

[2015-01-06 10:10] aanriot commented on #666
c getquotaroot inbox
c OK No quota.

[2015-01-06 10:45] aanriot commented on #666
The following diff is working for me, but you could prefer to initialize the variable in the constructor.

diff --git a/modoboa/extensions/webmail/lib/imaputils.py b/modoboa/extensions/webmail/lib/imaputils.py
index b03182f..1a5bd46 100644
--- a/modoboa/extensions/webmail/lib/imaputils.py
+++ b/modoboa/extensions/webmail/lib/imaputils.py
@@ -638,6 +638,7 @@ class IMAPconnector(object):

[2015-01-06 11:41] #666 closed

[2015-01-06 13:37] fersingb opened #669 "Clicking "List domains" when it's already selected shows JSON data"
On the super admin interface, if you click on "List domains" while it's already selected, the url will change for admin/domains/list/ instead of admin/domains/#list/ and the JSON data will be shown instead of the UI.

[2015-01-07 08:48] #669 closed

[2015-01-08 12:41] tonioo opened #670 "Manual learning and alias of alias"
When the "manual learning" feature is enabled, it is not possible to create an alias pointing to an alias anymore.

[2015-01-12 19:38] tonioo opened #671 "500 error while displaying message full headers"
In the quarantine manager, a 500 is raised when headers of a message containing non ascii characters are displayed :

[code]

[2015-01-12 19:43] #671 closed

[2015-01-16 15:07] kryskool opened #673 "Add new fields on user's preference"
After planned some migration, i found it may be usefull to have new fiels on user's preference, to send new email password on users.

New fields:
- Mobile phone number (to send password by SMS)
- Secondary email (to send password on other mail address)

Regards,

[2015-01-17 22:47] MosselNL opened #674 "Possible to create domain with duplicate alias"
When creating a new domain it's possible to add a duplicate alias of that domain, after adding it's not possible to modify the domain anymore.

It creates a loop and you cannot receive any mail for that domain, as a workaround it's possible to disable the duplicate alias in the database directly or by removing the complete domain.

Reproduce:
Create a new domain with the same alias.

[2015-01-20 13:41] tonioo opened #675 "Can't act on on message when current user has aliases"
It is not possible to release/delete a message from the quarantine when the connecter user has aliases.

[2015-01-20 13:54] #675 closed

[2015-01-25 15:18] tonioo opened #677 "Can't display non UTF8 email content when using postgres"
[code]

[2015-01-26 20:53] #674 closed

[2015-01-28 10:11] machinefixer commented on #606
I got same problem, and I didn't see any error alert in my modoboa log.
Here's my package version list:
* Ubuntu 14.04
* Nginx/1.4.6(Ubuntu)
* Postfix/2.11.0
* Dovecot/2.2.9
* Modoboa/1.2.0
* Gunicorn/19.1.1

Any idea?

[2015-01-28 10:13] tonioo commented on #606
Try with DEBUG = True (settings.py) and please use a tool like firebug to catch AJAX errors.

[2015-01-28 10:53] machinefixer commented on #606
I just fix my problem. I forgot that I create a test user 'abc' on my Ubuntu before I install modoboa, and later I create a test normal user with same user name 'abc@mydomain' in Modoboa, so it seems the Modoboa user name conflict with the system user.
After I delete my system test user, I am able to login into Modoboa as 'abc@mydomain'.

[2015-01-29 09:29] machinefixer opened #678 "Webmail: Authentication Failed"
![screen shot 2015-01-29 at 17 16 13](https://cloud.githubusercontent.com/assets/5358642/5955168/f76695bc-a7da-11e4-89a6-01449bd1a410.png)

I've debugged this error for a while, it happens all the time once I try to use webmail interface, something like 'Password mismatch' or 'auth: Debug: client passdb out: FAIL' in my log file. But after I refreshed my webmail page by a couple of times the authe

[2015-01-29 15:00] tonioo commented on #678
Maybe an issue with your dovecot configuration?

[2015-01-29 15:02] tonioo opened #679 "Cannot sort quota list by current value"
[code]

[2015-01-29 15:17] #679 closed

[2015-01-30 09:52] machinefixer commented on #678
Thanks for replying! I've check all my dovecot configuration, since the problem happens occasionally, it can be some kind of "Timeout", I changed my local VPS to another which provide more stable web connection, then everything works fine after re-deploy modoboa.

[2015-01-30 13:05] tonioo commented on #678
Great. So I close this issue.

[2015-01-30 13:05] #678 closed

[2015-02-01 13:19] tonioo opened #680 "Wrong users and policy entries"
In some cases (for example, when the extension is enabled), domain(*) records are created using a wrong value: just the domain name. Those records should always begin with a @ character (```@domain.tld```).

TODO: check calls to ```create_user_and_policy``` and ```create_user_and_use_policy```.

[2015-02-01 19:17] controlcde opened #681 "postfixadmin migration script don´t create amavis records"
I´ve configured modoboa before I fire up the postfixadmin migration script but after a sucessful import the needed records in the amavis database are missing.

[2015-02-01 19:27] controlcde opened #682 "Disable/enable Amavis extension don´t create missing records in amavis database"
I´ve learned that reenabling Amavis extension will create all missing records in the database - in theory. It creates for the first missing domain (for example DOMAIN.DE) a record in policy table but instead "@DOMAIN.DE" it creates "DOMAIN.DE". So I think something is broken :).

[2015-02-01 20:23] controlcde commented on #682
seams to be the same like #680

[2015-02-01 20:23] #682 closed

[2015-02-02 14:51] phelset opened #683 "Relay domains user alias support"
Relay domains should be supported as alias

user@relay-domain.com -> user@other-relay-domain.com
otheruser@relay-domain.com -> otheruser@hosted-domain.com

[2015-02-02 14:52] Toniob opened #684 "Add STARTTLS to imap"
imaplib supports starttls since the version 3.2. It should be great to add this feature, like the one for smtp.

[2015-02-02 14:53] Toniob commented on #684
Here is a possible diff. It fallbacks to normal connection if the function is not available.
[code]

[2015-02-02 14:54] tonioo commented on #684
Indeed, it would be great but Modoboa is not compatible with Python 3 yet...

[2015-02-02 14:55] tonioo commented on #683
I think you are looking for relay domain aliases, which are already supported. Look at the relaydomain creation form, you can specify aliases...

Am I right ?

[2015-02-02 15:01] phelset commented on #683
Relay domain aliases works perfect.
But, I would like to add alias from one relay domain to another relay domain.
user@relaydomain.com -> user@other-relaydomain.com

If you try to add an alias with @relaydomain.com, the form validation fails with "Domain does not exist".

[2015-02-02 17:18] rschetterer opened #685 "dont allow uppercase alias or auto convert it to lowercase ever"
It should not be allowed to create uppercase alias addresses ( yes user
dont care ever about lower and upper case )
this leads to problems at modoboa install
with wanted postfix matches like

reject: RCPT from
host....: 550 5.1.1
<T1@example.com>: Recipient address rejected: User unknown;
from=<someone@example.com> to=<T1@example.com>
proto=ESMTP helo=<[10.1.2.3]>

[2015-02-03 08:11] tonioo opened #686 "Load postfix map files from extensions"
Find a way to declare map files inside extensions and not inside the core application. The ```--categories``` could be used to find which extensions need to be loaded, map files could be declared in a file named ```map_files.py``` or similar.

[2015-02-04 08:35] #677 closed

[2015-02-04 09:17] #685 closed

[2015-02-04 18:01] smarek commented on #660
I'm sorry it took so long. Yes, the error is now gone, with installing 1.2.0 stable from pypi or github tag.

[2015-02-04 18:01] #660 closed

[2015-02-06 18:40] tonioo commented on #681
Now that I look at the code, amavis records should be created when you run the migration script unless the amavis extension is not enabled.

Are you sure the extension was enabled when you ran the script ?

[2015-02-07 18:18] piwats opened #688 "Update/redeployment script"
Hello there,

this is a script I wrote for myself to easily update/upgrade/redeploy modoboa, so I don't have to do it manually....

I use uwsgi to run modoboa via nginx in a subfolder - this is why I sed som elines in the settings.py file...

It is very simple and probably self-explaining:
[code]

[2015-02-08 14:42] tonioo commented on #688
Hi,
thanks for sharing it! I'm not sure github is the right place for this but I don't know where to put it. Maybe I should create a contribution section on the website...

[2015-02-08 20:47] piwats commented on #688
I will refine/rework this script so it is more generally usable...

[2015-02-10 13:50] aanriot opened #689 "Problem while trying to remove a mailbox and a forward with the same name"
Hello,

When trying to remove a mailbox and a transfert with the same name, I got the following internal error:

`MultipleObjectsReturned at /admin/aliases/delete/ get() returned more than one ObjectAccess -- it returned 2`

To reproduce the issue, the checkbox "Keep local copies" has to be checked.

--
Alexandre

[2015-02-10 17:42] piwats commented on #688
Should work now even better:

[code]

[2015-02-11 13:00] emestels opened #690 "Webmail login display problem on smartphones"
Hi,

The login page is really not well displayed - it seems that there is a scaling problem.

I'm not an html pro but it seems this line is missing in the code :
```<meta name="viewport" content="width=device-width" /> ```

![screenshot_2015-02-11-13-54-22](https://cloud.githubusercontent.com/assets/8982895/6147315/5b9cf63c-b1f6-11e4-917b-9533db35c8cd.png)

[2015-02-11 13:05] emestels opened #691 "Impossible to send a mail from webmail with smartphone"
Hi,

There is a problem in the menu visualization on smartphones - impossible to "click" the WRITE/ECRIRE button to compose a new message!
![screenshot_2015-02-10-11-31-30](https://cloud.githubusercontent.com/assets/8982895/6147356/caccc2da-b1f6-11e4-97a6-12d458a72c05.png)

[2015-02-11 13:15] emestels opened #692 "Selection of multiple message to delete/mark as read/unread"
Hi,

In the inbox, in order to select multiple mail messages to apply an action (delete - mark as read - mark as unread) we need to use keyboard ctrl + click
==> it not possible with a touch screen device!
Simple click/touch of the check box should activate the select
![webmail - mozilla firefox_2015-02-11_14-09-08](https://cloud.githubusercontent.com/assets/8982895/6147483/56842eac-b1f8-11e4-9199

[2015-02-16 19:37] fompi commented on #466
A workaround is not a solution. In the meantime, I've used this query to solve this problem:

[code]

But I assume it should be worked on. Why won't create vies to clarify the map files?

[2015-02-16 21:15] piwats opened #693 "Domain removal fails when manual learning is enabled"
Hi,

I tried to add xx.domain.tld in the domain list as a domain in modoboa-1.2.0. It seems that this is not possible any more.

domain.tld seems to be not problematic.

Is it possible to revert to a previous state, when it was possible to do so?

-Paul

[2015-02-16 22:53] fompi opened #694 ""Internal error" accessing some folders"
It does not seems to be  #556

I got "internal error" when accessing some folders, seem related to encondings:

[code]

[2015-02-17 08:24] tonioo commented on #694
What's your main language? Is there any special charset for it?

[2015-02-17 08:25] tonioo commented on #693
Hi,

could you give more information? I don't reproduce your issue on the demo site.

[2015-02-17 08:27] tonioo commented on #466
Yes, it could be useful. But I must admit my knowledge about views is pretty limited. Do you have any example ?

[2015-02-17 13:51] #680 closed

[2015-02-17 14:19] piwats commented on #693
I have a domain.tld in my domains list.

When I try to add a subdomain like the one described, xx.domain.tld, modoboa refuses to create it, stating that the name of the domain is invalid.

If I try to add a domain, which parent domain is not on the list already, then xy.domain2.tld will be created. Here domain2.tld was not in the list of created domains before xy.domain2.tld was created.

That is,

[2015-02-17 14:26] tonioo commented on #693
Could you try on the official demo please ? (http://modoboa.sys4.de)

I've just created a sub domain... What is the role of the connected user?

[2015-02-17 15:03] piwats commented on #693
Hmm, it seems that my installation of modoboa has some troubles:

[code]

If I add a completely new domain, be it "test.com" to my modoboa instance, and later add another subdomain "test.test.com", then it works - with no problems at all.

It seems that domains added by previous modoboa installations, <1.2.0, are affected so it is not possible to add domains in the scheme which leads to this probl

[2015-02-17 15:25] piwats commented on #693
Furthermore, when trying to delete the domain to which it is not possible to add subdomains I get this 500 Internal Server error:

[code]

[2015-02-17 16:15] piwats commented on #693
The role of the connected user is always the same - super admin

[2015-02-17 23:13] fompi commented on #694
My main language is Spanish. Now I can't get these messages because I've migrated all my mail and now I'm hitting #635 on these folders.

[2015-02-18 09:35] tonioo commented on #693
Hi,
I've pushed a fix that should allow you to delete the domain. Can you please try it?

[2015-02-18 15:57] piwats commented on #693
Hello,
the fix allowed to remove the domain which prior to this couldn't be removed.

If I recreate the removed domain again and try to add a subdomain to it, modoboa fails with the same error, that the domain name is invalid.

[2015-02-18 16:11] piwats commented on #693
I just noticed, that I am now able to create a test.domain.tld subdomain, but not a z.domain.tld.

Is it possible that one character subdomains are not allowed for creation in modoboa?

[2015-02-18 16:13] tonioo commented on #693
It would be easier with the full backtrace or a screenshot.

[2015-02-18 16:54] piwats commented on #693
You get the same error on the official modoboa demo:

1.) create a domain "a.test.com" (it is not important to have a "test.com" domain prior to this)
2.) In the form-box where you enter the name you get a "Enter a valid domain name"-error.

I get following Errors in Chrome developer-tools:

[code]

and

[code]

[2015-02-18 17:45] piwats commented on #693
Can you split this bug into two, one which affect the amavis extension, and another which affects the subdomain/domain creation?

[2015-02-19 09:59] tonioo commented on #693
Sure. I'll create a new issue.

[2015-02-19 12:20] tonioo opened #695 "Can't create domain with name looking like "a.domain.tld""
The regexp used to validate domain names is too restrictive as it does not allow single character parts.

Original issue: #693

[2015-02-19 12:29] #695 closed

[2015-02-19 12:29] #693 closed

[2015-02-19 12:30] #686 closed

[2015-02-20 10:51] #104 closed

[2015-02-24 14:25] kobra34 opened #696 "Create new account"
Hi
How can I open a new account with add-ons compatible with modoboa .
After asking the user to open some questions users would get their own email.
thanks and respect

[2015-02-25 10:04] emestels commented on #691
Do you need more info on this?

[2015-03-03 14:54] tonioo commented on #691
No that's enough, thank you.

[2015-03-03 14:57] tonioo commented on #696
Are you talking about an API to create accounts into Modoba?

[2015-03-03 15:00] kobra34 commented on #696
Yes, or pluging

[2015-03-11 09:17] #413 closed

[2015-03-11 09:26] tonioo commented on #694
I see. #635 will require some internal work so I don't know when I will be able to work on it...

I close this one since you solved your issue.

[2015-03-11 09:26] #694 closed

[2015-03-11 09:35] tonioo commented on #690
You're right, the viewport is not properly configured.

[2015-03-11 09:35] #690 closed

[2015-03-11 12:35] #689 closed

[2015-03-12 05:35] patsoffice opened #698 "Identities import of aliases never sets recipient"
If I have a list of aliases to import, the first import will be created, but the internal recipient is never set and the import never continues even if "Continue on error" is checked.

Say my import list is:

alias;981abf1683c8a8c43671669e44a430c6@domain.com;True;dest@domain.com
alias;16438f737fa04f9dab0d176d8cec3c24@domain.com;True;dest@domain.com
alias;5416ecf971ea97a0b1d57d4e774374b7@domain.com

[2015-03-12 14:55] patsoffice commented on #698
I made the change I described in https://github.com/tonioo/modoboa/issues/522 to the DB schema, so that could be messing with the import. I am going to re-kickstart the host and build without that schema change and will report back.

[2015-03-12 14:57] tonioo commented on #698
I don't think so. I'm able to reproduce this issue.

[2015-03-12 15:29] tonioo commented on #698
Seems to work now :)

[2015-03-12 15:29] #698 closed

[2015-03-13 17:07] bennidi opened #700 "Problems with distribution lists after CSV import"
I tried the csv import for identities and used it to create accounts. Then I decided to replace some of the accounts with distribution lists. I deleted the accounts in the admin interface and used the csv to import them as distribution lists.

The import always created them as aliases instead of distribution list. The same happens when I try to add a distribution list via admin interface. It is no

[2015-03-16 05:00] patsoffice commented on #698
Thanks, installed this weekend. Works great!

[2015-03-18 11:59] tonioo commented on #700
Have you tried to manually remove remaining accounts? (since the option was turned off)

[2015-03-18 12:04] bennidi commented on #700
Yes, there are no unused/old accounts left. Neither in the database nor on the file system.

[2015-03-18 12:07] tonioo commented on #700
Can you provide the CSV file you used ?

[2015-03-18 12:50] bennidi commented on #700
No, I can't. I used different files with incorrect formats because I did
not understand the explanations. That's why I added a PR to include
examples :) I know that I had variations where I added a semicolon at the
end which caused the parser to hang.

Now the entire functionality of distribution lists and forwards seems to be
broken.

2015-03-18 13:07 GMT+01:00 Antoine Nguyen <notifications@githu

[2015-03-25 14:25] tonioo opened #701 "Account modification fails when amavis is enabled"
[code]

[2015-03-25 14:26] #701 closed

[2015-03-27 22:12] andrewyager commented on #642
This is a feature we would love to see too. We have a number of resellers who would like to log in to see the quarantine items that just belong to them.

[2015-03-30 17:48] vingeni commented on #700
i think that a distribution list with a single recipient is treated as an alias. If you have more than two recipient, then it is considered as a distribution list.

[2015-03-31 11:49] tonioo commented on #700
That's true. @bennidi Have you checked if there are more than one recipient inside the created distribution lists ?

[2015-03-31 11:51] tonioo commented on #642
I understand it but I have limited time to work on Modoboa since it is just a free software. Do not hesitate to contribute (code, money, time, whatever) if you'd like it to evolve faster ;-)

[2015-03-31 14:18] pierreozoux opened #703 "Clearer License statement"
Why not using a LICENSE file?

Thanks!

Pierre

[2015-03-31 19:45] tonioo commented on #703
Indeed, I could rename the file to something more usual.

[2015-04-01 13:14] #703 closed

[2015-04-08 13:58] kokel opened #704 "LDAP Backend: add support for ldap groups 'groupOfNames'"
Hello,

please add support for [groupOfNames](https://tools.ietf.org/html/rfc4519#page-22) ldap groups into the LDAP Backend. A 'groupOfNames' object stores the full User-DN in the attribute 'member'.

Currently there is only support for 'posixGroup' ldap groups.

Thanks in advance!

[2015-04-13 04:24] buffonomics opened #708 "I installed this, but I can't see any webmail"
All I see is the Domain and accounts, Webmail, calendar and the other are not showing up.
Is there some extra step that needs to be done that wasn't included in the docs for enabling these things?

[2015-04-13 09:52] tonioo commented on #708
Which version have you installed ?

[2015-04-13 14:53] kokel opened #709 "add support for smtpd_sender_login_maps"
Hello,

please enhance modoboa in order that postfix can query modoboa sql database for [smtpd_sender_login_maps](http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps).

This is very security related and will give modoboa admins the possibility to restrict users relaying emails with any "from" address.

[2015-04-13 15:29] buffonomics opened #710 "Pip install for 1.2.1 keeps using drupal 1.6"
Docs say Modoboa 1.2.1 (current version) needs drupal 1.7+, but the pip install always insists on and downloads drupal 1.6. This leads to inconsistencies in the current installation experience, and sometime outright errors.

My python version is 2.7.6.

[2015-04-13 15:41] tonioo commented on #710
Drupal ? :)

The documentation you're watching (with /en/latest/ inside the address) in the one built from the master branch which requires Django 1.7.

If you want to read the documentation of the 1.2.x branch (which requires Django 1.6):
http://modoboa.readthedocs.org/en/1.2.0/

[2015-04-13 16:29] buffonomics commented on #710
Sorry I meant django 1.7 :)
It's been a coffeeless morning.

[2015-04-13 16:42] buffonomics commented on #710
It might also be best to specify which versions of postfix and dovecot too, because I do not see any
/etc/postfix/sql-aliases.cf or /etc/postfix/sql-mailboxes-self-aliases.cf or any of that.

[2015-04-13 17:36] #710 closed

[2015-04-13 17:45] buffonomics opened #711 "SQL prepare failed: near "(": Error with generated sql-aliases.cf file"
When I try to use webmail I get the error:
Error: command: LOGIN => socket error: EOF

Looking at my logs, I see this continously:
Apr 13 17:42:28 mail postfix/pickup[2261]: ECB5F2166E: uid=0 from=<root>
Apr 13 17:42:28 mail postfix/cleanup[2619]: fatal: dict_sqlite_lookup: /servers/mail/mapfiles/sql-aliases.cf: SQL prepare failed: near "(": syntax error?
Apr 13 17:42:29 mail postfix/pickup[2261]:

[2015-04-13 17:48] buffonomics commented on #708
1.2.1. the currently stable one.  I see it now though, Had to rerun modoboa-admin.py with --extensions all, though I had some issues with placement of the parameters initially, hence me ignoring the extensions flag.

I wasn't able to see anywhere to enable those extensions after the deploy.

[2015-04-13 17:48] #708 closed

[2015-04-13 17:55] buffonomics commented on #711
This is the query given to the query field in that generated file by modoboa-django.py postfix_maps ...
Nothing changed. Spaced out for more legibility.
`
(
	SELECT (mb.address || '@' || dom.name)
	FROM admin_mailbox mb
		INNER JOIN admin_domain dom ON mb.domain_id=dom.id
	WHERE mb.id IN (
		SELECT al_mb.mailbox_id
		FROM admin_alias_mboxes al_mb
			INNER JOIN admin_alias al ON al_mb.alias_id=al.i

[2015-04-13 17:57] buffonomics commented on #711
While we're at it, would it be a terrible thing to just use that VM provided for 1.2.1 as a production mail server?

[2015-04-14 16:55] vingeni commented on #711
Hello,

try this request, without the start/end parenthesis :

query = SELECT (mb.address || '@' || dom.name) FROM admin_mailbox mb
INNER JOIN admin_domain dom ON mb.domain_id=dom.id WHERE mb.id IN
(SELECT al_mb.mailbox_id FROM admin_alias_mboxes al_mb INNER JOIN
admin_alias al ON al_mb.alias_id=al.id INNER JOIN admin_domain dom ON
al.domain_id=dom.id WHERE dom.name='%d' AND dom.enabled=1 AND
al.a

[2015-04-24 13:14] harobed opened #713 "Create alias with tag (+) in recipient address with internal domain"
It's impossible to create new alias with tag in recipient address.

Example :

* I've contact@example.com mailbox
* I would like to create foobar@example.com alias with contact+test@example.com recipient

I've this error « Local recipient contact+test@example.com not found ».

Solution proposition :

* use Alias.extmboxes to record this email address with tag

Do you see other solution ?

[2015-04-24 14:11] tonioo commented on #713
This fix could indeed work but it requires a parsing of the email address to detect the delimiter (+) :
* Parse the address
* If there a delimiter character in the local part, remove everything until we found a @ character
* With the remaining address (so contact@example.com) in the previous example, check if it exists locally
* Create the alias using the extmboxes field

Is it corresponding to yo

[2015-04-24 15:02] harobed commented on #713
Ok, I'm going to implement that.

[2015-04-24 15:17] tonioo commented on #713
Great news :)

By the way, I'm currently splitting modoboa applications (I'm almost done with 1.3.0) so the modoboa repository now contains only core files.

Since I consider your need as a feature, I think you should implement it inside the new repository which contains the admin console code: https://github.com/modoboa/modoboa-admin

What do you think ?

[2015-04-24 15:32] harobed commented on #713
First, I'm going to fix it in stable version 1.2.1, next I'll implement it to 1.3.0.

[2015-04-24 15:36] tonioo commented on #713
Ok, so the 1.2.x branch is the one you're looking for ;)

Anyway, many thanks for you time!

[2015-04-27 17:29] harobed opened #715 "Internal error when I click on domain with domain admin user account"
Hi,

I've this bug :

* I use modoboa v1.2.1
* I'm logged with domain admin user (not super admin user)
* I'm on this page http://modoboa.bearstech.dev/admin/domains/#list/
* I click on domain in the list
* In firebug, I've this error :

[code]

To fix it :

[code]

Next after this fix, I've "Update" button in modal window in below screenshot. If I click on update, I've this error :

[code]

![cap

[2015-04-28 13:20] harobed commented on #715
The problem is that my domain admin user (not super admin) haven't "admin.change_domain" permission.

It's here : https://github.com/tonioo/modoboa/blob/1.2.x/modoboa/extensions/admin/forms/domain.py#L274

I think that domain admin user must have "admin.change_domain" permission on its domain, isn't it ?

[2015-04-28 16:17] tonioo commented on #715
Hi,
a domain administrator is not supposed to change the properties of the domain he manages unless the amavis extension is enabled. Are you using it ? If you don't, you should not see the "Domains" menu entry at all.

Otherwise, it looks like you find an issue when a domain adminstrator tries to save a domain. I'm looking into it.

[2015-04-28 16:25] tonioo commented on #715
Sorry, my previous post was wrong about visibility. A domain administrator IS supposed to list and see the domain(s) he manages.

[2015-04-28 17:09] tonioo commented on #715
Here is a quick fix. Could you please test it ?

[2015-04-29 08:47] harobed commented on #715
Fixed, thanks

[2015-04-29 09:55] #715 closed

[2015-04-29 13:13] harobed opened #716 "python manage.py bower install => Unknown command: 'bower'"
I've installed

[code]

and I've :

[code]

any explanation ?

[2015-04-29 13:26] harobed opened #717 "In auto-reply message form, some issue around AM/PM datetime picker"
In auto-reply message form, some issue around AM/PM datetime picker
![capture d ecran 2015-04-29 a 15 18 23](https://cloud.githubusercontent.com/assets/230143/7391824/07cfbbfa-ee84-11e4-950c-a3a34fd2c6e4.png)

I can't select AM or PM.

Suggest : enable 24h format

[2015-04-29 13:27] harobed commented on #717
I want to test to upgrade "eonasdan-bootstrap-datetimepicker" but I've that issue #716

[2015-04-29 15:17] tonioo commented on #716
Is bower installed on your server ? (Not only django-bower)

[2015-04-29 16:26] tonioo commented on #68
This issue was moved to modoboa/modoboa-webmail#2

[2015-04-29 16:28] tonioo commented on #684
This issue was moved to modoboa/modoboa-webmail#3

[2015-04-29 16:28] #684 closed

[2015-04-29 16:30] tonioo commented on #635
This issue was moved to modoboa/modoboa-webmail#4

[2015-04-29 16:30] #635 closed

[2015-04-30 08:27] harobed commented on #716
Yes :

[code]

[2015-04-30 08:36] tonioo commented on #716
Did you deploy your modoboa instance using the --devel option ? If you didn't, you need to manually add "djangobower" to the INSTALLED_APPS variable.

[2015-04-30 08:44] tonioo commented on #711
@buffonomics Hi, have you tried the proposed solution ?

[2015-04-30 08:45] harobed commented on #615
This is in work in progress @tonioo

[2015-04-30 08:50] harobed opened #719 "Remove "Webmail" extension dependency on "Sieve filters" extension"
Currently "extensions/sievefilters/" depend on "extensions/webmail/".

Webmail extension need to be enabled to use "Sieve filters" extension.

Proposal : remove this dependency

[2015-04-30 09:29] harobed commented on #716
Yes is that.

Sorry it's here in the documentation https://modoboa.readthedocs.org/en/latest/extending/getting_started.html#deploy-an-instance-for-development

What do you think about append FAQ in « Deploy an instance for development » ?
I can append an item FAQ « bower command is missing in manage.py »

[2015-04-30 12:04] tonioo commented on #716
That's a good idea.

[2015-04-30 12:06] #183 closed

[2015-04-30 12:09] #240 closed

[2015-04-30 12:11] tonioo commented on #719
I agree. From my point of view, this change should be integrated with versions >= 1.3.0 so the right location for this issue should be https://github.com/modoboa/modoboa-sievefilters.

What do you think ?

[2015-04-30 13:27] #615 closed

[2015-04-30 13:30] harobed commented on #716
--devel option didn't append djangobower in INSTALLED_APPS in settings.py

[2015-04-30 13:34] harobed commented on #716
"djangobower" missing in https://github.com/tonioo/modoboa/blob/master/modoboa/core/commands/templates/settings.py.tpl

[2015-04-30 14:32] tonioo opened #721 "Update notification service issues"
Two issues:
* the update notification service always report that new versions are available, even if it is not the case
* it does not detect new version of the core application

[2015-04-30 14:33] #721 closed

[2015-04-30 14:35] #716 closed

[2015-04-30 14:41] tonioo commented on #692
This issue was moved to modoboa/modoboa-webmail#5

[2015-04-30 14:41] #692 closed

[2015-04-30 14:44] tonioo commented on #691
This issue was moved to modoboa/modoboa-webmail#6

[2015-04-30 14:44] #691 closed

[2015-04-30 14:45] tonioo commented on #683
This issue was moved to modoboa/modoboa-admin-relaydomains#1

[2015-04-30 14:45] #683 closed

[2015-04-30 14:47] tonioo commented on #642
This issue was moved to modoboa/modoboa-admin-relaydomains#2

[2015-04-30 14:47] #642 closed

[2015-04-30 14:48] tonioo commented on #581
This issue was moved to modoboa/modoboa-webmail#7

[2015-04-30 14:48] #581 closed

[2015-04-30 14:55] tonioo commented on #410
This issue was moved to modoboa/modoboa-webmail#8

[2015-04-30 14:55] #410 closed

[2015-04-30 15:06] #717 closed

[2015-04-30 15:09] piwats opened #723 "1.3.0: --dburl default:..."
Hello,

I'm trying to automate the redeployment of modoba.

When using the new modoboa-admin.py parameters, especially the new

--dburl default:postgres://USER:PASS@HOST:PORT/DB

and

--dburl amavis:postgres://USER:PASS@HOST:PORT/DB

That should be right, shouldn't it?

When running the modoba-admin.py deploy dir and the parameters above, I get:

"You must define a 'default' database" Error.

What

[2015-04-30 15:12] tonioo commented on #723
The --dburl option must appear only once but it accepts multiple arguments :

```--dburl defaut:<...> amavis:<...>```

Am I clear ?

[2015-04-30 15:15] piwats commented on #723
Thank you +1:

Could you place a note to the docs, because it was not clear?

[2015-04-30 15:20] tonioo commented on #723
I will.

[2015-04-30 17:12] piwats commented on #688
I have updated the script as follows:
Change f.e. uwsgi_restart and dburl according to your setup:

modoboa-redeploy.sh:
[code]

and

modoboa-redeploy.ini:
[code]

[2015-05-01 13:24] #723 closed

[2015-05-01 14:08] tonioo commented on #40
This issue was moved to modoboa/modoboa-amavis#2

[2015-05-01 14:08] #40 closed

[2015-05-01 14:09] tonioo commented on #44
This issue was moved to modoboa/modoboa-stats#1

[2015-05-01 14:09] #44 closed

[2015-05-01 14:20] tonioo commented on #93
This issue was moved to modoboa/modoboa-webmail#9

[2015-05-01 14:20] #93 closed

[2015-05-01 14:21] tonioo commented on #147
This issue was moved to modoboa/modoboa-amavis#3

[2015-05-01 14:21] #147 closed

[2015-05-02 09:16] tonioo commented on #108
This issue was moved to modoboa/modoboa-admin#1

[2015-05-02 09:16] #108 closed

[2015-05-02 09:17] tonioo commented on #109
This issue was moved to modoboa/modoboa-admin#2

[2015-05-02 09:17] #109 closed

[2015-05-02 09:19] tonioo commented on #247
This issue was moved to modoboa/modoboa-postfix-autoreply#1

[2015-05-02 09:19] #247 closed

[2015-05-02 09:19] tonioo commented on #253
This issue was moved to modoboa/modoboa-webmail#10

[2015-05-02 09:19] #253 closed

[2015-05-02 09:20] tonioo commented on #287
This issue was moved to modoboa/modoboa-amavis#4

[2015-05-02 09:20] #287 closed

[2015-05-02 09:20] tonioo commented on #302
This issue was moved to modoboa/modoboa-amavis#5

[2015-05-02 09:20] #302 closed

[2015-05-02 09:21] tonioo commented on #306
This issue was moved to modoboa/modoboa-amavis#6

[2015-05-02 09:21] #306 closed

[2015-05-02 09:21] tonioo commented on #320
This issue was moved to modoboa/modoboa-amavis#7

[2015-05-02 09:21] #320 closed

[2015-05-02 09:22] tonioo commented on #321
This issue was moved to modoboa/modoboa-webmail#11

[2015-05-02 09:22] #321 closed

[2015-05-02 09:23] tonioo commented on #324
This issue was moved to modoboa/modoboa-webmail#12

[2015-05-02 09:23] #324 closed

[2015-05-02 09:23] tonioo commented on #325
This issue was moved to modoboa/modoboa-webmail#13

[2015-05-02 09:23] #325 closed

[2015-05-02 09:23] tonioo commented on #326
This issue was moved to modoboa/modoboa-webmail#14

[2015-05-02 09:23] #326 closed

[2015-05-02 09:24] tonioo commented on #327
This issue was moved to modoboa/modoboa-webmail#15

[2015-05-02 09:24] #327 closed

[2015-05-02 10:12] tonioo commented on #486
This issue was moved to modoboa/modoboa-postfix-autoreply#2

[2015-05-02 10:12] #486 closed

[2015-05-02 10:14] tonioo commented on #336
This issue was moved to modoboa/modoboa-amavis#8

[2015-05-02 10:14] #336 closed

[2015-05-02 22:07] wsl opened #725 "modoboa-admin.py postfix_maps command in 1.3.1"
Hi,

In my experience the right command for generating postfix_maps in 1.3.1 is:

   modoboa-admin.py postfix_maps --dbtype mysql maps --extensions modoboa-admin modoboa-postfix-autoreply modoboa-admin-relaydomains

Instead of

   modoboa-admin.py postfix_maps --dbtype <mysql|postgres|sqlite> --extensions all <directory>
as mentioned in the docs.

If I put the directory as last argument I get:

[2015-05-03 10:28] tonioo commented on #725
Hi,
have you tried like this :
[code]
?

[2015-05-03 12:31] tonioo commented on #602
This issue was moved to modoboa/modoboa-amavis#9

[2015-05-03 12:31] #602 closed

[2015-05-03 12:31] tonioo commented on #583
This issue was moved to modoboa/modoboa-amavis#10

[2015-05-03 12:31] #583 closed

[2015-05-03 12:32] tonioo commented on #544
This issue was moved to modoboa/modoboa-postfix-autoreply#3

[2015-05-03 12:32] #544 closed

[2015-05-03 12:32] tonioo commented on #522
This issue was moved to modoboa/modoboa-admin#3

[2015-05-03 12:33] tonioo commented on #494
This issue was moved to modoboa/modoboa-admin#4

[2015-05-03 12:33] #494 closed

[2015-05-03 12:33] tonioo commented on #490
This issue was moved to modoboa/modoboa-admin-relaydomains#3

[2015-05-03 12:33] #490 closed

[2015-05-03 12:34] #484 closed

[2015-05-03 12:35] tonioo commented on #335
This issue was moved to modoboa/modoboa-amavis#11

[2015-05-03 12:35] #335 closed

[2015-05-03 12:35] tonioo commented on #337
This issue was moved to modoboa/modoboa-amavis#12

[2015-05-03 12:35] #337 closed

[2015-05-03 12:35] tonioo commented on #387
This issue was moved to modoboa/modoboa-amavis#13

[2015-05-03 12:35] #387 closed

[2015-05-03 12:36] tonioo commented on #329
This issue was moved to modoboa/modoboa-sievefilters#1

[2015-05-03 12:36] #329 closed

[2015-05-03 12:36] tonioo commented on #313
This issue was moved to modoboa/modoboa-admin#5

[2015-05-03 12:36] #313 closed

[2015-05-03 12:36] tonioo commented on #315
This issue was moved to modoboa/modoboa-admin#6

[2015-05-03 12:36] #315 closed

[2015-05-03 12:37] tonioo commented on #289
This issue was moved to modoboa/modoboa-stats#2

[2015-05-03 12:37] #289 closed

[2015-05-03 12:37] tonioo commented on #670
This issue was moved to modoboa/modoboa-amavis#14

[2015-05-03 12:37] #670 closed

[2015-05-03 12:40] tonioo commented on #709
This issue was moved to modoboa/modoboa-admin#7

[2015-05-03 12:40] #709 closed

[2015-05-03 12:41] tonioo commented on #704
This issue was moved to modoboa/modoboa-admin#8

[2015-05-03 12:42] tonioo commented on #681
This issue was moved to modoboa/modoboa-pfxadmin-migrate#1

[2015-05-03 12:42] #681 closed

[2015-05-03 12:44] tonioo commented on #658
This issue was moved to modoboa/modoboa-admin#9

[2015-05-03 12:44] #658 closed

[2015-05-03 12:48] tonioo commented on #412
This issue was moved to modoboa/modoboa-webmail#16

[2015-05-03 12:48] #412 closed

[2015-05-03 12:48] tonioo commented on #333
This issue was moved to modoboa/modoboa-webmail#17

[2015-05-03 12:48] #333 closed

[2015-05-03 12:49] tonioo commented on #332
This issue was moved to modoboa/modoboa-webmail#18

[2015-05-03 12:49] #332 closed

[2015-05-04 15:54] harobed opened #727 "Bad remote IP in log page"
If modoboa django app is powered by Apache or Nginx proxy, the "Remote-Addr" header field contain the proxy IP and not remote IP.

This field is used by https://github.com/tonioo/modoboa/blob/master/modoboa/core/views/auth.py#L51

[2015-05-05 07:29] tonioo commented on #328
This issue was moved to modoboa/modoboa-sievefilters#2

[2015-05-05 07:29] #328 closed

[2015-05-05 07:30] tonioo commented on #331
This issue was moved to modoboa/modoboa-stats#3

[2015-05-05 07:30] #331 closed

[2015-05-05 07:31] tonioo commented on #176
This issue was moved to modoboa/modoboa-webmail#19

[2015-05-05 07:31] #176 closed

[2015-05-05 07:31] tonioo commented on #91
This issue was moved to modoboa/modoboa-webmail#20

[2015-05-05 07:31] #91 closed

[2015-05-05 07:32] tonioo commented on #64
This issue was moved to modoboa/modoboa-webmail#21

[2015-05-05 07:32] #64 closed

[2015-05-05 07:32] tonioo commented on #128
This issue was moved to modoboa/modoboa-webmail#22

[2015-05-05 07:32] #128 closed

[2015-05-05 15:10] #727 closed

[2015-05-06 07:45] #655 closed

[2015-05-06 07:47] #606 closed

[2015-05-06 07:49] #500 closed

[2015-05-06 07:50] #198 closed

[2015-05-06 07:54] #713 closed

[2015-05-06 10:16] #725 closed

[2015-05-06 15:20] vingeni commented on #635
With the master HEAD version of webmail, I am able to read an inbox with more than 18000 emails.
Could you tell me how many mails do you need to reproduce the bug ?

[2015-05-06 16:05] tonioo commented on #495
This issue was moved to modoboa/modoboa-webmail#24

[2015-05-06 16:05] #495 closed

[2015-05-06 16:05] tonioo commented on #489
This issue was moved to modoboa/modoboa-webmail#25

[2015-05-06 16:05] #489 closed

[2015-05-06 16:06] #496 closed

[2015-05-06 16:08] tonioo commented on #280
This issue was moved to modoboa/modoboa-admin#12

[2015-05-06 16:08] #280 closed

[2015-05-06 16:09] #261 closed

[2015-05-06 20:03] piwats commented on #635
Wow, 18000 emails in the inbox - how to reproduce that? :-)

I do not know how, but it seems, that I have no troubles with the webmail since 1.3.

Still, the error is common with django/python.

-Paul

[2015-05-11 14:50] harobed commented on #719
@themr0c I didn't see this issue in >= 1.3, do you have did a fix ?

[2015-05-11 14:59] tonioo commented on #719
@harobed I think you commented the wrong issue, right ?

[2015-05-11 15:29] harobed commented on #719
No I didn't see https://github.com/modoboa/modoboa-sievefilters/blob/master/requirements.txt#L1

webmail have been automaticaly installed.

[2015-05-11 15:30] harobed commented on #719
I've moved this issue to modoboa-sievefilters repository.

[2015-05-11 15:30] #719 closed

[2015-05-25 08:33] mvb9 opened #732 "Server auto connect to 94.23.45.181"
When I finished install Modoboa, I detect sever still connect to 94.23.45.181. I block connection , service not running. What's this problem ?

[2015-05-25 08:40] tonioo commented on #732
Modoboa provides a simple service to check if new versions are available. To check it, a public API is available on the IP address you mention.

[2015-05-27 08:54] tonioo opened #733 "Possibility to bypass a wizard step"
The wizard should include a way to bypass a specific step if needed.

[2015-05-27 15:03] #732 closed

[2015-05-27 15:27] vingeni commented on #732
Also, I guess this feature can be disabled on the admin account :
-> Modoboa -> Parameters -> General -> Check new versions -> no

[2015-05-29 11:46] workino opened #734 "u'modoboa_admin' is not a registered namespace"
Hello,
i'm trying to figure out how to solve this issue but no lucky.

/usr/local/lib/python2.7/dist-packages/modoboa/core/views/auth.py in dologin
                nextlocation = request.POST.get("next", None)
                if nextlocation is None or nextlocation == "None":
                    if user.group == "SimpleUsers":
                        nextlocation = reverse("topredirection")

[2015-05-30 09:45] tonioo commented on #734
Hi,
have you installed the modoboa-admin package ?

[2015-06-03 13:25] #733 closed

[2015-06-10 09:03] tonioo commented on #626
This issue was moved to modoboa/modoboa-amavis#18

[2015-06-10 09:03] #626 closed

[2015-06-10 09:05] tonioo commented on #297
This issue was moved to modoboa/modoboa-sievefilters#6

[2015-06-10 09:05] #297 closed

[2015-06-10 09:08] #734 closed

[2015-06-10 09:10] tonioo commented on #637
This issue was moved to modoboa/modoboa-admin#21

[2015-06-10 09:10] #637 closed

[2015-06-10 14:44] tonioo opened #740 "Activate atomic requests."
Modoboa should use the atomic mode when dealing with object creation.

[2015-06-10 15:06] #740 closed

[2015-06-11 09:20] #42 closed

[2015-06-11 09:20] #186 closed

[2015-06-11 09:22] #487 closed

[2015-06-11 09:25] tonioo commented on #700
This issue was moved to modoboa/modoboa-admin#23

[2015-06-11 09:25] #700 closed

[2015-06-11 09:25] tonioo commented on #711
This issue was moved to modoboa/modoboa-admin#24

[2015-06-11 09:25] #711 closed

[2015-06-15 04:13] eberkund opened #742 "Incorrect "for" attribute on label tags"
Something I noticed when using the demo at https://demo.modoboa.org is that all of the HTML `for` attributes for the `<label>` tags are incorrectly suffixed with an addional underscore and number so they do not match the `id` attribute in the preceding `<input>` tag like they are supposed to. This causes clicking on labels to not check the radio box like they are supposed to.

[2015-06-15 04:21] eberkund commented on #560
It worked for me, although I think it is a much older version than the online demo they have up

[2015-06-15 04:25] eberkund commented on #688
Maybe piwats you could create a GitHub repo and store your script there and the developers could include a link to it in the installation/upgrade section of the main site.

[2015-06-15 07:22] tonioo commented on #688
Indeed, that's a good idea. Maybe we could add this repository to the Modoboa organization ? (https://github.com/modoboa/)

[2015-06-15 07:24] tonioo commented on #560
Yes, the VM is really outdated. I wonder if I should continue to distribute it or not...

[2015-06-15 12:35] piwats commented on #688
I would be happy to maintain it in a repo, a PR (I have to setup one) or elsewhere, where people also could contribute to it :)

Also I think that it is time to rewrite it a little (f.e. add options to control what plugins are to be installed, add some more fancy switches here and there, customize the restarting, e.g. make it more distro/system/db agnostic)

Ideas, critic and suggestions are of co

[2015-06-15 12:48] tonioo commented on #688
I can setup a repo if you want to.

[2015-06-15 12:52] piwats commented on #688
That would be nice.

[2015-06-15 12:53] tonioo commented on #688
Do you have an idea for the repository name ?

[2015-06-15 13:21] piwats commented on #688
scripts/deployment? or similar?

[2015-06-15 13:44] tonioo commented on #688
deployment-tools ?

[2015-06-15 13:45] piwats commented on #688
this will do :)

[2015-06-15 14:07] tonioo commented on #688
Done!

https://github.com/modoboa/deployment-tools

[2015-06-15 17:58] eberkund commented on #560
Well with the online demo available it seems rather redundant IMO. I was just using it because earlier this week when I tried, the online demo was down.

[2015-06-15 18:50] piwats commented on #688
I hope yo can wait a little bit, my schedule is "hard" at this time, can you wait until this weekend?
I will update the deployment scrips sometime around this weekend....
Sorry for that.

[2015-06-15 19:23] tonioo commented on #688
Yeah no problem, it can wait.

[2015-06-17 07:59] tonioo opened #744 "Master users"
Add a flag to the User model so it is possible to define master users. (see http://wiki2.dovecot.org/Authentication/MasterUsers)

[2015-06-17 08:03] #744 closed

[2015-06-18 11:44] controlcde opened #745 "No alias recipient with address extension possible"
It is not possible to add to an alias a recipient with address extension like foo+bar@foo.bar. The error message says "Local recipient foo+bar@foo.bar not found".

[2015-06-18 11:54] tonioo commented on #745
What version of Modoboa are you using ?

[2015-06-18 12:51] controlcde commented on #745
1.2.0

[2015-06-18 13:46] tonioo commented on #745
Ok, this problem has already been fixed. You can :
* Use the 1.2.x branch
* Upgrade to 1.3.3

The first option is quicker to setup.

[2015-06-18 13:59] controlcde commented on #745
Well, how could I upgrade to 1.2.x branch if I installed modoboa via pip?

[2015-06-18 14:00] tonioo commented on #745
I think I'll release a minor version (1.2.2), it will be easier.

[2015-06-18 14:03] controlcde commented on #745
:) thanks @tonioo

[2015-06-18 14:03] #745 closed

[2015-06-18 19:20] tonioo commented on #745
The release is available:

pip install modoboa==1.2.2

[2015-06-19 10:22] moufmouf commented on #678
Hey Tonioo,

Sorry to bump this issue up but we are facing exactly the same problem.

The webmail fails completely randomly (maybe one in 5 requests...)

Also, when it fails, I can see this in the logs:

[code]

I'm using the latest version of modoboa (1.3.3) that I tried to migrate from the virtual image provided.
I'm pretty sure this must be a configuration issue, but I have no clue on how to pi

[2015-06-19 12:13] tonioo commented on #678
Hi,
the demo VM is pretty outdated now and I've not enough time to work on it. I suggest you install install a fresh server using newer versions.
Don't hesitate to contact me in private in you need help/more information.

[2015-06-19 22:36] mrh666 opened #746 "Upgrade from 1.2.1 to 1.3.3 unsuccessfull - SyntaxError: invalid syntax"
Hi there,

Centos 6.6. Both python 2.6.6 and 2.7.10 are installed.
I has working version 1.2.1 of modoboa and decided to upgrade...

I upgraded modoboa from 1.2.1 to 1.3.3 by pip install modoboa==1.3.3. It was upgraded together with all deps. When I trying to deploy a new site I've get an error:

[code]

Same error I've got now even when I try to run ```modoboa-admin.py help deploy```

[code]

I t

[2015-06-20 09:22] tonioo commented on #746
Hi,

you need to run python 2.7 and Django 1.7. Your stack trace shows that you're using python 2.6.

[2015-06-20 12:16] mrh666 commented on #746
Antoine,

You was absolutely right. Switching default system python to 2.7 in alternatives did the trick.

Thank you.

[2015-06-20 12:16] #746 closed

[2015-06-20 12:33] mrh666 opened #747 "Update 1.2.1 -> 1.3.3 issue: modoboa_amavis.models.DoesNotExist: Policy matching query does not exist"
Hi there,

During the migration from 1.2.1 to 1.3.3 I deployed a new modoboa instance, added extensions, dbs and routers section to settings.py:

[code]

[code]

During migration process I run ```python manage.py load_initial_data``` and I've got the next error:

[code]

How can I fix it?

Thank you!

[2015-06-20 13:12] tonioo commented on #747
Looks like you amavis database is missing some records. For each domain, you should have one record into the "policy" table and 1 record into the "users" one. In your case, the policy table is not complete. In you are in a hurry, I suggest you manually create missing records.

[2015-06-20 13:37] mrh666 commented on #747
O! That is interesting. I found the difference in policy and users, there is one alias record, like domain.com <- domainwithsuffix.com:
in users table

[code]

[code]

But if I'll create it manually, I should define it with the same id (11) which is wrong I assume.

What is proper way to do it?

P.S. During migration I break functionality of my mail system of course, but I temporary fixed it with

[2015-06-21 10:42] tonioo commented on #747
You don't need to use the same id. Just create a policy with a policy_name == domainwithsuffix.com.

You need to run the postfix_maps command to update the sql map files. Check out the documentations to update your postfix configuration too :
* http://modoboa-admin-relaydomains.readthedocs.org/en/latest/setup.html
* http://modoboa.readthedocs.org/en/latest/integration/imap_and_smtp.html#postfix

[2015-06-21 17:40] rmalenko opened #748 "Upgrade fail"
Hello,

Gould you help me, please?
Currently is installed Modoboa 1.2.1
I have ran pip install modoboa==1.3.3 and then I run

`modoboa-admin.py deploy /var/www/mail --collectstatic --domain mail.domain.com --lang en --timezone Europe/Kiev --extensions all --dburl default:mysql://mail:pass@127.0.0.1:3306/mail`

and I got this message

`Error: pip is required to install extensions`

Tell me what ext

[2015-06-21 18:55] tonioo commented on #748
You need to install pip. For example on a Debian system:
```$ apt-get install python-pip```

[2015-06-21 20:06] rmalenko commented on #748
Thank you. I have already installed python-pip (Ubuntu 14 LTS) and even reinstalled.

[2015-06-22 07:38] #748 closed

[2015-06-22 07:39] #742 closed

[2015-06-22 07:39] #688 closed

[2015-06-22 08:29] rmalenko commented on #748
The issue still remains. Could you help me, please?

[2015-06-22 08:38] tonioo commented on #748
Sorry, I thought it was OK.

Try to remove the --extensions all option. Then, manually install the extension(s) you want to use. For example:
[code]

[2015-06-23 00:28] eberkund commented on #629
Perhaps the ability to install additional themes could be added, a lot of software has this functionality. However IMO this is not very high priority for email server management software.

[2015-06-23 00:32] eberkund commented on #184
I could help with this if you are interested

[2015-06-23 07:12] tonioo commented on #184
Help is always appreciated !

[2015-06-26 01:23] OKNoah opened #751 "Installation on Heroku?"
I haven't seen Heroku mentioned in the docs or in the issues. Would running on Heroku work, and would it require any special build packs?

[2015-06-26 07:13] tonioo commented on #751
Modoboa would certainly run on Heroku but what about postfix/dovecot and co. ?

[2015-06-26 10:18] phaf opened #752 "Update 1.2.1 -> 1.3.3 issue: Aliases are not shown anymore"
Hi all,

after upgrading from 1.2.1 to 1.3.3 everything works fine except all aliases and distribution lists which already existed before upgrade are not listed anymore and can not be found via search.
Newly created aliases are listed and working as expected.

I am using PostgreSQL and checked the SQL queries created by modoboa, this query seems to be executed to get the list of aliases

[code]
It

[2015-06-26 11:11] tonioo commented on #752
Hi, the problem comes from a migration that is not applied.

To fix this, try to run the following python code :
[code]
If you paste it into a file, use the following command to execute it:
[code]

[2015-06-26 12:48] phaf commented on #752
Hi tonioo,

thanks for providing your fix. I tried it, but the aliases are still missing in table core_objectaccess

[2015-06-26 13:04] tonioo commented on #752
Which content type corresponds to id 42 ?

[2015-06-26 13:26] phaf commented on #752
Hi tonioo,

very good hint: After the installation I was sure that id 42 was alias - but I looks like the the entry has gone after I deleted an alias that was created after installing 1.3.3. There is another entry for alias in django_contentype

    14 | alias              | modoboa_admin              | alias

It also now impossible to create new aliases because the insert statements tries to refe

[2015-06-26 13:28] tonioo commented on #752
Have you tried to restart apache/uwsgi/gunicorn/whatever ?

[2015-06-26 14:10] phaf commented on #752
After restarting I was able to create a new alias and your patch has added the missing entries in core_objectaccess - therefore everything is fine more me right now. Do I have made a mistake during the upgrade process? I executed setup.py migrate before I used 1.3.3 the first time.

[2015-06-26 14:12] tonioo commented on #752
No, this is an issue with the migration procedure. I don't know why  but Django fakes all migrations of the core application, whereas it should just fake the first one.

[2015-06-27 21:35] eberkund commented on #634
Should this be done in the front end with JavaScript or backend with Python?

[2015-06-27 21:38] eberkund opened #753 "Assets should be minified"
To decrease server requests and bandwidth all of the CSS and JS assets should be concatenated and minified.

This can be automated using Grunt or Gulp.

[2015-06-27 21:41] eberkund commented on #184
What needs to be done for this? Is it as simple as replacing the files in the modoboa/templates/ directory?

Also feature-wise, what is the goal? Other than to simply update the markup.

[2015-06-28 08:57] tonioo commented on #634
If we implement a password reset service, it means the generation must be done on the backend. What do you think ?

[2015-06-28 08:58] tonioo commented on #753
Javascript dependencies are manged using bower so the minified versions are already there. But it is possible I do not include them in the templates...

[2015-06-28 09:01] tonioo commented on #184
This is a pretty old ticket. When I created it, I just wanted to update the markup and maybe make use of the new history API (in place of the current anchor based navigation).

Now, I'd say modo should be rewritten in client/server way : an REST API on the backend and a JS frontend (angular or something like that).

What do you think ?

[2015-06-28 09:41] patrickbenkoetter commented on #184
* Antoine Nguyen <reply@reply.github.com>:

+1

Rendering in client
Logic in server

--
[*] sys4 AG

https://sys4.de, +49 (89) 30 90 46 64
Franziskanerstraße 15, 81669 München

Sitz der Gesellschaft: München, Amtsgericht München: HRB 199263
Vorstand: Patrick Ben Koetter, Marc Schiffbauer
Aufsichtsratsvorsitzender: Florian Kirstein

[2015-06-28 16:28] eberkund commented on #753
True, well if you are already using bower it shouldn't be much additional effort. I use Grunt on all my projects and this snippet works nicely for combining everything in to one minified file.

		concat: {
			dist: {
				src: [
					'assets/scripts/_source/jquery.*.js',
					'assets/scripts/_source/*.js'
				],
				dest: 'assets/scripts/combined.js'
			}
		},

		uglify: {
			build: {
				src: 'ass

[2015-06-28 16:35] eberkund commented on #184
Sounds good, I don't mind doing that although I don't know much Python. I guess since it needs a new backend API this would come when there is a major revision and the front end needs to be rewritten?

[2015-06-28 16:37] eberkund commented on #634
Yeah for a password reset that would be what makes sense. I was thinking of other ways sites allow passwords to be reset but now that I've thought about it, emailing out a pregenerated random password is the simplest way, and just as effective. When someone is creating a new account we could have a JS call to fetch new random passwords from the backend, which could tie into the REST API you mentio

[2015-06-29 01:27] ebrahim commented on #485
A mailing list server usually sets the "Sender" address of outgoing emails to address of the sending mailing list.

[2015-06-29 04:50] patrickbenkoetter commented on #485
* Ebrahim Mohammadi <reply@reply.github.com>:

This should be optional as there usually are fierce battles whether it right
[tm] or not to set Reply-to:-headers.

p@rick

--
[*] sys4 AG

https://sys4.de, +49 (89) 30 90 46 64
Franziskanerstraße 15, 81669 München

Sitz der Gesellschaft: München, Amtsgericht München: HRB 199263
Vorstand: Patrick Ben Koetter, Marc Schiffbauer
Aufsichtsratsvorsitzender

[2015-06-29 08:33] tonioo commented on #747
Does it work now ?

[2015-06-29 08:42] tonioo commented on #184
Yes, you're totally right :)

[2015-06-30 10:19] wessel-techtribe-nl opened #754 "error 500 on importing a csv file with accounts & aliases"
I'm importing a csv file with 70 acounts & about 170 aliases/dists/forwards in 6 domains. At some point in aliases/dists part the import call gives a 500 error. If I split the file in parts the same records succeed sometimes but then records later on fail.

Stacktrace:
Request Method: POST
Request URL: https://10.111.112.78/admin/identities/import/

Django Version: 1.7.8
Python Version: 2.7.6
Inst

[2015-06-30 11:37] tonioo commented on #754
Hi,
you fix is incorrect since you're creating a new policy. When a mailbox alias is created, Modoboa creates amavis records in order that only one policy exists for all addresses, the mailbox's one.

Have you been able to identify the alias which fails. What kind of alias is it ?

[2015-06-30 13:16] wessel-techtribe-nl commented on #754
I have an obfuscated csv file (all names replaced with other names and domains replace with domain1..9) (see below)

If I import this file records till line 120 succeed. barabara@domain4.com on line 121 is the first one not created it seems.

But if I then import again with only this record in the file it succeeds.

account;gilberte@domain1.com;!TKVKthisisadummypasswordnotuseddH4uChxgN;;gilberte;T

[2015-07-01 16:40] piwats commented on #752
I came to notice the absence of displaying the aliases after the upgrade to 1.3, too.

Any news on this?

[2015-07-01 18:14] tonioo commented on #752
Have you tried to run the code upper ?

[2015-07-02 13:44] piwats commented on #752
Yes, that did the trick, thank you.

[2015-07-03 00:46] OKNoah commented on #751
@tonioo Yeah, I think that's where a build pack would come in.

[2015-07-03 09:38] tonioo commented on #751
That would be a nice stuff to have but I have no time to work on this...

[2015-07-03 13:04] piwats opened #755 "Python 3+ support"
Hello,

django seems to be able to run under python 3. Any plans for modoboa to catch up with it?
Are there reasons not to do so?

Thank you.

[2015-07-03 14:16] #752 closed

[2015-07-03 21:41] stepps commented on #734
I am having the same issue but I have installed  modoboa-admin with pip

sudo pip install modoboa-admin
Requirement already satisfied (use --upgrade to upgrade): modoboa-admin in /usr/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): modoboa>=1.3.2 in /usr/lib/python2.7/site-packages (from modoboa-admin)
Requirement already satisfied (use --upgrade to upgrade):

[2015-07-04 06:45] tonioo commented on #734
A full python stacktrace would be helpful...

[2015-07-04 09:10] tonioo commented on #755
Need some time to review all the code...

[2015-07-07 06:40] thoastbrot commented on #734
Same problem here, pip install'ed modoboa modoboa-webmail modoboa-admin:

Ran `python manage.py runserver 0.0.0.0:9090` with debug enabled and pointed a browser to the url:

Environment:

Request Method: GET
Request URL: http://my.configured.host:9090/

Django Version: 1.7.8
Python Version: 2.7.9
Installed Applications:
('django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessi

[2015-07-07 07:22] tonioo commented on #734
Please make sure you installed modoboa > 1.3 :
```$ pip install modoboa==1.3.3```

[2015-07-07 12:26] stepps commented on #734
I had modoboa 1.3 installed. The issue apparently is that I need to run modoboa as root. It has to do with the permissions of the pip modules installed. I am not very happy to run modoboa as root, but for testing purposes it is ok.
My target is deploy modoboa and all the pip modules by rpm, because it needs to be installed in a tightly controlled environment.

[2015-07-07 12:28] tonioo commented on #734
If you run modoboa into a virtualenv, no need to run as root.

[2015-07-07 12:48] thoastbrot commented on #734
I figured out that my problem were the missing extensions. Also, I installed modoboa-admin *after* creating the site folder (which hadn't worked anyway if I had selected to install extensions).
To do anything, I had to manually append core/ to the url after logging in.

To have a "ready-to-work" service, I had to add modoboa-admin to the list of extensions. Why is that so? Why is a non-default pac

[2015-07-15 08:13] tonioo commented on #754
Actually, it is a known issue. The migration fails on the first alias on alias it founds.

```alias olevia@domain4.com True all@domain4.com```

The original issue is here: https://github.com/modoboa/modoboa-amavis/issues/14

[2015-07-15 08:13] #754 closed

[2015-07-16 08:53] controlcde opened #757 "Can´t add new accounts"
Hi,

just upgraded to 1.3.4 but now I can´t add new email accounts. If I filled all fields I click "Submit" nothing happens - the Apache log file shows:

    POST /admin/accounts/new/ HTTP/1.1" 500 1435 "https:/DOMAIN/admin/identities/"

And: If I choose "normal user" I could not add an email address on the second screen. "Submit" also not works.

[2015-07-16 09:38] tonioo commented on #757
I can't reproduce your issue on the official demo (which is also running 1.3.4).

Coud you give more detail please ?

[2015-07-16 13:52] controlcde commented on #757
Hmmm, I don´t know how I could get more details?! What could I do to get more details?! I´ve enabled both debug options in setting.py but I didn´t get more details like

    POST /admin/accounts/new/ HTTP/1.1" 500 1435 "https:/DOMAIN/admin/identities/"

For the second problem I found out that is a problem of different browsers. But for the first problem I´ve tried with different browsers and diffe

[2015-07-16 13:55] tonioo commented on #757
When DEBUG is set to True, open a javascript console (like firebug) to follow AJAX requests, you'll see the complete stacktrace.

About information, can you give me the list of the modoboa packages you use ? (Modoboa > Information)

[2015-07-16 14:04] controlcde commented on #757
Right, problem found and problem solved: I´ve enabled pdf_credentials but the path for export the pdf didn´t exist. After creating the path and give them the rights from the webserver I could add a new account. Thanks for the help Antoine!

[2015-07-16 14:04] #757 closed

[2015-07-18 13:23] tonioo commented on #747
This issue was moved to modoboa/modoboa-amavis#19

[2015-07-18 13:23] #747 closed

[2015-07-22 08:37] tonioo opened #758 "Passwords complexity"
We must ensure passwords respect a minimum complexity.

See https://github.com/modoboa/modoboa-admin/issues/27

[2015-07-22 08:52] #758 closed

[2015-07-29 18:08] stepps commented on #664
This is my apache2 config on cento6 with virtualenv:

    <VirtualHost *:80>
      ServerName mail.example.com
        DocumentRoot /var/www/modoboamail/

        Alias /media/ /var/www/modoboamail/media/
        Alias /sitestatic/ /var/www/modoboamail/sitestatic/

        <Directory /var/www/modoboamail/>
                Allow from all
                #for apache-2.2 use old style AllowOrder &co.

[2015-08-17 00:18] peterbeck opened #761 "replacement for mailzu ?"
Hi there,

will it be possible to use just the quarantine part of modoboa ?
The mailzu project seems to be dead so I am wondering if it is possible to replace mailzu with modoboa... I do not need any other than quarantine access...

Regards
Peter

[2015-08-17 21:42] Kegeruneku commented on #619
I agree with piwats. Modoboa manages a mail service, using databases to provide independence. It is not its job to provide packages for a MTA/... Let's stay on the right side of the fence.

Also, by experience, distros do quite a good job at maintaining security patches and providing new versions. The overhead and complexity of building packages for different OSes, arches (yep, Postfix is C code,

[2015-08-17 21:44] Kegeruneku commented on #625
This is a good idea, also AFAIK amavisd-new already supports DKIM. cf. http://www.ijs.si/software/amavisd/amavisd-new-docs.html#dkim

[2015-08-21 11:49] tonioo commented on #625
Indeed, something is already on the list ;)

https://github.com/modoboa/modoboa-amavis/issues/8

[2015-08-21 11:51] tonioo commented on #761
Hi,

you can use only the quarantine part of Modoba but but you will need the admin part (domains).

[2015-08-27 09:48] peterbeck commented on #761
Great, thanks for your reply!
I'll try to implement it that way soon.
Regards Peter

[2015-08-27 09:48] #761 closed

[2015-09-09 15:27] tonioo opened #762 "Confirmation popup: optional checkboxes ignored"
The checkboxes option of the custom confirmation popup does not appear anymore.

[2015-09-09 15:29] #762 closed

[2015-09-18 15:42] web-refinery commented on #617
2-factor authentication seems like a good idea - but it should be opt-in.

[2015-09-18 15:45] tonioo commented on #617
Something like oAuth ?

[2015-09-30 07:48] carragom commented on #619
I have to agree with @piwats and @Kegeruneku. Let the packaging of related software to the distros.

**Version Compatibility**
This can be easily solved by stating in the release notes that Modoboa version X requires Postfix version Y, Dovecot version Z and so on.

**Security**
Most distros keep their packages pretty secure and I would rather trust packages from my distro of choice than someone el

[2015-10-07 11:18] alienmindbender opened #763 "modoboa-admin.py does not create necessary folders in ../media"
Hi there,

first post on github ever - so please be lenient with me :)

The script does not create the modoboa_webmail and webmail folders in /media which seem to be needed for sending mails with attachments and viewing embedded pictures in received emails.
I haven't stumbled across the manual setup of these folders in the documentation - and since the script handles the whole directory creation t

[2015-10-07 11:38] alienmindbender opened #764 "Forwarding mail from within webmail client not possible"
Hi,

when trying to forward mail from within the included webmail client the "send" button gets greyed out when pressed and nothing further is happening.
Running with debug = true sheds no light on the issue and there are no strinking entries in the log files either.
However - all other webmail client functions seem to work perfectly fine.
The frontend (1.3.4) is served via apache.

Any ideas how

[2015-10-07 11:43] tonioo commented on #764
Hi, since this issue is related to the webmail, could you please create it into the appropriate repository ? https://github.com/modoboa/modoboa-webmail

[2015-10-07 11:45] tonioo commented on #764
Thanks.

[2015-10-07 11:45] #764 closed

[2015-10-07 11:47] alienmindbender commented on #764
Sorry - my bad.
I haven't noticed that theres a seperate repository. I'am new to this!

[2015-10-22 11:21] tonioo opened #766 "Move user language property into User model"
It is more logical and doing so, it will be possible to load the language after a change without disconnecting.

[2015-10-25 05:40] fpiccinali opened #767 "404 in modoboa.org"
Page http://modoboa.org/en/downloads/
Link "online documentation" :
NOT OK: http://modoboa.readthedocs.org/en/latest/virtualmachine.html
OK: https://modoboa.readthedocs.org/en/latest/additional/virtualmachine.html

Idem for http://modoboa.org/fr/telechargements/

[2015-10-25 14:19] Fulviuus opened #768 "Cannot create users on a fresh install"
I have installed Modoboa using the latest automated installer on two different VPS, one running Ubuntu 14.04 and also a Debian 8.1.
The install runs fine, I add a domain on the webadmin, but when I try to create a mail user and click Submit I get a 500 server error.
I have tried checking the logs, but I see nothing in either /var/log/nginx/error.log or the modoboa specific one.
Any help to debug t

[2015-10-25 15:42] tonioo commented on #768
Set DEBUG to True inside settings.py and open a javascript console (firebug or similar), you should have more information.

[2015-10-25 15:42] piwats commented on #768
Is there an uwsgi log somewhere, too?

[2015-10-25 15:54] Fulviuus commented on #768
Thanks for the quick reply!
This is what I got:
[code]

Seems like the /var/lib/modoboa directory is not there at all.

[2015-10-25 16:07] Fulviuus commented on #768
Also got another error when clicking the "admin" user:

[code]

[2015-10-25 17:32] piwats commented on #768
Is the pdf credentials module installed?

[2015-10-25 17:42] Fulviuus commented on #768
I am not entirely sure.
this is what I got from the installer:

[code]

I checked the instructions on the documentation, and it does it not mention any dependency for that (as far as I can see).

[2015-10-25 21:00] tonioo commented on #768
We have two different issues here:

1. Some steps of the installer failed. The directory to store PDF files should not be inside /var/lib/modoboa but inside /srv/modoboa. Could you try to run the installer once again with the --debug option ? It tries to modify modoboa settings using raw SQL queries. One of them seems to fail...

2. The second problem you encounter looks like a bug. I can reproduc

[2015-10-25 21:08] artofmailing opened #769 "Webmail - Authentication failed"
Hello there, the first time i post to Github, i hope it's going to the right place.
So experiencing various issues, with using Modoboa < > Dovecot IMAP.

It's an default install, with modoboa-installer on Debian 8.1, on an stronger DigitalOcean VM.
Here is my install layout file, slightly modified:
http://pastebin.com/02rRRkyY

Error notification / page s mainly when logging in / refreshing the IN

[2015-10-25 21:12] tonioo commented on #769
It might a dovecot configuration issue... Do you see something interesting inside /var/log/mail.log ?

[2015-10-25 21:21] artofmailing commented on #769
Hey !

This one is repeating when the bug happens :

Oct 25 17:10:44 packer-debian-8-amd64 dovecot: imap-login: Disconnected (auth failed, 1 attempts in 6 secs): user=<test@bounceserver.com>, method=PLAIN, rip=127.0.0.1, lip=127.0.0.1, secured, session=<+DvORvQisAB/AAAB>

Now i found something else too, that's when switching between folders :
http://i.imgur.com/QfVwkI8.png

For me it seems like so

[2015-10-25 21:39] Fulviuus commented on #768
Ok, this is the full log of the install, with the --debug flag enabled:

http://pastebin.com/72UM83B7

Unfortunately it does not seem to log SQL queries + execution result, so I am unable to see what is wrong with it. the only weird thing that I can see is this, right at the bottom:

[code]

[2015-10-26 07:22] tonioo commented on #768
Ok. I've fixed the issue with the installer so modoboa settings will be applied properly. Now I need to fix the admin bug.

[2015-10-27 09:48] artofmailing commented on #769
Don't sure if it's related with this, but another error message pops up randomly at Webmail :
command SELECT illegal in state NONAUTH, only allowed in states AUTH, SELECTED

Screenshot : http://i.imgur.com/RbXCreh.png

[2015-10-28 21:50] tonioo commented on #769
I really don't understand what happens right now... Have you tried to change the user password or to change the default scheme used to encrypt passwords ?

[2015-10-28 22:11] artofmailing commented on #769
Hey,

Yes i think i changed the default password scheme to unencrypted, PLAIN. Maybe that's why ?

[2015-10-29 10:49] Toniob opened #770 "ValueError during migration"
During the migrate from 1.3.4 to 1.3.5, I've got the following error
$ python manage.py migrate
Operations to perform:
  Apply all migrations: core, modoboa_admin, lib, sessions, modoboa_postfix_autoreply, modoboa_admin_relaydomains, auth, sites, reversion, contenttypes, modoboa_admin_limits, modoboa_radicale
Running migrations:
  Applying modoboa_admin.0005_set_full_address...Traceback (most rece

[2015-10-30 10:54] rebootit opened #771 "Internal error"
Hi,

I've got an issue with the Webmail when trying to read an email in a folder with an accent (é).
I can list all the mail within this folder but can't open the mails.
Modoboa is installed on a Ubuntu 14.04 LXC container, with a french environement.
Moreover I can't find any Modoboa log (only nginx logging the 500 error).

Is there a known bug or is it a problem with my setup ?

[2015-10-30 21:10] tonioo commented on #771
Hi,

this issue has already been reported : https://github.com/modoboa/modoboa-webmail/issues/31.

[2015-10-30 21:10] #771 closed

[2015-10-30 23:23] Fulviuus opened #772 "manage.py: Unknown command: 'generate_rights'"
I have installed modoboa using the installer.
The webadmin now seems to run ok, but I am unable to receive any email after configuring domain & users - I have done some investigation and I have noticed that I am being spammed from cron with this message:

[code]

Seems like Django is not installed?
I have set it up manually and tried to run ./manage.py help as suggested but now I get:

[code]

I'm

[2015-10-31 00:29] Fulviuus commented on #772
Update: I am not sure that is the only issue I am having with the installation.
The mail log shows this bit when receiving an email:

[code]

Is there also a problem with postfix tlsproxy?

[2015-10-31 08:15] tonioo commented on #772
Hi,

the CRON issue happens because the modoboa-radicale extension is not installed. Edit the /etc/cron.d/modoboa file and comment the line containing generate_rights.

I don't know what is the problem with tlsproxy yet, I'll look into it.

[2015-10-31 13:36] tonioo commented on #769
Ok, I've found the bug. Passwords are stored into session and are crypted using AES and a secret key. But this secret key has no default value on a fresh install...

The latest commit should fix this but you can just save global parameters once to set a secret key. Authentication should then work as expected.

[2015-10-31 13:50] tonioo commented on #772
Just enable the tlsproxy, look into the master.cf file and uncomment the appropriate line.

[2015-10-31 13:50] #772 closed

[2015-10-31 13:56] tonioo commented on #768
I've opened a specific issue for the admin bug: https://github.com/modoboa/modoboa-postfix-autoreply/issues/20.

I close this one.

[2015-10-31 13:56] #768 closed

[2015-10-31 14:12] tonioo commented on #767
Fixed. Thank you.

[2015-10-31 14:12] #767 closed

[2015-10-31 14:17] Fulviuus opened #773 "Mail rejected from server with "unknown user" (even though it's there)"
Hi, I have added a domain and new user to my modoboa install, but the mail sent to that user are being rejected by the server with an 'unknown user' error.
this is what I see in the mail.log:
[code]

[2015-10-31 14:23] tonioo commented on #773
Looks like your email is not sent to dovecot... Can you paste your postfix configuration somewhere ?

[2015-10-31 14:26] Fulviuus commented on #773
Sure, here it is:

http://pastebin.com/3YwQeRvw

[2015-10-31 14:28] tonioo commented on #773
Can you try to remove $mydomain from $mydestination ?

[2015-10-31 14:31] Fulviuus commented on #773
That fixed it! Thank you so much :)

[2015-10-31 14:44] #773 closed

[2015-10-31 21:26] artofmailing commented on #769
Hello tonioo !

Thanks for the fast reply, we're now testing this out, and will share our feedbacks :-)

[2015-11-02 07:29] karimelc opened #774 "Wrong Per-domain counters"
The per-domain counters in the Statistics section seems to be off. All my values are greater than the actuals. Adding a new simpleuser seems to increase the counter for that domain by 2.

modoboa==1.3.5
modoboa-admin==1.1.2

[2015-11-02 17:52] daks opened #776 "[doc] Missing information about extensions"
Hello,

I installed modoboa several times these days, and I got a lot of problems dealing with extensions. I didn't find sufficient information about which are available, mandatory and more.

I installed in a virtualenv each time, the first one without extensions ('less is more secure' :) but I needed at least modoba_admin.
Another one I installed them all: I got an 'internal error server' and onl

[2015-11-02 20:30] tonioo commented on #776
Hi,

it is true that the current documentation would need some work. Since the split between the core and extensions of Modoboa, I realize it was a bit too violent. In a near future, I'll merge back the core with 3 extensions: modoboa-admin, modoboa-admin-relaydomains, modoboa-admin-limits. (but the only required one is the first)

Anyway:
* the way to install an extension is available in the READ

[2015-11-02 20:34] tonioo commented on #774
Thanks for your feedback but you could please create your issue into the appropriate repository:
https://github.com/modoboa/modoboa-admin

[2015-11-03 07:35] karimelc commented on #774
Sorry, my bad!

[2015-11-03 07:37] #774 closed

[2015-11-07 18:30] csmk opened #777 "Internal error: Cannot list identities nor add new accounts"
Hello, tonioo

[code]

pip list:
chardet (2.3.0)
dj-database-url (0.3.0)
Django (1.7.10)
django-passwords (0.3.4)
django-reversion (1.8.5)
django-versionfield2 (0.4.0)
django-xforwardedfor-middleware (1.0)
factory-boy (2.6.0)
fake-factory (0.5.3)
LEPL (5.1.3)
lxml (3.4.4)
modoboa (1.3.5)
modoboa-admin (1.1.2)
modoboa-amavis (1.0.3)
modoboa-stats (1.0.2)
MySQL-python (1.2.5)
passlib (1.6.5)
pip (7.

[2015-11-08 04:47] csmk commented on #777
Issue resolved.

I'm sorry, I forgot to run the deploy command after upgrading.

[2015-11-08 04:47] #777 closed

[2015-11-09 17:36] torbenwilkening opened #778 "Can't create users who are not "Superadmins""
Hallo,
i'm using modoboa 1.3.5 and I don't know why, but i can't create users who are not a superadmin.
Reseller, User & Domain admins doesn't work.
I turned on Debug in settings.py, the response after click on submit is:
"DoesNotExist at /admin/accounts/new/
Group matching query does not exist."
Do you know what can be wrong and how to solve? It was a clean installation, did I forget something at

[2015-11-09 20:57] tonioo commented on #778
Hi,
have you installed extensions with Modoboa ?

[2015-11-09 21:02] torbenwilkening commented on #778
so i install fresh with the installer (for lazy people :) ) and i installed with all extensions.. postfix/dovecot works fine, i can receive and send mails. The only problem is this..

[2015-11-09 21:23] tonioo commented on #778
The installation must have failed at some point. Could you try to run it once again using the --debug option ? (remember to remove the /srv/modoboa/instance directory before)

[2015-11-09 22:18] torbenwilkening commented on #778
uh I'm a bit afraid to do that, else the configuration is running perfect. I had also several problems with the installer, especially with write permissions etc. I changed the home_dir to a different one.
I believe it's something with amavis, but i'm not sure. Thats the traceback of my error 500:
http://pastebin.com/i1gX5uGP

[2015-11-10 08:40] tonioo commented on #778
Can you try to run the following commands please:
[code]

[2015-11-10 15:20] torbenwilkening commented on #778
Now it works! Don't know why exactly but i can create simple users and edit them too.

By the way, the installer had a few errors at my installation. I had to create the directory <home_dir>/instance/media by hand and chown it, else it failed. I also tried to change the <home_dir> variable in installer.cfg but it still puts some files in /srv/modoboa which I merged to my <home_dir>, maybe it's a h

[2015-11-10 15:20] #778 closed

[2015-11-10 15:22] tonioo commented on #778
I'd be interested to know more about the errors you encountered. Do you have any trace ?

[2015-11-10 20:08] jonathan00 opened #779 "Ignore lower/upper characters in email addresses"
hi,

just saw on http://modoboa.readthedocs.org/en/latest/integration/imap_and_smtp.html your sql querys
user_query and password_query for dovecot.

probably you have the same issue i had with vboxadm
see https://crazylinux.de/Vboxadm#Ignore_lower.2Fupper_characters_in_email_addresses
for a solution

[2015-11-10 20:21] jonathan00 commented on #523
FYI,
vboxadm also implemented an HTTP API on the server side and an roundcube plugin on client side to let users change their passwords (and some other things). Maybe that helps you ;-)

Server side:
https://github.com/dominikschulz/VBoxAdm/blob/master/lib/VBoxAdm/Controller/API.ipm

Client side:
https://github.com/dominikschulz/roundcube-plugin-vboxadm/blob/master/roundcube/plugins/vboxadm/vboxad

[2015-11-11 15:33] tonioo opened #780 "Merge back admin, limits and relaydomains extensions into core"
The split made for 1.3.0 was a bit too much...

[2015-11-11 15:48] tonioo commented on #613
Since Modoboa now has its own installer (https://github.com/modoboa/modoboa-installer), I close this issue.

[2015-11-11 15:48] #613 closed

[2015-11-11 15:50] tonioo commented on #184
I close this issue for now. I'll create new ones when needed.

[2015-11-11 15:50] #184 closed

[2015-11-13 05:51] carragom opened #782 "Problem when converting from byte to UTF8"
Hi there,

I have some data in my amavis database that's rendering modoboa unusable. All parts of the system throw an internal server error. I have traced the issue to the file `modoboa/extensions/amavis/sql_conector.py`. The problem happens with all queries that use the function `convert_from(maddr.email, 'UTF8')`. Turns out if I manually run the query directly in PostgreSQL it throws the error:

[2015-11-13 20:04] virtuaris opened #783 "Difference between aliases and forwards in admin panel?"
Hei Tonio,

first of all many thanks for your great work!

I have a question regarding creating `aliases` and `forwards` using the Modoboa admin panel (Identities).
While the functionality of an `alias` is pretty clear a `forward` pretends to be something different but in fact ends up just as another `alias` (it's even taged with `alias` in the identities list). Thus i do not understand what's the

[2015-11-14 14:06] #766 closed

[2015-11-14 14:26] #673 closed

[2015-11-15 13:56] tonioo opened #787 "Django 1.8 support"
Upgrade to Django 1.8

[2015-11-16 14:48] #596 closed

[2015-11-16 16:31] tonioo commented on #783
Hi,

to be honest, this difference does not make sense anymore... The best would be to use aliases everywhere. If you want to keep local copies for an alias (as an administrator), just create an distribution list named like the address you want to route and containing two targets : the "forward" address and the local mailbox address.

[2015-11-16 16:35] tonioo commented on #782
Hi,

as for the Quarantine.mail_text field, we could try to use a BinaryField and to remove all calls to convert_from.

Do you think you could try it ?

[2015-11-17 12:14] virtuaris commented on #783
Hei tonioo,
using a `distribution list` works for me. Thx a lot!
Bests
Harald

[2015-11-17 14:37] #250 closed

[2015-11-17 14:37] #497 closed

[2015-11-17 14:39] #560 closed

[2015-11-18 12:11] virtuaris opened #790 "Unicode chars in email addresses"
Hei tonioo,

using modoboa to manage a mailserver in germany i encountered a new issue. With modoboa it is not possible to add accounts having special chars within the `local part` of the email address (e.g. `münchen@example.net`) neither it's supported to add a domain using special chars (e.g. `foo@münchen.de`).
According to [rfc 6531](https://tools.ietf.org/html/rfc6531) this should be possible

[2015-11-23 20:11] daks opened #791 "aliases not working"
Hello,

I'm using Modoboa 1.3.5 with Postfix and Dovecot on Debian 8.
I just switch my main domain my-domain.tld from relay to destination using Modoboa.
I created an identity user@my-domain.tld and an alias *@my-domain.tld pointing to user@my-domain.tld

Sending e-mail to user@my-domain.tld works well but not sending to another-user@my-domain.tld.

When I look at syslog messages, I see the follow

[2015-11-23 20:20] daks commented on #791
I looked at postfix_relay_domains_relaydomain:

    mysql> select * from postfix_relay_domains_relaydomain;
    +----+----------------------+-------------------+----------+------------+-----------+
    | id | target_host          | verify_recipients | dates_id | service_id | domain_id |
    +----+----------------------+-------------------+----------+------------+-----------+
    |  2 | mx2.my-doma

[2015-11-23 21:35] daks commented on #791
I looked at the sql-aliases.cf map file generated by Modoboa, it looks like

    user = mysql-user
    password = password
    dbname = dbname
    hosts = 127.0.0.1
    query = SELECT alr.address FROM modoboa_admin_aliasrecipient AS alr INNER JOIN admin_alias AS al ON alr.alias_id=al.id WHERE al.enabled=1 AND al.addres
s='%s'

when I try this mysql query for user1@my-domain.tld it returns nothing.

[2015-11-23 21:42] daks commented on #791
I think I have found my problem: I changed all my wildcard aliases from *@my-domain.tld to @my-domain.tld

[2015-11-24 09:53] tonioo commented on #791
Indeed, the format to define a catchall alias does not include the * character anymore. So, do you have still have an issue ?

[2015-11-24 18:52] daks commented on #791
No, it's ok now. Sorry for not closing the issue after my long fight with this issue last night :)

Is it normal that the 'postfix_relay_domains_relaydomain' still had the entries for the domains i switched from relay to destination?

[2015-11-25 08:15] tonioo commented on #791
Yes... I don't clean old records when a "relay domain" becomes a "domain". Could you please create a dedicated issue about this ?

[2015-11-25 14:58] daks opened #792 "When changing a domain from relay to destination, DB table is not cleaned"
Hello,

As indicated in issue #791 I changed one domain from 'relay' to final destination in Postfix using Modoboa. When trying to debug an aliases problem, I found that the 'postfix_relay_domains_relaydomain' still got the information from the domain which was a relay one.
Could it be cleaned?

Thanks

[2015-11-25 14:58] daks commented on #791
done.

[2015-11-25 14:58] #791 closed

[2015-11-27 11:57] ddt-consult opened #793 "Can't save settings"
when I click "Save" on the administration tab of the modoboa parameters,
nothing happens. Turning on DEBUG and going to
http://server/vmailadmin/core/parameters/save/
shows this:

[2015-11-27 16:41] tonioo commented on #793
Hi,
can you tell me which versions you are using please ?

[2015-11-27 16:42] tonioo commented on #782
@carragom ping

[2015-11-27 16:43] tonioo commented on #776
@daks What do we do with this issue ?

[2015-11-27 16:43] tonioo commented on #769
@artofmailing ping

[2015-11-27 16:44] tonioo commented on #523
So, the API part is done. Now, we need a roundcube plugin.

[2015-11-27 16:44] #523 closed

[2015-11-27 16:50] ddt-consult commented on #793
I'm using what was current two days ago when I installed this server:

[2015-11-27 16:53] tonioo commented on #793
Do you have any special configuration ? (did you change something to online parameters)

I don't reproduce your issue on the official demo...

[2015-11-27 17:04] ddt-consult commented on #793
No, there's no special configuration. I simply installed modoboa according to the user guide into a virtualenv, created a new SuperAdmin and deleted the default one, added a domain and 10 users. That's all. Then I wanted to set "administer mailboxes on the file-system" (my translation from German) to True but saving didn't work.

BTW: what are those online parameters I might have changed?

[2015-11-27 17:10] tonioo commented on #793
Have you used the installer ?

[2015-11-27 17:15] ddt-consult commented on #793
No. I installed modoboa according to the user guide.

BTW: I just noticed that saving works when I comment the radicale extension in settings.py.

[2015-11-27 18:01] #792 closed

[2015-11-28 10:39] daks commented on #776
I saw you started to revert back extensions to the standard installation, if this work is finished and the docs on RTD is ok, I can look at it again and propose some doc enhancement.
I'll try to take some time next week.

[2015-12-02 08:48] ezhishui opened #797 "Error: LOGIN command error: BAD ['Missing \'"\'']"
I logged in as a simpleuser,i see Error: LOGIN command error: BAD ['Missing \'"\''] when i click webmail.

The var/logs/mail.err :ubuntu dovecot: lmtp(2885): Fatal: Error reading configuration: Invalid settings: postmaster_address setting not given

what it means?

[2015-12-02 08:50] tonioo commented on #704
@kokel Hi,

it looks like we can't use more than one group type at the same time (or in the same configuration). Do you confirm ?

[2015-12-02 08:52] tonioo commented on #797
Hi,
looks like your Dovecot configuration is not complete. Have you installed Modoboa using the installer ?

[2015-12-02 08:54] tonioo commented on #776
@daks yes, this work is done.

[2015-12-02 08:56] tonioo commented on #779
Hi,

Modoboa already lowers email addresses at creation/update time. (https://github.com/tonioo/modoboa/blob/master/modoboa/admin/forms/account.py#L228)

[2015-12-02 09:01] ezhishui commented on #797
Hi,
thanks for helping me so quickly,i installed modoboa according to the user guide which is for lazy ones.
Maybe i need to reinstall modoboa?

[2015-12-02 09:01] tonioo commented on #763
This issue was moved to modoboa/modoboa-webmail#34

[2015-12-02 09:01] #763 closed

[2015-12-02 09:06] tonioo commented on #797
No, but please try to add the postmaster_address setting into the /etc/dovecot/conf.d/20-lmtp.conf file as follows:
[code]

[2015-12-02 09:07] tonioo commented on #619
Looks like we're done with this proposal :)

[2015-12-02 09:07] #619 closed

[2015-12-02 09:08] #780 closed

[2015-12-02 09:09] #790 closed

[2015-12-02 09:09] #787 closed

[2015-12-02 09:12] #770 closed

[2015-12-02 09:13] #499 closed

[2015-12-02 09:14] #502 closed

[2015-12-02 09:14] ezhishui commented on #797
Thank you very much,i still have a few questions what confused me.
1、It seems that most responses respond very slow.Such as when i click List Identities i need to wait for about 5s.
2、If i want to reinstall modoboa,the old one has installed nginx and the other modules.Need i delete these modules?
thanks

[2015-12-02 09:21] tonioo commented on #797
About the response time, I can't tell you what's going on like that. Maybe your server requirements are too small, maybe DEBUG mode is activated inside settings.py and so on.

The reinstallation process will depend on the current installation age
* If it's a fresh install, just drop the Modoboa directory (/srv/modoboa/instance with the installer) and run the installer once again
* If it is an old

[2015-12-02 09:22] tonioo commented on #793
That's strange. Do you still encounter the issue if you activate the radicale extension ?

[2015-12-02 09:23] #769 closed

[2015-12-02 09:24] artofmailing commented on #769
Hey tonioo ! Sorry for the late reply, with the latest commit you did it seems to be all fine !

[2015-12-02 10:02] ddt-consult commented on #793
Yes:
radicale active -> saving fails
radicale inactive -> saving works

[2015-12-02 10:07] tonioo commented on #793
Still with the same stacktrace ?

Do you see any error into the Radicale tab ?

[2015-12-02 10:14] ezhishui commented on #797
you are great!

[2015-12-02 10:14] #797 closed

[2015-12-02 10:20] ddt-consult commented on #793
Yes, with the same stacktrace.

No errors in the Radicale tab.
Now, after I set the Radicale "Server URL" parameter to some value and clicked "Save", saving on the Administration tab does work too.

[2015-12-02 10:29] tonioo commented on #793
Ok I understand now. I really need to improve the way online settings are managed.

[2015-12-03 06:44] ezhishui opened #798 "User A can not receive email from user B while they are in the same domain."
Hi,
User A can not receive email from user B while  they are in the same domain?The InBox of user A is empty.

[2015-12-03 08:33] tonioo commented on #798
Hi,
you need to be more precise in you description:
* Provide mail logs if you have some
* Information about your setup
* etc.

[2015-12-04 15:17] eberkund commented on #517
What kind of information are you looking to display?

[2015-12-04 19:53] tonioo commented on #517
Graphics, statistics about domains/mailboxes, server health, latest quarantined messages, etc.

[2015-12-04 21:18] tonioo opened #799 "Implement mailbox limit by domain and not by DomainAdmin"
_From @harobed on June 10, 2015 15:8_

For now, the limit are computed by DomainAdmin and not by domain.

Suggest : compute the limit by domain.

_Copied from original issue: modoboa/modoboa-admin-limits#7_

[2015-12-04 21:18] tonioo commented on #799
_From @harobed on June 10, 2015 15:9_

Other suggestion : use sql query to compute this limit and remove Limit pool system ( https://github.com/modoboa/modoboa-admin-limits/blob/master/modoboa_admin_limits/models.py#L41 )

[2015-12-04 21:18] tonioo commented on #799
The main reason to implement per-user limits was the possibility to introduce the "Reseller" role : a user with a predefined quantity of domain/mailbox/alias who can resell them to its users. (think about modoboa as a white label product in this particular case)

So, I don't think per-domain limits are compatible with this feature but the options I see:
1. Remove the reseller role
2. Redefine this

[2015-12-04 21:18] tonioo commented on #799
_From @harobed on July 28, 2015 13:18_

« 3. Leave the system as is » and I suggest another plugin to append limit by domain feature.

[2015-12-04 21:19] tonioo opened #800 "Migration from 1.2 to relaydomains-1.1 fails"
_From @andrewyager on November 6, 2015 9:56_

I'm having lots of issues migrating from 1.2 to relaydomains-1.1.

Most notably, the migration fails at step 0004:

[code]

From what I can tell this is failing on the final step of the migration where it is altering the table and migrating the domains from the relay_domain table to the domain table. I've been attempting to work around this for a littl

[2015-12-04 21:19] tonioo commented on #800
Hi, it looks like you have duplicated entries into you postfix_relay_domains_relaydomain table.

[2015-12-04 21:19] tonioo commented on #800
_From @andrewyager on November 8, 2015 13:33_

Hi,

It doesn't appear that way:

[code]

The `targethost` is not unique, but the "name" is.

[2015-12-04 21:19] tonioo commented on #800
Check you check your table to find all records with a domain_id column set to 0 please ?

[2015-12-04 21:19] tonioo commented on #800
_From @andrewyager on November 8, 2015 13:46_

In 1.2 there is no domain_id column:

[code]

or are you talking about once the migration fails? It looks like the `name` column gets dropped somewhere in there. Swapping to Postgres seems quite nice at the moment for atomic migrations :)

[2015-12-04 21:19] tonioo commented on #800
Yes, once the migration fails. Indeed, the name column is dropped but a the domain_id one is added and filled by the 0003 migration, so the one just before 0004.

[2015-12-04 21:19] tonioo opened #801 "Domain -> RelayDomain transition fails"
_From @tonioo on June 22, 2015 19:17_

The transition from a domain to a relay domain fails since the RelayDomain record is never created.

_Copied from original issue: modoboa/modoboa-admin-relaydomains#6_

[2015-12-04 21:21] tonioo opened #802 "Simple Sender-Address Management for smtpd_sender_login_maps"
_From @kokel on August 4, 2015 11:9_

Hello,

thanks for implementing support for all the sender_login_maps.
One feature I am missing here. We have several shared mailboxes users have access to via IMAP acls.
These shared mailboxes from modoboa point of view are normal accounts.

For example the user ```user01@example.com``` should be able to send mails with MAIL FROM address of the shared mailbox

[2015-12-04 21:21] tonioo opened #803 "User can't create *@example.com => @otherdomain.com alias"
_From @harobed on July 1, 2015 12:5_

User can't create ```*@example.com``` => ```@otherdomain.com``` alias.

Solution :

* user define *@example.com => *@otherdomain.com in modoboa-admin user interface
* append ```TRIM(LEADING '*' FROM al.extmboxes)``` here : https://github.com/modoboa/modoboa-admin/blob/master/modoboa_admin/postfix_maps.py#L66

What do you think about this solution ?

_Copied fr

[2015-12-04 21:21] tonioo commented on #803
_From @harobed on July 2, 2015 13:26_

What do you think about this proposition ?

[2015-12-04 21:21] tonioo commented on #803
As modoboa already provides a way to create domain aliases (based on http://www.postfix.org/postconf.5.html#virtual_alias_domains), we need to know what's the best mechanism.

[2015-12-04 21:22] tonioo opened #804 "It's possible to create "foobar" domain but after this creation it's deny to create "test1@foobar" account"
_From @harobed on June 29, 2015 13:59_

It's possible to create "foobar" domain but after this creation it's deny to create "test1@foobar" account, error : « Enter a valid email address. »

_Copied from original issue: modoboa/modoboa-admin#31_

[2015-12-04 21:22] tonioo opened #805 "Limit the size of left part in email field form to 64 characters"
_From @harobed on June 25, 2015 12:47_

Limit the size of left part in email field form to 64 characters

_Copied from original issue: modoboa/modoboa-admin#29_

[2015-12-04 21:23] tonioo opened #806 "Restrict form email characters allowed"
_From @harobed on June 25, 2015 12:46_

Restrict form email characters allowed, see https://tools.ietf.org/html/rfc5322#section-3.2.3

_Copied from original issue: modoboa/modoboa-admin#28_

[2015-12-06 13:56] jonathan00 commented on #779
Hi,

this does not fix the problem.

Your query "SELECT '<mailboxes storage directory>/%d/%n' AS home" will use the mail address, e.g. "FOOBAR@some.com" or "foobar@some.com".

so home will be like /var/mail/some.com/FOOBAR or /var/mail/some.com/foobar.
This is a little difference ;-)

again, see my link for a solution ;-)

[2015-12-06 20:12] Fulviuus opened #807 "Sieve rules do not seem to get processed"
I am unable to get any rules processed by the LDA.

I have installed modoboa using the online installer, and enabled the sieve rules according to the documentation here:

http://modoboa.readthedocs.org/en/latest/integration/imap_and_smtp.html#managesieve-sieve

At first, dovecot refused to restart because of this line:

    service managesieve {
      # Max. number of ManageSieve processes (connec

[2015-12-07 02:40] ezhishui opened #808 "How to create a domain and user by command or run a .py file?"
Hi ,
i want to create a domain and a user by command as i do not have a desktop,is it possible?
I also want to run modoboa in a public server and others can visit it like https://120.75.23.6,but i comes 502 Bad Gateway.What i should do?

[2015-12-07 03:42] wangshunping opened #809 "install fail"
I can't install ...

[code]

error info

[code]

[2015-12-07 03:53] wangshunping opened #810 "deploy fail"
I install this repo by pip.

when i deploy this , there is error message.

[code]

How can i fix it ?

[2015-12-07 16:11] tonioo commented on #808
You can try the CSV impprt feature:

$ python manage.py import_domains <file>

[2015-12-07 16:11] tonioo commented on #808
Declare the public address you want to use inside ALLOWED_HOSTS

[2015-12-07 16:14] tonioo commented on #807
Try to edit the 20-lmtp.conf file and to modify the mail_plugins settings as follows:
[code]

[2015-12-07 17:44] Fulviuus commented on #807
This seems to have been the issue indeed.
With that change the filters work fine, both from Modoboa and Roundcube.
Thanks!

[2015-12-08 08:30] #807 closed

[2015-12-08 08:55] ezhishui opened #811 "How to receive email from other servers?"
I have installed modoboa,but it can not receive any email from other email server because i am not sure whether my configuration of the email  DNS is correct,for example:

the target receiver:u1@iwho.xyz
DNS:
A mail 111.200.55.28
MX @  mail.iwho.xyz.
CNAME smtp smtp.iwho.xyz
CNAME  pop3 pop3.iwho.xyz
TXT @ v=spf1 include:spf.iwho.com ~all

The send email server comes error:
Name service error for

[2015-12-08 08:55] #798 closed

[2015-12-08 09:05] #808 closed

[2015-12-08 09:18] SonRiab commented on #811
the cname records seems wrong to me. see https://en.wikipedia.org/wiki/CNAME_record. should be CNAME smtp mail.iwho.xyz. and there is no a record for your main domain: A 111.200.55.28 should do the work.

[2015-12-08 09:38] ezhishui commented on #811
@SonRiab
Thank you ,you are so great.
I modify the cname and it works, the new error comes:
host mail.iwho.xyz[111.200.55.28] said: 550 5.7.1 Service unavailable; client [183.60.60.180] blocked using zen.spamhaus.org (in reply to RCPT TO command).

and the send server told me modoboa confirm the email is a spam mail then rejected it.
Do you have any solutions please?

[2015-12-08 11:07] ezhishui commented on #811
@SonRiab  Thank you.I modified cname and it works.

But i need help,guys:
![screenshot from 2015-12-08 18_54_17](https://cloud.githubusercontent.com/assets/15809303/11654211/dc28f024-9dde-11e5-83bf-5458a1e9344c.png)

[2015-12-08 11:11] ezhishui commented on #811
I have sent a mail from 126.com to u1@iwho.xyz.It rejected by my server,what does it means?Anything
went wrong?

[2015-12-08 12:47] ezhishui commented on #811
Help,Help!

[2015-12-08 13:45] xpunkt commented on #811
ezhishui skrev den 2015-12-08 12:07:

you miss to define where root reads mails, when done dovecot-lmtp would
not say unknown user :)

the error is in postfix/sendmail alias database for how and where unix
users is mapped to non priviledged user logins

for postfix its in /etc/mail/aliasses find the line with root: and
change it to a mailaddress local or external, local have no @, external
have, t

[2015-12-08 13:53] SonRiab commented on #803
Trim leading * from alias addresses before saving them would reduce wrong user input for catch-all aliases. Doing it in the mapping file is to late in my opinion. And adding domain aliases this way is confusing. The already provided way is much clearer for me.

[2015-12-08 14:05] xpunkt commented on #811
https://dmarcian.com/spf-survey/iwho.xyz

[2015-12-08 14:14] ezhishui commented on #811
@xpunkt Thank you.
It works,i create user root then the error "User does not exist"no longer appears.
But what confused me is :
Connect from <ip> to <ip>
THen NOQUEUE reject
Then disconnect.
Then WARNING.

[2015-12-08 14:17] ezhishui commented on #811
Spf succpended ,i just want to learn send receive mail😊😊

[2015-12-08 20:09] tonioo commented on #803
Catchall aliases are no longer defined using a * character. Modoboa does now respect the internal postfix format.

[2015-12-08 20:10] tonioo commented on #809
Hi, could you please report issues related to the installer inside the appropriate repo ? (https://github.com/modoboa/modoboa-installer)
Try to run the installer using the --debug option.

[2015-12-08 20:12] tonioo commented on #810
Looking at you example, you've not replied to the hostname question, right ?

[2015-12-08 20:15] tonioo commented on #806
@harobed This issue should be fixed since 1.4.0.

[2015-12-08 20:15] #806 closed

[2015-12-08 20:17] tonioo commented on #800
@andrewyager What about this issue ?

[2015-12-08 20:20] tonioo commented on #663
@piwats Modoboa now provides a basic API (for example, it is possible to update user passwords)

Is that what you were talking about ?

[2015-12-08 20:30] #751 closed

[2015-12-09 02:37] #811 closed

[2015-12-09 02:44] ezhishui opened #812 "Reject received mails"
Hi,guys
look at the mail.log：

![20151209103653](https://cloud.githubusercontent.com/assets/15809303/11675061/8d27f352-9e61-11e5-8644-b79107897cec.png)

who can help me please,help.

[2015-12-09 03:18] ezhishui commented on #812
I send a mail from another server to modoboa,and get the log above.Do anyone has solutions?

[2015-12-09 06:52] ezhishui commented on #812
Here comes new problem:
The qq.com mail server sent twice ,the first time failed ,and the second time success.I tried many times,but nothing changed.Need i to add qq.com or anything else configuration to any files?
![20151209144045](https://cloud.githubusercontent.com/assets/15809303/11678540/e542281a-9e83-11e5-813d-5b030a58d387.png)

[2015-12-09 08:44] tonioo commented on #812
Hi,
it looks like you are sending emails from a blacklisted IP address. Postscreen is enabled on your server and protects you against SPAM. Those log messages are normal. If you want to receive, just try with a valid sender (use a gmail address or equivalent).

[2015-12-09 09:09] ezhishui commented on #812
China have the Grate Fire Wall as strong as the great wall.Gmail is not so convenient,i will have a try later.And qq.com should not be in any blacklist,it is a normal domain.

[2015-12-09 09:10] tonioo commented on #812
Ok. Since your requests are not related to Modoboa but to Postfix, could you please ask your questions on its official mailing list ?
Thank you.

[2015-12-09 09:10] #812 closed

[2015-12-09 09:13] ezhishui commented on #812
OK,thank you.

[2015-12-09 16:47] T-Grave commented on #810
I'm experiencing the same issue and I did reply to the question (as did he, with localhost), I replied with my external hostname, but it says it can't recognize the argument supplied (the hostname), looks like a bug in the script to me

[2015-12-09 16:50] tonioo commented on #810
@T-Grave Which OS ?

[2015-12-09 17:11] T-Grave commented on #810
Ubuntu 14.04

[2015-12-10 08:51] #810 closed

[2015-12-11 16:50] tonioo opened #814 "Aliases map file not working"
This map file use a table named admin_alias_recipient which does not exist. The good name is modoboa_admin_aliasrecipient.

[2015-12-12 10:21] #814 closed

[2015-12-14 02:39] andrewyager commented on #800
Hi sorry; haven' thad a chance to come back to this. Is swapping to Postgres the recommended fix for now? :) If so, will work out how to make that happen.

[2015-12-14 07:48] csmk opened #815 ""Table 'modoboa.postfix_relay_domains_service' doesn't exist""
Hello Antoine,

I updated modoba 1.4.1 to 1.4.2, but when I try to deploy a new instance, I got the following error:

[code]

Please, how I can fix the table issue?

Thank you in advance for your attention on this matter.

[2015-12-14 08:50] ezhishui commented on #772
I have met the same problem.The tlsproxy in master.cf was enabled all the time.And root@mydomain received lots of emails from Cron Daemon,about one email every 2 minutes.

[2015-12-14 13:11] tonioo commented on #815
Hi,

can you paste the content of the settings.py file somewhere ?

[2015-12-14 15:12] csmk commented on #815
:point_right: https://gist.github.com/csmk/4203f8b34544d45071a4

[2015-12-14 16:21] tonioo commented on #815
Hum, everything looks fine... Does it happen on a fresh deploy only ?

[2015-12-14 18:15] csmk commented on #815
Yes.

After checking mysql tables, there was no table called "postfix_relay_domains_service". Isn't because of this? I've never used the extension "modoboa_admin_relaydomains", though I did the migration from 1.3.5 to 1.4.1 correctly.

[2015-12-15 10:33] tonioo commented on #815
Hum, looks like the migration procedure does not handle this case :p

Can you do the following please:
* Remove all records related to app 'relaydomains' from the django_migrations table
* Run this command : ```python manage.py migrate relaydomains```
?

[2015-12-15 14:11] csmk commented on #815
:+1:

After I run the command above, the tables `postfix_relay_domains_relaydomain` and `postfix_relay_domains_service` was created successfully. The installation of the new instance is working fine too. But now there is another similar problem, when I try to add a new alias, I got this:

[code]

Do you think I should remove the "limit" from the django_migrations and then run the command `python m

[2015-12-15 14:18] tonioo commented on #815
Yes, same fix with limits application :)

[2015-12-15 14:33] csmk commented on #815
The tables `limits_limit` and `limits_limitspool` was created. Now everything is fine. Thank you for your support, antonie!

Have a nice day. ;)

[2015-12-15 14:33] #815 closed

[2015-12-15 14:45] rhaamo opened #816 "User not found using alias"
Hi,

I've created an user ```dashie@mydomain.tld``` and want to alias everything so i've created an alias : ```@mydomain.tld``` redirecting to the dashie@ email.

But in logs i got from postfix:
[code]

What's wrong here ?

[2015-12-15 15:13] tonioo commented on #816
Hi,
in your log, rhaama@mydomain.tld is an alias or a mailbox ?

[2015-12-15 15:17] rhaamo commented on #816
@tonioo my mailbox is dashie@, rhaamo@ is just some other alias, which defined as alias in web-ui.
In my old setup i have some whatever@ aliased to dashie@

![identities list](http://i.imgur.com/3w7wn61.png)

[2015-12-15 15:44] tonioo commented on #816
Looks like the alias is not resolved by postfix.
Could you try something like this please:
[code]

[2015-12-15 15:51] rhaamo commented on #816
[code]
nothing returned.
Tried with my email : returned dashie@
Tried adding an alias : ```test@``` to ```dashie@``` : returned dashie@

In the alias i tried even ```@sigpipe.me``` or ```*@sigpipe.me```, same result : nothing

[2015-12-15 15:59] tonioo commented on #816
Strange... Could you paste you main.cf file somewhere ?

[2015-12-15 16:02] rhaamo commented on #816
Yup, here: https://gist.github.com/rhaamo/8da666de1a79a1d10810

[2015-12-15 16:05] tonioo commented on #816
Looks fine...

Running postmap for @sigpipe.me should return something. Have you tried to restart postfix ?

[2015-12-15 16:06] rhaamo commented on #816
@tonioo yes restarted two times...
A postmap for just ```@sigpipe.me``` returns ```dashie@```, but ```whatever@sigpipe.me``` no :(

[2015-12-15 16:08] tonioo commented on #816
I think postmap does not resolve wildcard aliases as we think, it is just a way to query the map as is.

Can you paste your logs ?

[2015-12-15 16:24] rhaamo commented on #816
I removed a ```/var/lib/postfix/verify_cache.db``` which could be not updated, and it /seems/ to be ok.
I will do more tests about that tomorrow.

[2015-12-16 10:53] ezhishui opened #817 "Mail show failed"
Hi,
i have sent a mail which contains a picture in body,not as a attachment.
it showed the error when visit "/webmail/#?action=viewmail&mbox=INBOX&mailid=23":

IOError at /webmail/getmailcontent
[Errno 2] No such file or directory: u'./media/modoboa_webmail/23_DAE3C92E@E70C435A.430E7156.jpg'
Request Method:	GET
Request URL:	https://iwho.xyz/webmail/getmailcontent?mbox=INBOX&mailid=23&links=0
Djang

[2015-12-16 11:46] tonioo commented on #817
Looks like the /srv/modoboa/instance/media/modoboa_webmail folder does not exist. Create it and your issue should be fixed.

[2015-12-16 12:49] ezhishui commented on #817
Thank you, i will have a try tomorrow i am not sure the folder whether exist.If it will be created automatically when the picture is received will be better.

[2015-12-17 05:15] ezhishui commented on #817
I have create the folder  /srv/modoboa/instance/media/modoboa_webmail, and the error disappear but i can not see the picture in the email body from Inbox of modoboa.The picture is in the folder already,and i have read the email in vmail/myuser/cur,the base64 code of the pictrue is exist.

[2015-12-17 06:10] ezhishui commented on #817
The email page source code:

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/sitestatic/css/viewmail.css" />
  </head>
  <body>
    <div id="table-container">

<div id="emailheaders" class="well">
  <div class="row">
    <div class="header">From</div><div class="value">Camus</div>
  </div><div class="row">
    <div class="he

[2015-12-17 15:17] #776 closed

[2015-12-17 17:16] ddt-consult opened #818 "Import of aliases broken"
The import of aliases into modoboa 1.4.2 is broken.
If I try to import one domain with one account and one alias pointing to this account into a fresh installation of modoboa (see CSV files below), the import of the identities fails with "Local recipient not found".
AFAIKT in Alias.set_recipients() modoboa checks whether the target for an alias already exists in the DB. If that's not the case, it

[2015-12-18 19:39] carragom commented on #782
Hi @tonioo sorry for the absence. At least in version `1.2.2` `Quarantine.mail_text` already is a `BinaryField` as shown [here](/tonioo/modoboa/blob/1.2.2/modoboa/extensions/amavis/models.py#L165) or am I looking at the wrong place ?. Maybe I did not understand what you meant ?

[2015-12-18 20:04] carragom commented on #802
@tonioo and @kokel

I'm not sure I understand completely the scenario here but shouldn't having this configuration like this in postfix achieve the objective?:

[code]

First we permit any authenticated user to send from anywhere and then we reject if there is a mismatch, this would only apply to incoming mail.

I don't remember if my `sender-login` query is custom or not but here it's:

[code]

T

[2015-12-18 20:19] tonioo commented on #782
Hi @carragom, your problem seems to be related to the email field:
https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/models.py#L20

[2015-12-18 20:22] tonioo commented on #802
@carragom , this is already provided by Modoboa (https://github.com/tonioo/modoboa/blob/master/modoboa/admin/postfix_maps.py#L97).
The subject here is to add the possibility to add extra values on a per account basis.

[2015-12-18 22:25] carragom commented on #782
@tonioo Yes that's the field causing the problems. Like I said, I see two options to fix this:

1- Keep the conversion in the database as it's now, but ask the database to convert to  `LATIN1` instead of `UTF8` in all occurrences of the `convert_from` function [here](https://github.com/modoboa/modoboa-amavis/blob/master/modoboa_amavis/sql_connector.py). I did this and it's working for me. I'm not

[2015-12-18 22:29] carragom commented on #802
I see so instead of all or nothing, you could actually pick which from addresses a user can use. That sounds useful.

[2015-12-25 17:20] tonioo opened #819 "Wrong default value for X_FRAME_OPTIONS"
The default value is too restrictive, change it to "SAMEORIGIN"

[2015-12-27 15:19] amarc opened #820 "Moving modoboa setup to new server"
Hello,

I have installation I did with modoboa-installer and now I have need to move this to another server. I can do new installation on new server, sync mailbox directories but I need to keep accounts/passwords same. So my guess dump/sync/import of modoboa database will be enough ? I use Postgresql

ty.

[2015-12-27 16:59] ebrahim commented on #819
Worked around it by adding two lines to `server` section of nginx config:

    more_clear_headers 'X-Frame-Options';
    add_header X-Frame-Options SAMEORIGIN;

[2015-12-30 08:55] Whichcraft commented on #772
[root@mail instance]# su modoboa
$ /bin/bash
modoboa@mail:~/instance$ ./manage.py generate_rights
Traceback (most recent call last):
  File "./manage.py", line 8, in <module>
    from django.core.management import execute_from_command_line
ImportError: No module named django.core.managemen

Django is not available. installer did not install it.

[2015-12-30 08:58] Whichcraft commented on #772
after apt-get install python-django

modoboa@mail:~/instance$ ./manage.py generate_rights
Traceback (most recent call last):
  File "./manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 385, in execute_from_command_line
    utility.execute()
  File "/usr/lib/python2.7/dist-packages/django/core/

[2015-12-30 10:14] Whichcraft commented on #772
installer.cfg is missing modoboa-radicale extension

original:

extensions = modoboa-amavis modoboa-pdfcredentials modoboa-postfix-autoreply modoboa-sievefilters modoboa-stats modoboa-webmail

better

extensions = modoboa-amavis modoboa-pdfcredentials modoboa-postfix-autoreply modoboa-sievefilters modoboa-stats modoboa-webmail modoboa-radicale

[2015-12-31 06:55] prologic opened #821 "Docker images?"
Has anyone tried to create a working set of Docker images for modoboa, postfix, dovecot?

[2016-01-01 11:20] controlcde opened #822 "Fix exported identities order"
I´ve exported domains and identities from a previous installation of modoboa (1.3.5) and want to import these files into a new installation with a new database. If I import the domains all entry will be imported but the import dialog will not close and a spinning import will be shown and not ended. If I import identities all mailboxes will be imported and only one alias - nothing more. The interfa

[2016-01-01 12:14] Adorfer opened #823 "@tdl-catch_alls considered "invalid alias" in "edit account""
if i create a catchall-alias for a domain (@fqdn) pointing to a user's account (e.g. "@somewhat.com -> joe@somewhat.com") via "add new alias": OK

If i later go to edit the user's account of "joe@somewhat.com" for example in order to set a new password, the catchall-alias (from above) is shown in the list. (OK)
But i can not save the user's page due to the "invalid alias". (NOK)

Workaround:
  1)

[2016-01-03 01:20] titilambert opened #824 "Mailpile as webmail"
Hello !
I didn't found any history about this, but what do you think to use mailpile as default webmail in Modoboa?
Thanks for your answer.

[2016-01-03 02:11] SomeGeek commented on #824
Roundcube Next is more likely as it has groupware features by default. The project started and looks promising.

https://github.com/roundcube-next

[2016-01-03 15:34] hadifarnoud commented on #821
I'm also interested in this. will try to build one though

[2016-01-03 19:45] prologic commented on #821
Built a set of images off of the Alpine base image for optimized size and
quicker deployment :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Sun, Jan 3, 2016 at 7:34 AM, Hadi Farnoud <notifications@github.com>
wrote:

[2016-01-05 07:21] tonioo commented on #818
Hi,
I can't reproduce your issue with 1.4.2. Are you importing from the CLI or from the interface ?

[2016-01-05 07:36] tonioo commented on #822
Hi, can you provide your CSV file please ?

[2016-01-05 07:38] tonioo commented on #820
Hi,
a dump/restore of the database should be enough.

[2016-01-05 07:38] #820 closed

[2016-01-05 07:46] #816 closed

[2016-01-05 07:49] #809 closed

[2016-01-05 23:02] controlcde commented on #822
You´ve got mail!

[2016-01-06 13:00] hadifarnoud commented on #821
care to share @prologic ?

[2016-01-06 15:18] prologic commented on #821
Ooops; sorry that was a typo! I meant "build"; not that I've already "built"! :) I should sit down and do this though!

[2016-01-07 09:50] tonioo commented on #821
@prologic Would be awesome ;-)

[2016-01-07 23:12] hadifarnoud commented on #821
I would be glad to help @prologic

[2016-01-08 00:00] prologic commented on #821
So I guess the first thing we need to do is build a set of images.

Ideally we need to define clear separations between "services".

I have come across the following images that I think are most likely suitable bases to start from:

- https://github.com/tomav/docker-mailserver
- https://github.com/lava/dockermail
- https://github.com/adaline/dockermail

Bare in mind however that none of these imag

[2016-01-08 11:42] gawel opened #825 "Domains admins cant see all accounts"
If you have more than one domain admin then they will only see accounts created by themselves
This is because access is only granted to the owner of the object not to all domain admins.

https://github.com/tonioo/modoboa/blob/master/modoboa/core/models.py#L339

Do you have any hint on how to fix this properly ?

[2016-01-08 11:59] tonioo commented on #825
Looks like I forgot this use case...
I think we could improve this method:
https://github.com/tonioo/modoboa/blob/master/modoboa/admin/models/mailbox.py#L261

[2016-01-08 12:03] tonioo commented on #824
@titilambert I think your question is more related to the installer.

It would be pretty easy to add the possibility to deploy a custom webmail during the installation process.

[2016-01-08 12:05] tonioo commented on #817
Hi, have you tried this: https://github.com/tonioo/modoboa/issues/819 ?

[2016-01-08 12:07] tonioo commented on #800
Hi, I don'tif switching to postgres would fix this issue... Any news on your side ?

[2016-01-08 12:07] #803 closed

[2016-01-08 15:21] gawel opened #826 "modoboa 1.4 is installing django 1.9rc1"
From a checkout of the 1.4.0 branch, django 1.9rc1 is installed because rc1 is < stable release and you requirement is <1.9. Should be <1.8.99

[2016-01-09 14:15] hadifarnoud opened #827 "how to add letsencrypt.org certificate?"
how can I activate letsencrypt.org certificate on modoboa?

would be great to add this into run.py

[2016-01-11 09:41] Sn4kY opened #828 "Webmail 1.0.3 - Email content not displayed"
Hi.
On a fresh install of Modoboa 1.4.2, with modoboa-installer, in a newly installed debian 8.2, the webmail doen't display the content of the emails (received or sent).

Could you please help me ?
I can provide you more information if you ask for it.

![modoboa_nomail_webmail](https://cloud.githubusercontent.com/assets/2815087/12230295/b48e0e9c-b84f-11e5-9733-e14799b102e2.png)

Regards.

[2016-01-11 09:49] tonioo commented on #828
Hi, have you tried this: https://github.com/tonioo/modoboa/issues/819 ?

[2016-01-11 09:56] tonioo commented on #827
Please open issues related to the installer in its dedicated repository.

[2016-01-11 10:02] Sn4kY commented on #828
Hi.

Nope, but the solution solves the problem.

Warning, the nginx debian 8 package installed automatically by the modoba-installer (nginx-full 1.6.2) doesn't include the needed module "openresty" to add the parameter "more_clear_headers" to the nginx configuration.
I have to install nginx-extras (1.6.2) to do the job.

The solution solves the problem.

Thank you very much.

[2016-01-11 10:03] Sn4kY commented on #819
Be careful !
With Debian 8, to use the "more_clear_headers 'X-Frame-Options';" parameter, nginx-extras should be installed instead of nginx-full package.

[2016-01-11 12:21] #827 closed

[2016-01-12 11:00] ddt-consult commented on #818
From the command line.

If you just copied the identities.csv above from this webpage, the linefeed between the account and the alias line may get eaten. Then you would have just one line in the CSV and only the account would get created but not the alias (which triggers the error).

BTW: that's the traceback I get when I try to import this identities.csv:

[code]

[2016-01-13 15:36] #828 closed

[2016-01-18 07:56] tonioo commented on #818
I still can't reproduce it. Which database do you use ? Have you made modifications to your settings file ?

[2016-01-18 08:01] ddt-consult commented on #818
DB: MySQL.
Of course I have made modifications to settings.py: ALLOWED_HOSTS, LANGUAGE_CODE, ...

[2016-01-18 10:03] tonioo commented on #818
Would it be easy for you to check the behaviour using a postgresql database ?

[2016-01-19 12:46] hadifarnoud commented on #821
setting up modoboa is such a pain. I tried installer and for some reason I was not able to find out, I could not send email. manual install is hard.

therefore, I was not able to create a docker image. you had any luck?

[2016-01-19 13:43] hadifarnoud commented on #696
as far as I know, the account creation API is not ready yet.

[2016-01-19 13:46] hadifarnoud commented on #824
just saw Mailpile. looks great! I would also like to know how to add it post installation

[2016-01-19 17:17] #819 closed

[2016-01-19 17:17] #825 closed

[2016-01-19 17:17] #826 closed

[2016-01-19 18:32] #823 closed

[2016-01-20 03:09] prologic commented on #821
I haven't gotten around to this yet; no.

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Tue, Jan 19, 2016 at 4:47 AM, Hadi Farnoud <notifications@github.com>
wrote:

[2016-01-20 07:03] prologic commented on #821
Okay going to give this a crack :)

[2016-01-20 07:53] prologic commented on #821
Well I got an initial image up and working, but I get an error immediately upon testing http://192.168.99.100:8000/
[code]

Any ideas here?

[2016-01-20 08:13] prologic commented on #821
FYI: So far I've managed to get this image to a respectable:
[code]

Unfortunately I have to pull in ``build-base`` for [lxml](https://pypi.python.org/pypi/lxml). I have some ideas to further optimize the size and potentially do away with ``build-base`` and ``-dev`` packages.

[2016-01-21 09:00] tonioo commented on #821
You could try to install lxml from system packages ?
Do you still encounter the issue you pasted ?

[2016-01-21 12:24] hadifarnoud opened #829 "cannot add domain"
when trying to add any domain, I get `OperationalError at /domains/new/ (1054, "Unknown column 'unchecked_lover' in 'field list'")` error

here is the full log: https://gist.github.com/hadifarnoud/3d29a8f630f02ec7e23f

[2016-01-21 12:27] tonioo commented on #829
looks like your amavis version is too old... Which one did you install ?

[2016-01-21 12:37] hadifarnoud commented on #829
I installed it via modoboa-admin.py deploy

[2016-01-21 12:38] tonioo commented on #829
I am talking about amavis, not modoboa.

[2016-01-21 13:04] hadifarnoud commented on #829
did not know modoboa wouldn't install it. Just used this to install Amavis. https://help.ubuntu.com/community/PostfixAmavisNew

I skipped the postfix part

[2016-01-21 13:09] tonioo commented on #829
The modoboa-deploy command is only made for modoboa. If you want a complete setup, you must use the installer.

[2016-01-21 15:21] prologic commented on #821
Let me try that and get back to you :)

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Thu, Jan 21, 2016 at 1:00 AM, Antoine Nguyen <notifications@github.com>
wrote:

[2016-01-23 10:05] hadifarnoud commented on #829
when I use the installer, I run into problems. the sent emails are not received on the other side. I have checked with multiple IPs. I have no idea what the issue is, but on the same server I managed to get Mail-in-a-box to work.

[2016-01-24 02:16] prologic commented on #821
@tonioo is the current master in a working state?

[2016-01-25 08:23] tonioo commented on #821
It should. Why ?

[2016-01-25 15:23] prologic commented on #821
I haven't had much luck yet; so I'm going to build this on my OS X laptop
(instead of Docker) and see if I can repro this issue.

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Mon, Jan 25, 2016 at 12:23 AM, Antoine Nguyen <notifications@github.com>
wrote:

[2016-01-27 15:21] #822 closed

[2016-01-27 15:22] tonioo commented on #818
@ddt-consult ping

[2016-01-27 15:25] tonioo commented on #782
@carragom Using LATIN1 as encoding won't cover all cases. I guess we will encounter the same issues with another encoding soon. I still think a BinaryField is the right answer and I do hope Django uses the appropriate field when it generates queries. The manual conversion you see in the current code would also disappear.

[2016-01-27 15:29] tonioo commented on #779
@jonathan00 Actually, the best place to report this issue is the installer repository since it manages dovecot's configuration. I'll fix the documentation too.

[2016-01-27 15:33] #779 closed

[2016-01-27 15:36] tonioo commented on #782
@carragom BTW, the right place for this issue is into the https://github.com/modoboa/modoboa-amavis repository.

[2016-01-27 22:11] Bluebugs commented on #620
automatically signing outgoing message require the user private key on the server which wouldn't be a good idea in my opinion. Or you have something different in mind.

Storing the user gpg public key would authorize the ciphering of all incoming mail automatically leaving them in the clear for a very short amount of time with no way to read them without the private key later on.

[2016-01-27 23:40] carragom commented on #782
@tonioo I agree that LATIN1 does not cover all cases and it's far from ideal. The one thing for sure is that this problem renders Modoboa unusable, all of it, not just the amavis module. So this should be fixed in any way necessary.

It might be possible that amavis does not intent for these fields to be used as text, from the amavis [*README.sql-pg.txt*] (https://www.ijs.si/software/amavisd/READM

[2016-01-28 08:11] tonioo commented on #782
Please look at this thread (the end of the page is interesting):
https://code.djangoproject.com/ticket/2417
And this commit (django source code):
https://github.com/django/django/commit/8ee1eddb7e148de89aebde9e68da495633fc1ec9

And tell me what do you think :)

[2016-01-29 08:31] lexusburn opened #830 "Temporary lookup failure in postfix because of failure in sql-sender-login-aliases.cf"
i found a bug in bug in postfix_maps.py:
for postgres database you had a reference on relation "admin_aliasrecipient" instead of "modoboa_admin_aliasrecipient". On creating sql-sender-login-aliases.cf you get a file that get a fatak error from pgsql.

bugfix is simple: search for  "admin_aliasrecipient" and replace with "modoboa_admin_aliasrecipient".

[2016-01-29 09:05] tonioo commented on #830
Thanks for reporting but this issue has already been fixed, see  #814.

[2016-01-29 14:22] tonioo opened #831 "Domain API"
Add API services to:
* List domains
* Retrieve domain
* Create new domain
* Update domain
* Delete domain

[2016-01-29 19:02] carragom commented on #782
Yes using a `BinaryField` is definitively an option see  [here](https://github.com/tonioo/modoboa/issues/782#issuecomment-165911029). But switching to `BinaryField` alone is not enough. Every custom query using `convert_from` needs to be replaced  with something that fetches the data from the table and filter's it on the python side. This means probably rewriting [this](https://github.com/modoboa/

[2016-02-02 20:23] hadifarnoud commented on #829
at last I couldn't fix modoboa and decided to migrate back to Mail-in-a-box :(

[2016-02-02 20:23] #829 closed

[2016-02-02 20:24] hadifarnoud commented on #821
this could potentially help me solve setting up modoboa. any progress?

[2016-02-02 20:30] prologic commented on #821
I haven't made any more progress in this; no. Sorry. I've been
concentrating on https://github.com/adaline/dockermail that I got up and
running successfully which just so happens to be a nice modular set of
images for an almost complete mail server solution.

I believe modoboa could fit nicely into adaline/dockermail but I haven't
gone back to this yet.

James Mills / prologic

E: prologic@shortci

[2016-02-04 07:15] tonioo opened #832 "Account API"
Add new services to the API to:
* Retrieve a list of accounts (global or per domain)
* Get a single account
* Create a new account
* Modify an account
* Delete an account

[2016-02-04 10:32] csmk opened #834 "Internal Server Error (502) after I've updated to 1.4.3 (NGINX+uWSGI)"
Hello Antoine,

After I have updated from 1.4.2 to 1.4.3 and have deployed a fresh install, I get this error messages from uWSGI log when I try to access the web interface:

[code]

/etc/uwsgi.d/mdb.ini:
[code]

pip list:
[code]

For now I'm stuck with the version 1.4.2.

[2016-02-04 15:31] tonioo commented on #834
Have you changed something to database credentials ?

[2016-02-05 00:43] csmk commented on #834
No, nothing. If I start from scratch (delete venv, deployed instance, etc.), and install modoboa 1.4.2, using same database credentials, everything work fine.

[2016-02-05 11:30] gawel commented on #825
Thanks for the fix. I was planning to help but spent too much time migrating to 1.4.2... :)

I wrote this script to fix current broken permissions. In case it can help:

[code]

[2016-02-05 16:14] torbenwilkening commented on #778
Today I tried again with the newest version and a fresh and clean VM and it worked very well.
The only thing i noticed is, that the homedir must exist, else you get this:

Traceback (most recent call last):
  File "run.py", line 64, in <module>
    main()
  File "run.py", line 54, in main
    scripts.install("modoboa", config)
  File "/root/modoboa/modoboa-installer/modoboa_installer/scripts/__ini

[2016-02-06 08:48] schefi opened #835 "Parameters panel does not represent correct settings in 1.4.3"
I discovered a bug in the parameters panel, the bug was introduced in 1.4.3. Saving settings works correctly, I checked the entries in lib_parameter table. But navigating elsewhere and returning to or reloading the parameters page always shows defaults (initial values), not the last saved settings.
This is unconvinient, since I have to re-enter all values if I would like to make a single change, i

[2016-02-08 13:07] tonioo commented on #778
The homedir is automatically created when the user "modoboa" is added by the script. But, if the user already exists, it won't be added anymore. So, if the folder was deleted for some reason, it won't be recreated by the installer.

[2016-02-08 13:08] tonioo commented on #825
Thanks! Maybe I should create a management command to manually apply permissions...

[2016-02-11 15:04] whyscream commented on #835
Seeing same behaviour here

[2016-02-11 15:52] tonioo commented on #835
I'll look into it ASAP.

[2016-02-16 15:28] tonioo commented on #835
@schefi @whyscream Could try this fix please ?

[2016-02-16 15:30] tonioo commented on #834
Hi, I think this issue is the same than #835. Could you check please ?

[2016-02-16 21:55] schefi commented on #835
I applied the commit. It works OK now. Thanks!

[2016-02-17 04:08] csmk commented on #834
I applied the commit, but I still got 502 error. Though, the uwsgi log is reporting a different error now:

[code]

[2016-02-17 07:55] tonioo commented on #834
Have you tried to restart MySQL ?

[2016-02-17 11:04] csmk commented on #834
Yes. I did a little research on what "MySQL server has gone away" mean. But still not working. As I said above, the version 1.4.2 is running fine in the same server, database, configurations, etc.

[2016-02-17 12:48] tonioo commented on #834
I don't understand. I've just deployed a fresh modoboa instance (using the installer) with MySQL and I don't encounter your issue.

Is there anything special with your architecture ? (chroot, etc.)

[2016-02-18 20:25] fionnb opened #836 "Internal Error in stats view"
Hi, on a fresh 1.4.3 install I get errors in the stats module.

[code]

`AttributeError: 'NoneType' object has no attribute 'text'`

i went digging a bit and had it dump the command, which is:

`rrdtool xport --start -1week --end 1455825274 DEF:size_recv=/mail/modoboa/stats/global.rrd:size_recv:AVERAGE CDEF:size_recvpm=size_recv,60,* XPORT:size_recvpm:"Empfangsgr\xc3\xb6sse" DEF:size_sent=/mail/mo

[2016-02-19 08:15] tonioo commented on #836
Indeed, it looks pretty strange... Could you try with an older version of rrdtool (like 1.4.7) ?

[2016-02-21 11:14] whyscream commented on #835
works again! TY :)

[2016-02-21 16:30] fionnb commented on #836
confirmed: <t> appears in 1.4.7 and is missing in 1.5.5.

[2016-02-21 17:11] tonioo commented on #836
Looks like the output is a bit different with 1.5.5. Anyway, 1.5.5 should have a working JSON output (unlike 1.4.7), I'll make a change to use it if present.

[2016-02-22 08:39] #835 closed

[2016-02-22 09:31] fionnb commented on #836
I get it that 1.4.4 does not have the fix yet?

[2016-02-22 09:32] tonioo commented on #836
You're right. The stats plugin has its own repository (https://github.com/modoboa/modoboa-stats) so this issue is misplaced.

[2016-02-22 10:27] fionnb commented on #836
I am sorry then. Should I open an issue there or just wait for an update to appear?
Fell free to close this issue if inappropriate.

[2016-02-22 10:33] tonioo commented on #836
Don't worry, I'm going to move this issue.

[2016-02-22 10:34] tonioo commented on #836
This issue was moved to modoboa/modoboa-stats#11

[2016-02-22 10:34] #836 closed

[2016-02-22 12:49] whyscream commented on #830
Named commit only solves this for the `sql-aliases.cf` file, not for `sql-sender-login-aliases.cf`. Please also fix the other file

[2016-02-22 13:03] tonioo commented on #830
Sorry, I read to quickly.

[2016-02-22 13:04] #830 closed

[2016-02-22 13:06] csmk commented on #834
@tonioo No, nothing special. I'll investigate further.

Thank you for your time and sorry for the trouble.

Peace.

[2016-02-22 13:06] #834 closed

[2016-02-23 14:20] controlcde commented on #822
Sadly it doesn´t work with 1.4.4 - I upgraded 1.3.5 to 1.4.4, then I exported domains and identities and then I tried to import the domains and identities via web frontend on a new installation with a fresh database. Domains could imported but identities import stopped after the first alias.

[2016-02-28 11:57] armouredking opened #837 "Mail for the mail server's FQDN loops back to itself"
So after running my Modoboa server for a few days ( and able to send and receive mail - tested between my other email accounts as well as with some app services and things work as expected ) I check the logs just to see what's going on and find them _filled_ with:

[code]

And I do mean filled. Like nonstop. The domain name it's servicing is domain.tld, I don't have anything setup for computername

[2016-02-28 13:26] patrickbenkoetter commented on #837
This is a beginners question for Postfix users. It is definitely NOT a
question for modoboa.

p@rick

* armouredking <reply@reply.github.com>:

--
[*] sys4 AG

https://sys4.de, +49 (89) 30 90 46 64
Franziskanerstraße 15, 81669 München

Sitz der Gesellschaft: München, Amtsgericht München: HRB 199263
Vorstand: Patrick Ben Koetter, Marc Schiffbauer
Aufsichtsratsvorsitzender: Florian Kirstein

[2016-02-28 20:52] armouredking commented on #837
Perhaps you should read my question again. Recall the one I _actually_ asked?

Judging by your answer I will assume that a command line edit in Postfix _will_ suffice and not be overwritten by Modoboa.

[2016-02-28 20:52] #837 closed

[2016-02-29 15:38] blendi-93 opened #838 "cant update identities"
icant update older identities.

updatet to version 1.4.4

i try to edit an identitie and if i hit update i get
````SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data````

    AttributeError at /admin/accounts/edit/696/
    'NoneType' object has no attribute 'group'

    Request Method: POST
    Request URL: https://mail.netzwerkplan.de/admin/accounts/edit/696/
    Dj

[2016-02-29 15:40] tonioo commented on #838
What was your previous version ?

[2016-02-29 15:47] blendi-93 commented on #838
i dont know, sry.

[2016-02-29 15:54] tonioo commented on #838
Don't think so. Anyway, it seems you have orphan records in your database... (ie. accounts with no owner)
Have you dropped administrators recently ?

[2016-02-29 16:02] blendi-93 commented on #838
yes, i'am missing some in table: "admin_domain"

[2016-03-01 10:47] blendi-93 commented on #838
ok was an upgrade from 1.4.3 to 1.4.4.
can u tell me how i can find the orphan records (mysql db)?

[2016-03-01 11:44] blendi-93 commented on #838
thx for ur time i found it, some objects have 0 owner... ;)

[2016-03-01 11:44] #838 closed

[2016-03-01 11:54] tonioo commented on #838
Great. I was planing to add a management command for that.

[2016-03-02 08:02] blendi-93 commented on #838
just in case, i had many object_ids with no owner:

    mysql modoboa -e 'SELECT user_id, is_owner FROM core_objectaccess WHERE (object_id = 696 AND content_type_id = 8);'
    +---------+----------+
    | user_id | is_owner |
    +---------+----------+
    |       7 |        0 |
    |       1 |        0 |
    |      21 |        0 |
    +---------+----------+

after setting one user_id as owner it

[2016-03-02 10:15] gawel commented on #832
Another good service that you can add is "email exists". Since in the real world the only way to be sure that an email exist is to send an email, it would be cool if modoboa can provide this.

Something like:
[code]

Thought ?

[2016-03-02 13:16] tonioo commented on #832
Yes it could be useful.

[2016-03-03 12:44] neutrinus opened #840 "Invalid postfix_maps for postgresql"
The auto-created postfix maps have a typo. There is `admin_aliasrecipient` instead of `modoboa_admin_aliasrecipient`.

Log:
`Mar 03 12:37:54 Debian-jessie-amd64-netboot postfix/smtpd[11121]: warning: pgsql query failed: fatal error from host localhost: ERROR:  relation "admin_aliasrecipient" does not exist?LINE 1: ... '@' || dom.name FROM admin_mailbox mb INNER JOIN admin_alia...?

[2016-03-04 16:05] tonioo commented on #832
@gawel What do you think about:
[code]
I'm not a DRF expert but looking at the documentation, it looks simpler to implement. (see http://www.django-rest-framework.org/api-guide/viewsets/#marking-extra-actions-for-routing)

[2016-03-07 10:39] gawel commented on #832
Yep, that work. I'm not a DRF expert too :)

[2016-03-07 11:08] gawel opened #841 "Export identities raise an error when using mysql"
[code]
Probably caused by https://github.com/tonioo/modoboa/blob/master/modoboa/admin/management/commands/subcommands/_export.py#L40

Don't really know how to handle it

[2016-03-07 11:52] gawel commented on #841
Looks like DISTINCT ON is only available in postgres. Can't you use DISTINCT ?

[2016-03-09 09:09] Toniob opened #843 "Mysql has gone away"
With a fresh installation of modoboa 1.4.4, I've got the following error message while browsing throught modoboa

Traceback (most recent call last):
  File "/srv/www/website.com/webmail/local/lib/python2.7/site-packages/django/core/handlers/wsgi.py", line 170, in __call__
    self.load_middleware()
  File "/srv/www/website.com/webmail/local/lib/python2.7/site-packages/django/core/handlers/base.py"

[2016-03-09 09:13] gawel commented on #843
Got the same problem here. We fixed that by adding 'CONN_MAX_AGE': 0 in the DATABASES section of the settings.py and switching to the waitress wsgi server (gunicorn failed silently). Weird bug indeed.

[2016-03-09 09:51] tonioo commented on #843
Could you also try to force a TCP connection to the mysql server ? Set HOST and PORT for default connection inside settings.py

[2016-03-09 09:58] tonioo commented on #840
Hi, thanks for reporting but this issue is already fixed and will be released soon. (see https://github.com/tonioo/modoboa/commit/0a62b0f9a4cc202da33cd1a6141741585e5f9baf)

[2016-03-09 09:59] #841 closed

[2016-03-09 10:04] tonioo opened #844 "Alias API"
Add new API services to:

* Retrieve a list of aliases (global or per domain)
* Get a single alias
* Create a new alias
* Modify an alias
* Delete an alias

[2016-03-09 10:15] Toniob commented on #843
@tonioo : unix socket or tcp connection, same result !

[2016-03-09 11:17] neutrinus commented on #840
Great, thank you!

[2016-03-11 12:16] #696 closed

[2016-03-11 12:16] tonioo commented on #696
see #832

[2016-03-11 12:17] #616 closed

[2016-03-11 19:32] inkrement opened #847 "Web UI Reverse DNS Settings"
Is it planned to support Reverse DNS Settings in the web ui?

[2016-03-11 19:33] #847 closed

[2016-03-11 19:34] inkrement commented on #847
Sorry... stupid question.

[2016-03-15 16:54] #840 closed

[2016-03-16 10:43] tonioo opened #848 "Domain Alias API"
Add new API services to:
* Retrieve a list of domain aliases (global or per domain)
* Get a single domain alias
* Create a new domain alias
* Modify a domain alias
* Delete a domain alias

[2016-03-17 09:35] gawel opened #851 "the postfix_map command should be run has a standard management command"
No need to generate postfix_maps from the modoboa-admin script.
If you use a standard command, you can get the app context and avoid passing the --db-url parameters and plugins list (you can use settings.DATABASES and settings.MODOBOA_APPS).

You'll also be able to use the orm to generate maps (and avoid typo and other stupid bugs)
For instance, this will generate the correct query for the autorep

[2016-03-17 15:40] romainreuillon opened #852 "'NoneType' object is not iterable after a ldap login"
Hi,

I configured the ldap login using search and bind with the following settings:

Annonymous bind
users search base: ou=People,dc=iscpif,dc=fr
search filter: (uid=%(user)s)
password attribute: userPassword

It seems to work since when I enter an login / password not in the ldap modoboa tells "wrong login / password", but when I enter a correct login password (for instance login: reuillon, mdp:

[2016-03-17 15:48] tonioo commented on #852
Hi,
have you read the documentation about LDAP configuration ? (http://modoboa.readthedocs.org/en/latest/getting_started/configuration.html#ldap):

So, if you want to create simple users from your LDAP directory, you must use email addresses as usernames. I suggest you change the search filter to match an email address instead of a uid.

[2016-03-17 16:06] romainreuillon commented on #852
Hi Tonioo,

Thanks for pointing that out. I fixed my config by setting the search filter to (mail=%(user)s). I can now login modoboa with romain.reuillon@iscpif.fr as username. However when I go to the webmail page I get this error:

```Error: ['[AUTHENTICATIONFAILED] Authentication failed.']```

Any idea what could be wrong?

Romain

[2016-03-17 16:10] romainreuillon commented on #852
PS: it seem that no domain neither mail box have been created in /srv/vmail

[2016-03-17 16:14] romainreuillon commented on #852
PS2: I just tried with non ldap users and everything works fine for the same domain

[2016-03-17 16:21] romainreuillon commented on #852
In syslog I get this kind of error:

[code]

[2016-03-18 08:13] tonioo commented on #852
Users created from a LDAP directory won't have any password in the SQL database. The passwords will always stay into the directory so you need to setup both LDAP and SQL authentication for Dovecot.

About mailbox on the local file system, it will be created by Dovecot after the first succesfull login.

[2016-03-18 10:40] #831 closed

[2016-03-18 10:40] #832 closed

[2016-03-18 10:40] #844 closed

[2016-03-18 10:41] #848 closed

[2016-03-18 15:21] romainreuillon commented on #852
Thanks it helps a lot!

[2016-03-18 15:39] tonioo commented on #852
Can I close the issue ?

[2016-03-18 15:59] romainreuillon commented on #852
Yes

[2016-03-18 15:59] #852 closed

[2016-03-26 10:40] hadifarnoud commented on #832
cool. where can I find API docs? could not find it on your site.

[2016-03-26 11:05] tonioo commented on #832
The API is not released yet. I'll add the documentation soon.

[2016-03-27 02:53] Znuff opened #853 "Using passwords with $ in them with the modoboa-installer breaks the app"
Steps to reproduce:

1. Use 'modoboa-installer'
2. Edit installer.cfg and set a password for the database that contains a `$` sign (ie: `sign$sign$SIGN`)
3. Webmail will not function for users (incorrect mysql password)

Further more, if you check the settings.py file, you will see that the password only ended up being `sign` instead of `sign$sign$SIGN`.

[2016-03-29 07:54] tonioo commented on #853
This issue is related to the installer, not to modoboa. Could you please move your ticket to the right repository ?

[2016-03-29 12:30] #853 closed

[2016-03-31 12:55] Znuff opened #854 "Adding an alias that points to another alias doesn't do anything (error)"
If you're trying to add an identity alias that points to another identity alias, the UI doesn't return anything. Pushing the "Create" button returns no feedback, no error.

The developer console, though, returns the following:

`jquery.min.js:5 POST https://local.mail/admin/aliases/new/ 500 (INTERNAL SERVER ERROR)
send @ jquery.min.js:5
ajax @ jquery.min.js:5
simple_ajax_form_post @ global.js:169

[2016-03-31 13:30] tonioo commented on #854
Thanks for reporting, you found a bug :p

[2016-03-31 13:33] tonioo commented on #851
Using the ORM is a great idea but I don't agree with the --dburl parameter. It is required since you can use different users/credentials to access the database. For example, one user for modoboa, one user for postfix, etc.

[2016-03-31 13:50] gawel commented on #851
Then settings can be used as default

[2016-04-01 17:20] Znuff opened #855 "Enhancement: bulk user administration"
When doing initial imports/set-up, it would be very useful to have a way to multi-select users for operations like:

* Enable / Disable
* Reset Password (generate new password)
* Delete
* Change Group

[2016-04-02 10:51] tisba37 opened #856 "Support for let's encrypt"
Hello,

It's prossible to add a support for let's encrypt ?

[2016-04-02 20:25] orangejuicy commented on #678
Hello. I have this issue after fresh install on ubuntu 14.04 with modoboa-installer. Modoboa version is 1.4.5.

[code]

What can I do to fix this?

[2016-04-06 12:42] mpirio commented on #854
Hello,

Server reports a 500 error (INTERNAL SERVER ERROR) and these logs when i try to create an alias that points to another. Perhaps it can help you. Thanks for all your work.

[code]

[2016-04-07 11:48] tonioo commented on #532
Hi,
could you give an example postfix configuration for such a feature please?

Otherwise, is a mechanism like this one still relevant when sender_login_maps are in use ?

[2016-04-08 15:25] tonioo commented on #854
Actually this bug is related to the amavis plugin. I've just pushed a fix in the associated repository, it will be released soon.

[2016-04-08 15:25] #854 closed

[2016-04-09 14:41] hadifarnoud commented on #856
native support would be awesome. Mailinabox did something in that effect. can we re-use some of that code?

[2016-04-09 14:46] hadifarnoud commented on #824
@tonioo any plan to allow us add custom webmail during installation process?

[2016-04-10 12:10] #817 closed

[2016-04-10 12:10] #800 closed

[2016-04-10 12:23] tonioo commented on #485
What's the best way to add a header to an outgoing message? Use smtpd_sender_restrictions with a check_sender_access (PREPEND)?
@patrickbenkoetter ?

[2016-04-11 13:13] piwats commented on #485
Careful here: mailing list as per RFC must have the obvious list-post, list-id, list-subscribe,lists unsubscribe and the precedence header, or else the emails will be treated as spam by various spam filters.

Also there are some caveats to take care of, as f.i. dkim signing and dmarc policies ( which if the headers are modified, will break the mailing list)

[2016-04-11 18:28] tonioo commented on #824
@hadifarnoud Feel free to modify the installer, add this feature and propose a pull request ;)

[2016-04-11 18:29] tonioo commented on #856
Maybe. Once again, don't hesitate to contribute.

[2016-04-11 20:05] joelfranco opened #858 "Proposal for update install requirements"
I tried to install with Django 1.7 (Debian Jessie) but i had a problem with URLValidator that was fixed with Django 1.8 installed from backports.

Regards

[2016-04-12 04:51] mpirio commented on #854
Thank you

[2016-04-12 12:47] tonioo commented on #858
Each version of modoboa requires a specific Django branch. The current one (1.4.x) only works with Django 1.8.x so testing it with Django 1.7 is useless.
BTW, django version provided by major distributions is generally outdated so you should consider to use pip instead.

[2016-04-12 12:47] #858 closed

[2016-04-12 13:39] hadifarnoud commented on #824
@tonioo if you can help me get started, I would give this a try. I would've done it if I knew how :)

[2016-04-14 00:06] blendi-93 opened #859 "cant set resourcen of from reseller createt domain admin"
os: debian 8
modoboa 1.4.5
mysql Ver 14.14 Distrib 5.5.47
installed installer, anything default (passwords changed)

i have two users:
admin: superadmin
reseller1: reseller

if i create an domain admin with the reseller account i cant change the Resources (mailboxes, mailbox aliases). I cant change it as reseller nor as admin.
i get "Not enough resources"

if i create the domainadmin with my super

[2016-04-14 09:06] tonioo commented on #859
If you haven't changed the default parameters, you reseller was created with all resources to 0 so you need to update them as super administrator.
One other thing to know: when a reseller creates a domain administrator and gives him resources, he will use his own pool of resources.

Example 1: R1 can still create 3 mailboxes and allows DA1 to create 2 mailboxes, it works. After this operation, R1

[2016-04-14 10:02] tonioo opened #860 "Per-admin limits refactor"
This part of the code needs some work because it is currently too complex.

[2016-04-15 14:17] #860 closed

[2016-04-18 23:07] sanderkwantes opened #863 "distribution list removed after adding alias to user."
Example scenario:
distribution list: info@domain.com --> user1@domain.com, user2@domain.com

Now when i add an alias to user1@domain.com the distribution list (info@domain.com) is being removed for some reason.

[2016-04-19 07:25] blendi-93 commented on #859
ok, in modoboa settings tab i setup limits: anyting to -1 (unlimited)
this setting was also used as new default but instead giving me unblimited resources for this user i got 0.

if i change the limits for the reseller (-1 => 999) i finaly can give resources to my domainadmins.

domains -1 works
mailboxes -1 doesnt work.

[2016-04-24 13:45] hadifarnoud commented on #832
eagerly waiting for API docs. btw, I could help out polishing the docs once I figure out how it works myself.

[2016-04-25 16:25] mrstibbons opened #864 "form validation / highlighting for user role"
I was creating a new account as a super-administrator. When I was klicking on next nothing happened. I was confused until I've figured out that I did not choose a role. It would be great if the form could tell me that I have forgotten to choose the role by highlighting the select box red as it is doing with the other form fields.

[2016-04-25 22:10] cptMikky opened #865 "deploy (and run) error: reverse accessor clashes"
Hi,

after following the docs to the letter, I get this (snip):

admin.Mailbox.user: (fields.E305) Reverse query name for 'Mailbox.user' clashes with reverse query name for 'Mailbox.user'.

(full output after deployment here: http://pastebin.com/6tLWR9WC and after trying to run standalone server here: http://pastebin.com/dz9Ay7ku)

Up-to-date Debian Jessie 8.3 with Percona (MySQL) 5.7, **virtualen

[2016-04-25 22:52] cptMikky commented on #865
Never mind. The problem is that previously I had issues with multiple database entries which the script was unable to parse properly for some reason and I was hoping that amavis extension would be able to coexist in modoboa's database OR I'd be able to setup the database for amavis in the next step.

I was since unable to repliace the multiple dburl issue and now it works. I'll check back if I enc

[2016-04-25 22:52] #865 closed

[2016-04-27 09:52] #799 closed

[2016-04-27 09:56] tonioo commented on #864
Fixed in master branch.

[2016-04-27 09:56] #864 closed

[2016-04-27 12:20] #863 closed

[2016-04-27 12:36] tonioo commented on #859
@blendi-93 what kind of user are you using to define limits ? (what'is role ?)

[2016-04-29 08:58] maziyarpanahi opened #866 "customizing LDAP auto mailbox creation"
Hello,

Where can I change the setting for auto mailbox creation when the user logs in for the first time instead of /srv/vmail/ldap/uid(ldap usernam) creates the mailbox in /srv/vmail/domainname/firstPartOfEmail(%n)?

I have tried dovecot-ldap.conf.ext and also 10-mail.conf to match them with the default format (../ldap/uid) but I still get the error that says it can't find the user in /srv/vmail

[2016-04-29 09:31] tonioo commented on #866
Modoboa does not create mailboxes on the filesystem, dovecot does.

If you haven't modified the default configuration, the mailbox path is returned by the SQL query used with user_query in dovecot's configuration (http://modoboa.readthedocs.io/en/latest/integration/imap_and_smtp.html#mysql-users)

In your example, I don't understand where does the 'ldap' part come from...

[2016-04-29 09:43] tonioo opened #867 "Django 1.9"
Upgrade to Django 1.9.

[2016-04-29 10:14] maziyarpanahi commented on #866
Hi tonioo,

Thanks for your reply. Actually the /ldap part was coming from "dovecot-ldap.conf.ext" that I have set manually. I am trying to make this config as same as user_query (I don't want to change sql query). So I need to assign user's email address instead of LDAP username which is different in my LDAP:

[code]

Any chance you know how to get user's LDAP email address? If I can find the par

[2016-04-29 12:25] maziyarpanahi commented on #866
Ok I have managed to get the email address on both mailBox creation and user_query.

Many thanks again tonioo

[2016-04-29 12:27] tonioo commented on #866
Nice! I was replying to you but you were faster than me :)

Could you paste a working example? So others can retrieve it if they need too?

Thanks!

[2016-04-30 08:18] blendi-93 commented on #859
i used the admin to create a reseller and createt a domain admin with reseller.
admin => reseller => domainadmin.

[2016-04-30 11:37] #867 closed

[2016-05-01 12:53] tonioo commented on #843
@Toniob Hi, any news about this issue ?

[2016-05-03 13:07] tonioo opened #870 "Do not access the database too early"
In some cases (for example, an initial deployment), Modoboa tries to access the database. This can be problematic since it may not exist yet !

[2016-05-03 13:08] tonioo commented on #870
https://github.com/modoboa/modoboa-installer/issues/33

[2016-05-03 18:47] #870 closed

[2016-05-05 22:18] #859 closed

[2016-05-08 13:39] #866 closed

[2016-05-08 13:53] #704 closed

[2016-05-09 23:14] spinza opened #873 "CRON Error message (every minute)"
Getting this email every minute (due to cron job every minute) (after upgrading to latest)
[code]

[2016-05-09 23:19] spinza commented on #873
Sorry wrong place.
Posted this here: https://github.com/modoboa/modoboa-amavis/issues/30

[2016-05-09 23:19] #873 closed

[2016-05-09 23:38] spinza commented on #856
I'm running with letsencrypt certificates.  Not that difficult to setup.

[2016-05-10 06:04] hadifarnoud commented on #624
or better yet, give user instructions on what DNS records to add. Unfortunately I'm not a developer to be able to help.

[2016-05-10 07:27] tonioo commented on #856
That's something the installer could do pretty easily.

[2016-05-10 15:47] almereyda commented on #856
Before installing, I have been using the following procedure to generate certificates.

---

Create a letsencrypt certificate with https://github.com/lukas2511/letsencrypt.sh and Python SimpleHTTPServer, assuming you work as `root`.

1. Clone into `/root/letsencrypt.sh`: `git clone https://github.com/lukas2511/letsencrypt.sh`
Create the following files within that folder:
    * `domains.txt`
[code

[2016-05-10 17:25] almereyda commented on #561
Let's consider the https://github.com/modoboa/modoboa-installer being the officially supported deployment scenario where all requirements and constraints necessary to run Modoboa are enforced.

Should we close this issue and leave it for an informed user searching for installation hints?

[2016-05-10 21:15] luanfonceca opened #874 "Modoboa trying to install mysql even if i choose the postgresql"
Hi folks, i am trying to use the `modoboa-installer`, comment the `engine` option on the .cfg file:
[code]

But when i try to install it keeps asking for the mysql password, I need to compile something else in order to use the postgresql?

Thanks in advance

[2016-05-11 07:31] tonioo commented on #874
No, it shoud be enough. I've just tried a fresh install with postgres enabled and it works as expected... Are you installing a new system or an existing one ?

[2016-05-11 09:40] tonioo opened #875 "Do call doveadm too early when creating a new account"
This issue happens since the update to Django 1.9 and when modoboa is configured to handle mailboxes on the filesystem (default behaviour).

When a new account is created, modoboa will try to fetch the "mail_home" attribute from dovecot (using doveadm). Unfortunately, doveadm will return an error because it does not find the required mailbox and this is normal because the current transaction is no