[2019-01-02 01:50] demanl commented on #1609
More info...ubuntu 18.04 server....using mysql database engine...:)
`Jan  1 20:06:35 mail2 opendkim[815]: opendkim: /etc/opendkim.conf: dsn:mysql://opendkim:sV0NFTYx7medWk9M@127.0.0.1/modoboa/table=dkim?keycol=domain_name?datacol=id: dkimf_db_open(): Can't connect to MySQL server on '127.0.0.1' (111)
Jan  1 20:06:35 mail2 systemd[1]: opendkim.service: Control process exited, code=exited status=78

[2019-01-02 07:52] tonioo commented on #1641
@horvan There is no specific tutorial about DKIM setup but I suggest you try with the latest version, additional instructions were added.

[2019-01-02 07:55] tonioo commented on #1642
@CTDragon Looks like one of the database fields is too short, I need to find which one.
About map files, have you tried to delete the .chk file and add the --force option to the command line?

[2019-01-02 07:56] tonioo commented on #1643
@JayBeRayBearGun The selector (for a given domain) can be changed in the edit form and if DKIM is enabled. There is also a global parameter you can find in Modoboa > Parameters > Admin.

[2019-01-02 08:00] tonioo commented on #1609
@demanl Same problem exists with postgres: https://github.com/modoboa/modoboa-installer/pull/217. I'll look into it soon.

[2019-01-02 08:00] #1609 closed

[2019-01-02 08:51] tonioo commented on #1638
@stefaweb I also see such errors sometimes, I guess it can be caused by a server overload on the API side but I need to check...

[2019-01-02 09:04] stefaweb opened #1644 "wishlist: right alignment of quota columns"
Hi!

Just one cosmetic request. It would be better to have a **right** alignment of the two columns.

Cheers,

![sc](https://user-images.githubusercontent.com/12907102/50585510-aee95300-0e75-11e9-917b-3c9be740a9db.png)

[2019-01-02 09:09] stefaweb opened #1645 "Error listing quota with admin@domain"
# Impacted versions

* Modoboa: 1.12.2

When using Firefox and Safari on Macintosh (last OSX version), we got an error when we select "List quota" using admin@domain. No problem using master admin login. May be a "role" error.

Cheers,

![unknown](https://user-images.githubusercontent.com/12907102/50585665-7007cd00-0e76-11e9-8aaf-d989c74a12e8.png)

[2019-01-02 09:13] stefaweb opened #1646 "Impossible to modify quota using admin@domain"
# Impacted versions

* Modoboa: 1.12.2

If we try to update quota with Firefox 64.0 (64 bits) on Mac 10.14.2 Mojave, we got no change when we click on "Update" button (and no error message). Works with Safari and Chrome.

Cheers,

![unknown-1](https://user-images.githubusercontent.com/12907102/50585787-fb815e00-0e76-11e9-90d9-6f74f048f274.png)

[2019-01-02 11:47] JayBeRayBearGun commented on #1643
Thanks,... found it!  PS: happy new year!

[2019-01-02 11:47] #1643 closed

[2019-01-04 11:04] kneeke commented on #1642
@tonioo fyi the problem is the field error in dnstools_dnsrecord
the error that you try to store (can?) have the complete record as content, so in case of dkim the error can be something like
"Invalid tag p=MIICIjA.......[rest of the key]"

[2019-01-04 13:00] kneeke commented on #1642
@tonioo The other problem (which causes the Invalid tag error in the dkim check) is in the check if the dkim key is valid.
in modoboa/dnstools/lib.py:203
You split the key value pair on '=' and check if you have 2 parts.. But the dkim key is base64 encoded and ends with == (so the  check fails)

(I'm sorry, at the moment it's not possible for me to create a patch for these problems)

[2019-01-04 17:22] #1641 closed

[2019-01-06 02:06] Greybane opened #1647 "dkim check fails"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Add domain to modoboa.
Configure DKIM in the web ui.
Make sure the record passes tests on sites like dmarcanalyzer.com & dkimcore.org

# Current behavior
The DNS check is red and says "No record found."

# Expected behavior
DNS check should turn green and say "A DNS record has been found and is va

[2019-01-07 10:19] BigMichi1 opened #1649 "modoboa_dnsrecord relation not found"
# Impacted versions

* Modoboa: 1.13.0
* installer used: No ?
* Webserver: Nginx

# Steps to reproduce

after upgrading to 1.13.0 there is a relation error when running check_mx

```python manage.py migrate``` shows

    Operations to perform:
      Apply all migrations: admin, auth, authtoken, contenttypes, core, lib, limits, modoboa_amavis, relaydomains, reversion, sessions, sites, transport

[2019-01-07 10:38] SketchNI opened #1650 "502 Bad Gateway"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

N/A

I've uninstalled uwsgi and all plugins and reinstalled uwsgi and `uwsgi-plugin-python`. Short of uninstalling modoboa and reinstalling it, I can't think of what else to do.

I have a modoboa instance on another server and the configs are exactly alike except for domain names and security tok

[2019-01-07 16:26] Th0rGer opened #1651 "Bug when Upgrading"
# Impacted versions

* Modoboa: 1.12.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
 Try to upgrade
# Current behavior
python manage.py migrate
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 364, in execute_from_command_line

[2019-01-08 22:26] npfe opened #1652 "Contacts name with special characters don't work"
# Impacted versions

* Modoboa: Latest - 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Create a new contact using the web interface and put this character somewhere in the name "é" , when the page with pull data from the rest API using `https://<server_address>/api/v1/address-books/sync_from_cdav/` it will reply with `500 server error`.

I enabled debug, browsed to `sync_fr

[2019-01-09 12:32] jkorac opened #1653 "mail dovecot auth to pgsql failed"
# Impacted versions

* CentOS Linux release 7.5.1804 (Core), Linux 3.10.0-862.14.4.el7.x86_64
* Modoboa: 1.12.2
* installer used: Yes
* Webserver: Nginx
* Database: PostgreSQL

# Steps to reproduce

Create new user and email on Modoboa
Fetch mail from Modoboa installation using IMAP with SSL

In:
`/var/lib/pgsql/data/postgresql.conf`

tried to fiddle with
`max_locks_per_transaction`
`max_connectio

[2019-01-09 12:47] tonioo commented on #1647
@Greybane Can you check if #1648 fixes your problem?

[2019-01-09 12:52] tonioo commented on #1653
@jkorac How many users do you host? Are you monitoring the number of active postgres connections?

About migrating to mysql, you can try with the 2 following commands:
[code]
but I don't guarantee it will work.

[2019-01-09 12:54] tonioo commented on #1652
@npfe I think there is enough information, thank you. Could you just move this issue to the right repository: https://github.com/modoboa/modoboa-contacts/?

[2019-01-09 12:58] tonioo commented on #1651
@Th0rGer you forgot to load the virtualenv before running the migration process. Please consult the documentation: https://modoboa.readthedocs.io/en/latest/upgrade.html.
I know the upgrade process is a bit tricky but there is an open sponsoring (https://modoboa.org/en/projects/8/) to improve it.

[2019-01-09 12:59] tonioo commented on #1649
@BigMichi1 Looks like you forgot to apply 1.13.0 dedicated instructions: https://modoboa.readthedocs.io/en/latest/upgrade.html#id2.

[2019-01-09 12:59] #1649 closed

[2019-01-09 13:00] tonioo commented on #1650
@SketchNI Have you tried to install uwsgi from sources?

[2019-01-09 13:07] tonioo commented on #1646
@stefaweb Unfortunately I don't have any Mac device to reproduce this issue. Do you have more information to provide? (like a javascript error?)

[2019-01-09 13:09] jkorac commented on #1653
@tonioo we are currently running a test system with approx 50 active users. Pgsql log is constantly monitored, level = debug1. Connection limit for pgsql is set @ 1500. Re: migration - are the db/table structures the same for pgsql & mysql installations? If not, simple dump and import would not help. Has anyone tried that b4?

[2019-01-09 13:32] #1630 closed

[2019-01-09 13:34] tonioo commented on #1653
And what is the average number of active connections?

Structures are the same.

[2019-01-09 21:21] npfe commented on #1652
@tonioo I created an issue there [#24](https://github.com/modoboa/modoboa-contacts/issues/24#issue-397566772) - Thanks !

[2019-01-09 21:21] #1652 closed

[2019-01-10 12:34] jkorac commented on #1653
@tonioo all users are actively connected to modoboa server. Connections are set @ 2 minutes with imap (ssl). We have tried plain imap, pop with ssl, and plain pop with same results. We believe there is a problem with postgre db. Tonight we will try to migrate dbs to mysql to test it out. Do you have some hints to share in relation with migration?

[2019-01-13 16:51] maulware commented on #1650
Hi @SketchNI - I had the very same issue on a new installation today, also using the installer.
solution for me was to
`pip uninstall psycopg2-binary && pip install psycopg2 --no-binary psycopg2`
as this builds psycopg2 against the local ssl library. (inside the pyenv /srv/modoboa/env/)

[2019-01-13 16:57] SketchNI commented on #1650
Hi @maulware

Thanks very much. That fixed the issue!

[2019-01-13 16:57] SketchNI commented on #1650
Hi @tonioo
Would it be possible to add this to the docs under a `Troubleshooting` header?

[2019-01-14 09:41] jkorac commented on #1653
Still without solution.

We have tried several things, so here is feedback:

1. Migrate postgre to mysql on present installation
a) dumpdata does incomplete job

It doesn't work.

b) after switching pgsql with mysql installation was in ruins. There were too many errors in system, all pointing to a missing connection with postgre, even though we did everything to plug it out. Nothing worked, in sho

[2019-01-17 09:03] stefaweb opened #1655 "Bug upgrading to modoboa-1.3.0"
# Impacted versions

* Modoboa: 1.12.2

When I try to upgrade, I got this:

[code]

[2019-01-17 09:14] stefaweb commented on #1655
I back ported to  1.12.2 and the message is gone.

[2019-01-17 13:34] cremesk opened #1656 "cannot create a Calendar/Contacts"
Hallo, i have a Fresh default Installed Modoboa Version. It works very nice but a have a liddle Problem to create a Calendar for my User.

# Impacted versions
OS: Debian 9.6 (stretch)

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

[2019-01-18 17:29] tonioo opened #1657 "SPF parser failure"
Parser can fail because of extra space characters.
[code]

[2019-01-18 17:36] tonioo commented on #1656
@cremesk Are you using a valid TLS certificate? (letsencrypt)

[2019-01-18 17:42] tonioo commented on #1653
@jkorac FYI, the official installer does support mysql. You only have to modify the installer.cfg file, look at the database section.
About manual installation, if you think it's incomplete, please provide a PR containing documentation fixes, I'd glad to approve it :)

[2019-01-18 19:49] cremesk commented on #1656
@tonioo yes i do. https://mail.secnux.net/
demo / Password123

[2019-01-19 03:01] cayetona opened #1659 "fail2ban config for webmail"
hi everyone, i need help to configure fail2ban with modoboa to prevent brut-force with the web interface.

I activate the log in settings.py

        'syslog-auth': {
            'class': 'logging.handlers.SysLogHandler',
            'facility': SysLogHandler.LOG_AUTH,
            'address': '/dev/log',
            'formatter': 'syslog'
        },

i configure a jail.local

[modoboa]
enabled = tru

[2019-01-19 09:21] tonioo commented on #1656
@cremesk Can you set DEBUG to True inside settings.py and reload uwsgi ?

[2019-01-19 09:56] cremesk commented on #1656
@tonioo okay Done. The Calendar Page has an IO Error. You can Login the Demo Account an check it.
[code]

[2019-01-19 17:45] aurora opened #1660 "Simple User cannot login"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Current behavior

I have the problem, that users with the role "Simple User" are unable to log-in. The message they get is just:

Sorry
An internal error occured

If i change the role to "Domain Administrator", the user can log-in. So this issue apparently only effects users with the role "Simple User" applied. I ha

[2019-01-20 15:07] aurora commented on #1660
Apparently this has something to do with the setting the admin user can do in "Modoboa -> Parameters -> General -> Miscellaneous": "Default top redirection" - if set to something a simple-user has no access to, the internal error occurs.

In my opinion modoboa should:

* fallback to a page that a simple user is allowed to access
* or provide a functionality to define the redirection per role

[2019-01-21 03:05] ObiOnyemaobi commented on #1647
Same issue here. Two different environments/installations

[2019-01-21 09:36] tonioo commented on #1660
@aurora When DEBUG is enabled, you need to check server responses content using a javascript debugger (F12 key).

[2019-01-21 10:19] tonioo commented on #1659
failregex should contain something like this:
[code]

[2019-01-21 10:22] tonioo commented on #1655
@stefaweb Did you follow dedicated upgrade instructions for 1.13.0 ?

[2019-01-21 10:23] #1651 closed

[2019-01-21 10:25] #1639 closed, assigned to nobody

[2019-01-21 10:36] tonioo commented on #1655
In settings.py.
And don't forget run migrate after

[2019-01-21 10:51] stefaweb commented on #1655
ok.

Got this at the end after upgrade to 1.13.0.

[code]

[2019-01-21 10:54] tonioo commented on #1655
Yes, it's normal.

[2019-01-21 10:54] #1655 closed

[2019-01-21 10:56] #1657 closed

[2019-01-21 10:59] stefaweb commented on #1655
Thanks.

[2019-01-21 11:02] stefaweb commented on #1655
Got this by mail?

[code]

[2019-01-21 11:45] stefaweb opened #1661 "manage.py modo check_mx error since 1.13.0"
# Impacted versions

* Modoboa: 1.13.0

Since 1.13.0 upgrade, I receive the message all 30 minutes.

[code]

[2019-01-21 12:42] tonioo commented on #1661
Duplicate of #1657

[2019-01-21 12:42] #1661 closed

[2019-01-21 15:39] #1645 closed

[2019-01-21 16:31] #1642 closed

[2019-01-21 16:36] tonioo commented on #1611
You said it, it's not a commercial product. We do our best to create an open source product simple to use (at least that's the goal we're trying to reach), with no commercial restrictions, on our free time. And it's the same about user support. Modoboa is used by a lot of people every day and it seems to work for them... We do our best to help but if it's not enough for you, you can try something

[2019-01-21 16:36] #1611 closed

[2019-01-21 16:38] tonioo commented on #1625
@CooperBarrett Sorry for the late reply. Maybe you could try the solution mentionned in #1650 ?

[2019-01-21 16:51] #1640 closed

[2019-01-21 16:51] #1647 closed

[2019-01-24 00:40] alexander255 commented on #821
Self-plug: I've been maintaining (and slowly improving) my own Docker build of Modoboa over the last 1,5 years: https://hub.docker.com/r/ntninja/modoboa/

It now comes with basic documentation (quick-start compose setup, running basic command & upgrading) and has separate containers for the following services: modoboa itself [running via gunicorn not uwsgi], Postfix & Dovecot; meaning it's lacking

[2019-01-24 22:09] CooperBarrett commented on #1650
No...
I'm desperate, nothing works

[2019-01-24 22:10] CooperBarrett commented on #1625
No...
I'm desperate, nothing works

[2019-01-24 22:10] SketchNI commented on #1650
Sure. Got a busy week next week but I will get around it

[2019-01-25 10:56] jkorac commented on #1653
Problem solved.

Installing and using MySQL instead solved the problem.

We managed to manually install modoboa with mysql. I don't know what went wrong last time, I wasn't there, but we did it! I'm still waiting for the documentation, if I'll ever get one.

[2019-01-25 16:41] stefaweb opened #1662 "Search button"
# Impacted versions

* Modoboa: 1.13.0
* Safari 10.0.2 or Chrome OSX 71.

If we type something in the search entry field and click on the search icon, the entry field is cleared.

Is this normal behavior?

![capture d ecran 2019-01-25 a 17 37 00](https://user-images.githubusercontent.com/12907102/51759357-526e0200-20c8-11e9-83fa-dffcefa30e26.png)

[2019-01-25 18:26] RemisSeguro opened #1663 "I can send emails"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx/Apache

# Steps to reproduce

# Current behavior

hello, i install in digitalocean modoboa, the installation was perfect, I can receive emails but I can not send, maybe the error is because of the SMTP configuration, I made the steps with letsencrypt for SSL, I need this urgent, I hope you can help me

# Expected behav

[2019-01-26 16:07] hadifarnoud commented on #638
@jaesivsm can you please provide an example? I did install ansible, then get the role from ansible-galaxy

afterwards, created this yml
[code]

I get this error when running it via `ansible-playbook modoboa-backup.yml`
[code]

[2019-01-26 16:13] hadifarnoud commented on #638
would be nice to have a restore manual as well :)

[2019-01-28 13:34] RemisSeguro commented on #1663
news? Help me please

[2019-01-28 15:04] RemisSeguro commented on #1663
hello thank you for answering. How would I get an error log? I tried to open port 25, but I have the firewall disabled, something you need to help me? regards

[2019-01-28 15:14] tonioo commented on #1663
Logs should be available in /var/log/mail.log file.

[2019-01-28 15:40] RemisSeguro commented on #1663
si, aparentemente tengo problemas para conectacrme al puerto 25 de gmail

[2019-01-28 15:40] RemisSeguro commented on #1663
Yes, apparently I have problems to connect to port 25 of gmail,now I attach a log

[2019-01-28 15:43] RemisSeguro commented on #1663
After this operation, 73.7 kB of additional disk space will be used.
Get:1 http://mirrors.digitalocean.com/ubuntu xenial/universe amd64 xsel amd64 1.2.0-2 [20.6 kB]
Fetched 20.6 kB in 0s (1,173 kB/s)
Selecting previously unselected package xsel.
(Reading database ... 68441 files and directories currently installed.)
Preparing to unpack .../xsel_1.2.0-2_amd64.deb ...
Unpacking xsel (1.2.0-2) ...
Pr

[2019-01-28 16:00] tonioo commented on #1663
@RemisSeguro Looks like there is a firewall somewhere...

[2019-01-28 16:10] RemisSeguro commented on #1663
nice, the firewall is generating conflicts? How do I deactivate it? or do I access port 25? I tried to do it several times already but I have not managed to fix it

[2019-01-28 16:31] RemisSeguro commented on #1663
I found the problem, after investigating, I discovered that digitalocean blocks port 25 until 60 days have passed since I was using the service, and I sent a message to support to ask if they could enable it. thanks guys, any update I will comment

[2019-01-28 16:32] #1663 closed

[2019-01-31 08:55] makakken commented on #1655
@tonioo today i've updated modoboa and all extensions from 1.10.X to 1.13.0 and i got following errors:

`(security.W001) You do not have 'django.middleware.security.SecurityMiddleware' in your MIDDLEWARE so the SECURE_HSTS_SECONDS, SECURE_CONTENT_TYPE_NOSNIFF, SECURE_BROWSER_XSS_FILTER, and SECURE_SSL_REDIRECT settings will have no effect.`

If this is normal, wouldn't it be nice to have this in

[2019-01-31 18:09] tonioo commented on #1662
@stefaweb I don't reproduce this behaviour. What is your browser?

[2019-01-31 18:10] tonioo commented on #1660
@aurora Any news?

[2019-01-31 18:12] tonioo commented on #1653
@jkorac Feel free to open a new PR about the documentation or an issue.

[2019-01-31 19:38] aurora commented on #1660
@tonioo sorry, i've been busy with other things lately, but i will try the coming weekend.

[2019-02-01 08:34] stefaweb commented on #1662
Hi @tonioo!

The problem is gone. I tried again with Safari and Chrome OSX. Now when I click on the search button, nothing append. The only way to search is not enter something in the search field and click on return.

[2019-02-01 14:50] cremesk commented on #1656
@tonioo you have an idea?

[2019-02-02 09:20] tonioo commented on #1662
I close this issue. Feel free to open a new one if you want to suggest an improvement.

[2019-02-02 09:20] #1662 closed

[2019-02-02 11:38] cremesk opened #1664 "Traceback: check_mx"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

/srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py modo check_mx

Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/management/__

[2019-02-03 15:52] tonioo commented on #1664
@cremesk The "valid mxs" option should only contain ip addresses, not domain names.

[2019-02-04 00:59] TildeSlashC0re commented on #821
@alexander255 I've recently forked your `docker-recipes` [gitlab repo ](https://gitlab.com/ntninja/docker-recipies/) and re-structured it to focus exclusively on modoboa.

What I have covered so far:
* Cleaning up the overall file-structure
* Extending the docker-compose.yml deployment with a persistent postgres-db container
* Added `wait-for-it.sh` to the init process of the modoboa container to

[2019-02-04 08:19] hadifarnoud commented on #821
@TildeSlashC0re could this enable a more easy backup-restore as well?
also, would love to have modoboa on kubernetes. this can help with that too. hopefully a Helm chart in near future 🥇

[2019-02-04 09:59] tuxis-ie commented on #1664
Which is kinda weird, considering mx records are defined in hostnames, not IP addresses..?

[2019-02-04 10:57] tonioo commented on #1664
@tuxis-ie The comparison is done after name resolution.

[2019-02-04 11:54] alexander255 commented on #821
@TildeSlashC0re:

Could you upload that somewhere? I'd like to take a look!

You mean the quickstart file? Yes, that sounds like a good idea as you as you highlight in the comments that an external container may be used instead. The current quickstart file is basically a dumbed down version of my server configuration with comments. :wink:

:+1:

I tried to do that everywhere, but I guess I forgot

[2019-02-04 14:59] alexander255 commented on #821
@hadifarnoud:

You only need to back up the data directory, with the mail directory and Docker configuration, and the database. So yes, makes it easier for me. :slightly_smiling_face:

I wanted to start using Kubernetes for quite some time. If you could provide some relevant configuration for this I'd be very interested.

[2019-02-04 17:40] hadifarnoud commented on #821
@alexander255 I by no means am an expert on k8s. I'd give it a try.

[2019-02-04 21:12] TildeSlashC0re commented on #821
@alexander255

Officially forked it on gitlab now: [c0re/modoboa-dockerized](https://gitlab.com/TildeSlashC0re/modoboa-dockerized)
since I didn't push any of the docker images on dockerhub yet you are advised to build them locally (see
 `build-forked-images.sh` for reference)

yep I've based my project on the work you've provided on the quickstart deployment.

I had to add openldap-dev to the base

[2019-02-05 08:36] stefaweb opened #1665 "Bug with cancel button for imap migration"
# Impacted versions

* Modoboa: 1.13.1
* Safari OSX

If we have an account with active imap migration.
If we click on the button, and if we click on "cancel", the imap migration is stopped anyway (and the blue button disappears anyway).

![sc](https://user-images.githubusercontent.com/12907102/52261255-17ba6400-2929-11e9-89b1-019ecc1de551.png)

Another bug: the button show "Annuler" (cancel) unles

[2019-02-06 07:47] tonioo commented on #1665
@stefaweb Hi, could you please move this issue to the right repository? (https://github.com/modoboa/modoboa-imap-migration)

[2019-02-06 07:57] stefaweb commented on #1665
Moved to https://github.com/modoboa/modoboa-imap-migration/issues/38

[2019-02-06 07:57] #1665 closed

[2019-02-06 21:37] blackmlm opened #1666 "Lots of Spam"
# Impacted versions

* Modoboa: 1.13.0
* installer used: No
* Webserver: Nginx/Apache

We been getting lots of spam mail and it passing.... I dont know what to do.  I been thinking on getting a third party software to filter the spam, but I would like your opinion first..  here its a copy of the header of the emails we are getting.

[Pastebin]https://pastebin.com/CkHh40Yj
thanks in advance for you

[2019-02-06 22:28] AmazingBeu commented on #1640
My problem has been partialy solved because the **env/lib/python2.7/site-packages/modoboa/dnstools/lib.py** library parse tags of my DNS record with double quote ( '" "k' and '" "p' ).

To solve this, i added **tag = tag.strip('"')** in the file like this :

[code]

I think it can be added in the repository without breaking something

[2019-02-07 07:52] tonioo commented on #1666
@blackmlm I see you installed modoboa manually. Have you also installed a spam filter like spamassassin or rspamd?

[2019-02-07 09:08] PatTheMav opened #1667 "Unauthenticated SMTP possible on port 25"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

* Use a SMTP tester (e.g. https://www.gmass.co/smtp-test)
* Use the mail server domain, port `25`, leave name and password empty
* Use a fake email address as the "from address"
* Use an existing email address *on the same server* as the "to address"
* Send email

# Current behavior

On port 25 t

[2019-02-07 09:44] stefaweb opened #1668 "PDF file for account with mixed langage"
DELETED

Problem solved. Was in https://mail/core/#parameters/

[2019-02-07 11:49] PatTheMav commented on #1667
Let this be a lesson for later generations:

1. Understand how Email works.
2. Then write GitHub issues.

Closed.. 🙈😂

[2019-02-07 11:50] #1667 closed

[2019-02-07 17:04] stefaweb commented on #1668
Found another problem.

The PDF output is a mix of French and English. I was using French langage in the GUI.

![sc](https://user-images.githubusercontent.com/12907102/52428682-c6fe6300-2b02-11e9-9e32-196cc134f04a.jpg)

[2019-02-07 20:24] blackmlm commented on #1666
Well,  I used the installer the first time I created the box with 1.9.0, but then I upgraded to 1.13.0. manually. I would assume I think it should be there.

how can I check if it is installed and working properly?

any suggestions?

[2019-02-08 10:17] pavinjosdev opened #1669 "Deleting catch all alias deletes the domain from amavis.users table"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

1. Create a domain
2. Create a SimpleUser
3. Create a catch all alias pointing to above mailbox
4. Delete catch all alias

# Current behavior

Deleting catch all alias deletes domain from `amavis.users` table.

# Expected behavior

Domain is added to `amavis.users` table on domain creation (Step

[2019-02-08 18:13] blackmlm commented on #1666
well, the
systemctl enable spamassassin
systemctl start spamassassin

didn't help.  We are still receiving lots of spam. I don't know if this is normal or I have something wrong.  one of my customers decided to use a comodo antispam gatway to filter the emails, and they are ok now, but I really don't think I should be doing this for every installation of modoboa.  I think I am doing something wron

[2019-02-09 05:59] TildeSlashC0re commented on #821
I'll announce a little bit of progress on my end here:

So far I have:
* Built a full-featured (that is `deploy --extensions all` capable) **modoboa** container (thanks to the Dockerfile provided by @alexander255) weighing in at **251 MB**
* Built a **postgres** container definition that handles connections to both modoboa and amavis @ **70 MB**
* Built an **amavis** container based on [muhlba91/a

[2019-02-09 11:53] lsh-0 commented on #1647
I've just upgraded to 1.13.1, the information pane in the Modoboa admin interface confirms this however my DKIM label is still red with the label `no record found`. https://www.dmarcanalyzer.com gives me all green and I can't see a fault in my configuration.

Can anybody else confirm the 1.13.1 release fixes this bug?

[2019-02-09 11:59] #1632 closed

[2019-02-09 15:47] ObiOnyemaobi commented on #1647
+1.

Fault is still apparent at 1.13.1.

[2019-02-11 11:18] TheChaosToast opened #1670 "APACHE integation on Autoinstaller?"
Hello everybody,

is there a possibility to integrate the APACHE server in the Autoinstaller script?

The problem is that I have broken my configuration because NGNIX is being installed. Since both wanted to listen on port 80 that was not as I would like, because my websites were no longer available. Thank God I had previously made a complete backup.

Thank you very much for an answer

Sorry for m

[2019-02-11 12:46] minaeid90 opened #1671 "Can't connect with mail client thunderbird"
I can't connect to mail client like Thunderbird or on my android mail. I got a connection time out. The mail works fine on the web.

[2019-02-11 21:11] GIJack opened #1672 "Wish: Propper 2FA and Application passwords"
Wishlist is modern authentication standards.

2FA support
* TOTP - time based token on a phone app like Google Auth or RedHat's FreeOTP(better IMO).
* U2F - like yubikey and clones

Backup passwords
In case you lose your Second Factor

Application Passwords
Randomly Generated passwords you can save in your phone/mail app and delete as needed. Read once.

This is becoming the new standard for secur

[2019-02-11 22:31] Arvedui opened #1673 "argon2 support"
[From the django docs:](https://docs.djangoproject.com/en/1.11/topics/auth/passwords/#using-argon2-with-django)

As indicated django supports argon2 and [dovecot](https://wiki.dovecot.org/Authentication/PasswordSchemes) does as well.
Unfortunately passlib only supports argon2i, not argon2id. The later seems to be the better one for general use. And since passlib upstream seems to have died in 2017

[2019-02-12 00:26] ddiguru commented on #1638
I had this problem today and took a quick PCAP to see what's going on, and it appears the certificate is expired.

[2019-02-12 07:04] Philambdo commented on #1638
The certificate expired on February 11, 2019, 11:00:15 PM GMT+1. The current time is February 12, 2019, 8:03 AM.

Same problem here since yesterday - i guess someone missed the reissue cron job? ;)

[2019-02-12 08:19] WLR86 commented on #1638
Same here. Given that certbot may be used, it's no surprise : I was using that too until I realized it was failing every time the certs needs to be updated and I ended renewing manually - I switched to acmetool and never had a problem since. I don't want to hear about certbot anymore, it's a waste of time.

[2019-02-12 08:59] tschuettler opened #1674 "Certificate for api.modoboa.org expired"
# Steps to reproduce
cron job `manage.py communicate_with_public_api` fails with `CommandError: Failed to retrieve versions from the API.`

# Current behavior
[code]
# Expected behavior
valid certificate

[2019-02-12 10:47] WLR86 commented on #1674
This is what happens when relying on certbot... Been there, done that. Certbot doesn't automatically renew certs, it just FAILS to do so, and at the end of the day, you have to troubleshoot the issue, fix it, and renew your certs MANUALLY.

Or use acmetool, and forget about it, it just does the job.
(Sorry for this rant, but I wasted so much time using certbot I can't take it anymore)

[2019-02-13 19:55] UOCecalero commented on #1560
Same issue here. Could you share the solution? Thx

[2019-02-13 19:57] UOCecalero commented on #1560
Feb 13 19:56:08 mail postfix/cleanup[12263]: warning: connect to Milter service inet:127.0.0.1:12345: Connection refused
Feb 13 19:56:08 mail postfix/proxymap[6770]: warning: mysql:/etc/postfix/sql-aliases.cf is unavailable. open /etc/postfix/sql-aliases.cf: No such file or directory
Feb 13 19:56:08 mail postfix/cleanup[12263]: warning: proxy:mysql:/etc/postfix/sql-aliases.cf lookup error for "roo

[2019-02-13 19:59] UOCecalero commented on #1560
Feb 13 19:39:39 mail dovecot: auth-worker(10120): Error: mysql(127.0.0.1): Connect failed to database (modoboa): Can't connect to MySQL server on '127.0.0.1' (111) - waiting for 125 seconds before retry

[2019-02-13 20:00] UOCecalero commented on #1560
I tried to connect to my database but throw me this error:

ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2 "No such file or directory")

[2019-02-14 09:19] stefaweb opened #1675 "Problem with DKIM signature for BIND"
# Impacted versions

* Modoboa: 1.30.1

The key printed in GUI do not have "space" between "v=DKIM1;k=rsa;p=". Should be "v=DKIM1; k=rsa; p=xxxx".

![capture d ecran 2019-02-14 a 10 13 31](https://user-images.githubusercontent.com/12907102/52776418-d1a88300-3041-11e9-94df-4cfcf5b03540.png)

[2019-02-16 22:57] cremesk commented on #1656
Error reading /srv/modoboa/env/local/lib/python2.7/site-packages/modoboa_radicale/../frontend/webpack-stats.json

No '../frontend/..' Directory on my disk. But i can find this file in:
/srv/modoboa/env/local/lib/python2.7/site-packages/modoboa_radicale/static/modoboa_radicale/webpack-stats.json

[2019-02-19 00:37] qskousen opened #1676 "Add ARC support"
[ARC](http://arc-spec.org/) would be very helpful when you are forwarding mail on to an external mailbox using an alias. This would prevent the failing of DKIM and SPF checks from those providers that support it, such as gmail.

This should be as simple as adding [OpenARC](https://github.com/trusteddomainproject/OpenARC) to the Modoboa install and adding some interface for controlling it, though I

[2019-02-19 13:38] stefaweb opened #1677 "Wrong langage error message in /stats/"
# Impacted versions

* Modoboa: 1.13.1

In `/stats/` if we type a wrong domain (do not exist) we got an English langage error message I'm using fr_FR).

![sc](https://user-images.githubusercontent.com/12907102/53018927-ddd27d00-3453-11e9-86bd-bf3c679ecfbb.png)

[2019-02-19 16:11] carbans commented on #1667
@tonioo this problems exist and I recibing a lot SPAM by this way. How we can fix it? I think it's a important bug

[2019-02-20 07:44] Arvedui commented on #1667
This is not a bug, it's a feature.

Yes it is most certainly how all the spam reaches you, just like any other mail coming from other servers. If you fix this "bug" you won't be able to receive mails from people using other mail providers like gmail or outlook.

If you are absolutely certain that that is what you want, just delete the MX record and close port 25 in you firewall.

[2019-02-21 17:32] elryion opened #1678 "Domains List: Internal Error"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Login with Super-Admin or Domain-Admin and click on Domains. The quarantine works correctly.

# Current behavior
I have this problem with the upgrade on 1.13.0.
A update of 1.13.1 have not fixed this Problem.

# Expected behavior
The list with my domains.

# Video/Screenshot link (optional)

![int

[2019-02-21 20:40] senner commented on #1678
Something to do with the checks templates . turn off in Administration settings the following and the error went away for me.

Enable SPF checks ?
Yes  No
Enable DKIM checks ?
Yes  No
Enable DMARC checks ?
Yes  No
Enable autoconfig checks ?
Yes  No
Enable DNSBL checks ?
Yes  No

[2019-02-22 03:41] EdenSG opened #1679 "demo.modoboa.org TLS certificate expired"
Expired on the 14th.

[2019-02-22 08:16] Razorblade12 opened #1680 "Unable to login with admin user when IMAP is forwarded from WAN"
# Impacted versions

* Modoboa: 1.12.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Enable Port Forwarding for IMAP(s) to local mail server on firewall. Login with user that has any administrative role

# Current behavior
Unable to login, error message 504 Gateway Time-Out

# Expected behavior
Administrative user is able to login

# Additional information
As soon as the Port forw

[2019-02-22 14:45] elryion commented on #1678
Yes it works only if I disable all checks.
![disableallchecks](https://user-images.githubusercontent.com/47864242/53249609-cba54880-36b8-11e9-825c-452c185de74c.PNG)

If I then click on the "i" in DNS then the error comes too.
![internalerror_dns](https://user-images.githubusercontent.com/47864242/53249526-91d44200-36b8-11e9-8d00-ca3d90df2b22.PNG)

[2019-02-22 17:11] senner commented on #1678
Related to https://github.com/modoboa/modoboa/issues/1649

Missing 1.13.0 specific instructions..

[2019-02-22 20:28] elryion commented on #1678
Thanks for your help. I haven't seen the editing of the "settings.py." Now it works fine!

[2019-02-22 20:28] #1678 closed

[2019-02-23 15:48] animalillo opened #1681 "Error updating to 1.13.1"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install 1.13.0 and update following the steps specified at https://modoboa.readthedocs.io/en/latest/upgrade.html to 1.13.1

# Current behavior
Errors appear:

System check identified some issues:

# Expected behavior
No errors shown. Update finishes correctly and is reflected on the web UI

[2019-02-25 09:14] tonioo commented on #1681
@animalillo Those are just warnings, it does not mean your upgrade has failed. Why do you think it has fail?

[2019-02-25 09:14] tonioo commented on #1679
Fixed, thank you.

[2019-02-25 09:14] #1679 closed

[2019-02-25 09:17] tonioo commented on #1668
@stefaweb It is not a bug. The PDF is generated using the target user language. Anyway, I close this issue since it is not the right repository. Please open a new one (https://github.com/modoboa/modoboa-pdfcredentials) if the problem persists.

[2019-02-25 09:17] #1668 closed

[2019-02-25 09:20] PatTheMav opened #1682 "Migrating to secondary database fails"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
1. Have Modoboa instance run on PostgreSQL
1. Add new MySQL database entry with identical credentials (database is named `mysql`)
1. Execute `python manage.py migrate --database=mysql`

# Current behavior

Django starts the migration process by applying "all migrations":

[code]

The process start

[2019-02-25 09:30] PatTheMav commented on #1667
@carbans at first I though this to be an error as well, but after "understanding how Email works" (as I've written before I closed the issue), it's obvious it can't be locked down (simplified explanation follows):

* If clients need to send an email to somebody outside their domain as their SMTP is not configured to be an open relay (good!), clients need to connect via port 587 and authenticate ag

[2019-02-25 09:32] tonioo commented on #1682
@PatTheMav The command you're using will not migrate data from your current postgres DB to a new mysql one, it will just create a new mysql database. There is no tool to automatically migrate a postgres database to a mysql one. Anyway, I don't understand why this specific migration script fails... Have you tried a fresh install using mysql instead of postgres?

[2019-02-25 09:56] tonioo commented on #1680
@Razorblade12 Strange... Are you talking about authentication to the web frontend? What is the first url the user is redirected to after authentication?

[2019-02-25 09:58] tonioo commented on #1676
@qskousen it could be indeed useful but it would also require to integrate DMARC (opendmarc for example) to the installer...

[2019-02-25 10:00] tonioo commented on #1675
@stefaweb Are you sure spaces are required?

[2019-02-25 10:02] tonioo commented on #1674
Actually, the certificate renew worked but nginx reloading failed... Need to figure out why.

[2019-02-25 10:02] #1674 closed

[2019-02-25 10:05] PatTheMav commented on #1682
@tonioo In a way, I did:

I used the `migrate` command to actually create the necessary tables so I could then use a `dumpdata` and `loaddata` cycle to import the actual data.

What I ended up doing was commenting out the postgres `default` database, replaced it with the `mysql` one and executed `migrate` again. That ran into another issue: Namely the later reverted change of a too-long `varchar`f

[2019-02-25 10:05] tonioo commented on #1673
@Arvedui That's a good idea and there is no objection against using argon2-cffi ;)

[2019-02-25 10:06] tonioo commented on #1671
@minaeid90 Looks like a firewall issue...

[2019-02-25 10:08] tonioo commented on #1670
@TheChaosToast It is possible but it requires some work. Please see https://github.com/modoboa/modoboa-installer/issues/178.

[2019-02-25 10:08] #1670 closed

[2019-02-25 10:11] tonioo commented on #1666
@blackmlm Check if amavis is running (this is the process which calls spamassassin) and if there are errors in the /var/log/mail.log file.

[2019-02-25 10:11] tonioo commented on #1660
@aurora Any news?

[2019-02-25 10:15] tonioo commented on #1656
@cremesk Yes, that's a know issue... What you can do is replace this line https://github.com/modoboa/modoboa-radicale/blob/master/modoboa_radicale/settings.py#L24 by the path you mentioned and it should work. The settings.py file you be located here: /srv/modoboa/env/local/lib/python2.7/site-packages/modoboa_radicale/settings.py

[2019-02-25 10:16] tonioo commented on #1650
@SketchNI Any news?

[2019-02-25 10:17] tonioo commented on #1682
@PatTheMav Then thank you for the feedback ;)

[2019-02-25 10:30] stefaweb commented on #1675
Hi @tonioo!
The RFC alway show parameters with space between.
https://tools.ietf.org/html/rfc6376

[2019-02-25 10:42] tonioo commented on #1675
According to https://tools.ietf.org/html/rfc6376#section-3.2, spaces are optional... Have you encountered any error using the printed record?

[2019-02-25 10:48] cremesk commented on #1656
@tonioo Thanks! With Line 24:
`"STATS_FILE": "/srv/modoboa/env/local/lib/python2.7/site-packages/modoboa_radicale/static/modoboa_radicale",`

works the Calendar-Site without Errors. However, it is still not possible to create a calendar.

`-rw-r--r-- 1 modoboa modoboa 2.6K Jan 16 18:57 /srv/modoboa/env/local/lib/python2.7/site-packages/modoboa_radicale/static/modoboa_radicale/webpack-stats.json`

[2019-02-25 10:52] tonioo commented on #1656
@cremesk Ok, so now you should be able to see more information using a javascript debugger. (Look at the network tab and check server's response).

[2019-02-25 10:59] cremesk commented on #1656
Error in Debugger Console:
[code]

Request-URL: https://mail.secnux.net/api/v1/user-calendars/
Methode: POST
Internal Server Error

Request headers:
[code]

Response headers:
[code]

[2019-02-25 11:01] tonioo commented on #1656
Don't you see anything in the response body tab?

[2019-02-25 11:01] cremesk commented on #1656
[code]

[2019-02-25 11:09] tonioo commented on #1656
@cremesk Can you try to update the pyOpenSSL and certifi packages:
[code]

[2019-02-25 11:14] cremesk commented on #1656
same error after do this :/

[2019-02-25 13:26] cremesk commented on #1656
**Summary:**
Calendar settings.py need a modification on line 24:
[code]

Same for Contacts:
[code]

SSL Problem:

[2019-02-25 14:53] tonioo commented on #1647
@lsh-0 @ObiOnyemaobi Can you provide examples? (DNS records)

[2019-02-25 16:02] ObiOnyemaobi commented on #1647
As with everything, issues take time to figure possibly figure themselves out.
The fault is now resolved on my end. Seems as if the DNS was taking it's time.

[2019-02-25 16:22] tonioo commented on #1633
@ndoody Any news?

[2019-02-25 16:25] tonioo commented on #1625
@CooperBarrett I really don't know what's wrong... Maybe you could order a support ticket from the website so I can check your installation?

[2019-02-25 16:25] tonioo commented on #1646
@stefaweb Any news?

[2019-02-26 09:37] stefaweb commented on #1646
I can not reproduce the problem at home. I will ask the person who has the problem if I can have more detail.

[2019-02-26 09:38] stefaweb commented on #1675
It works without the spaces.
But with space, it will be better to read it.
As you want if you have some time. It's more cosmetic than technical.

[2019-02-26 13:00] stefaweb opened #1683 "Whishlist: have a refresh on /stats/#graphs/?gset=mailtraffic"
It will be nice to have an auto refresh on the statistics page.

`/stats/#graphs/?gset=mailtraffic`

A 60 seconds refresh time will be fine.

Optionally, a global variable to change the refresh time.

Cheers,

[2019-02-26 18:18] tonioo commented on #1683
@stefaweb Can you please move this issue to the right repository?

[2019-02-26 19:19] animalillo commented on #1681
Because it was still displaying the same version on the web UI and the update warning...
I guess i had to open a new session or something was cached out preventing that to update but now it seems to display the proper version number!

Thank you for checking, seems to be workinng and updated.

[2019-02-26 19:19] #1681 closed

[2019-02-27 07:33] stefaweb commented on #1683
Moved to https://github.com/modoboa/modoboa-stats/issues/54

[2019-02-27 07:33] #1683 closed

[2019-02-27 08:15] Razorblade12 commented on #1680
@tonioo Yes, the authentication to the web frontend.
After entering credentials and pressing enter the message "504 Gateway Time-Out" appears with the "/dashboard" URL after several seconds.

[2019-02-27 11:35] cremesk opened #2975 "Wish: dynamic Web-Url and SMTP/IMAP-Server-Address"
Hello,

my Modoboa Mail Server run with Multiple-Domains. (secnux.net - Main ; envs.net ; ...)
It would be nice if the tool still adapts the mentioned things dynamically for the new created Users-PDF.

Example:

Now:
`Web panel url ? : https://mail.secnux.net/accounts/login/`
Dynamic:
`Web panel url ? : https://%mxhost/accounts/login/`

Now:
[code]
Dynamic:
[code]

The dynamic list could be fetche

[2019-02-27 13:15] cremesk opened #1684 "Wish: Reseller User needs to create 'Recipients-Aliases'"
I think it is a good Idea then the Reseller-User also can create and Manage 'Recipients-Aliases'.

[2019-02-27 13:50] CooperBarrett commented on #1625
it would have been a pleasure, but 100€ per ticket is really out of price for me !

[2019-02-27 14:17] cremesk commented on #1684
Sorry my bad!

[2019-02-27 14:17] #1684 closed

[2019-02-28 09:08] EDV4BIZ opened #1685 "Can not send mails anymore since update"
Hello,
we update yesterday all modules to the last version now we can not send mails anymore this is the error:

Feb 28 10:00:52 mail postfix/postscreen[4315]: CONNECT from [127.0.0.1]:47066 to [127.0.0.1]:25
Feb 28 10:00:52 mail postfix/postscreen[4315]: WHITELISTED [127.0.0.1]:47066
Feb 28 10:00:52 mail postfix/smtpd[4316]: connect from localhost[127.0.0.1]
Feb 28 10:00:52 mail postfix/trivial-r

[2019-02-28 09:34] #1685 closed

[2019-02-28 21:55] danielsatanik opened #1687 "OpenDKIM no such file or directory; no permission"
# Impacted versions

* Modoboa: 1.13.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Enable DKIM Signing

# Current behavior

after just enabling

[code]

when I create a pem file with openssl genrsa etc. the following errors are shown

[code]

also this is what is written inside the public key in postgres

[code]
# Expected behavior

creating a valid private and public key and s

[2019-03-01 11:13] tonioo commented on #1687
@danielsatanik Can you check permissions of the /var/lib/dkim folder? Which user runs the cron job in charge of generating DKIM keys? What is you OS?

[2019-03-01 13:02] cremesk opened #1688 "account with forward settings keeps NO local copies when checkbox is marked"
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx
* OS: Debian 9

account with forward settings keeps NO local copies when checkbox is marked.

[2019-03-01 13:46] Arvedui commented on #1673
Great!

One thing though:
argon has 3 parameters
- number of iterations
- size of memory used
- number of threads

The libraries defaults are sensible as far as I can tell, but they should be tweak able.
Would it be acceptable if that could only be done in settings.py?

[2019-03-01 14:44] tonioo commented on #1673
@Arvedui I think so, we just need to provide acceptable default values.

[2019-03-02 17:05] PatTheMav opened #1689 "Encoder for imap_utf7 not compatible with PyPy"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce

1. Install PyPy
2. Execute `lib/imap_utf7.py` with PyPy directly
3. Observe errors

Alternatively:

1. Create a new virtual environment inside Modoboa's home folder with PyPy as interpreter
2. Install uWSGI and associated support files for PyPy compatibility
3. Run Modoboa
4. Use Webinte

[2019-03-02 19:30] danielsatanik commented on #1687
@tonioo the folder is owned by root:root, that was also suggested, the OS I'm running this on is Ubuntu 18.04LTS, the opendkim user runs the cronjob.

Do you need more detailed information?

[2019-03-03 11:42] #1687 closed

[2019-03-04 00:35] cremesk opened #1691 "Question: How can i activate 'Sync' for Shared-Domain Calenders?"
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

How can i activate Synchronisation for Shared-Domain Calenders in Thunderbird?
The Sync-Url do not work but i can download this manually with user-credentials.
https://mail.domain.com/radicale/domain.com/calendarname

(The User Sync-Setting is Enabled & User Local Calendars can synced.)

Thanks for Help

[2019-03-07 11:15] cremesk opened #1692 "'Reseller'-User cannot see all Account-Aliases for his Domain."
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

My 'Domainadmins'-User cannot see all Accounts (Users and Aliases) for his Domain.
He Cannot see the Domain-Reseller Account.

[2019-03-07 13:04] Zegorax commented on #821
@TildeSlashC0re Is it possible to change c0re/modoboa, c0re/modoboa-dovecot-alpine and c0re/modoboa-postfix-alpine to public on the Docker Hub ?

Thanks for your work !

[2019-03-07 15:21] tonyguadagno opened #1693 "new install getting 404 on static content"
hi, i just installed a brand new modoboa on a fully patched centos 7 server.  i used the automatic install which completed without error.  I am trying to get into the admin gui but the css and images are not painting....they are throwing 404's.....

I would appreciate any help in figuring out how to get this working....

thanks in advance!

[2019-03-07 15:30] tonyguadagno commented on #1693
ok, so i found the nginx logs and see this....why is there a permission issue?

`2019/03/07 10:15:25 [crit] 16967#0: *13 stat() "/srv/modoboa/instance/sitestatic/css/modoboa.png" failed (13: Permission denied), client: 192.168.168.205, server: mail.ffusa.com, request: "GET /sitestatic/css/modoboa.png HTTP/1.1", host: "mail.ffusa.com", referrer: "https://mail.ffusa.com/accounts/login/?next=/"
`

[2019-03-07 16:12] tonyguadagno commented on #1693
ok, so more poking around shows me that this is an selinux issue.....and i think this is caused by the fact that modoboa chose to put its web home directory in a non standard path (/srv/modoboa/instance).  i was able to find these commands and it seems to have fixed the issue...it seems these should be included in the installer?

[code]

[2019-03-07 19:56] tonyguadagno commented on #1693
update:  as it turns out, there are MANY other SELinux violations that get in the way of this working right....regrettable, i had to disable selinux.  I don't like doing this, but i don't have enough knowledge to fix all of it....
If anyone knows all the SELinux changes that need to happen, I would appreciate it, it would be nice if the install script could take care of this.

thanks

[2019-03-07 20:06] cremesk commented on #1693
you can check this: [Issue 198](https://github.com/modoboa/modoboa-installer/issues/198)

[2019-03-07 20:14] tonyguadagno commented on #1693
cremesk...GREAT, THANKS, I will try this!

[2019-03-07 20:32] #1693 closed

[2019-03-07 20:35] tonyguadagno opened #1694 "451 4.3.0 Error: queue file write error"
hi, i have a new install of modoboa on centos7.  i used the auto install and that went without issue.  I am trying to send a test message out and all messages produce the following error in the /var/log/maillog file:

`Mar  7 15:16:11 ffcplmail postfix/smtpd[6406]: proxy-reject: END-OF-MESSAGE: 451 4.3.0 Error: queue file write error`

can anyone point me in the right direction...it seems like a p

[2019-03-07 20:41] cremesk commented on #1694
I think the problem was caused by the SELinux issue. Or was the error after Issue [1694](https://github.com/modoboa/modoboa/issues/1694) created?

[2019-03-07 20:48] tonyguadagno commented on #1694
hi, this is after 1693....i don't think it is related to selinux, i do not see anything in the /var/log/audit/audit.log

[2019-03-08 08:18] tonioo commented on #1694
@tonyguadagno don't you have more information to provide?

[2019-03-08 08:23] tonioo commented on #1692
@cremesk It's normal. A Reseller account has more permissions than a Domain admin one. Is it the only content you don't see as domain administrator?

[2019-03-08 09:37] cremesk commented on #1692
Okay i Understand this.
Currently I see all Accounts from the Domainadmin but I think i see not alle Account Aliases every time.

[2019-03-08 12:24] TildeSlashC0re commented on #821
I will provide public images once this takes a bit more of a final shape.
Up until then you are advised to build the images locally, all of which are provided [here](https://gitlab.com/TildeSlashC0re/modoboa-dockerized/tree/devel/deps). Alternatively you can use the [helper script](https://gitlab.com/TildeSlashC0re/modoboa-dockerized/blob/devel/build-forked-images.sh) to build the images.

The fir

[2019-03-08 12:26] Zegorax commented on #821
Ahh perfect ! I was searching for the Dockefiles but I don't know how I could have missed them !

Thanks ! Will try it right away. I'll open issues / give you my feedback

[2019-03-08 12:40] tonyguadagno commented on #1694
tonioo, I would be happy to provide whatever you think would be helpful, I am not sure what that is....What would be helpful?

thanks again!

[2019-03-08 12:52] TildeSlashC0re commented on #821
I might add that the amavis build currently isn't baked into the docker-compose and that there still is quite some manual configuration ahead on an initial deployment.
All of which is undocumented as of now.

I'll gladly answer any issues and will look to build a basic documentation along the way.

[2019-03-08 13:17] cremesk opened #1695 "Question: Amavis User/Group Not Defined. Defaulting to EUID/EGID"
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
after reboot:

`tail -f /var/log/mail.info -n 100`

[code]

All works fine!
Can I ignore this or everyone has a "fix"?

Thanks

[2019-03-08 13:32] Zegorax commented on #821
For the moment when I start everything up I get a 400 Bad Request from Modoboa. Do you know the workaround maybe ?

[2019-03-08 14:04] TildeSlashC0re commented on #821
First run is something like this atm:
Initialize the database
[code]
You can exit the container when the setup scripts are executed.
Then you deploy modoboa itself.

[code]

`mysecretpassword` corresponds to the value you have specified for `POSTGRES_PASSWORD` in the docker-compose.yml

after the deployment you need to edit the config file `configs/settings.py` and add a database-block for amavis:

[2019-03-08 14:26] Zegorax commented on #821
Perfect thank you very much !
FYI : It is not necessary to edit amavisd.conf. When running Amavis, simply add a hostname parameters to the docker container and Amavis will use it.

Example to add to your docker-compose.yml :
amavis:
    image: c0re/modoboa-amavis-alpine
    hostname: example.com
    volumes:
      - ./data/amavis:/data

[2019-03-08 14:31] Zegorax commented on #821
The last problem present is this one with postfix and dovecot :

`modoboa-dovecot | doveconf: Fatal: Error in configuration file /etc/dovecot/conf.d/10-ssl.conf line 50: ssl_dh: Can't open file /etc/dovecot-local/dh.pem: No such file or directory
modoboa-dovecot exited with code 89
modoboa-dovecot | Keeping existing /etc/certs/fullchain.pem
modoboa-dovecot | doveconf: Fatal: Error in configuration

[2019-03-08 14:37] TildeSlashC0re commented on #821
ah yes! You need to supply the DH-parameters yourself. You can generate those by running
`openssl dhparam -out ./data/dovecot/config/dh.pem 4096`

[2019-03-08 14:57] tonyguadagno commented on #1694
this is the complete log if that helps

[code]

[2019-03-08 18:58] tonyguadagno commented on #1694
If anyone is interested, I figured out the issue.  upon further inspection i noticed that amavisd was not starting as the ports 10024 were not open.  I saw this in the message logs:
[code]
It is complaining about the name not being fqdn, so i looked an in fact, it was not set properly.  i used the command
`sudo nmtui`
to set the host name properly and restarted amavisd.  it now starts and as a res

[2019-03-08 18:58] #1694 closed

[2019-03-08 20:18] tonyguadagno opened #1696 "import existing dkim certs"
hi, i am interested in moving an existing mail system to modoboa.  in the existing system, i have many domains with dkim already set up.  i do not want to go through the hassle of changing all the dns txt records so i would like to configure modoboa to use the existing dkim certs...

how can this be done?
thanks

[2019-03-08 20:27] tonyguadagno opened #1697 "add ssl/tls certs to modoboa"
hi, i would like to add my signed cert to modoboa to be used for the web server gui as well as smtp/imap tls.  is there any docs on how this can be done?  i have looked and i don't see anything in the docs.

thanks

[2019-03-09 09:57] cremesk commented on #1692
Is currently no longer available.

[2019-03-11 10:43] Rhiannon81 commented on #1659
Hi, my fiter.d/modoboa.conf looks like this. Just the two lines, everything else is commented out.
[code]

[2019-03-11 15:47] tonioo commented on #1697
@tonyguadagno there is no documentation about this at the moment. How did you install modoboa? What's your distrib?

[2019-03-11 15:49] tonioo commented on #1696
@tonyguadagno There is no easy way to do this right now. What you can do is create a dkim key for your domain in modoboa, replace the generated key by yours on the filesystem and empty the public key stored in database.

[2019-03-11 15:52] tonyguadagno commented on #1697
i used the auto installer, i installed last week. i don't know how to tell the version.

thanks

[2019-03-11 16:03] tonioo commented on #1697
@tonyguadagno what your linux distribution?

[2019-03-11 16:16] tonyguadagno commented on #1697
sorry, centos 7, fully patched
btw, how do i tell the modoboa version?

[2019-03-11 16:52] tonyguadagno commented on #1696
yes, i suspected i would need to edit the database.  i am familiar with mysql but not postgresql, how do i login in to postgresql and what table needs to be changed?

thanks

[2019-03-11 18:25] tonyguadagno commented on #1697
hi, i found the information page, i am using modoboa 1.13.1

[2019-03-11 21:12] augustodv opened #1698 "Quota never update"
# Impacted versions

* Modoboa: 1.12.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
define a quota of 10 mb and fill the mail and then delete them.
# Current behavior
list quota is never updated. The emails were cleaned within the accounts that were reaching the limit but still show the same capacity always after restarting.
# Expected behavior
Once the account has been emptied o

[2019-03-12 11:15] y0va opened #1699 "Error on check_mx using verbose output"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes, on install, no on upgrade
* Webserver: Nginx

# Steps to reproduce

Execute `check_mx` with verbosity levels:

`python manage.py modo -v 3  check_mx`

# Current behavior
[code]

`python manage.py modo check_mx`

Runs without error.

# Expected behavior

I see what happens when running `python manage.py modo -v 3 mx_check`.

[2019-03-12 11:19] cremesk commented on #1699
Some here.
Is a know Issue: [1664](https://github.com/modoboa/modoboa/issues/1664)

[2019-03-12 11:36] y0va commented on #1699
No. As I wrote `python manage.py modo check_mx`completes **without** error on my system. It only fails if I pass the `-v 3` switch.

[2019-03-12 12:45] cremesk commented on #1699
Okay thanks, good to know.

[2019-03-12 16:54] augustodv commented on #1698
I made the update to the latest version of all the components and the core and the problem persisted.

[2019-03-13 08:26] stefaweb opened #1700 "Problems in GUI (javascript error and port closed)"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx
* OS: Debian Stretch
* Safari and Chrome OSX

With Safari OSX, we have this error message when using GUI. I've have it logged or not.

`Failed to load resource: the server responded with a status of 404 (Not Found)`

The system look for bootstrap.min.css.map but this file with .map do not exist.

![sc](https://user-ima

[2019-03-13 18:42] cremesk commented on #1692
The Reseller-Account cannot see all Aliases.
For the Domain-Admin is this not a problem. He see all Accounts and Aliases.
Is this okay?

Thanks

[2019-03-17 12:17] cremesk commented on #1692
@tonio The Reseller- and the Domainadmins- Account cannot see all Aliases.
The i change downgrade the Domainadmins to an Simple User and than renew the Permission to Domainadmins for the Domain is the Problem fixed.

[2019-03-17 12:20] tonio commented on #1692
`s/@tonio/@tonioo` (-;

[2019-03-19 08:18] tonioo commented on #1697
For the web part, you'll find the configuration in /etc/nginx/conf.d/.
For the smtp part, it will be in /etc/postfix/main.cf
For the imap part, it will be in /etc/dovecot/conf.d/10-ssl.conf

[2019-03-19 08:19] tonioo commented on #1696
I guess you should find a lot of articles explaining how to connect to a postgres database on the web. The table you need to modify is admin_domain.

[2019-03-20 14:07] cremesk opened #1702 "Postgresql: could not accept SSL connection: Success"
No bug! Only for security.

# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
[code]

Hey, my Postgresql with default modoboa settings show this log.
How can i fix ssl for postgresql?
Steps:
- Needs to change Hostname to fqdn (settings.py)?
- change postgresql settings to currently used letsencrypt cert?

Thanks

/srv/modoboa/instance/instance/set

[2019-03-20 14:53] tonioo commented on #1702
@cremesk Is your server loaded?

[2019-03-20 14:56] cremesk commented on #1702
@tonioo yes all work correctly and is online.
But I think more secure is good ;)

[2019-03-20 15:33] tonioo commented on #1702
@cremesk By loaded I mean under heavy charge. Maybe not enough resource?

[2019-03-20 16:00] cremesk commented on #1702
@tonioo my bad. No i think it all okay.
[code]

[2019-03-20 16:23] tonioo commented on #1702
@cremesk How many users do you have?

[2019-03-20 16:24] cremesk commented on #1702
@tonioo

Identities | 54

[2019-03-20 16:27] cremesk commented on #1702
[code]

[2019-03-20 16:28] tonioo commented on #1702
And they all have active IMAP/SMTP connections? Maybe you could tune your postgres config a bit if it is not already done
(https://friendsmeet.win/posts/662)

[2019-03-20 16:38] cremesk commented on #1702
Not all. may 20 connections.
I have try this. Same Issue.

[2019-03-21 11:39] cremesk opened #1703 "Webmail in Reseller admin@domain.com Acc. cant open mail correctly"
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
WebMail -> open Mail

# Current behavior
Webmail in **_Reseller_** admin@domain.com Acc. cant open mail correctly. (Problem is only on this Account)
(also in other directory. not only in 'DMARC_Reports')
[code]

[code]

**Webmail looks good before open the mail:**
![modoboa_reseller_webmail](https:

[2019-03-21 12:21] cremesk commented on #1702
My postgresql.conf:

4 CPU's | 6GB RAM + 4 GB SWAP | SSD

[postgresql.txt](https://github.com/modoboa/modoboa/files/2991971/postgresql.txt)

[2019-03-21 13:41] tonyguadagno commented on #1697
thanks, this helped!

[2019-03-21 13:41] #1697 closed

[2019-03-21 13:46] tonyguadagno commented on #1696
sorry, i guess i should have been more specific...where do i find the postgres user password? so i can login?

thanks

[2019-03-21 13:57] cremesk commented on #1696
@tonyguadagno in the '/<path to modoboa>/instance/instance/settings.py' after line ~160 you can find the database informations.

[2019-03-21 14:11] tonyguadagno commented on #1696
yes, that's it! thanks

[2019-03-21 14:11] #1696 closed

[2019-03-21 20:13] cremesk opened #1704 "forward a email-address to a other server?"
# Impacted versions

* Modoboa: 1.3.1
* installer used: Yes
* Webserver: Nginx

Hello,
Question.. how can i forward a email-address to a other server?
news@domain.com (mailman email on modoboa) -> to mailman-server ?

/etc/postfix/main.cf
[code]
/etc/postfix/transport
[code]

**and**

[code]
is that all i need?

Thank You so much

[2019-03-22 11:14] tonioo commented on #1702
@cremesk Unfortunately I'm not a postgres expert... @kryskool Do you have any idea?

[2019-03-22 12:10] tonyguadagno opened #1705 "how do i configure relay settings?"
Hi, I am running Modoboa 1.31 using the installer on centos7 an nginx.

I need to allow devices on the local network to relay through the server without authenticating.  where is this configured?  is it really just a postfix config?  is this exposed in the gui?

thanks

[2019-03-22 12:14] cremesk commented on #1705
@tonyguadagno you need to add our 'remote-ip' to mynetworks in:

/etc/postfix/main.cf
`mynetworks = 127.0.0.0/8 remote-ip`

and
`systemctl reload postfix`

[2019-03-22 12:37] tonyguadagno commented on #1705
thanks for the info, that worked!

[2019-03-22 12:37] #1705 closed

[2019-03-22 15:02] tonyguadagno opened #1706 "cannot send/reply to emails"
hi, i have just installed modoboa 1.13.1 using the auto installer on centos 7 with nginx.  I have it working and receiving emails.  i just noticed that i cannot compose or reply to emails using the web client.  For example, if i receive an email and hit reply (or reply all), i then add text to the body and hit send.  immediately, the from and to fields go blank and nothing else happens.  the email

[2019-03-22 17:05] tonyguadagno opened #1707 "can webmail be the default after login"
hi, i am using modoboa 1.13.1 installed with the autoinstaller on centos7/nginx.

I have noticed that when users login, they land on the profile settings.  I would like them to land in webmail, is there a way to do this?

thanks

[2019-03-24 19:39] hihachi123 opened #1708 "User unknown if from additional domain"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Installed on a new server with the latest version pulled via git.
run.py run with first domain
added second domain
created user with email-address:

username@seconddomian.tld

and created user with
username@firstdomain.tld

sent email to both email-adresses.

# Current behavior

User with domain w

[2019-03-25 15:07] tonioo commented on #1708
@hihachi123 Might a verify cache issue. Looks like you tried to send a message to this account before it was created. Postfix will then keep a cache entry for a given amount of time... You can wait for cache expiration or remove the cache file. See http://www.postfix.org/verify.8.html for more info.

[2019-03-25 15:09] tonioo commented on #1707
@tonyguadagno yes, check online parameters, you find one name "Default top redirection".

[2019-03-25 15:09] #1707 closed

[2019-03-25 15:10] tonioo commented on #1706
@tonyguadagno Have you checked all issues related to CentOS and SELinux?

[2019-03-25 15:11] tonioo commented on #1704
@cremesk Yes, it is a good way to route an email address to another server.

[2019-03-25 15:12] tonyguadagno commented on #1707
great, thanks!

[2019-03-25 15:13] tonioo commented on #1703
@cremesk Have you tried to open the exact same email with every account?

[2019-03-25 15:22] tonyguadagno commented on #1706
i think it is not selinux, there seems to be no alerts in the logs:
[code]
as for the os logging, all i see is this, and I am not sure it is indicating anything
[code]

[2019-03-25 15:43] cremesk commented on #1703
@tonioo not exactly the same but also Domain-Reports from Google.com. On other Accounts it works.

And i see i can not "forward messages" from the Resseller Account.
Compose Messages works.

[2019-03-25 15:44] cremesk commented on #1704
Thank you. I have test it this weekend. Works fine!

[2019-03-25 20:11] tonyguadagno opened #1709 "old version postfix, anyone using postfix 3?"
hi, i set up a modoboa 1.13.1 server using the autoinstall script on centos 7.  i noticed that the postfix version provided by centos7 is really old, (2.10).  I am interested in getting postfix 3.x on my server, does anyone know of any issue with postfix 3 and modoboa?  do i need to worry about compatibility?

thanks

[2019-03-26 10:26] tonioo commented on #1709
@tonyguadagno Modoboa works fine with postfix 3+.

[2019-03-26 10:26] #1709 closed

[2019-03-26 11:58] tonyguadagno commented on #1709
thanks for the info

[2019-03-27 05:07] hihachi123 commented on #1708
Hi there,

that did the trick!

Thanks!

Greetings

Marcel
--
Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 25.03.19, 16:08, Antoine Nguyen <notifications@github.com> schrieb:
@hihachi123 Might a verify cache issue. Looks like you tried to send a message to this account before it was created. Postfix will then keep a cache entry for a given amount of time... You

[2019-03-28 19:03] Th0rGer opened #1710 "Internal Server Error"
# Impacted versions

* Modoboa: i think 1.12.2
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Dont know/ Maybe a upgrade ?

# Current behavior
on web page:
Internal Server Error

# Expected behavior
?

# Traceback

  File "/srv/modoboa/instance/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/

[2019-03-28 21:39] cremesk commented on #1702
I take a look in my /etc/postgresql/9.6/main/pg_hba.conf

i need to add and try this line?
`hostssl    all             all             127.0.0.1/32            md5`

[code]

[2019-03-29 11:01] cremesk commented on #1702
I try this. But i have the same issue.

[2019-03-30 18:55] WhereIsPedro commented on #1398
Hi,

After months, I would like to refresh this problem with observations about Polish letters like "ŻŹĆŃÓŁŚĄĘ żźćńółśóę ..."

As you asked, yes, db has been set as UTF8MB4

![image](https://user-images.githubusercontent.com/8850576/55280143-b0fe6900-5321-11e9-807a-f76476cb2635.png)

![image](https://user-images.githubusercontent.com/8850576/55280148-bb206780-5321-11e9-86f7-01b69dcaeb15.png)

As r

[2019-03-31 20:29] JustSquiddy opened #1711 "Change the Favicon of Modoboa"
Hi,
is ist possible to change the favicon of the mail server?
Thanks!

[2019-04-01 11:39] WhereIsPedro opened #1712 "quarantine, during adding to spam / ham I get: [object Object] after upgrade"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Upgrade from 1.10.x to 1.13.1 + upgrade Ubuntu 16.04 LTS

# Current behavior
During marking emails as spam / ham I get an error "[object Object]"
Can't replicate on fresh instance with new OS

# Expected behavior

# Video/Screenshot link (optional)
![image](https://user-images.githubusercontent.co

[2019-04-03 15:39] willfurnell opened #1713 "Postfix and dovecot sub addressing"
Hi,
I've been looking into sub addressing with Modoboa and Postfix. I can see that the 'recipient_delimiter = +' parameter is there, and recieveing emails works fine to addresses like mail+test@example.com.

However, I'd like the message sent to this address go to a folder called test (either inside or outside the INBOX folder). Looking at this stackoverflow post, adding the -m argument to dovecot

[2019-04-04 00:50] estecaes opened #1714 "Cannot create identities on a fresh install with modoboa-installer"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Clean installation on a 2GB linode with Debian 9
I customized the installer.cfg  with the next parameters:

[code]

after installation without errors, through the admin panel create a domain and try to create a identity

# Expected behavior
Create correctly a user

# Current behavior
after set DEB

[2019-04-04 01:53] nephthys commented on #1714
Same error...

I made a fresh install too (Debian 9.8 and Ubuntu 18.04).

[2019-04-04 22:20] estecaes commented on #1714
Thanks, that worked. But as you say, that fixes the error temporarily.

[2019-04-05 19:57] cremesk commented on #1702
@tonioo small update:
`[unknown]@[unknown] LOG:  could not accept SSL connection: Success`
Meens we use a plain connection not secured with ssl.

To Setup a SSL-Connection we need this setup:
[https://www.postgresql.org/docs/9.6/ssl-tcp.html](https://www.postgresql.org/docs/9.6/ssl-tcp.html)

[2019-04-07 01:13] jforce commented on #1625
I have the same issue

[2019-04-07 01:17] jforce commented on #1625
cat /var/log/uwsgi/app/modoboa_instance.log
Sun Apr  7 03:15:33 2019 - WSGI app 1 (mountpoint='mail.domain|') ready in 2 seconds on interpreter 0x55a096eb0590 pid: 9941
Sun Apr  7 03:15:33 2019 - !!! uWSGI process 9941 got Segmentation Fault !!!
Sun Apr  7 03:15:33 2019 - *** backtrace of 9941 ***
/usr/bin/uwsgi(uwsgi_backtrace+0x2a) [0x55a095ef798a]
/usr/bin/uwsgi(uwsgi_segfault+0x23) [0x55a095ef

[2019-04-09 17:15] kryskool commented on #1702
Hi @cremesk

Try:
max_connections = 200
work_mem = 12MB
maintenance_work_mem = 128MB
wal_buffers = 64MB
effective_cache_size = 512MB
# To log slow query on postgresql.log
log_min_duration_statement = 100

It's not a good idea to enable SSL on localhost, use it only on remote PostgreSQL Server

Regards,

[2019-04-10 14:35] Dablakbandit opened #1715 "Unable to install"
* Modoboa: Latest
* installer used: Yes
* Webserver: Nginx
* Ubuntu 18.04.2 LTS

# Steps to reproduce
I tried to install multiple times due to 501 bad gateway and deleted the /srv/modoboa folder now am unable to install again

# Current behavior
[1;32mWelcome to Modoboa installer!
[0m
[1;36mWarning:
Before you start the installation, please make sure the following DNS records exist for domain '

[2019-04-10 14:46] Dablakbandit commented on #1715
Nvm fixed this by deleting the group aswell, will post my 502 gateway once it finishes installing again

[2019-04-10 14:46] #1715 closed

[2019-04-10 15:02] Dablakbandit opened #1716 "502 Bad Gateway"
# Impacted versions

* Modoboa: Latest
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install on Ubuntu 18.04.2 LTS

# Current behavior
Link to log:
[test.log](https://github.com/modoboa/modoboa/files/3064434/test.log)

# Video/Screenshot link (optional)
![image](https://user-images.githubusercontent.com/5752611/55889988-0a11ab00-5c06-11e9-8ba0-d9032d09d8d4.png)

[2019-04-12 04:01] JPerryJr opened #1717 "Domain Admin cannot add users: Quota Limit Reached"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx
* Database: Postgresql w/additional steps followed (Default, Trigger, etc)

# Steps to reproduce
Create a domain (e.g. na.example.com)
Create multiple domain admins (e.g. bill@na.example.com, joe@na.example.com)
Log in as Bill@na.example.com and attempt to create a new regular user/mailbox.  Mailboxes: limit reached

#

[2019-04-13 11:21] mertowitch opened #1718 "Autoconfig xml correction for domainname in <hostname> field"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

# Current behavior

[code]

# Expected behavior
[code]

for fix => in **/etc/automx.conf**

find this =>
[code]

replace with =>
[code]

Thanks.

[2019-04-18 17:02] sibuxiang opened #1719 "Internal Error when trying to open mail with attached files with accent mark on filenames"
# Impacted versions

* Modoboa: 1.31.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Send a pdf file with a name including an accent mark on vowel (Ex. canción)

The email receiver(modoboa user) can't open the mail getting a little box saying "internal error"

This is a problem when spanish speaking clients are using the mail client, sending and receiving files with accent marks i

[2019-04-19 13:19] sorgonas opened #1720 "django.db.utils.OperationalError"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes ?
* Webserver: Nginx

Hello,
I get mail from my server with the error text:
`
Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/management/__init__.py", line 364, in execute_from_c

[2019-04-19 21:09] vac commented on #1638
api.modoboa.org certificate looks fine today but I'm still receiving `CommandError: Failed to retrieve versions from the API.` :(

[2019-04-20 07:24] stefaweb commented on #1638
Same here. I have the error message many times per day.

[2019-04-21 18:15] yannfill opened #1721 "Remove bad.psky.me from DNSBL providers"
You should remove bad.psky.me from DNSBL providers list. It was [fishy at first](https://www.spamhaus.org/organization/statement/015/fraudulent-dnsbl-uncovered-protected-sky-bad.psky.me) and now the domain seems to have been drop catched, with website displaying a parking page. It then results in false alert in Modoboa RBL check.

[2019-04-21 19:45] Lucidi0us commented on #1721
Today I had about 13 emails from Modoboa about bad.psky.me DNSBL check.  I agree with @yannfill that this one needs to go.  It was considered fraudulent for a while (see: https://www.spamhaus.org/organization/statement/015/fraudulent-dnsbl-uncovered-protected-sky-bad.psky.me ).

[2019-04-22 20:34] ewenjo commented on #1721
I agree with this. Got tons of emails yesterday that my private IPs were listed by them, which are false positives.

[2019-04-23 00:40] dugite-code commented on #1721
For thoes waiting you can manually disable a DNSBL in the `settings.py by adding the following snipit:

[code]
From: https://github.com/modoboa/modoboa/issues/1496#issue-326768587

[2019-04-24 13:16] dym-sh commented on #1721
/rel https://hetrixtools.com/forum#/discussion/91/bad-psky-me-inactive-removed

[2019-04-24 13:51] almereyda commented on #1721
Is the solution via `settings.py` to be preferred over the solution presented in the PRs #1722 #1723 #1724?

[2019-04-25 14:36] tonyguadagno opened #1725 "clicking off windows dismisses window"
hi, i am using Modoboa 1.13.1 installed with auto installer on CentOS7/Apache

i have noticed that if you are in the middle of a task (for example, creating a new account) and accidentally click on the background tab (instead of the create account window) it dismisses the window and treats it like a cancel.
  In my opinion, it should just ignore that click and let you proceed.
![image](https://use

[2019-04-25 14:59] mertowitch commented on #1725
Why does we need this?

[2019-04-25 15:17] tonyguadagno commented on #1725
Hi, I am not sure I understand your comment, but I feel it is important because I often accidentally click short of the "next" button, or tap my touch pad, which causes me to loose my work.  I think it makes more send (to me at least) for the behavior to be "ignore" rather than "cancel"

[2019-04-26 21:31] cl-parsons opened #1726 "use of doveadm blocks using modoboa on his own server"
I just discovered today, by trying to change the password scheme in modoboa, that it would check the available dovecot password schemes by launching the doveadm command.

I run modoboa on his own server, to avoid interfering with my postfix/dovecot setup. Since doveadm is a local tool on the dovecot server, it is not possible for modoboa to check the available schemes, and therefore, to change de

[2019-04-27 16:36] mamair commented on #905
Thanx, worked for me too. Resetting password via webinterface seemed not to work, didnt get the email with the resetting instruction ... (since half an hour or so)

[2019-04-27 16:41] mamair commented on #905
Background of my problem: I want to run nginx behind hiawatha as reverse proxy and change the prts of nginx so my password was not available in my browser any more ... hope there are no problems in running other modoboa web interface on other ports

[2019-04-29 00:52] dugite-code commented on #1721
@almereyda the `settings.py` solution is just while you wait to update to the next version of modoboa. It's just how you can customize you DSNBL for you individual system.

[2019-04-29 08:49] almereyda commented on #1721
#1722 has been merged. Can this be closed?

[2019-04-29 08:56] #1721 closed

[2019-04-29 09:13] tonioo commented on #1717
@JPerryJr Can you check the limits defined for the user you're using?

[2019-04-29 10:02] tonioo commented on #1720
@sorgonas I guess Modoboa and Postgres are hosted on the same server, right? Have you tried to restart postgres?

[2019-04-29 10:03] tonioo commented on #1719
@sibuxiang Can you please move this issue to the right repository please? (https://github.com/modoboa/modoboa-webmail)

[2019-04-29 10:07] tonioo commented on #1718
@mertowitch Ok I see. Do you know if SPLIT_PART is available for MySQL ?

[2019-04-29 10:12] tonioo commented on #1718
Ok, I found. https://github.com/modoboa/modoboa-installer/commit/688c7744af8db6e4bf06fa062ac38cf98a798baf.

[2019-04-29 10:12] #1718 closed

[2019-04-29 10:17] tonioo commented on #1716
@Dablakbandit Have you checked if uwsgi is running?

[2019-04-29 10:18] #1708 closed

[2019-04-29 10:19] tonioo commented on #1710
@Th0rGer Try to upgrade your installation to the latest version please.

[2019-04-29 10:52] sorgonas commented on #1720
@tonioo yes I have both on the same server. I often had to restart this completely. At the moment I have not received any further mail regarding this, suddenly it has stopped appearing in the mail. hope this stays that way and has done itself ;-)

[2019-04-29 10:52] #1720 closed

[2019-04-29 11:36] tonioo commented on #1711
@JustSquiddy There is no builtin way to change the favicon. I guess you can replace it using a apache/nginx rewrite rule.

[2019-04-29 11:36] #1711 closed

[2019-04-29 11:37] tonioo commented on #1702
@cremesk Is it better now?

[2019-04-29 11:44] tonioo commented on #1625
@jforce Your issue looks different, have you updated the psycopg2 package recently?

[2019-04-29 11:59] tonioo commented on #1713
@willfurnell Have you tried with a sieve filter?

[2019-04-29 13:47] sibuxiang commented on #1719
Wrong repo. Sorry

[2019-04-29 13:47] #1719 closed

[2019-04-29 15:02] Th0rGer commented on #1710
I have.. works fine now. Only that i cant allow spam mails from the qarantane to gow through.

[2019-04-29 19:24] willfurnell commented on #1713
I've had a look at the sieve filters interface, but I can't see how to match on +<variable> and then put it in the folder <variable> - as you can't get the <variable> part out?

[2019-04-29 20:04] willfurnell commented on #1713
Is there some way to enter plain raw text in the interface? In that case I could probably write a filter for it. :)

[2019-04-30 09:05] Fuquan999 opened #1727 "New Install on Ubuntu server 18 lts"
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

[2019-04-30 09:06] cremesk commented on #1727
what is the issue?

[2019-04-30 09:12] Fuquan999 commented on #1727
Hi All

Hoping someone can fill me in on the blanks on this one. I have just installed Modoboa email and at the end of the install I get the "Congratulations ....." but when I try to access the server using the https://mail. part I am not able to go anywhere. Take off the "mail." part from the URL and the servers Nginx web page is reachable.

If someone could point me in the right direction as to

[2019-04-30 09:31] cremesk commented on #1702
sorry for the delay..

Yes it works fine.
I think the "problem" was only:
`ssl = true                              # (change requires restart)`

[2019-04-30 12:16] jammo-nl commented on #1727
From your description is looks like you do not have a DNS entry for your mail host..
Does not look like a modoboa bug, but a configuration issue..

[2019-04-30 17:51] lmfrazao opened #1728 "Can't edit domain"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce
edit domain, change anything and press update

# Current behavior
nothing happens, and doesn't save changed items or values, and window continues open

# Expected behavior
close window and save domain definitions

How can I debug this ?

thanx.

[2019-04-30 18:41] Fuquan999 commented on #1727
Hi Jammo,

Thanks for the feedback. I did check in the dns records and although I had an entry both A and MX records there was a second entry there for some smtp as both MX and A records which after I deleted them then Modoboa was accessible on the admin side.

However, if any one can still help me identify where to locate the "settings.py" file in order to make custom changes as I cant seem to fi

[2019-05-02 07:54] proto opened #1729 "qcleanup error TypeError: '<' not supported between instances of 'memoryview' and 'memoryview'"
# Impacted versions

* Modoboa: 1.13.1
* installer used: No
* Webserver: Nginx
* DB: postgresql 10.7

NOTEs: FreeBSD install

# Steps to reproduce
CRONTAB: qcleanup
MANUAL: VENV_PATH/python INSTANCE/manage.py qcleanup --debug --verbose

# Current behavior

[code]

[code]

Manual clean via Web interface is working.

# Expected behavior
Should clean.

[2019-05-02 17:48] fresH229a opened #1730 "Some issues during Auto-installation"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Reinstall on Debian 9.9
[code]

[code]

[code]

Modoboa installation runs through, and modoboa is working but what are those errors o.O

[2019-05-02 18:32] fresH229a commented on #1730
I have ran now those 3 commands before the Modoboa Install:

[code]

Still the same issue during installation

[2019-05-02 18:39] fresH229a opened #1731 "Default Password shema bug?"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

![2019_05_02_20_37_32_Modoboa_settings](https://user-images.githubusercontent.com/35875328/57098369-470b2200-6d1a-11e9-852a-3ff5b5bc439b.png)

I got an error on the inital Setup that the sha256 is not a valid shema.
After reloading the page, there is only plain

[2019-05-02 18:41] fresH229a commented on #1731
If I select Logs and  go back to Parameters I have this:
![2019_05_02_20_40_29_Modoboa_settings](https://user-images.githubusercontent.com/35875328/57098526-99e4d980-6d1a-11e9-829c-208a74dcdb20.png)

If I press save this:
![2019_05_02_20_41_12_Modoboa_settings](https://user-images.githubusercontent.com/35875328/57098545-a8cb8c00-6d1a-11e9-8f81-5f2f75356f4d.png)

[2019-05-03 11:06] mertowitch commented on #1730
Use Centos 7.
Ubuntu not good for web and mail server.

[2019-05-03 13:41] fresH229a commented on #1730
@mertowitch I use Debian, not Ubuntu

[2019-05-03 14:17] mertowitch commented on #1730
Debian=Ubuntu
what is differences?

[2019-05-03 14:33] fresH229a commented on #1730
Ubuntu is based on Debian, it is not Debian at all but that is not the question here....

[2019-05-04 08:04] mundschenk-at commented on #1638
It's happening for me right now (didn't see the messages two weeks ago).

[2019-05-04 12:53] ddiguru commented on #1638
Same here for the last two (2) days

[2019-05-04 20:24] stefaweb commented on #1638
Many every days.

And now every hour.

![sc](https://user-images.githubusercontent.com/12907102/57184387-25956c00-6ebb-11e9-91b0-00edd8e3e15c.png)

[2019-05-04 21:45] borisdigital commented on #1728
Hm, sounds like my problem here.
There is exactly one domain (my first/main) which can't be updated/edited.

I tried the following from this comment in another thread, which didn't do the trick for me.
https://github.com/modoboa/modoboa/issues/1289#issuecomment-343240019

I'm also looking for an easy way to get some debug info or helping logs.

[2019-05-04 23:14] PatTheMav commented on #1638
@stefaweb Certificate seems to be expired again. As the cron runs once per hour, we'll be getting those errors until the certificate is renewed (and hopefully `acme.sh` instead of `certbot` is properly configured on that host 😬).

[2019-05-06 09:51] tonioo commented on #1730
@fresH229a Can you try to install the zlib1g-dev package and restart the installer?

[2019-05-06 09:53] tonioo commented on #1731
@fresH229a Are you sure your installation is complete?

[2019-05-06 09:54] tonioo commented on #1729
Duplicates https://github.com/modoboa/modoboa-amavis/issues/115

[2019-05-06 09:54] #1729 closed

[2019-05-06 09:55] #1702 closed

[2019-05-06 09:55] tonioo commented on #1713
@willfurnell Yes. Go to user preferences, sieve tab and select raw format for editor.

[2019-05-06 09:56] tonioo commented on #1710
@Th0rGer Do you have more information?

[2019-05-07 18:01] fresH229a commented on #1730
I solved it by doing those 3 actions before Modoboa installation:

apt-get install python3-dev python3-setuptools libjpeg8-dev python-virtualenv python-pip
apt-get install python-pip
pip install --upgrade --force-reinstall Pillow

All is fine now :)

[2019-05-07 18:21] Th0rGer commented on #1710
When i want to accept a mail to go out from qarantane it says "undefined" when i press the button. Which information i can give you?

[2019-05-08 10:40] johnmays4545 commented on #1624
How do we allow modoboa connection to it's api? What config file do I need to modify

[2019-05-08 10:51] johnmays4545 commented on #1680
Was this issue ever resolved, I am currently experiencing the same error?

[2019-05-08 14:33] johnmays4545 commented on #1624
Solution for this issue on my server was to disable Firewall blocking countries outside the USA

[2019-05-09 11:47] WhereIsPedro commented on #1712
Solved:
in /etc/mail/spamassassin/local.cf should be 1 instead 0.
`use_bayes 1   `

[2019-05-09 11:47] #1712 closed

[2019-05-09 13:14] #1624 closed

[2019-05-09 19:42] alexander255 commented on #1296
Thank you, this helped me figure out why viewing messages did not work on my instance.

[2019-05-09 19:49] CyberfoxDK opened #1733 "can no longer add/remove users"
# Impacted versions

* Modoboa: X.X.x  |   1.13.1 (upgraded from the original 1.9.0)
* installer used: Yes/No ? |   Yes
* Webserver: Nginx/Apache | Nginx

# Steps to reproduce  |  dont know

# Current behavior  |  mailflow working, but cant add any domain users after adding domain. (but able to create alias for the new domain...  )
admin@newdomain.x is automatically created when the domain was.

#

[2019-05-09 20:10] CyberfoxDK commented on #1733
Note on closing this ticket.
updated pip to newest version and followed the first few steps on updating modoboa.
https://modoboa.readthedocs.io/en/latest/upgrade.html#modoboa

Now everything works again.

[2019-05-09 20:10] #1733 closed

[2019-05-10 13:20] CyberfoxDK commented on #1714
Had the same problem, and reinstalling pillow 5.4.1 fixed it.

[2019-05-11 03:51] Puyodead1 opened #1734 "SMTP gmail connection timed out"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Regular install following linuxbabe

# Full trace using --debug option or current behaviour
Currently keep getting:
[code]
Cant receive/send emails
I tested using a mail relay and it works fine but i would rather not use a relay if i dont have too

# Expected behavior
mail sends as expected

[2019-05-11 04:32] Puyodead1 commented on #1734
And yes, port 25 is open along with 587, 143.

[2019-05-12 13:45] DPR1604 opened #1735 "DNSBL bad.psky.me"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes/No ? Yes
* Webserver: Nginx

# Steps to reproduce
Run DNSBL check

# Current behavior
Showing listed in bad.psky.me
# Expected behavior
Not showing to be listed as with everywhere else
# Video/Screenshot link (optional)

To add to this you may want to remove the Database from your checks as it was found to be Fraudulent by spamhaus https

[2019-05-12 20:29] Razorblade12 commented on #1680
@johnmays4545
No, unfortunately not. I did not hear anything since my last post.
I think this might be a nginx configuration issue as I recently had the same issue with a different nginx site. So there must be something specific with the webserver.

[2019-05-13 08:07] dugite-code commented on #1735
Duplicate https://github.com/modoboa/modoboa/issues/1721

[2019-05-13 09:06] hadifarnoud commented on #1320
is this effort stopped?

[2019-05-13 09:07] hadifarnoud commented on #638
I think having a proper backup/restore functionality is a core feature. would be best to have it inside Modoboa

[2019-05-13 09:46] #1735 closed

[2019-05-13 09:49] tonioo commented on #1734
@Puyodead1 Sorry but this issue is not related to Modoboa but to your environment...

[2019-05-13 09:49] #1734 closed

[2019-05-17 07:33] tonioo commented on #1731
@fresH229a CAn you check that the modoboa system user is allowed to run the following command:
[code]

[2019-05-17 07:35] tonioo commented on #1728
@lmfrazao @borisdigital You can set DEBUG to True inside the settings.py file, reload uwsgi and then open the debugger of your browser and look at the network tab. Look for requests returning a 500 code and check the response content please.

[2019-05-17 07:36] tonioo commented on #1727
@Fuquan999 if you used the installer, the file is located at /srv/modoboa/instance/instance/settings.py.

[2019-05-17 07:36] #1727 closed

[2019-05-17 10:54] fresH229a commented on #1731
@tonioo  everything is fine on my system now since I did install those packages before installing modoboa.
No issue, Mail works fine

[2019-05-17 21:02] JPerryJr commented on #1717
I'm logged in as admin (superadmin) when I get the error.  Is there another way to do this?

[2019-05-18 12:20] borisdigital commented on #1728
Hey @tonioo, thanks for your help in advance. This is what i'm getting in the debug/network tab.

DoesNotExist at /admin/domains/1/edit/
Users matching query does not exist.
...
(check attachment for full message)

[modoboa.log](https://github.com/modoboa/modoboa/files/3194044/modoboa.log)

[2019-05-18 16:37] JPerryJr commented on #1717
I figured it out.  I went back and removed all quotas at the domain level.

Thx

[2019-05-18 16:37] #1717 closed

[2019-05-18 22:16] koper89 opened #1736 "Cron error manage.py modo check_mx error since 1.13.1"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Upgraded from 1.12.0 to 1.13.1

# Current behavior
Got cron error every 30 minutes:

# Expected behavior
No error

# Video/Screenshot link (optional)

[2019-05-20 15:53] DaveDischord commented on #1731
What if it doesn't run correctly?

[2019-05-21 15:48] lmfrazao commented on #1728
on my side this is what's happening:
DoesNotExist at /admin/domains/115/edit/
Users matching query does not exist.

[2019-05-21 16:05] lmfrazao commented on #1728
**update:**
what I was trying to do was activating the DKIM for a domain, on new domains is ok, on older isn't.
but, if I open the domain, press update,
and then when I activate DKIM, it worked.

from what it seems, on second time you press update it starts working.

Before this was working I did the steps here: [https://github.com/modoboa/modoboa/issues/1289#issuecomment-343240019](url)

[2019-05-21 16:15] lmfrazao opened #1737 "Quota emails to users"
# Impacted versions

    Modoboa: 1.13.1
    installer used: Yes/No ? Yes
    Webserver: Nginx

# Current behavior

no quota mails are sent to nowhere.

# Expected behavior

send quota emails at 90% or other value

# Video/Screenshot link (optional)

How can I debug this situation ?
This should be related to dovecot, I've done the needed configurations but no mails are sent ever.

can you help ?

[2019-05-21 20:26] CyberfoxDK commented on #1455
Agree with inas3.
One thing to take into consideration, is of cause that imap or pop3 connections should not prompt for 2fa.
Only the webmail / admin site

[2019-05-23 00:03] warsix4 opened #1738 "Cannot access web interface"
# Impacted versions

* Modoboa:1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

0. Use CaddyServer as reverse proxy
1. Install Debian 9.4
2. Use modoboa-installer
3. Access domain (e.g., mail.example.com)

# Current behavior

"TOO_MANY_REDIRECTS" error when using domain name after initial setup.

# Expected behavior

Access to the web interface.

# Video/Screenshot link (opti

[2019-05-23 01:47] warsix4 commented on #1738
This issue's resolution solved my problem.

https://github.com/modoboa/modoboa-installer/issues/257

[2019-05-23 01:47] #1738 closed

[2019-05-23 13:32] warsix4 commented on #1721
Supposedly this is fixed, however I am getting notified about this every few hours still with a fresh installation. Any reason it's persisted still?

[2019-05-23 15:58] DaveDischord opened #1739 "Internal Error While Testing"
# Impacted versions

* Modoboa: Latest
* installer used: Yes ?
* Webserver: Nginx

# Steps to reproduce
On The Admin page, Modoboa -> Parameters -> Webmail, changed 'Secured connection mode' to "None" from "SSL/TLS"
# Current behavior
All sites display with **Sorry. An internal error occured.**
[code]
# Expected behavior
Ability to open up admin page and correct settings if needed.  I couldn't sen

[2019-05-24 13:14] DaveDischord commented on #1739
Figured out my dovecot ldap set-up was wrong.  No issue.  Although to note, when trying to trouble shoot, there are a lot of instances where a small change can lead to this Internal Error, and I'm unable to change settings in the web interface.  Where can I go to  make those some GUI parameters internally, like via CLI?

[2019-05-24 13:14] #1739 closed

[2019-05-27 09:06] tonioo commented on #1721
@warsix4 Because it has not been released yet.

[2019-05-27 09:08] tonioo commented on #1737
@lmfrazao Have you tried dovecot mailing list?

[2019-05-27 09:10] tonioo commented on #1731
@DaveDischord it means modoboa won't be able to find which algorithms are available...

[2019-05-27 09:12] tonioo commented on #1736
@koper89 Please run upgrade instructions:
https://modoboa.readthedocs.io/en/latest/upgrade.html#modoboa

[2019-05-27 09:12] #1736 closed

[2019-05-27 10:01] pubmania commented on #1355
This is an year old issue which is closed but impacted my installation just today. Like @CooperBarrett mine is running on Debian Stretch so I tried restarting postgresql and sure enough it worked but am not sure what caused it to begin with and how to avoid it. Any suggestions will be hugely appreciated.

[2019-05-29 13:12] DaveDischord commented on #1560
Running into similar issue

[2019-05-29 18:26] DaveDischord commented on #1560
After a bit of searching, I did 2 things.  My issue is resolved, but I don't know which of either, or both, did the trick.  First, I noticed "localhost" wasn't in my **/etc/hosts** file, just the local IP joined with my server hostnames, so I added
`127.0.0.1    localhost`
Second, I ran
`sudo nano /etc/default/opendkim`
 and changed
 `SOCKET="inet:12345@localhost"`
to
`SOCKET="inet:12345@127.0.0.1

[2019-06-03 15:25] DamonOnYT opened #1740 "Bad Request (HTTP 400)"
# Impacted versions

* Modoboa: latest
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
go to the web link
# Current behavior
error message
# Expected behavior
login screen

I would like to note i changed the port to 44

[2019-06-04 14:00] warsix4 commented on #1716
I also get this sporadically. Sometimes all is well, but my webmail solution often fails to authenticate and when I check the admin interface this error appears, only to go away moments later and all is operational again.

[2019-06-05 07:58] tonioo commented on #1740
@DamonOnYT Can you check that the value listed in the ALLOWED_HOSTS variable (/srv/modoboa/instance/instance/settings.py) is the same than the address you use to access the web interface?

[2019-06-05 08:08] DamonOnYT commented on #1740
@tonioo I just checked and it was incorrect. I changed it but I'm still experiencing the issue.

[2019-06-05 08:13] DamonOnYT commented on #1740
I just rebooted my vm and it worked. Is there a default set of credentials?

[2019-06-05 08:16] DamonOnYT commented on #1740
Now im getting a different error.
![Screenshot](https://user-images.githubusercontent.com/20586245/58940883-00e42b00-87be-11e9-8396-35ae41dc24c6.png)

[2019-06-05 09:08] tonioo commented on #1740
@DamonOnYT Refresh the login page, it happens sometimes...

[2019-06-05 09:11] DamonOnYT commented on #1740
@tonioo i have refreshed it multiple times and it keeps showing

[2019-06-05 13:40] DamonOnYT commented on #1740
Got it to work, I had to use https. Also im making another issue since its not related to this.

[2019-06-05 13:40] #1740 closed

[2019-06-05 13:41] DamonOnYT opened #1741 "Stuck on awaiting checks"
# Impacted versions

* Modoboa: Latest
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Add a domain
# Current behavior
Stays on Awaiting Checks
# Expected behavior
Should show something else (from what i have seen online anyway)

[2019-06-05 21:49] y0va opened #1742 "Catch all sender address not working"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Create a account `notifications@domain.tld` with a sender adress catchall like `@domain.tld`.

Try to send a mail using `user@domain.tld` with smtp eg with nullmailer.

# Current behavior
The message is rejected:

    Jun  5 23:45:19 strix nullmailer[8356]: smtp: Failed: 553 5.7.1 <user@domain.tld

[2019-06-07 14:14] dpunkturban opened #1743 "handle_mailbox_operations cronjob fails"
# Impacted versions

* Modoboa:1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
As user `modoboa`:
`source env/bin/activate`
`python manage.py handle_mailbox_operations`

# Current behavior

On Wednesday the cronjob `handle_mailbox_operations` stopped working and throw the following error. We haven't done any maintenance or something on this day.

[code]

# Expected behavior
i

[2019-06-07 21:36] pellle87 opened #1744 "Fresh install cant create Calendar"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes/
* Webserver: Nginx

# Steps to reproduce

# Current behavior
I enter the calendar page, click new, choose a color and a name. Then i click on the Create button but nothing happens.

When debug is set to true i get an error page:

[code]
Traceback:

[code]

Im using self generated cert and only visiting the site trough a local ip so far

[2019-06-10 09:55] #1741 closed

[2019-06-10 09:58] DamonOnYT opened #1745 "4.3.0 Error: queue file write error."
# Impacted versions

* Modoboa: latest
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Try to send an email using any email client
Webmail just dosent do anything when i press send
# Current behavior
Gives error
# Expected behavior
Sends email
# Video/Screenshot link (optional)
![Screen Shot 2019-06-10 at 7 57 12 pm](https://user-images.githubusercontent.com/20586245/59187979-fe1c7

[2019-06-11 14:55] tonioo commented on #1743
@dpunkturban What's your database?

[2019-06-11 14:57] tonioo commented on #1744
@pellle87 You can't use a self generated certificate unfortunately...

[2019-06-11 14:58] tonioo commented on #1745
@DamonOnYT Please check mail logs, you should find more explicit errors.

[2019-06-11 14:58] dpunkturban commented on #1743
Hi @tonioo,

I am installed Modoboa with the official installer.

[code]

[code]

Thanks :)

[2019-06-13 13:44] y0va opened #1746 "MSRBL returns false positives and is unresponsive"
Users report false positives from MSRBL: https://lab.allmende.io/ecobytes/lab/mx/issues/72 and it's currently not possible to edit their db: http://www.msrbl.com/check-db

Why I disabled it according to https://github.com/modoboa/modoboa/issues/1496#issue-326768587

[2019-06-13 14:21] niko-lay commented on #1746
looks like they already updated domain

[2019-06-14 06:04] Artur236 opened #1747 "UnicodeEncodeError at /webmail/"
* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

1. When trying to add signature with default HTML editor (with default TEXT editor all is ok) in Russian or Ukrainian languages, I've got next error
[code]

2. If I insert an attachment to email and the name of it contains Russian or Ukrainian symbols, I've got next issue
[code]

[2019-06-14 15:13] PatTheMav commented on #1496
I noticed the psky.me false positive today as well. At this point I fully agree with @whyscream: By default modoboa should not tap into obscure, anonymous or otherwise sketchy DNSBL services and focus on the well-established providers that have active policies and removal processes.

[2019-06-17 18:12] fabionader commented on #1625
that help me with this issue:

https://stackoverflow.com/a/53944279

[2019-06-19 17:47] planetscripton opened #1749 "Question: How to enable API programatically/by default"
Distribution: Ubuntu
Codename: Xenial
Arch: 64 Bits
Database: PostgreSQL
I posted this on the modoboa-installer repo, but I think this location may be more appropriate, so I'm re-posting.

Hello, is there any way to programatically enable the API either during install (using modoboa_installer), or after install via the command line? I would also want to be able to manually set, or get the API toke

[2019-06-24 01:32] fusenn opened #1750 "can't receive emails"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Used installer and set up as usual. I'm at a loss. All steps taken.

# Current behavior

can send emails no problem, just can't receive them and the strange thing is there is no reject messages in the logs. I have checked all dns settings and everything is correct.

# Expected behavior

sending em

[2019-06-24 17:23] augustodv commented on #1430
hello, i have de same error and test all but the error persist.

[2019-06-25 13:04] tonioo commented on #1750
@fusenn Have you checked your DNS setup is complete?

[2019-06-25 14:37] fusenn commented on #1750
Yes dns is set up as mentioned above. The only thing i can think of is port 25 being blocked by isp

[2019-06-26 08:11] tonioo commented on #1750
@fusenn Indeed, it's a possibility.

[2019-06-28 13:49] NineSeven8 opened #1751 "Modoboa on U18.04 LTS issues after update"
# Impacted versions

* Modoboa: 1.13.1
* installer used: No ? Post install OS update
* Webserver: Nginx

Hi All,

I'm running Modoboa on a Ubuntu 18.04 LTS
Recently I updated the box with all the packages due to update, regular

apt update
apt upgrade

Update finished and I rebooted the box, after reboot I browsing to the admin panel started bringing Error 502 Bad Gateway

Fortunately I have the g

[2019-07-01 20:26] timlepes commented on #1751
Getting the same thing.  Using Ubuntu 18.04.2 LTS...  My nginx logs indicated the upstream (uwsgi) service closed it's connection prematurely, thus the 502.  Looking at the uwsgi logs I see that **the uwsgi worker processes are segfaulting**, and there is a backtrace.  I am thinking that it has to do with SSL in python????  I'd like help with this, too.  I'll keep poking around and report here if

[2019-07-01 20:48] timlepes commented on #1751
Here, also, is a pastebin with a complete backtrace:  https://pastebin.com/MyJAGrDu

[2019-07-01 22:18] NineSeven8 commented on #1751
@timlepes Thanks for your input. I also have the opinion that it has something to do with
uWSGI as when I checked the service was stopped, I managed to start the service again at some point the the problem persisted. I had to restore the machine as I can't be without email, but I will try to OVA the mail server and run tests on my vmware test server. If I get to understand what the problem is I wi

[2019-07-02 02:13] timlepes commented on #1751
Thanks.  By the way, do you know where the mysterious "community support email list" is?  The main site doesn't seem to have the address, or even a link to a subscription page for the mailing list.  They only say it's the best place to get free support.  Then, crickets...  sigh.

[2019-07-02 07:58] y0va commented on #816
Also note the default delay of 3h ([address_verify_negative_refresh_time](http://www.postfix.org/postconf.5.html#address_verify_negative_refresh_time)) of enabling a alias when a negative request was made for that just before it's creation.

[2019-07-02 10:55] NineSeven8 commented on #1751
Nothing more than crickets here :)

[2019-07-02 12:27] czarli22 opened #1752 "Missing directory /srv/modoboa in Centos7"
# Impacted versions

* Modoboa: latest
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I have installed modoboa using installer sudo ./run.py --interactive domain.com
Then I remove by mistake the directory /srv/modoboa
I wanted to reinstall the modoboa server one more time
The user modoboa has been removed as well.

# Current behavior
The exception occurs:
`Traceback (most recent ca

[2019-07-04 14:48] czarli22 commented on #1752
I have init the VPS one more time to have fresh installation.

[2019-07-04 14:48] #1752 closed

[2019-07-04 18:27] codiergott opened #1753 "E-mail does not arrive at Freenet"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

I have a coming phenomenon. I can send and receive emails. But if I send an e-mail to freenet, it does not arrive. It is neither in the Spam-order, nor comes a response from Freenet.

[2019-07-05 08:18] tonioo commented on #1753
@codiergott Have you checked if your server IP is not blacklisted somewhere?

[2019-07-05 08:22] tonioo commented on #1751
@NineSeven8 Have you checked this: https://github.com/modoboa/modoboa/issues/1625?

[2019-07-05 08:23] #1750 closed

[2019-07-05 08:24] tonioo commented on #1746
Check : https://github.com/modoboa/modoboa/pull/1748

[2019-07-05 08:24] #1746 closed

[2019-07-05 08:24] #1744 closed

[2019-07-05 08:25] tonioo commented on #1745
@DamonOnYT Any news?

[2019-07-05 08:36] NineSeven8 commented on #1751
Hi, I do have the habit of checking for solutions prior to creating a new issue, and yes I did look into all of those and wasn't able to solve any problem for me.

I played around with uwsgi versions and like I mention I got the service to run but still had 502

Anyone right now who installs 18.04LTS and update upgrade the distro will have problems installing Modoboa.

[2019-07-05 08:41] tonioo commented on #1751
@NineSeven8 And disabling SSL does not fix the issue? Because looking at your stacktrace, it looks similar...

[2019-07-05 08:55] tonioo commented on #1742
@y0va Indeed, the SQL query used to find valid sender addresses does not support catchall syntax.

[2019-07-05 08:55] #1737 closed

[2019-07-05 09:08] NineSeven8 commented on #1751
I assume that would be just for testing purposes, because I wouldn't have the mail server running without SSL anyway. I'm just surprised that only two users have this issue, does no else uses Ubuntu ?

[2019-07-05 10:12] NineSeven8 commented on #1753
Test your domain on MXTOOLBOX and see if you are blacklisted
Also if you are using some sort of dynamic A records, list will black list you just for the fact that your address is constantly changing ip address.

[2019-07-05 10:21] lmfrazao commented on #1737
I have tryed dovecot mailing list and found nothing to fix it :S

[2019-07-05 12:51] #1743 closed

[2019-07-05 15:16] codiergott commented on #1753
Hello, Thanks for the feedback. The server has a fixed IP and is not blacklisted.

[2019-07-08 03:12] hexitex commented on #1706
Same here on Ubuntu 18.x, everything just goes blank when you hit the send button

[2019-07-09 08:06] tonioo commented on #1751
@NineSeven8 I don't have stats about used distributions but I guess you're not the only ones...

[2019-07-09 08:08] tonioo commented on #1753
@codiergott Don't you have any information from Freenet about this kind of issue?

[2019-07-09 16:54] mixabo opened #1755 "Alias to external address without local delivery?"
Hello,

My question in short:

Is it possible to set up an alias to forward emails to an external address without local delivery?

In more detail:

Suppose I manage the domain _example.com_ with Modoboa. I have a simple account _user@example.com_ and an alias _alias@example.com_ forwarding emails to _someuser@some-other-domain.com_.

I want to set up the alias to forward emails to the external add

[2019-07-10 09:38] DamonOnYT commented on #1745
Sorry, havent checked my github recently. How do I find my mail logs?

[2019-07-12 11:06] protogonfs opened #1756 "Cant' create caledar for users"
* Modoboa: 1.13.1 and 1.14
* installer used: Yes
* Webserver: Nginx
* OS: Ubuntu 18.04.2 LTS

# Steps to reproduce
With a fresh installation done trough the installer, try to create a new calendar for a user.

# Current behavior
When I click on 'Create', nothing seems to happen. Error 500 came up in /var/log/uwsgi/app/modoboa_instance.log. Using a Let's Encrypt certificate for SSL.
Error:
[...] [p

[2019-07-12 15:43] Clevero commented on #1753
@codiergott

Did you create a PTR/rDNS record?
Please check against "FCrDNS" at http://multirbl.valli.org/

You can also check your setup with https://www.mail-tester.com/

[2019-07-13 17:36] waiylgeek opened #1757 "DKIM and DMARC not valid"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Added TXT record in DNS zone for DKIM and  DMARC as required and explained

# Current behavior
auth-results@verifier.port25.com returns:

[code]

# Video/Screenshot link
TXT records

![WhatsApp Image 2019-07-13 at 6 34 44 PM](https://user-images.githubusercontent.com/4692358/61174784-f70fcd80-a59c

[2019-07-13 20:38] codiergott commented on #1753
I have an answer from Freenet now.

Answer: 550 inconsistent / missing DNS PTR record (RFC 1912 2.1)

I have an understanding question. For example, if the mail server address is xxx@server1.com. Under Modoboa I deposited a domain server2.de. And I send now for example an email from mail@server1.de over the account mail@server2.de.

Do you get this error?

[2019-07-14 04:43] blueray453 opened #1758 "How to migrate all my emails from cpanel to modoboa"
Recently I decided to change my hosting provider.

When I asked the prospective providers to transfer my emails, they said and I quote -

I have CPanel in my current hosting, however I am feeling a little locked down as the prospective provider is saying that I must have CPanel.

Now, I want to migrate all my cpanel email to modoboa (installed in a VPS). How can I do that?

[2019-07-15 14:37] mertowitch opened #1759 "How to upgrade?"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

**How can I upgrade 1.13.1 to 1.14.0 ?**

[2019-07-16 17:06] tonioo commented on #1759
https://modoboa.readthedocs.io/en/latest/upgrade.html

[2019-07-16 17:06] #1759 closed

[2019-07-16 17:07] tonioo commented on #1758
@blueray453 You can use this plugin: https://github.com/modoboa/modoboa-imap-migration.

[2019-07-16 17:11] tonioo commented on #1753
@codiergott no because the two domains are hosted on the same system.

[2019-07-16 17:11] #1753 closed

[2019-07-16 17:15] tonioo commented on #1755
There is a bug opened about this: https://github.com/modoboa/modoboa/issues/1356.

[2019-07-17 03:36] blueray453 commented on #1758
Thanks

[2019-07-17 03:36] #1758 closed

[2019-07-17 04:07] RT4U commented on #1625
This fixed the issue for me.
https://stackoverflow.com/a/54253374/2748913

[2019-07-18 05:46] edenprojectde commented on #1142
Is this still not resolved?

[2019-07-18 20:46] KevinGuancheDarias commented on #1650
For newbies in Python, prior to invoking the line `pip uninstall psycopg2-binary && pip install psycopg2 --no-binary psycopg2` you have to make sure you have **sourced** the modoboa virtualenv

![image](https://user-images.githubusercontent.com/6832422/61490637-5c046280-a9a5-11e9-8b95-067c6e2ed9d1.png)

[2019-07-20 14:09] JackApple1337 opened #1760 "Add support for 2FA"
# Impacted versions

* Modoboa: Latest
* installer used: Yes
* Webserver: Nginx/Apache

# Current behavior
Not integrated

# Expected behavior
Integrated and usable

# Notes
First of all, I love the Moboda appliance but due to some security concerns of my Users and me, I wanted to ask, if there are some plans to integrate 2F/A for the Webmail like via Google Authenticator or some other Apps.
Or is

[2019-07-20 21:27] JackApple1337 commented on #1659
I've fixed the [...]/filter.d/modoboa.conf for the newest version with Debian Stretch. Now it's working fine.
My full modoboa.conf:
`[INCLUDES]
before = common.conf
[Definition]
failregex = modoboa\.auth: WARNING Failed connection attempt from \'<HOST>\' as user \'.*?\'$`

In addition I had to activate the UDP socket for rsyslogd in /etc/rsyslog.conf.

[2019-07-21 14:21] tostiheld opened #1761 "Weird forwarding behaviour with disabled account"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes/No ? - don't remember
* Webserver: uwsgi + nginx reverse proxy

# Steps to reproduce

1. Create an account
2. Set forwarding to an (external) email address
3. Disable the account

# Current behavior

Some emails are forwarded, some are not.

# Expected behavior

Either all emails are forwarded or none.

[2019-07-24 19:06] PatTheMav commented on #1638
@tonioo FYI - certificate has expired again. 🙃

[2019-07-25 11:30] belzebub40k opened #1762 "Certificate for api.modoboa.org expired"
Certificate for api.modoboa.org expired and `communicate_with_public_api` fails.

[code]

Might be the same reason as last time (#1674)

[2019-07-25 14:48] jquiros2 commented on #1638
Today is:  7/25/2019.
current cert on api info...
Issued On	Wednesday, April 24, 2019 at 3:00:22 PM
Expires On	Tuesday, July 23, 2019 at 3:00:22 PM

That said-  @tonioo... thanks for this project!

[2019-07-26 14:06] WLR86 commented on #1674
Once again... Is there any known workaround ?

[2019-07-26 17:37] matthaug opened #1763 "Modoboa on Centos 7"
# Impacted versions

Latest Modoboa installer on Centos 7.

* installer used: Yes

# Steps to reproduce

Install Modoboa on Centos 7 Minimal following install directions.

On 2019-07-26
yum -y update

git clone https://github.com/modoboa/modoboa-installer
cd modoboa-installer/
./run.py mytestdomain.xyz

# Current behavior

Web GUI allows login but links to png files broken. GUI not useable.

mail.

[2019-07-28 06:56] hadifarnoud opened #1764 "upgrade issue"
after upgrading to 1.14.0, I could not complete this step
[code]

* Modoboa: 1.14.0
* Webserver: Nginx

[2019-07-28 08:03] hadifarnoud commented on #1764
this worked however (I'm assuming it worked since there were no output):
`(env) modoboa@mail: ~/instance$ sudo ../env/bin/python manage.py generate_postfix_maps --destdir /etc/postfix --force-overwrite`

[2019-07-28 08:03] #1764 closed

[2019-07-28 13:26] dpunkturban commented on #1763
Hi,

do you use Apache2 or Nginx?

br
dennis

[2019-07-29 08:49] WLR86 commented on #1674
Ok I thought I could redirect the error to /dev/null :

[code]
So far so good. Obviously the api call still fails, but at east I don't get spammed when it does.

[2019-07-31 12:46] peterchibunna commented on #1716
I get this too. Checking the error log yields
[code]

[2019-07-31 14:00] peterchibunna commented on #1716
I finally figured out why. **uwsgi** is opening a socket it cannot read from. Change the `chmod-socket` parameter from `660` to `666` in `/etc/uwsgi/apps-enabled/modoboa_instance.ini` and `/etc/uwsgi/apps-enabled/automx_instance.ini`

[2019-07-31 15:46] tonioo commented on #1763
@matthaug Can you run the installer using the --debug option? I think the static files have not been installed for some reason...

[2019-07-31 15:54] dpunkturban commented on #1763
We had the same problem. As I remember the problem was Selinux. There were some contexts missing.

[2019-07-31 17:47] dpunkturban commented on #1763
I checked this. Its a Selinux Problem. Debugging on iPad is bad, so please wait until tomorrow :)

[2019-08-02 16:38] horvan opened #1765 "Modoboa HTTP Error on Ubuntu 18.04"
# Impacted versions

* Modoboa: 1.14.0

* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install by useing modoboa installer
set up wit dns info on domain

# Current behavior

Modoboa spwns error mails to root regaring to api See details

'
 **From: root@mail.huetervontamriel.de (Cron Daemon)
To: root@mail.huetervontamriel.de
Subject: Cron <root@vmd41117>    $PYTHON $INSTANCE/manage.

[2019-08-09 09:21] NineSeven8 commented on #1765
This is exactly the same issue I reported in
Modoboa on U18.04 LTS issues after update #1751

If you are fresh installing on Ubuntu, just go for another mail solution, this is not being addressed at all.

[2019-08-09 11:55] #1762 closed

[2019-08-09 15:57] blackhold opened #1768 "Could not run modo check_mx manually and in cron gives errors"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
on a server installed with the installer, with the lastest version, and upgraded using cd /usr/modoboa-installer/ && git pull && ./run.py --upgrade mydomain.net, tried to force check_mx manually (in cron is defined to every 30 minutes). I tried to execute manually and gives me error. I followed th

[2019-08-09 16:19] alexglvr opened #1769 "admin page not accessible after install"
# Impacted versions

* installer used: Yes
* Webserver: Apache

# Steps to reproduce installation tutorial : https://www.linuxbabe.com/mail-server/email-server-ubuntu-18-04-modoboa

# Current behavior : https://mail.mydomain.com : CONNECTION REFUSED

# Expected behavior

# Video/Screenshot link (optional)

Hello,

After the installation (https://www.linuxbabe.com/mail-server/email-server-ubuntu-18

[2019-08-09 17:23] blackhold commented on #1769
see logs at /var/log/uwsgi/

[2019-08-10 18:24] erenfro opened #1770 "Mailbox aliases: limit reached, even though limits are -1 or 99999"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
As Modoboa Global Admin:
Modoboa->Parameters->Limits:
  Enable per-admin limits: Yes
  Mailboxes: -1
  Mailbox aliases: -1
  Enable per-domain limits: Yes
  Mailboxes: -1
  Mailbox aliases: -1
Domains-><domain>->Edit->Resources:
  Mailboxes: -1
  Mailbox aliases: -1

As DomainAdmins user:
  Identi

[2019-08-11 09:43] alexglvr commented on #1769
here are the logs I have in /var/log/uwsgi/app :
[automx_instance.log](https://github.com/modoboa/modoboa/files/3489786/automx_instance.log)
[modoboa_instance.log](https://github.com/modoboa/modoboa/files/3489787/modoboa_instance.log)

[2019-08-11 16:36] alexglvr commented on #1769
apparently I have a problem with Apache / Nginx conflict.
What are the configurations to do to make it work with apache?

[2019-08-14 21:16] blackhold commented on #1769
use different ports for each web-server

[2019-08-21 10:53] cremesk commented on #1703
i have delete and recreate the account and it works. (modoboa 1.4.0).

[2019-08-21 10:53] #1703 closed

[2019-08-21 10:54] cremesk commented on #1692
fixed after: https://github.com/modoboa/modoboa/issues/1703#issuecomment-523405652

[2019-08-21 10:54] #1692 closed

[2019-08-23 13:26] Dave-Elec commented on #821
I was trying to run this docker and everything started fine. But I am getting csrf verification failed. I mapped 80:8000 to get the webmail for trial. I am going to use nginx later. I think it is an issue with the webmail only. What should I do? Thanks for the docker setup.

[2019-08-27 11:54] VPuks commented on #1747
Hi,
Is any progress?

I got the same issue:

Modoboa version: 1.14.0
Modoboa webmail version: 1.5.0

Also when You try open message with attachment who contains utf-8 symbols Youe get "Internal error" on screen.

Admin get mail with following error message:

UnicodeEncodeError at /webmail/
'ascii' codec can't encode character u'\u0113' in position 17: ordinal not in range(128)

Request Method: | G

[2019-08-28 21:30] twagener opened #1771 "Adding a user gets a "500 Internal server error""
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce
Every python package up to date

# Current behavior
Ajax call gets server response 500

# Solution
change line 886 in /srv/modoboa/env/local/lib/python2.7/site-packages/reportlab/lib/utils.py
FROM:
if Image.VERSION.startswith('1.1.7'): im.load()
TO:
if Image.`__version__`.startswith('1

[2019-08-29 01:40] stathis opened #1772 "Upgrading to Debian 10 Buster"
I recently upgraded one of my machines to Debian 10 Buster.  Some things like Statistics and DKIM regeneration, record monitoring etc have stopped working.

When trying to invoke such scripts (usually ran by cron) manually, errors like the following occur:

[code]

Has anyone experienced such errors, and if so, is there a solution?

Thank you in advance.

# Impacted versions

* Modoboa: Latest
* i

[2019-08-29 08:29] Toniob commented on #1772
Hi there,
During the update, your python has been upgraded. And now your virtualenv is probably broken. You have to setup it again, to update the links with the debian packaged python.

[2019-08-29 08:32] stathis commented on #1772
Thank you for your answer.

So would this in theory, be enough: https://gist.github.com/tevino/1a557a0c200d61d4e4fb

[2019-08-29 08:49] Toniob commented on #1772
It may works. Just be sure to backup your current directory before.

[2019-08-29 14:23] stathis commented on #1772
I ran a script like the one I linked, like this inside the virtualenv:

[code]

Just one catch, I had to use the python 2.7 binary. Restarted uwsgi afterwards and all is fine.

[2019-08-29 14:23] #1772 closed

[2019-08-30 14:54] AisselTechnologiesPvtLtd opened #1773 "DKIM signature missing from outgoing emails [ was working fine earlier]"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Send an email from the webmail or email client, the DKIM signature will be missing.

# Current behavior
Starting today, the DKIM signature is missing from all the outbound emails. While in the Domains Tab, the DKIM and all other show green and the DKIM matches with what I have added in the TXT rec

[2019-09-01 18:44] marcoraven commented on #1610
Could perhaps someone tell me HOW to synchronise with doveadm sync if we're talking about a modboa setup?
Suppose I want to migrate only one mailbox - should I use -u or -m?

[2019-09-05 09:23] fpiccinali commented on #1745
@DamonOnYT

Have a look at /var/log/mail.log or /var/log/mail.err

Does you disk have enough space ?

Try `df -h` to see available space

If it is ok for you, can you close this issue ?

[2019-09-05 09:26] fpiccinali commented on #1671
@minaeid90

Do you still have the issue ?

If it is ok, can you close this issue ?

[2019-09-05 12:46] AisselTechnologiesPvtLtd commented on #1773
On further research found out the DKIM service had stopped on the server. Not sure why or how. After restarting the service the DKIM signatures are again appearing in the emails.

[2019-09-05 12:46] #1773 closed

[2019-09-06 20:40] gregorypilar commented on #1773
Hi!, how you you started it?

[2019-09-08 12:09] ihmc3jn09hk opened #1774 "Switching Languages Failure"
#Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Profile->Lanuage->Update

# Current behavior
Failure for non-English languages

# Expected behavior
Languages switch

# Video/Screenshot link (optional)

_Switching language in the WebGUI is not working. Turned on DEBUG=True and the following responses are returned._
Moreover, the "Trash" button in

[2019-09-09 08:27] tonioo commented on #1774
Can you please paste the full trace?

[2019-09-09 09:57] AisselTechnologiesPvtLtd commented on #1773
Started it using the below command

`sudo service opendkim start`

[2019-09-09 11:07] ihmc3jn09hk commented on #1774
Here you are:
`
ValueError at /user/profile/
unexpected end of plural form

Request Method: POST
Request URL: https://192.168.1.2:4443/user/profile/
Django Version: 1.11.23
Python Executable: /usr/bin/uwsgi-core
Python Version: 2.7.15
Python Path: ['.', '', '/srv/modoboa/env/lib/python2.7', '/srv/modoboa/env/lib/python2.7/plat-x86_64-linux-gnu', '/srv/modoboa/env/lib/python2.7/lib-tk', '/srv/modob

[2019-09-09 14:24] ihmc3jn09hk commented on #1757
Check the server IP is in any blacklist.

Some more info, even though I got all green-lights. Yahoo Mail! still put my mails into Bulk folder. Sad!

[2019-09-09 14:29] ihmc3jn09hk commented on #1765
Why the api call to modoboa's demo server ?

[2019-09-09 14:32] ihmc3jn09hk commented on #1751
Some default keys are updated during the upgrade?

[2019-09-10 07:23] tonioo commented on #1757
Is it still happening?

[2019-09-10 07:24] tonioo commented on #1765
To report statistics about the instance. You can disable this behaviour from the admin panel.

[2019-09-10 07:26] tonioo commented on #1771
Can you provide a trace or something useful to understand the issue?

[2019-09-10 11:31] ihmc3jn09hk commented on #1774
More information. Some of the languages have this error.
`
Traceback:

File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/handlers/exception.py" in inner
  41.             response = get_response(request)

File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/handlers/base.py" in _get_response
  187.                 response = self.process_exception_by_middleware(e

[2019-09-10 12:45] ihmc3jn09hk commented on #1774
For cestina

`
File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/utils/translation/trans_real.py" in _new_gnu_trans
  156.             fallback=use_null_fallback)

File "/usr/lib/python2.7/gettext.py" in translation
  573.                 t = _translations.setdefault(key, class_(fp))

File "/usr/lib/python2.7/gettext.py" in __init__
  255.             self._parse(fp)

File "/usr/lib/

[2019-09-10 12:49] ihmc3jn09hk commented on #1774
Injected some code for the 日本の

`
...
the same shit
...

File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/utils/translation/trans_real.py" in _new_gnu_trans
  156.             fallback=use_null_fallback)

File "/usr/lib/python2.7/gettext.py" in translation
  573.                 t = _translations.setdefault(key, class_(fp))

File "/usr/lib/python2.7/gettext.py" in __init__
  255.

[2019-09-12 05:59] WonderingDane opened #1775 ""***UNCHECKED***" Added to email headline"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Current behavior
After a while, all emails being received by the server will have "***UNCHECKED***" added to the emails headline. Restarting the server will temporarily fix it, but after a while, it will be back.

As far as I can tell, it has something to do with ClamAV not checking the emails for vira?

/var/log/ma

[2019-09-17 18:00] tsabi commented on #1757
Hi!
What is exactly the FQDN of the key?

[2019-09-18 18:35] cremesk commented on #1704
hey @tonioo ,
I have a question about the forward. Everything works great so far!
Is there still a possibility to check the mail on spam before this forward?

`news@domain.com smtp:[remote.postfix.ip.address]`

thanks! =)

[2019-09-18 18:53] cremesk commented on #1704
Could it be that simply adding 'FILTER' is enough?

`news@domain.com FILTER smtp:[remote.postfix.ip.address]`

[2019-09-19 09:04] sjpmds opened #1776 "Email sent to every user of the domain when storage hits quota"
# Impacted versions
* Modoboa: 1.14.0
* installer used: Yes/No ? : do not remember
* Webserver: Apache

# Steps to reproduce
A domain hits the  fixed quota.

# Current behavior
When one domain hits the quota, a mail is sent to every user of this domain, which does not give too much details for the users in order to purge some emails.

# Expected behavior
When an address hits the quota, even if the

[2019-09-24 12:12] stathis opened #1777 "Enable port 25 unencrypted AUTH LOGIN"
I've been trying to enable unencrypted AUTH LOGIN for one of our mailservers that run with the Modoboa package, but with no luck.

Relevant settings that had no impact:
[code]

For IMAP & POP3, this worked just fine.
[code]

Thank you in advance :)

[2019-09-25 11:27] xagaba commented on #1772
How/Where do you run this script ? and using witch user ?

[2019-09-29 01:14] Siriuo commented on #1671
Seems to be an issue with SMTP authentication.

IMAP authentication seems to validate on android devices (Specifically using Boxer Mail) however SMTP doesn't appear to authenticate.

[2019-10-01 13:16] NineSeven8 commented on #1751
Finally got time to look into this issue.
It's fixed now, although not the way I wanted, but the impact is not severe as long as you keep PostgresSQL on the same server as UWSGI

All you need to do, and it worked for me :

vi /etc/postgresql/10/main/postgresql.conf

turn ssl off

ssl = off

give a nice restart to postgresql, uwsgi and nginx

hope it works for you.

NS8

[2019-10-01 15:28] Siriuo commented on #1671
Okay found a solution to the issue. Turns out I was able to connect with one of my domains.

I had to duplicate the autoconfig.domain.com nginx config for the other domains. Following that I had to duplicate the mail.domain.com nginx config for the other domains.

I then had to add the other domains to the ALLOWED_HOSTS section of /srv/modoboa/instance/instance/settings.py

This essentially resolv

[2019-10-04 09:30] piensavirtual opened #1779 "error logparse manage.py"
# Impacted versions

* Modoboa:  1.13.1
* installer used: Yes/No ?
* Webserver: Nginx

 /srv/modoboa/env/bin/python /srv/modoboa/instance/manage.py logparser --debug
[settings] greylisting enabled
Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django

[2019-10-04 20:18] lefta opened #1780 ""Exit on StopIteration" with Python 3.7"
# Impacted versions

Likely all, tested on 1.14.0 / webmail 1.5.0. Installer / web server are not relevant here.

# Steps to reproduce

Open a mail containing an attachment when running with python 3.7, a 500 error will be returned (after several seconds).

# Current behavior

Crash with exception "Exit on StopIteration".

# Expected behavior

Mmmh... No crash ?

# More details

Python 3.7 impleme

[2019-10-05 07:35] cekpek opened #1781 "Modoboa not accessible via web"
# Impacted versions

* Modoboa: 1.7.2
* installer used: Yes
* Webserver: Nginx

I am not sure how to reproduce this issue, however after using modoboa for a year, suddenly the it can not be accessed via web (i'm still able to access the email from email client like emClient). Found out that nginx is not running, something wrong with its configuration,

nginx: [crit] pread() "/etc/nginx/sites-enabl

[2019-10-05 16:17] benjaminbellamy opened #1782 "Error 500 on user creation"
I don’t know if this is a bug or a hidden feature, but you cannot add new accounts after updating `/srv/modoboa/instance/sitestatic/css/modoboa.png`

# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
  * Install Modoboa
  * Design a nice logo with Gimp (or MS Paint if you live in 1984 or Photoshop if you love DRMs)
  * Replace `/srv/modoboa/insta

[2019-10-11 14:02] tonioo commented on #1782
@benjaminbellamy Are you sure your image is not corrupted? Is it a real PNG file?

[2019-10-11 14:03] tonioo commented on #1781
@cekpek Looks like there is a mistake somewhere in your configuration. Did you modify anything manually?

[2019-10-11 14:04] tonioo commented on #1780
@lefta Thanks for the report. Could you please move this issue to the modoboa-webmail repository?

[2019-10-11 14:06] #1671 closed

[2019-10-11 14:08] cekpek commented on #1781
@tonioo i dis not alter the configuration, in fact i never touch the backend after the installation and first configuration, everything i do is through the frontend. Checked the server, and did not find any intruder.

[2019-10-11 14:10] tonioo commented on #1777
@stathis Authentication is only available on port 587 with default install. Why do you need this?

[2019-10-11 14:12] tonioo commented on #1775
@WonderingDane Have you tried to restart clamav?

[2019-10-11 14:27] lefta commented on #1780
I forgot to make it explicit in my original report, but I filled this issue against Modoboa itself because rfc6266 is a dependency of it, not of the webmail. I had problems only with the webmail, but any Modoboa part decoding the `Content-Disposition` header with this package will be impacted (and now that it is fixed on my side, I can't test other areas anymore).

This being said, should I still

[2019-10-11 14:44] WonderingDane commented on #1775
Yes, same as restarting the server. Eventually it will start putting "unchecked" in the mail title.

[2019-10-11 14:54] zwitterion commented on #1775
I had a similar problem. In my case the issue was that the VM had not enough RAM, this will cause clamav to crash after running for few seconds. Switching to a VM with 3GB solved my problem.
Have you checked clamav logs/status? (service clamd status)

[2019-10-11 16:58] benjaminbellamy commented on #1782
Yes, the PNG is perfectly displayed, everything works fine. I just can’t create new mailboxes.
And when I put the original PNG file back I can create accounts again.

[2019-10-12 08:22] cenix102 opened #1783 "can't create new user"
Modoboa version 1.14.

Distribution: Ubuntu
Codename: Bionic Beaver
Arch: 364 Bits
Database: MySQL

# Steps to reproduce
When I'm trying to add a new user under: **Identities > Add**
![Screenshot 2019-10-12 at 10 17 53](https://user-images.githubusercontent.com/46600012/66697863-aca40700-ecd9-11e9-9a5a-6a391fccb42d.png)

Then **next** and then **submit**
# Current behavior
![image](https://user-im

[2019-10-13 08:31] christoph-mueller-crixp commented on #1638
looks like the cert of api.modobia.org has expired again:

[2019-10-13 10:09] Arvedui commented on #1674
Here is you quarterly reminder that the certificate auto renewal setup for api.modoboa.org is broken.

[2019-10-13 11:58] tonioo commented on #1674
@Arvedui it's fixed and I hope it's the last time you report this ;)

[2019-10-13 12:00] tonioo commented on #1783
@cenix102 Maybe an issue with PDF document creation. Can you enable debug mode?

[2019-10-13 12:02] tonioo commented on #1782
@benjaminbellamy The error is pretty clear: ``cannot identify image file <open file u'/srv/modoboa/instance/sitestatic/css/modoboa.png``. Your PNG file must be special in some way...

[2019-10-13 12:04] tonioo commented on #1780
@lefta Ok, so it's the right place.

[2019-10-13 12:05] tonioo commented on #1781
this path is wrong: ``/etc/nginx/sites-enabled/env``. If you used the installer with default configuration, it should not be there. Can you grep this pattern against nginx configuration files to see where it happens?

[2019-10-13 20:28] #1704 closed

[2019-10-13 20:30] cremesk opened #1784 "[Feature-Request] anonymize-headers"
In Postfix, we can manage to hide the sender originating IP (plus some other stuff), in order to reduce the presence of user information on the server, and this can be achieved using Postfix's cleanup_service_name directive.

https://github.com/d3cod3/EndtoEndEncryptedMailServer#anonymize-headers

[2019-10-14 11:24] stathis commented on #1777
We have a few legacy clients in our intranet and we need it unfortunately.

[2019-10-14 12:06] sjpmds commented on #1776
Hello,

Can someone ehlp me on this point ?
In addition to the information given above, I would like to see where I can change the configuration file / Which line to change in order to manage the quotas with postfix.

Thank you for your answer(s).

[2019-10-14 14:35] aolanginc commented on #1763
django sitestatic not woking on centos7 .

[2019-10-14 17:46] cenix102 commented on #1783
@tonioo Sorry for the late response.
I enabled the debug mode.

[modoboa_debug.txt](https://github.com/modoboa/modoboa/files/3725682/modoboa_debug.txt)

[2019-10-15 12:54] tonioo commented on #1777
@stathis Have you tried the smtpd_auth_sasl_enabled setting?

[2019-10-15 12:56] stathis commented on #1777
Yes it is on:

`smtpd_sasl_auth_enable = yes`

[2019-10-15 12:59] tonioo commented on #1783
@cenix102 the problem comes from your custom logo. How did you create it?

[2019-10-15 14:07] benjaminbellamy commented on #1782
I don’t see anything special about this file. It is displayed fine by Nginx/browser.
I even tried with a blank png file, same size, same error.
Weird.
Why is this happening on user creation? How is user creation related to a PNG file?

[2019-10-15 14:32] benjaminbellamy commented on #1782
OK, I found it: **PNG file must have NO metadata at all.**
I removed them, now it works.

For instance when exporting to PNG using Gimp, you must uncheck all checkboxes (uncheck `"Save Exif data"`…).
Comments for PIL/Image.py open() function says `"This is a lazy operation;"`… Well it kinda is lazy…
(I had checked my PNG file header with Hex editor and they were clean.)

[2019-10-15 14:32] #1782 closed

[2019-10-15 14:40] cenix102 commented on #1783
The logo is a normal png file. I created the PNG GIMP2.0.

[2019-10-16 04:04] aolanginc commented on #1763
find modoboa site config for nginx then add line

`location /sitestatic/{
        alias /srv/modoboa/instance/sitestatic/;
        try_files $uri $uri/ =404;
}`

[2019-10-16 07:41] tonioo commented on #1783
@cenix102 Look at this please: https://github.com/modoboa/modoboa/issues/1782#issuecomment-542230399

[2019-10-17 07:30] #1783 closed

[2019-10-18 08:56] cybercol opened #1785 "Email accounts able to send on behalf of other email accounts with client"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Apache

# Steps to reproduce
Use an email client, such as outlook. Add a Modoboa email account. Open a new email. Enable the FROM field in the message. Click the FROM drop down and select "Other email address". Type in another email address from the same domain. Send email to any external email address.
(This has been tested

[2019-10-21 10:43] tonioo commented on #1785
@cybercol I guess the sender address is only modified in the body, not in the envelope. Can you check that?

[2019-10-23 13:43] gianks commented on #1699
Using --traceback causes the same problem here with modoboa 1.14.0

[2019-10-29 02:23] boydspace opened #1786 "Cannot receive email from external accounts"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Happens no matter how I try. I am on my own local network. All ports are opened, port 25 works, SMTP works, but IMAP to receive mail is not working. Unless I am misunderstanding something. I can receive email internally, ie from local accounts to other local accounts, but if I try an email server

[2019-10-30 12:18] francescop75 opened #1787 "Cron job "manage.py communicate_with_public_api" fails."
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes (about a year ago, upgraded since)
* Webserver: Nginx

# Steps to reproduce

Enable public API comminication in Modoboa parameters.

# Current behavior

Cron job fails with "CommandError: Failed to retrieve versions from the API."

# Expected behavior

Success to retrieve versions from the API.

# Note

If manually launched from shell:

[2019-10-30 16:56] DaveDischord commented on #1757
I use GoDaddy as well and get a fail in both as well.  I'm using the names **modoboa._domainkey** and **_dmarc** without <example.com>.  mxtoolbox checks ok when, for example, I search with **modoboa._domainkey.example.com** and the value NOT in quotes.  I guess my question is, does modoboa tack on example.com in those checks and does it expect the value to be in quotations.

[2019-10-30 17:50] dym-sh commented on #1496
`bl.emailbasura.org` started triggering false positives

[2019-10-30 18:14] dirkjf commented on #1756
I can confirm I also have this issue on a fresh install on Ubuntu 18.04 LTS with Nginx.

[2019-10-31 11:03] tsabi opened #1788 "UnicodeDecodeError during stat generation"
# Impacted versions

* Standard Ubuntu 18.04 Server
* Modoboa: 1.14.0 (latest)
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Today i saw there isn't any stat generated. When i runned the logparsing from command prompt i got this error:
[code]

This modification fixed it:

[code]

[2019-11-07 16:14] jquiros2 commented on #1496
Just found this thread after realizeing this too.  emailbasura.org looks pretty darn basura itself by the way.

[2019-11-07 18:40] dym-sh commented on #1496
i found https://poste.io/doc/getting-started (or https://github.com/dirtsimple/poste.io ) to be more actively developed, and less tiresome

[2019-11-11 02:52] Salamek commented on #1788
@tsabi duplicity of https://github.com/modoboa/modoboa-stats/issues/55

[2019-11-11 06:09] dbryar opened #1789 "Dovecot is rejecting aliased catch-all"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes ?
* Webserver: Nginx

# Steps to reproduce
Fresh installation, created one admin user <admin@domain1.tld>, 4 domains, and then created catch-all alias from each domain to user on primary domain
* User identity: admin@domain1.tld
* Aliases @domain1.tld @domain2.tld @domain3.tld @domain4.tld

# Current behavior
Unless a mailbox explicitly

[2019-11-11 07:38] rebornweb commented on #1142
Modoboa does work on Thunderbird, just make sure you have open Inbound Port 993 open on your firewall/security for (IMAP/SMTP), that your username is: support@blah.com (email) and you have your Outbound ports open too!

[2019-11-11 10:00] BugHunter2k commented on #1638
Still not solved
![image](https://user-images.githubusercontent.com/5654631/68578529-7beaf500-0472-11ea-9446-fe1bbcd19aa4.png)

[2019-11-11 23:40] dbryar commented on #1789
I believe I have figured this out, so an update for anyone reading that has the same issue.
Upon default installation, Postfix is running in compatibility mode, and is ignoring _a lot_ of the configuration options in main.cf
[code]
Fix it with this;
[code]

[2019-11-11 23:40] #1789 closed

[2019-11-20 16:58] KarlBaumann commented on #1148
I am having exactly this issue on latest Modoboa version

[2019-11-21 07:04] XiaotianZha opened #1791 "how to modify default configurations"
# Impacted versions

Latest Modoboa installer on Centos 7.
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Install Modoboa on Centos 7 following install directions.

git clone https://github.com/modoboa/modoboa-installer
cd modoboa-installer/
./run.py mytestdomain.xyz
# Current behavior
After installing there is a tips :
Congratulations! You can enjoy Modoboa at https://xxxx (admin:

[2019-11-22 07:31] akshaykashid13 opened #1792 "Getting unauthorized acces (401) while fetching the modoboa API's."
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

[2019-11-22 13:57] tonioo commented on #1792
@akshaykashid13 Make sure your requests include a valid API token.

[2019-11-22 13:59] tonioo commented on #1791
@XiaotianZha You must reload uwsgi every time you update the settings.py file.

[2019-11-22 13:59] tonioo commented on #1148
@KarlBaumann Does it happen every time the task run?

[2019-11-22 14:00] #1788 closed

[2019-11-22 14:02] tonioo commented on #1756
@dirkjf Are you using a valid certificate?

[2019-11-22 14:04] tonioo commented on #1757
@DaveDischord So, is there something to fix inside modoboa?

[2019-11-22 14:06] tonioo commented on #1786
There must be something that block the traffic between ISPs and your server... Have you tried to open a connection to port 25 on your server from the outside? (using telnet)

[2019-11-22 14:28] KarlBaumann commented on #1148
Yes. I get this two times every minute

[2019-11-22 14:54] DaveDischord commented on #1757
No, it's the syntax on GoDaddy.  Under **Host** would be **modoboa._domainkey** or **_dmarc** WITHOUT .domain.tdl.  Under **TXT Value** would be whatever the value is encapsulated in quotation marks (**"**), for example **"v=DKIM1;k=........."**

[2019-11-22 15:24] dirkjf commented on #1756
@tonioo, yes I use a valid certificate.

[2019-11-23 14:52] tsabi commented on #1779
Try my fix: https://github.com/modoboa/modoboa/issues/1788

[2019-11-23 14:57] tsabi commented on #1788
@tonioo Please consider my fix: at the other ticket they tried to play with character replacement, what they needed if they read the log file as utf-8 encoding. But because it is latin1 encoded it is completely wrong way, the real fix is to read the file as it encoded originally.

[2019-11-23 15:00] tsabi commented on #1787
It happened to me too, i guessed every server sends the log at the same time, and the remote server is DDOSed, so i modified the sending time to another minute in the hour, and it works.

[2019-11-23 18:24] francescop75 commented on #1787
I'll try to do that way, thanks!

[2019-11-24 08:35] XiaotianZha commented on #1791
I modified the condfiguration of db to a mysql server , after reload uwsgi , there is a Internal Server Error  when I access the webmail.

[2019-11-24 09:31] XiaotianZha commented on #1791
I have solved this problem after learning the python virtualenv , now it seems I need to re-built table in the new db

[2019-11-25 10:49] #1791 closed

[2019-11-26 01:13] XiaotianZha opened #1793 "An Error occurred in create new account"
# Impacted versions

* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Create new account  in web
# Current behavior

Failed to create the directory that will contain PDF documents ([Errno 2] No such file or directory: '/var/lib/modoboa/pdf_credentials')

And there is another failed in /var/spool/mail/root
IOError: [Errno 2] No such file or directory: '/etc/modoboa_radicale/rights'

[2019-11-26 02:31] XiaotianZha commented on #1783
@cenix102 Can you tell how how to get debug log, I have some erro but I don't know how to find the log file

[2019-11-26 06:31] XiaotianZha commented on #1793
I solved this problem by disable  pdf_credentials, and create a new user. But when I open the web-mail there is an error
`Error: ['[AUTHENTICATIONFAILED] Authentication failed.']`

[2019-11-26 06:38] cenix102 commented on #1783
@XiaotianZha First you need to set the DEBUG parameter in settings.py to TRUE. Then you will find the logs in
for nginx: /var/log/nginx/error.log
for apache: /var/log/apache2/error.log

[2019-11-30 10:57] tonioo commented on #1787
There was indeed or configuration issue on the public API server. It is now fixed.

[2019-11-30 10:57] #1787 closed

[2019-12-01 04:05] LucaTheHacker opened #1794 "Invalid certificate while login"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Y
* Webserver: Nginx

# Steps to reproduce
Login with IMAP to gmail android app
Select STARTTLS
Try to login
# Current behavior
App returns error "invalid certificate"
# Expected behavior
App should login
# Video/Screenshot link (optional)

[2019-12-01 05:46] #1794 closed

[2019-12-01 05:46] LucaTheHacker commented on #1794
Fixed, modoboa.ldapsync was the problem.

[2019-12-03 15:12] abonanni opened #1797 "Dashboard - server behind proxy"
# Impacted versions

* Modoboa: 1.14.0
* Webserver: Nginx

# Steps to reproduce
Modoboa server is behind proxy, so no internet direct access
Acces dashboard via admin account

# Current behavior
504 Gateway Time-out

# Expected behavior
no error

[2019-12-04 15:12] Triloworld commented on #664
I found multiple unclear situation in docs.

First:
- Free port 80 as it is used by letsencrypt authorisation.
It won't show error in installer (thats a bug). Entering domain and checking log won't be easy.
Look for:

` systemctl status nginx.service`

It will show that isn't working because of no file "failed (SSL: error:02001002:system library:fopen:No such file or directory:fopen("

Remember -

[2019-12-05 13:25] abonanni opened #1798 "Error with LDAP authentication - TypeError: 'NoneType' object is not iterable"
# Impacted versions

* Modoboa: 1.1.14
* Webserver: Nginx
* django-auth-ldap: 1.7.0

# Steps to reproduce

Configure an LDAP authentication backend and authenticate with a non existing database user (but existing in LDAP)

# Current behavior
Une erreur interne est survenue.

You will find the log below :
`Dec  5 14:07:05 modoboa django.request: ERROR Internal Server Error: /accounts/login/#012Trac

[2019-12-05 14:22] abonanni commented on #1798
I've changed the search filter with : `(&(objectClass=user)(mail=%(user)s))`
instead of `(sAMAccountName=%(user)s)` and it's better

[2019-12-05 22:25] CristianLaw opened #1799 "Modoboa is open source or is it closed code?"
Modoboa is open source or is it closed code?

Thanks

[2019-12-06 09:10] tonioo commented on #1799
Modoboa is a free software. Check the license here: https://github.com/modoboa/modoboa/blob/master/LICENSE.

[2019-12-06 09:10] #1799 closed

[2019-12-06 10:15] abonanni opened #1800 "LDAP Authentication - Webmail / Dovecot"
# Impacted versions

* Modoboa: 1.14.0
* Webserver: Nginx

# Steps to reproduce

If LDAP authentication is configured, webmail not working : authentication error

The problem is that dovecot uses databases to check authentication. It would be nice if LDAP is configured that the configuration install dovecot-ldap module and generate the configuration file.

I manually update dovecot configuration a

[2019-12-06 11:29] abonanni commented on #1756
Same problem with a self signed certificate.
Is it possible to add a parameter like "verify_ssl = false" ?

[2019-12-06 12:37] abonanni commented on #1756
I had the Certificate Authority in the system.
curl and wget are working welle
but python generate error "Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),)"

[2019-12-06 19:19] tonioo commented on #1756
@abonanni are you sure your certificate chain is complete?

[2019-12-07 03:59] DamonNomadJr opened #1801 "amavis Failes on Install issue"
**There is a problem that my friend and I fixed. We got this issue:**

**System:** Ubuntu 18.04 LTS

**Version:** Mobodoa 1.19

[code]

Just for future references if people have this problem we fixed it by editing the file under:
[code]
We changed the code from:
[code]
to
[code]

[2019-12-07 19:38] Zodsmar opened #1802 "DKIM Won't register"
# Impacted versions

* Modoboa: Recent
* installer used: Yes
* Webserver: Nginx/Apache (Ubuntu 18 LTS)

Everything is working except for DKIM.

![Capture](https://user-images.githubusercontent.com/5366500/70379696-cc346600-18fd-11ea-84bd-ffa6e56f24d6.PNG)

![Capture1](https://user-images.githubusercontent.com/5366500/70379699-d2c2dd80-18fd-11ea-8db4-4e2a96190f27.PNG)

**This is my DNS record with

[2019-12-08 16:12] DamonNomadJr opened #1803 "Mail Server is Slow on sending/receiving mails"
# Impacted versions

* Modoboa: 1.19.1
* installer used: Yes
* Webserver: Nginx/Apache

Going to mail, composing and sending an email. This process takes way too long. I sometimes leave for 2-3 min and came back to see it sent.

On phone as well using GMail client I and waiting for 5 min for the server to send my emails.

[2019-12-08 16:20] DamonNomadJr opened #1804 "CSS ISSUE"
# Impacted versions

* Modoboa: 1.19
* installer used: Yes
* Webserver: Nginx/Apache

# Steps to reproduce
1. Go to webmail
2. Bring up the left side menu to open up compose
3. Compose is spawned/opens as z-index behind the top menu and is not clickable

# Video/Screenshot link (optional)

![](https://i.ibb.co/z8mFt4x/Screenshot-20191208-111458-2.png)

[2019-12-10 15:10] tsumi opened #1805 "Default password scheme only show "plain""
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
- setup a basic centos installation
- install modoboa trough installer https://modoboa.readthedocs.io/en/latest/installation.html#recommended-way

# Current behavior
modoboa > parameters > Default password scheme only show "plain" no crypt methods are available

# Expected behavior
I should able t

[2019-12-10 18:02] arkhi commented on #1801
Thank you very much for this feedback!

It’s a treat to find the solution to one’s problem right away.

[2019-12-11 13:27] dakota commented on #1515
@TomasOlsson How did you fix this?

[2019-12-11 14:13] tonioo commented on #1805
@tsumi Is your dovecot server installed on the same server?

[2019-12-11 18:04] tsumi commented on #1805
Hi,
found it, `python2-crypto` is missing
Solved with:
`yum install python2-crypto`

It should be added to install script or at least install doc

[2019-12-13 12:12] FatihMalakci commented on #1801
Thank you! I had the same problem and fixed it by doing this.

[2019-12-17 06:27] timgates42 opened #1806 "Fix simple typo: detailled -> detailed"
There is a small typo in doc/configuration.rst.
Should read `detailed` rather than `detailled`.

[2019-12-17 08:43] #1806 closed

[2019-12-17 08:46] tonioo commented on #1798
@abonanni what kind of username did you use to generate such an error? Was it an email address or an LDAP CN?

[2019-12-20 19:38] seanwhe opened #1808 "run.py unattended"
When doing an unattended install using tools like Ansible it would be very useful if run.py could have an argument to answer yes to all questions.

akin example is apt:
apt upgrade -y

./run.py -y --configfile installer.cfg domain.name

[2019-12-23 21:48] CaiusAjiz opened #1809 "CentOS 8 run.py amavis install failure"
# Impacted versions
Latest?

* installer used: Yes

# Steps to reproduce
Centos8 running ./run.py [domain]

leads to:
`[root@mail modoboa-installer]# ./run.py [domain]`
`Welcome to Modoboa installer!             `

`Warning:    `
`Before you start the installation, please make sure the following DNS records exist for domain [domain]':              `
  `mail IN A   <IP ADDRESS OF YOUR SERVER>`

[2019-12-28 11:46] IndexOutOfMJ opened #1810 "Error while installing modoboa"
Hey,

I currently try to install modoboa.

# Impact version

* Modoboa: latest
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
sudo ./run.py mydomain.eu

# Current behavior

Your mail server will be installed with the following components:
modoboa automx amavis clamav dovecot nginx razor postfix postwhite spamassassin uwsgi radicale opendkim
Do you confirm? (Y/n)
The process can be

[2020-01-02 21:36] ghost opened #1813 "Cannot create distribution list - no button"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
- Install Modoboa
- Configure domain, DKIM, SPF, DMARC etc.

# Current behavior
- I can create user accounts and aliases,  but no distribution lists or forwards

# Expected behavior
- Create distribution lists and forwards

# Video/Screenshot link (optional)
https://imgur.com/zQ6ylKe

[2020-01-03 11:36] abonanni commented on #1798
It was an LDAP CN, I want to use "sAMAccountName" to authenticate instead of email Address

[2020-01-03 14:35] jeromelebleu opened #1815 "Account is not automatically removed from domain admins"
#### Steps to reproduce

1. Edit an account which has *DomainAdmins* role and permissions on *test.com*
2. Change its role to *SimpleUsers* and submit the form

#### Current behavior

While fixing #1814, I realized that a user is not automatically removed from the domain admins when its role changes - e.g. from *DomainAdmins* to *SimpleUsers*. Is it a desired behavior?

[2020-01-04 15:51] pappastech commented on #1809
I just tried this as well. The issue is that the installer was developed and tested on CentOS 7 and at least some of the official package names have changed between version 7 and version 8. Amavis is actually not the issue as the name of the package is amavisd-new in both. However, cabextract and lrzip don't have packages available in the base official repos.

You're better off installing version

[2020-01-06 04:04] dkashikar opened #1816 "Using API to update password fails"
# Impacted versions

* Modoboa: 1.9.1
* installer used: Yes
* Webserver: Nginx

I used the put request to update the password for an account
curl --location --request PUT 'https://myinstance/api/v1/accounts/28/password' \
--header 'Content-Type: application/json' \
--header 'Authorization: Token xxxxxxxxxxxxxxxxxxxxxxxxx' \
--data-raw '{
	"password" : "asfasdf",
	"new_password" : "asfasdf"
}'

and

[2020-01-06 08:59] tonioo commented on #1816
@dkashikar Have you tried with an up-to-date version of Modoboa?

[2020-01-06 09:01] tonioo commented on #1813
@mucberg distribution lists are not supported and forwards are just aliases using account addresses as source.

[2020-01-06 09:02] tonioo commented on #1810
@IndexOutOfMJ On with distribution are you trying to install modoboa? Have you tried using the --debug option?

[2020-01-06 09:03] tonioo commented on #1809
Indeed, CentOS 8 has not been tested yet.

[2020-01-06 09:04] tonioo commented on #1808
@seanwhe Can you open this issue in the dedicated repository please? (https://github.com/modoboa/modoboa-installer)

[2020-01-06 09:04] #1808 closed

[2020-01-06 09:05] tonioo commented on #1804
Duplicate of https://github.com/modoboa/modoboa-webmail/issues/155.

[2020-01-06 09:05] #1804 closed

[2020-01-06 09:06] tonioo commented on #1803
Look at you server logs, you might have a timeout issue somewhere.

[2020-01-06 09:33] jeromelebleu commented on #1815
This question - or bug - is still present and not resolved by #1814. From what I understood, if it is not a desired behavior, the role could also be checked [here](https://github.com/modoboa/modoboa/pull/1814/files#diff-cdf2e2be6104ffdb87d2e3d500f46aa4R497) to fix that. It should also be fixed in the API since I think there is the same issue.

[2020-01-06 10:50] tonioo commented on #1802
@Zodsmar Simple question, have you created the appropriate record in your DNS zone?

[2020-01-06 19:54] Zodsmar commented on #1802
Yes

[2020-01-06 20:24] codiergott opened #1817 "Phyton Install Problem"
# Impacted versions

* Modoboa: BRAND NEW
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I downloaded the installer and I get the following error when I run it.

Traceback (most recent call last):
  File "./run.py", line 13, in <module>
    from modoboa_installer import package
  File "/home/codiergott/modoboa-installer/modoboa_installer/package.py", line 105, in <module>
    backe

[2020-01-06 20:50] Fr3shlama commented on #1786
I have the same problem.

I did try that, no ports are blocked

[2020-01-07 08:35] tonioo commented on #1817
@codiergott Can you please move this issue to the https://github.com/modoboa/modoboa-installer repository please?

[2020-01-07 08:35] #1817 closed

[2020-01-07 12:50] mucberg commented on #1813
Thank you for your reply. Can you explain why this feature is not supported? I have a few scenarios where distribution lists come in handy; instead i would have to create and monitor additional accounts.

[2020-01-07 19:54] rkyoku commented on #1801
Thank you! Same problem here and it *seems* that it fixed the problem for now :) :)

[2020-01-09 11:06] monasax commented on #1638
https://api.modoboa.org/1/ - Not Found. The requested URL /1/ was not found on this server.

[2020-01-09 13:43] almereyda commented on #1813
Distribution lists are a special case of an account having aliases defined parallely, which point at the various recipients.

[2020-01-09 23:41] almereyda opened #1819 "Bulk actions for mass selection and modification of domains and identities"
# Impacted versions

* Modoboa: 1.13.1
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce

Consider you want to disable all postmaster@ accounts of your mailboxes, since two DNSBL-warnings every two hours are too much noise in the inboxes of unknowledgeable domain admins, who got the standard aliases set and receive DNSBL message.

1. Open the identities list
2. Search for *postmaster@

[2020-01-09 23:41] tg-x opened #1820 "less notifications about MX/DNSBL issues"
# Impacted versions

* Modoboa: 1.13.1

# Steps to reproduce

get listed at a DNSBL or have some DNS issues

# Current behavior

modoboa sends email notifications about the issue every couple of hours while the problem persists filling the mailbox of admins with useless messages of already acknowledged issues

# Expected behavior

send only one notification when the problem starts and another one

[2020-01-13 08:47] tonioo commented on #1786
@Fr3shlama It might be a verify cache issue in your case. You can try to remove the verify cache (http://www.postfix.org/ADDRESS_VERIFICATION_README.html#caching) and reload postfix.

[2020-01-14 08:32] tonioo commented on #1802
Might be fixed by https://github.com/modoboa/modoboa/pull/1823.

[2020-01-14 08:35] #1781 closed

[2020-01-14 08:35] #1792 closed

[2020-01-14 14:42] #1815 closed

[2020-01-14 18:21] DamonNomadJr opened #1825 "Feature Request UI/UX"
This is not related to any bugs or error, but a feature request.

The create mail page is good as it is, but it would be better if users could have a WYSIWYG editor so that they can attach images inline with their email. And the layout may be improved further.

Overall, loving the project sofar.

[2020-01-19 00:49] stalks opened #1826 "crontab error -- no cron jobs ran on clean install when not using dovecot"
### Impacted versions

* Modoboa: 1.14.0
* installer used: **Yes**
* Webserver: Nginx

### Steps to reproduce
Install modoboa using installer with MDA disabled (dovecot disabled, no local mail).

### Current behavior
crontab is created however the "vmail" user doesn't exist, so crontab ignores the file

### Expected behavior
crontab to have the vmail entry commented out if MDA doesn't exist

### E

[2020-01-19 04:07] pappastech opened #1827 "SMTP Auth not working"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
Telnet to port 25 on server and look for the following after 'EHLO' command.
250-AUTH PLAIN LOGIN                                                                                                                                  250-AUTH=PLAIN LOGIN

I have been reviewing configuration files for a c

[2020-01-21 09:13] Super-Gil opened #1828 "521 Error when I use Cloudflare free SSL certificate"
# Impacted versions
Not sure...
* Modoboa: Latest
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
1. Setup my website in Cloudflare and require a SSL certificate
2. Build my website with Wordpress
3. Setup Modoboa on the same server
4. Then 521 error occur

# Current behavior
521 Error
# Expected behavior
Request 200
# Video/Screenshot link (optional)
https://mail.anckak.tech/

[2020-01-22 08:35] #1402 closed

[2020-01-24 02:38] lunardigs commented on #1809
Confirmed here as well. Is there a enable 'debug logging?'

[2020-01-24 23:22] olaf7 opened #2977 "offlineimap cronjob reporting"
https://github.com/modoboa/modoboa-imap-migration#cron-script
should as a result keep one or more mailboxes on 2 IMAP server in sync. However nothing gets reported as output is suppressed.
It would be cool if output could be viewed from within Modoboa just like the Modoboa log.
Or alternatively be send to a mail-address configurable from Modoboa.

This feature could also be interesting to the othe

[2020-01-24 23:23] olaf7 opened #2978 "offlineimap configuration"
Modoboa generates an offlineimap configuration using https://github.com/modoboa/modoboa-imap-migration/blob/master/modoboa_imap_migration/management/commands/generate_offlineimap_config.py
based on: https://github.com/modoboa/modoboa-imap-migration/blob/master/modoboa_imap_migration/templates/modoboa_imap_migration/offlineimap.conf
However offlineimap configuration can be much more complex: https:

[2020-01-30 03:45] ndoody opened #1831 "Can't create table 'mail.#sql-498_15864' (errno: 150)"
I have tried to upgrade from older modoboa versions to the latest, going through versions in series and running the upgrade procedure (python manage.py migrate) but it is having a problem creating some new tables for some of the new features / upgraded plugins.

I can run the command above and get the error "errno: 150" trying to create the temporary table, but the correct table is created (dnstoo

[2020-01-30 17:01] Saulzi commented on #1827
I have the same issue, interestingly it says that it is when i telnet from the local machine but when I do it remotely it does not give me 250-AUTH

[2020-01-30 22:11] Saulzi commented on #1827
@pappastech  i have managed to get this to work for me after a little bit of research.

Steps to reproduce.

Fresh install on Ubuntu 18.04 on new VPS.
Attempt to connect using outlook etc not working.
telnet from local host displays message with ehlo command
telnet from remote host does not display message with ehlo command

it turns out that this is happening because of the postfix configuration,

[2020-01-31 02:31] pappastech commented on #1827
Good find Saulzi, but I think it's a better idea to specify both mynetworks and mynetworks_class; something like this so trust doesn't reach to unwanted SMTP clients.

mynetworks = 127.0.0.0/8 192.168.1.0/24
mynetworks_style = host

This works in my environment and restricts trusted SMTP hosts to the local client and offers SMTP AUTH to everyone else.

[2020-01-31 02:31] #1827 closed

[2020-01-31 09:55] Saulzi commented on #1827
@pappastech

I am no postfix expert but you may find the following interesting
http://www.postfix.org/BASIC_CONFIGURATION_README.html

Specify "mynetworks_style = class" when Postfix should forward mail from SMTP clients in the same IP class A/B/C networks as the local machine. Don't do this with a dialup site - it would cause Postfix to "trust" your entire provider's network. Instead, specify an

[2020-01-31 09:57] Saulzi commented on #1827
ps. I have tested with mxtoolbox and Im not a public relay etc.

[2020-01-31 19:42] bpincaro opened #1832 "Installation stuck on "Running setup.py install for lxml""
# Impacted versions

* Modoboa: latest
* installer used: Yes
* Webserver: Nginx/Apache

# Steps to reproduce
Followed the steps from the documentation's Recommended way (modoboa installer)
# Current behavior
All components are installed until lxml and modoboa where the installation gets stuck .

Using the command `sudo ./run.py --interactive --debug mysite.com`
I noticed the installation gets stuc

[2020-01-31 20:20] bpincaro commented on #1832
Ok, got an update... after a while the following error was shownd:

[code]

[2020-01-31 20:48] bpincaro commented on #1832
Created a swap file... Problem solved!

[2020-01-31 20:48] #1832 closed

[2020-02-02 20:25] Bastianvgt opened #1833 "I cant receive external emails, but send to them."
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I really dont know. Everything was working fine, but then suddenly it didnt.
# Current behavior
I am not able to receive external Mails. I can receive internal mails (sent from the modoboa website of my server, not working when using an app on my mobile) and send to external adresses (again, just

[2020-02-02 22:48] Bastianvgt commented on #1833
Ok, I now got dovecot running too, but still not receiving emails...
![Screenshot_3](https://user-images.githubusercontent.com/51333265/73616663-7edf2700-4616-11ea-8978-6dc25a2dabcd.png)

[2020-02-04 07:43] tonioo commented on #1825
@DamonNomadJr There is an option in your personal settings to enable an HTML editor when you compose messages.

[2020-02-04 07:43] #1825 closed

[2020-02-04 07:43] tonioo commented on #1826
@stalks Thanks for reporting this. Could you please move this issue to the modoboa-installer repository?

[2020-02-04 07:46] tonioo commented on #1828
@Super-Gil The installer was designed to be run on a fresh system, with no existing web server. If you want to share a server then go with a manual installation.

[2020-02-04 07:48] tonioo commented on #1831
@ndoody Can you check to storage engine used by your database and the encoding please?

[2020-02-04 07:50] tonioo commented on #1833
@Bastianvgt If you don't see anything in your logs, it means the problem is not on the server. Have you checked your firewall / DNS configuration / ISP blocking rules / etc ?

[2020-02-04 08:19] ndoody commented on #1831
It's innodb and Latin1 for the new tables.

This was changed previously as part of some recommendations of another bug where it Modoboa crashed from trying to render some text in spam mail with funny characters...what should it be set too?

[2020-02-04 13:01] Bastianvgt commented on #1833
Yes, I did. Anyways, I tried to reinstall but it didnt work. And I cant install it again, so I will reinstall my VPS sometime... Thank you for your reply and this Thread can be closed.

Dienstag, 4. Februar 2020, 08:50 +0100 von notifications@github.com  <notifications@github.com>:

[2020-02-04 14:31] #1833 closed

[2020-02-04 14:34] tonioo commented on #1831
@ndoody utf8_general_ci for the modoboa database would be better I think.

[2020-02-04 17:01] Bastianvgt commented on #1833
Hey! I just reinstalled my VPS and modoboa.

I now tested with GMail and this error occures:

Recipient address rejected: undeliverable address: mail for bot-dev.de loops back to myself

AND now I get errors on my VPS.

`Feb  4 17:57:38 vmd43772 postfix/smtpd[3020]: connect from mail-io1-f41.google.com[209.85.166.41]
Feb  4 17:57:38 vmd43772 postfix/smtpd[3020]: warning: connect to Milter service

[2020-02-04 17:03] Bastianvgt commented on #1833
@tonioo I hope you see this cause its closed

[2020-02-04 17:10] tonioo commented on #1833
@Bastianvgt Can you check the value of mydestination setting in the /etc/main.cf file? It should be empty...

[2020-02-04 17:14] Bastianvgt commented on #1833
If you mean /etc/postfix/main.cf, it´s set to mail.bot-dev.de ( $myhostname ), I dont have a /etc/main.cf file

[2020-02-04 18:11] Bastianvgt commented on #1833
@tonioo Any idea?

[2020-02-04 18:35] DamonNomadJr commented on #1825
@tonioo I saw the feature about 3 days after the original post. My mistake, However, may I suggest to have it so that you could turn it on across all users automatically?

If it is not a good idea please let me know why you choose this approach.

[2020-02-04 19:50] Bastianvgt commented on #1833
@tonioo Could you please reopen the thread?

[2020-02-04 20:00] Bastianvgt commented on #1833
Okay... new update:

I dont know what it was, but suddenly I recieved an email and it seems to be working for now...
No need to be reopened

[2020-02-06 14:09] r0nster opened #1834 "Quarantine / Release Button / HTTP/1.1 500"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx 1.14.0-0ubuntu1.7
* Ubuntu 18.04.4 LTS
* uwsgi 2.0.15-10.2ubuntu2.1

# Steps to reproduce
- Mail in Quarantine
- Select Mail
- Use Button "Release" an no action with mail (see log)
# Current behavior
/var/log/uwsgi/app/modoboa_instance.log
() {60 vars in 1310 bytes} [Thu Feb  6 15:06:45 2020] POST /quarantine/process/

[2020-02-10 11:30] VladimirKiev commented on #1220
Hi. I have the same problem. Changed the value to a larger one (20480) - writes the same error but with the new value (Attachment is too big (limit: 20480).
Please tell me where you can change this value to fix the error ...

[2020-02-10 14:43] tonioo commented on #1220
@VladimirKiev Try with something like this: 20M

[2020-02-10 15:21] VladimirKiev commented on #1220
New error: Failed to save attachment: [Errno 2] No such file or directory: '/srv/modoboa/instance/media/webmail/tmp05zWR1'

[2020-02-11 15:12] VladimirKiev commented on #1220
I also checked the web_utils.py file as an example here https://github.com/modoboa/modoboa/blob/9f2ea29a9fe0cf78db2cf340e286601dc799756a/modoboa/lib/web_utils.py#L117
changed the values of client_max_body_size on nginx.conf. nothing helped. Your help is very necessary ...

[2020-02-12 16:54] tonioo commented on #1220
@VladimirKiev Have you checked if the `/srv/modoboa/instance/media/webmail/`folder exists?

[2020-02-13 07:52] VladimirKiev commented on #1220
There is        /srv/modoboa/instance/media/modoboa_webmail        folder...

![image](https://user-images.githubusercontent.com/53512202/74412578-707ae180-4e46-11ea-9d47-9eb5e81ff009.png)

[2020-02-14 04:21] reduxionist commented on #1617
This issue persists as of Modoboa version 1.14 / PDF Credentials 1.3.2, installed using installer, but given workaround also still works. :)

[2020-02-14 13:22] roniemartinez opened #1835 "Cannot connect to database with SSL mode, missing OPTIONS"
# Impacted versions

* Modoboa: 1.14.1
* installer used: Yes & No
* Webserver: Nginx

# Steps to reproduce

1. Create a managed database (MySQL/PosgreSQL) in DigitalOcean. CA Certificates are generated and REQUIRED when connecting.
2. Set database url using --dburl when not using installer or modify via settings.py

# Current behavior

Modoboa does not accept SSL in options or generate the entries

[2020-02-14 13:28] roniemartinez opened #1836 "modoboa_dmarc.Report: (auth.E005) The permission codenamed 'view_report' clashes with a builtin permission for model 'modoboa_dmarc.Report'."
# Impacted versions

* Modoboa: 1.14.1
* installer used: No
* Webserver: Nginx

# Steps to reproduce

Manual installation:
[code]

# Current behavior

Throws the following errors:
[code]

# Expected behavior

No errors!!

[2020-02-14 17:55] yodahome opened #1837 "Can't create any user or new domains with a user"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Apache

# Steps to reproduce / Current behavior

Logging in to the web Interface after a fresh installation (Ubuntu 18.04, did select NOT to install nginx, uwsgi and radicale because I already had an apache2 running), I could create a new domain without a user but cannot creata any additional accounts of any role, after ente

[2020-02-17 10:00] tonioo opened #1838 "No LDAP group found with Active Directory"
When the LDAP directory is an ActiveDirectory, the sync process fails to retrieve user groups.

[2020-02-17 14:53] kev1904 opened #1841 "Error 500 after Update"
# Impacted versions

* Modoboa: update to 1.14.0 from 1.13
* installer used: Yes
* Webserver: Nginx

# Video/Screenshot link (optional)
`Traceback (most recent call last):
  File "./instance/wsgi.py", line 16, in <module>
    application = get_wsgi_application()
  File "/srv/modoboa/env/local/lib/python2.7/site-packages/django/core/wsgi.py", line 13, in get_wsgi_application
    django.setup(set_pr

[2020-02-17 14:56] kev1904 commented on #1841
Solved by my self, commented out
#DNSBL_PROVIDERS.remove("bad.psky.me")
in the settingy.py

[2020-02-17 14:56] #1841 closed

[2020-02-17 15:58] #1798 closed

[2020-02-17 16:21] tonioo opened #1842 "Add support for a secondary LDAP server"
It could be useful to be able to define a secondary LDAP server in the configuration panel to implement a fallback like mechanism for authentication and synchronization processes.

[2020-02-18 23:16] ScrumpyJack commented on #1786
Same issue for me on a fresh install

 Recipient address rejected: undeliverable address: unknown user

[2020-02-19 07:49] #1842 closed

[2020-02-19 08:20] #1838 closed

[2020-02-20 11:08] tonioo opened #1844 "Command to import accounts from LDAP"
Add a new command to import a set of accounts from an LDAP directory. This command will also deal with updates if it is run multiple times (from a cron for example).

[2020-02-20 18:52] brandonhndrxn opened #1846 "I cannot send emails through my Modoboa email server, although I can recieve."
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

# Current behavior

# Expected behavior

# Video/Screenshot link (optional)

[2020-02-21 01:58] sgnd opened #1847 "Can't receive email from another email services"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
I tried to install like normal person, with installer. For the first time i can't send any email to another email services like gmail, yahoo and outlook. But right now, i can send any email to gmail, yahoo and outlook. But, if i reply the email or send new email from gmail, yahoo or outlook to mod

[2020-02-21 03:19] sgnd commented on #1847
I have respond from gmail like this
![image](https://user-images.githubusercontent.com/15070585/75001312-97af5f80-5493-11ea-9fa7-fc1303dc4f4f.png)

[2020-02-24 08:05] tonioo commented on #1846
@brandonhndrxn can't help you without proper logs from your system.

[2020-02-24 08:07] tonioo commented on #1847
@sgnd Check that port 25 on your server is opened and that your ISP does not block it somewhere...

[2020-02-24 09:03] tonioo opened #1848 "Use external service to update non local user passwords"
For non local users (ie. LDAP ones), it could be useful to define an external URL people will use to update their password.

[2020-02-24 14:40] MertsA opened #1850 "/etc/crontab uses system python"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes/No ? yes
* Webserver: Nginx

# Steps to reproduce
install Modoboa

# Current behavior
/etc/crontab contains
*       *       *       *       *       root    python /srv/modoboa/instance/manage.py modo manage_dkim_keys

# Expected behavior
/etc/crontab contains
*       *       *       *       *       root    /srv/modoboa/env/bin/python /sr

[2020-02-24 14:41] MertsA commented on #1850
Oh and the reason why this is an issue is because without using python from the right env you of course get something like this.

Traceback (most recent call last):
  File "/srv/modoboa/instance/manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib64/python2.7/site-packages/django/core/management/__init__.py", line 364, in execute_from_command_line
    utility.e

[2020-02-24 15:07] MertsA commented on #1850
Nevermind, looks like this must be a holdover from when I originally installed Modoboa. The current install directions do exactly that.

[2020-02-24 15:07] #1850 closed

[2020-02-27 09:25] #1848 closed

[2020-02-27 09:25] #1844 closed

[2020-02-27 09:26] tonioo commented on #1836
@roniemartinez Should be fixed now but it is not released yet. And you're not in the right repository.

[2020-02-27 09:26] #1836 closed

[2020-02-27 09:34] roniemartinez commented on #1836
Thanks @tonioo

I knew I wasn't in the right repo. I submitted the issue here to be seen since the correct repo was not active (last commit was 2 years ago). Sorry about that.

[2020-02-27 13:26] #1846 closed

[2020-02-27 13:28] tonioo commented on #1837
@yodahome Can you set DEBUG to True inside settings.py file, reload Apache and check the response tab in your browser console when you try to create a new account please?

[2020-02-27 13:29] tonioo commented on #1831
@ndoody Have you tested the encoding change?

[2020-02-27 13:30] #1828 closed

[2020-02-27 13:43] #1816 closed

[2020-02-27 13:44] #1810 closed

[2020-02-27 13:45] #1803 closed

[2020-02-27 13:47] tonioo commented on #1793
@XiaotianZha Is this issue still happening?

[2020-02-27 13:48] tonioo commented on #1786
@ScrumpyJack Have you tried to delete the verify cache?

[2020-02-28 11:04] yodahome commented on #1837
I did that and it didn't really add any additional useful information to the console. However when going through all the settings I realised that the pdf credentials were activated and apparently couldn't be written to disk because of permission issues (the modoboa user had write access, the apache user www-data did not).
I found a solution to that problem and together with the sudo config to allo

[2020-03-02 09:36] rvicentiu commented on #1780
Any updates on this bug?

Ran into the same issue with a fresh modoboa install on debian 10.

@lefta Thanks for the patch, it works :)

[2020-03-02 11:15] rvicentiu commented on #1834
Looks like you are using a newer version of Python.

First a simple fix for the missing atoi function in lib.py .

The second issue is the SQLConnector is now returning binary strings and passing them to the amavis request which ends up failing:
mail amavis[107508]: (!!)policy_server FAILED: Invalid mail_id 'b'CsYzT_eYhU7v'' at (eval 95) line 281, <GEN91> line 6.

The attached diffs (use patch uti

[2020-03-03 09:49] hadifarnoud commented on #575
I was looking for policyD integration as well. My issue is some users on my server send bulk emails and that puts everyone's emails in spam. it is very hard to find the responsible account manually.

so, I understand policyD or postfwd will give me ability to limit send per account/domain.

is there a way I can set it up right now? do you have any ETA?

[2020-03-03 09:54] tonioo commented on #1780
I've finally removed the dependancy to rfc6266 (see https://github.com/modoboa/modoboa-webmail/commit/2dc6c2fbabb2acf1aac2b51afaa04db8009c6d02).

[2020-03-03 09:54] #1780 closed

[2020-03-03 09:59] tonioo commented on #1771
Looks like it has been fixed on reportlab's side.

[2020-03-03 09:59] #1771 closed

[2020-03-03 10:06] tonioo commented on #1770
@erenfro Just one thing : changing default values won't affect existing domains or accounts. Have you checked the values actually defined for you domain admin before you make your tests?

[2020-03-03 10:07] #1769 closed

[2020-03-03 10:10] #1757 closed

[2020-03-03 10:12] #1745 closed

[2020-03-03 10:24] hadifarnoud opened #1852 "cannot delete a domain"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
delete a domain

# Current behavior
it says internal error

# Expected behavior
should delete the domain and all its accounts/aliases

# Video/Screenshot link (optional)
https://sentry.io/share/issue/29b88b7426fa478bb192cd1344951544/
`'NoneType' object has no attribute 'is_superuser'`

[2020-03-04 09:58] tonioo commented on #1852
@hadifarnoud Can you try to run the following command:
```python manage.py modo repair```
And try to delete again after?

[2020-03-04 09:59] tonioo commented on #1820
@tg-x What kind of message do you receive exactly? About MX issues, DNSBL issues, both?

[2020-03-04 10:01] tonioo commented on #1834
@rvicentiu Thanks for the help. I close this issue since it's a duplicated of https://github.com/modoboa/modoboa-amavis/issues/119.

[2020-03-04 10:01] #1834 closed

[2020-03-04 10:01] #1837 closed

[2020-03-04 10:15] tonioo commented on #1826
Fixed by https://github.com/modoboa/modoboa-installer/commit/b5aa1bc7e7b4537f3275e6812ea7bb5a8f146cd3.

[2020-03-04 10:15] #1826 closed

[2020-03-04 10:17] tonioo commented on #1695
@cremesk That's pretty strange. Which distribution do you run?

[2020-03-04 10:19] tonioo commented on #1698
@augustodv Which database engine to you use?

[2020-03-04 10:23] tonioo commented on #1699
I think it's a python2 compat issue. It should be fixed now support has been dropped for this version.

[2020-03-04 10:25] #1713 closed

[2020-03-04 12:38] cremesk commented on #1695
@tonioo I also find it a little strange.
My Modoboa runs on a Debian 9 (buster) with package: amavisd-new
Version: 1: 2.10.1-4

[2020-03-04 15:43] #1673 closed

[2020-03-04 15:43] #1666 closed

[2020-03-04 15:44] #1626 closed

[2020-03-04 15:56] tonioo commented on #1695
@cremesk I don't see where it can be defined in amavis config. Since I think it's just a warning, can we close this issue?

[2020-03-04 15:59] tonioo commented on #575
@hadifarnoud No ETA for this but if your need is just about limiting the sending rate, you can already do it using postfix (example: https://wiki.deimos.fr/Postfix:_limit_outgoing_mail_throttling.html).

[2020-03-04 16:06] cremesk commented on #1695
I also think. we close it.

[2020-03-04 16:06] #1695 closed

[2020-03-05 05:58] rosstex commented on #1801
I just encountered this exact issue on a fresh install of 18.04. Thanks for describing your fix.

[2020-03-05 10:22] tonioo commented on #1801
amavis configuration provided by Modoboa expects a `/etc/mailname` file to exists before amavis is installed, which is generally the case when postfix is already installed. I've just pushed a fix on the installer (https://github.com/modoboa/modoboa-installer/commit/7d06f9aaf1d79667f561c0f384cd972b614edb60) which should resolve this issue.

[2020-03-06 09:42] hadifarnoud commented on #1852
I ran into this issue
[code]

[2020-03-06 09:46] hadifarnoud commented on #575
@tonioo I want to set limit per sending account/domain. that does the opposite.

[2020-03-08 08:01] fpiccinali opened #1853 "ssl certificate of https://modoboa.org/fr/ expired"
# Impacted versions

* Modoboa: X.X.x
* installer used: Yes/No ?
* Webserver: Nginx/Apache

# Steps to reproduce

Open https://modoboa.org/fr/

# Current behavior

Les sites web justifient leur identité par des certificats qui ont une période de validité définie. Le certificat de modoboa.org a expiré le 06/03/2020.

Code d’erreur : SEC_ERROR_EXPIRED_CERTIFICATE

# Expected behavior

# Video/Screen

[2020-03-09 08:38] tonioo commented on #1853
@fpiccinali Fixed, thank you.

[2020-03-09 08:38] #1853 closed

[2020-03-09 08:46] tonioo commented on #1852
@hadifarnoud There is something strange in your database... could it be possible to have an access to your server?

[2020-03-09 08:47] #1847 closed

[2020-03-09 09:22] tonioo commented on #1784
@cremesk Interesting idea. Could you please move this issue to the installer repository?

[2020-03-09 09:40] #1784 closed

[2020-03-09 14:18] tonioo commented on #1747
https://github.com/modoboa/modoboa-webmail/issues/189

[2020-03-09 14:18] #1747 closed

[2020-03-09 14:19] tonioo commented on #1731
@fresH229a Any news?

[2020-03-09 14:36] #1779 closed

[2020-03-09 14:41] tonioo commented on #1777
@stathis Have you managed to fix this?

[2020-03-09 14:44] #1742 closed

[2020-03-09 14:53] #1689 closed

[2020-03-09 15:24] tonioo commented on #1774
Does anyone know if it happens with python3?

[2020-03-09 15:26] tonioo commented on #1813
Are we talking about distribution lists or mailing lists? @mucberg What is your exact need?

[2020-03-09 22:04] hadifarnoud commented on #1852
of course. I need your email address.

_______________________

<http://camva.ir/>

Hadi *Farnoud* / CEO
hadi@kamva.ir / +98 (0)920 301 7490

Kamva
+98 (0)21 2842 7490
https://kamva.ir

On Mon, 9 Mar 2020 at 12:16, Antoine Nguyen <notifications@github.com>
wrote:

[2020-03-10 08:27] Kobberholm commented on #1800
@abonanni do you have the required steps for enabling LDAP with Dovecot?

Did you do Password lookups or Authentication binds?
Which LDAP server are you using?

I am planning on setting this up on my own server eventually, so did a bit of searching on the web, but would be nice to see a known good configuration.

Found the following documentation:

- https://doc.dovecot.org/configuration_manual/au

[2020-03-10 10:59] mucberg commented on #1813
As described, having distribution lists would be nice.

[2020-03-11 13:38] tonioo commented on #1852
tonio@ngyn.org

[2020-03-14 22:27] saileshkush95 opened #1854 "Unable to find settings.py file"
I installed Modoboa using ./run command. Now I want to change logo of login page. But I'm confused where to find settings file

[2020-03-14 22:44] saileshkush95 opened #1855 "Does anyone using digital ocean to host Modoboa"
I'm trying to know if any one is using digital ocean to host this or not because I'm facing some problems.

[2020-03-15 17:13] #1854 closed

[2020-03-18 01:40] cybmp3 opened #1856 "No sent mail in sentbox(smtp)"
# Impacted versions

* Modoboa: 1.14
* installer used: Yes
* Webserver: Nginx

# Steps to reproduce
use smtp to sent
# Current behavior
Sending mail using smtp protocol but there is no sent mail in the sentbox.
# Expected behavior
The server can automatically save the emails that have been sent using the smtp protocol so that they we can be easily queried in webmail.
# Video/Screenshot link (optio

[2020-03-18 08:55] tonioo commented on #1856
@cybmp3 Can you please provide more info? (logs, screenshots, ...)

[2020-03-18 09:08] Toniob commented on #1856
@cybmp3 From your message, I understand that you're not using a mail client to send your emails. Maybe I'm wrong, tell me. If those are emails sent using a script or something automated, it can't be done. SMTP is a protocol made to send email, that's all. It doesn't store them. For that, you need IMAP (let's forget about POP).

[2020-03-18 09:17] cybmp3 commented on #1856
Such as wordpress send email via smtp.

[2020-03-18 09:20] Toniob commented on #1856
So that's something to see with wordpress, for them to support IMAP storage when emails are sent. Not an issue with Modoboa.

[2020-03-18 09:21] cybmp3 commented on #1856
correct.
But if wordpress uses gmail's smtp protocol to send mail, you can find the sent mail in the sentbox of gmail.

[2020-03-18 09:27] Toniob commented on #1856
Gmail is everything but standard SMTP et IMAP.
We shouldn't store email sent via SMTP. If we do this, when you'll send emails with your mail client, you'll have duplicates in your sendbox : one mail stored via your mail client, another one with a trick on SMTP.

[2020-03-18 10:12] #1775 closed

[2020-03-18 11:00] #1856 closed

[2020-03-18 11:01] cybmp3 commented on #1856
Thank you.

[2020-03-18 12:49] #1765 closed

[2020-03-19 22:34] fresH229a opened #1857 "Cant release Mails"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx

I did a refresh of my server.
Reinstalled modoboa with the installer without errors but I am not able to release any mails now.

Directly in the console I am able to relase it.

Everything else is working fine except the mail releasing.

What can I do or in which logs can I search for the failure?

[2020-03-23 00:50] doftorul opened #1858 "clamav errors on ubuntu 18"
* installer used: Yes
* Webserver: Nginx

# Current behavior

Mar 23 00:36:36 mail amavis[2252]: (02252-08) (!)connect to /var/run/clamav/clamd.ctl failed, attempt #1: Can't connect to a UNIX socket /var/run/clamav/clamd.ctl: Connection refused
Mar 23 00:36:37 mail amavis[2252]: (02252-08) (!)connect to /var/run/clamav/clamd.ctl failed, attempt #1: Can't connect to a UNIX socket /var/run/clamav/cl

[2020-03-25 15:47] marchesM commented on #1419
This feature would be amazing, considering that internationalized domains are quite commons.
I have a use case that is bothering me:
* setup an internationalized domain like: modobo**à**.com (xn--modobo-42.com)
* the webmail through modoboa works just perfectly
* setup the mailbox test@modoboà.com on gmail client on android
* try to send an email
* fails, postfix logs the following: `warning: Ille

[2020-03-27 11:01] marchesM commented on #1419
I managed to fix all my issues with the following:

- `/etc/postfix/main.cf` make sure you are using compatibility level 2, wasn't my case: `compatibility_level = 2`
- `/etc/postfix/main.cf` disable the smtputf8 support: `smtputf8_enable = no` with this option i wasn't able to receive emails to my mailbox, I was getting `status=undeliverable (mail for modoboà.com loops back to myself)`. Be careful

[2020-03-29 17:00] maximerenou commented on #1793
Yes. I had to disable pdfcredentials to create a new account.

[2020-03-30 19:10] mesoshqip opened #1860 "MX is not recognise and I am not receiving email"
# Impacted versions

* Modoboa: 1.14.0
* installer used: Yes
* Webserver: Nginx
* Ubuntu 18.04

# Steps to reproduce
I have installed and configure the DNS, MX, TX everything
Modoboa don't recognize the  MX record
No MX record found for this domain.
and also DMARC

I had tested the mail through mail-tester.com and is everything ok.

But the problem is this; I can send email but from yesterday I do

[2020-03-30 19:20] tonyguadagno commented on #1706
hi, its been a while and this has never worked for me.  i have now upgraded to 1.14.0 and i am having the same issue.  also when i hit send, there are no log entries in /var/log/maillog.....

can you please point me in the right direction????

[2020-03-31 07:06] belzebub40k opened #1861 "ssl certificate of https://api.modoboa.org expired"
The certificate for api.modoboa.org expired.

[2020-03-31 07:55] tonioo commented on #1860
@mesoshqip Please check the server DNS configuration and I think next release should fix this issue if it's not a local configuration issue.

[2020-03-31 07:55] tonioo commented on #1861
Fixed, thank you.

[2020-03-31 07:55] #1861 closed

[2020-03-31 07:57] tonioo commented on #1706
@tonyguadagno Set DEBUG to True inside settings.py, reload uwsgi and then open your web browser console, look at the Network tab, you should see requests returning with wrong codes (400 or 500).

[2020-03-31 11:53] tonyguadagno commented on #1706
hi, i set debug as you said and restarted uwsgi.  when i reproduce the issue, i see no difference on my screen.
i see these in /var/log/messages, where should i look for the debug messages?
[code]

[2020-03-31 12:07] tonyguadagno commented on #1706
sorry, i re-read your post.  i do see 2 404's and then a 500 error.  but there is not much detail, where on the server would this 500 error show up, in a log somewhere?
![2020-03-31 08_06_16-Remote Desktop](https://user-images.githubusercontent.com/25204879/78024607-a573c280-7326-11ea-95e1-c0db21fb6743.png)

[2020-03-31 12:08] tonyguadagno commented on #1706
here is more from that 500

[code]

[2020-04-01 09:02] FidelVe opened #1862 "after fresh install ERR_TOO_MANY_REDIRECTS"
after a fresh install, I try to enter mail.website.com and Chrome and Chromium browser shows

ERR_TOO_MANY_REDIRECTS

this is even after clearing cookies
![nginx](https://user-images.githubusercontent.com/43641727/78119179-060e0880-73d6-11ea-9f01-9eaf085835da.png)

# Impacted versions

* Modoboa: latest I guess dont know how to check for the version
* installer used: Yes
* Webserver: Nginx

# Step

[2020-04-01 10:37] Super-Gil opened #1863 "configparser.NoSectionError: No section: 'centosplus'"
# Impacted versions

* Modoboa: Newest
* installer used: Yes/No ? Yes
* Webserver: Nginx/Apache Nginx

# Steps to reproduce
1. reset my centos server to version centos 7.7
2. yum update
3. yum install python36
4. git clone https://github.com/modoboa/modoboa-installer
5. cd modoboa-installer
6. sudo ./run.py [mydomain]

# Current behavior
Raising error when installing postfix

# Expected behavior
S

[2020-04-01 13:18] tonyguadagno commented on #1706
tonioo, any idea what my next step would be? sorry to nag, but i have users complaining.

thanks

[2020-04-01 14:02] tonioo commented on #1706
@tonyguadagno you should be able to inspect the server's response from your debugger, without this I can't help you...

[2020-04-01 14:32] tonyguadagno commented on #1706
@tonioo hi, from the debugger, all i see is a 500 internal server error.  i think from that i need to go to the server logs, but i don't see any logs to look at...can you tell me where on the server would the logs be for more detail on the 500?
I have looked in these files, and you can see the 500 but nothing else.
nginx/mail.ffusa.com-error.log
[code]

nginx/mail.ffusa.com-access.log
[code]
maill

[2020-04-01 15:01] mesoshqip commented on #1860
Thank you @tonioo .. i solved it.. every thing is green and I can send and receive emails from the iPhone client mail, but I can't send email from Webmail!!.

Also, I did a check through mxtoolbox.com tool and I have these warnings:

smtp | mail.mesoshqip.net | Reverse DNS does not contain the hostname
smtp | mail.mesoshqip.net | 6.375 seconds - Warning on Connection time
smtp | mail.mesoshqip.net